@import '../../shared/css/buttons/buttons-variables-ml';
/**
 * Buttons
 */

/* Default h: ~30px*/
.ch-btn,
.ch-btn:focus {
    line-height: $btn-line-height;
    padding: $btn-padding-vertical $btn-padding-horizontal;
}

/* Large h: ~39px */
.ch-btn-large,
.ch-btn-large:focus {
    line-height: $btn-big-line-height;
    padding: $btn-big-padding-vertical $btn-big-padding-horizontal;
}

a.ch-btn-large,
a.ch-btn-large:focus {
    display: inline-block;
}

/* Small h: ~23px */
.ch-btn-small,
.ch-btn-small:focus {
    font-size: 12px;
    line-height: $btn-small-line-height;
    padding: $btn-small-padding-vertical $btn-small-padding-horizontal;;
}

/* IE */
.lt-ie10 .ch-btn,
.lt-ie10 .ch-btn:focus,
.lt-ie10 .ch-btn:visited {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3E52A1', endColorstr='#2D3277');
}

.lt-ie10 .ch-btn-skin,
.lt-ie10 .ch-btn-skin:focus,
.lt-ie10 .ch-btn-skin:visited {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCE3F7', endColorstr='#AAD0EF');
}

.lt-ie10 .ch-btn:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4355D2', endColorstr='#2F33AE');
}

.lt-ie10 .ch-btn-skin:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCECFB', endColorstr='#C5DFF5');
}

.lt-ie10 .ch-btn:active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0F1534', endColorstr='#171C41');
}

.lt-ie10 .ch-btn-skin:active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A2C9E1', endColorstr='#7DB7DC');
}

.lt-ie10 .ch-btn.ch-btn-disabled,
.lt-ie10 .ch-btn-skin.ch-btn-disabled,
.lt-ie10 .ch-btn-disabled:hover,
.lt-ie10 .ch-btn-disabled:active,
.lt-ie10 .ch-btn-disabled:focus,
.lt-ie10 [class*="ch-btn"][disabled],
.lt-ie10 [class*="ch-btn"][disabled]:hover,
.lt-ie10 [class*="ch-btn"][disabled]:active,
.lt-ie10 [class*="ch-btn"][disabled]:focus {
    filter: alpha(opacity=50);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#E6E6E6');
}

.ie8 [class*="ch-btn"]:focus,
.ie8 input[type="button"]:focus,
.ie8 input[type="submit"]:focus,
.ie8 input[type="reset"]:focus,
.ie8 input[type="file"]:focus,
.ie8 button:focus {
    outline: thin dotted;
    outline-offset: -2px;
}