// > Expandable UI
// ----------------------------------------------------------------

$expandable-trigger-text-color: $main-primary-color !default;
$expandable-trigger-cursor: pointer !default;

$expandable-trigger-active-text-color: #00D !default;

$expandable-trigger-visited-text-color: #809 !default;
$expandable-trigger-visited-text-decoration: underline !default;

$expandable-trigger-padding: 0 0 0 16px !default;
$expandable-trigger-text-size: $font__normal !default;
