/**
 * List
 */
.ch-list {
    margin: $list-margin;

    li {
        margin: $list-item-margin;
        padding: $list-item-padding;
        line-height: $list-item-line-height;
    }
}

ul.ch-list {
    list-style: $list-unordered-bullet;
}

ol.ch-list {
    list-style: $list-ordered-bullet;
}

dl.ch-list {
    margin: $list-definition-margin;
}

dl.ch-list dt,
dl.ch-list dd {
    line-height: $list-definition-item-line-height;
}

dl.ch-list dt {
    font-weight: $list-definition-term-text-weight;
}

dl.ch-list dd {
    margin: $list-definition-description-element-margin;
}