/**
 * Pagination
 */
.ch-pagination .ch-pagination-current a:hover {
    border: 1px solid #E9E9E9;
    background-color: #E9E9E9;
    color: #0033BB;
}

.ch-pagination li a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #2B37B2;
    border: 1px solid #2B37B2;
}

.ch-pagination a[type="prev"]:hover,
.ch-pagination a[type="next"]:hover {
    border-color: #0033BB;
}

.ch-pagination a[type="prev"],
.ch-pagination a[type="next"] {
    border-color: #FFFFFF;
}