@import 'pagination/pagination-variables-ml';

/**
 * Pagination
 */
.ch-pagination .ch-pagination-current a:hover {
    border: $pagination-current-border-hover;
    background-color: $pagination-current-bg-hover;
    color: $pagination-current-font-color-hover;
}

.ch-pagination li a:hover {
    color: $pagination-to-select-font-color-hover;
    text-decoration: none;
    background-color: $pagination-to-select-bg-hover;
    border: 1px solid $pagination-to-select-border-hover;
}

.ch-pagination a[type="prev"]:hover,
.ch-pagination a[type="next"]:hover {
    border-color: $pagination-link-pages-hover;
}

.ch-pagination a[type="prev"],
.ch-pagination a[type="next"] {
    border-color: $pagination-link-pages;
}