.ch-autoComplete {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: none;
}

.ch-autoComplete-list li,
.ch-autoComplete-highlighted {
    margin: 0;
    padding: 3px 5px;
    cursor: pointer;
}

.ch-autoComplete-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ch-autoComplete-highlighted {
    background-color: #FDF9D5;
    border-radius: 5px;
}

.ch-autoComplete-list .ch-icon-arrow-up {
    display: none;
}

.ch-autoComplete-loading {
    background: url('../assets/loading-small.gif') no-repeat right center;
    background-size: 16px;
}

.lt-ie8 .ch-autoComplete {
    display: inline;
    zoom: 1;
}
