/**
 * Base
 */
body {
	background-color: #FFF;
	color: #333;
	min-width: 760px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px; /* Prevent layout "sticking" to the edge of the browser */
}

body,
.ch-btn {
	font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-size: 13px;
	line-height: 20px;
}

.lt-ie7 body {
	width: expression( (document.documentElement.clientWidth >1202)? "1200px": (document.documentElement.clientWidth <742)? "740px": "auto" );
}

/* IMPORTANT: .ch-hide class allows components to be shown and hidden */
.ch-hide {
	display: none;
}

.ch-hidden {
	visibility: hidden;
}

/**
 * Anchors
 */
a {
	color: #0637B3;
	text-decoration: none;
}

a:active {
	color: #0000DD;
}

a:visited {
	color: #800080;
}

a:hover,
a:focus {
	text-decoration: underline;
}

a img {
	border: none;
}

/**
 * Typography
 */
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-top: 10px;
}

/* Arial Headers */
h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

h5 {
	font-size: 11px;
}

/**
 * Price
 */
.ch-price {
	color: #900;
	font-size: 16px;
	font-weight: bold;
}

.ch-price sup {
	font-size: 10px;
	vertical-align: text-top;
	line-height: 1em;
}

.ch-price span {
	color: #999;
	font-size: 13px;
	font-weight: normal
}

.lt-ie9 .ch-price sup {
	font-size: 12px;
}

/**
 * Misc
 */
hr {
	border: none;
	border-bottom: 1px dashed #CCC;
}

.lt-ie8 hr {
	height: 0;
}

/* do not select text */
.ch-user-no-select {
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}