/**
 * Dropdown
 */
/* Wrapper */
.ch-dropdown {
	display: inline-block;
}

/* Trigger */
.ch-dropdown-trigger {
	cursor: pointer;
	position: relative;
	display: inline-block;
}

/* Trigger Down icon */
.ch-dropdown-trigger.ch-dropdown-ico {
	padding-right: 2em;
}

.ch-dropdown-trigger.ch-dropdown-ico:after {
	font-family: icons;
	content: "\f0d7";
	position: absolute;
	top: 50%;
	margin-top: -7px;
	right: 8px;
}

/* Content */
.ch-dropdown-content {
	background-color: #FFFFFF;
	min-width: 120px;
	overflow: auto;
	white-space: nowrap;
	-webkit-box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);
	box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);
}

.ch-dropdown-content-hide {
	display: none;
}

/**
 * Primary skin
 */

/* Trigger Actived */
.ch-dropdown-trigger.ch-dropdown-trigger-on,
.ch-dropdown-trigger.ch-dropdown-trigger-on:hover {
	background-color: #7AB6DC;
	background-image: -webkit-linear-gradient(#A2C9E1, #7AB6DC);
	background-image: -moz-linear-gradient(#A2C9E1, #7AB6DC);
	background-image: -o-linear-gradient(#A2C9E1, #7AB6DC);
	background-image: linear-gradient(#A2C9E1, #7AB6DC);
	-webkit-box-shadow: inset 0 1px 6px rgba(71, 98, 116, .6);
	box-shadow: inset 0 1px 6px rgba(71, 98, 116, .6);
	border-color: #79A8C7;
}

.ch-dropdown-trigger-on.ch-points-ltlb,
.ch-dropdown-trigger-on.ch-points-rtrb {
	border-radius: 3px 3px 0 0;
}

.ch-dropdown-trigger-on.ch-points-lblt,
.ch-dropdown-trigger-on.ch-points-rbrt {
	border-radius: 0 0 3px 3px;
}

/* Content */
.ch-dropdown-content {
	border: 1px solid #C8C8C8;
	border-radius: 0 5px 5px 5px;
}

/* List of links */
.ch-dropdown-content li a {
	color: #000;
	display: block;
	height: 25px;
	line-height: 1.786em; /* 25px */
	margin: 5px 0;
	padding: 2px 35px 2px 10px;
	text-decoration: none;
}

/* Interaction of list */
.ch-dropdown-content li a:focus {
	background-color: #fefbd6;
}


/**
 * Skin
 */
/* Trigger */
.ch-dropdown-skin .ch-dropdown-trigger {
	background: transparent;
	border: 1px solid transparent;
	border-width: 0 1px;
	border-radius: 0;
	color: #0637B3;
	text-decoration: none;
	padding: 0 28px 0 13px;
}

.ch-dropdown-skin .ch-dropdown-trigger:after {
	color: #999999;
	margin-top: -10px;
}

.ch-dropdown-skin .ch-dropdown-trigger.ch-dropdown-trigger-on,
.ch-dropdown-skin .ch-dropdown-trigger.ch-dropdown-trigger-on:hover {
	background-color: #FFFFFF;
	background-image: none;
}

/* Trigger Actived */
.ch-dropdown-skin .ch-dropdown-trigger:active {
	color: #00D;
}

/* Trigger ON */
.ch-dropdown-skin .ch-dropdown-trigger.ch-dropdown-trigger-on {
	border-color: #EDEDED;
	-webkit-box-shadow: 2px 0 0 rgba(100, 100, 100, .1);
	box-shadow: 2px 0 0 rgba(100, 100, 100, .1);
	border-radius: 0;
}

.ch-dropdown-skin .ch-dropdown-trigger.ch-btn-skin:active {
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Trigger Hover */
.ch-dropdown-skin .ch-dropdown-trigger:hover {
	text-decoration: underline;
}

/* Content */
.ch-dropdown-skin .ch-dropdown-content {
	border: 1px solid #EDEDED;
	-webkit-box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);
	box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);
	padding: 5px 30px 5px 10px;
}

/* List of links */
.ch-dropdown-skin .ch-dropdown-content li {
	list-style: none;
	margin: 5px 0;
}

.ch-dropdown-skin .ch-dropdown-content a {
	background: none;
	color: #0637B3;
	display: inline;
	line-height: 1.429em; /* 20px */
	padding: 0;
}

/* Interaction of list */
.ch-dropdown-skin .ch-dropdown-content a:focus {
	background: none;
	text-decoration: underline;
}

/* IE */
.lt-ie10 .ch-dropdown-trigger.ch-dropdown-trigger-on,
.lt-ie10 .ch-dropdown-trigger.ch-dropdown-trigger-on:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A2C9E1', endColorstr='#7AB6DC');
}

.lt-ie10 .ch-dropdown-skin .ch-dropdown-trigger,
.lt-ie10 .ch-dropdown-skin .ch-dropdown-trigger-on,
.lt-ie10 .ch-dropdown-skin .ch-dropdown-trigger-on:hover {
	filter: none;
}

.lt-ie8 .ch-dropdown {
	display: inline;
	zoom: 1;
	margin: 0 5px;
}

.lt-ie8 .ch-dropdown-trigger {
	display: inline;
	zoom: 1;
}

.lt-ie8 .ch-dropdown-trigger .ch-dropdown-ico {
	background: transparent url('../assets/shapes.png') 0 -51px no-repeat;
	display: block;
	height: 4px;
	position: absolute;
	right: 9px;
	top: 10px;
	width: 7px;
	text-indent: 7px;
	overflow: hidden;
}