/**
 * Date Picker
 */
.ch-datePicker {
    background-image: none;
    position: absolute;
    z-index: 300;
    background-color: #fff;
    border: 1px solid #EDEDED;
    min-width: 240px;
}

.ch-datePicker-trigger {
    margin-top: 0;
    cursor: pointer;
}

.ch-datePicker .ch-calendar {
    display: block;
}

.ch-datePicker .ch-calendar caption {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ch-datePicker .ch-calendar caption,
.ch-datePicker .ch-calendar thead {
    border: none;
}

.ch-datePicker .ch-calendar caption {
    border-bottom: 1px solid #EDEDED;
    margin: 0;
}

.ch-datePicker .ch-calendar tbody td:first-child {
    border-left: none;
}

.ch-datePicker .ch-calendar-prev span,
.ch-datePicker .ch-calendar-next span {
    margin-top: 10px;
}

.ch-datePicker .ch-calendar-day:hover {
    background-color: #F7F7F7;
    color: #333;
    font-weight: normal;
    cursor:pointer;
}

.ch-datePicker .ch-calendar-day.ch-calendar-disabled:hover {
    background-color: white;
    color: #C6C6C6;
    cursor: not-allowed;
}

.ie9 .ch-datePicker-trigger {
    line-height: 1.2em;
}

.lt-ie9 .ch-datePicker-cone:before {
    width: auto;
    height: auto;
}