/**
 * Expando
 */
/* Trigger */
.ch-expando-trigger{
	color: #0637B3;
	cursor: pointer;
	position: relative;
	padding-left: 16px;
}

/* Active trigger */
.ch-expando-trigger:active {
	color: #00D;
}

/* Visited trigger */
.ch-expando-trigger:visited{
	color: #800080;
}

/* Hover trigger */
.ch-expando-trigger:hover {
	text-decoration: underline;
}

/* Trigger icon */
.ch-expando-trigger:after {
	font-family: icons;
	content: "\f0da";
	position:absolute;
	top: 2px;
	left: 5px;
	color: #999999;
	text-decoration: none;
}

/* Trigger icon on */
.ch-expando-trigger-on:after {
	content: "\f0d7";
	left: 2px;
}

/* Content */
.ch-expando-content {
	margin: 5px 0 0 16px;
}

/* IE */
.lt-ie7 .ch-expando-trigger {
	font-size:13px;
	text-decoration: underline;
}

.ie7 .ch-expando-trigger{
	font-size:13px;
}

/* Trigger icon */
.lt-ie8 .ch-expando-trigger .ch-expando-ico {
	background-image: url('../assets/shapes.png');
	display: block;
	position:absolute;
	overflow: hidden;
	text-indent: 14px;
	background-position: -10px -85px;
	width: 6px;
	height: 10px;
	top: 3px;
	left: 3px;
}

/* Trigger icon on */
.lt-ie8 .ch-expando-trigger-on .ch-expando-ico,
.lt-ie8 .ch-expando-trigger-on:hover .ch-expando-ico {
	background-position: 0 -87px;
	width: 10px;
	height: 6px;
	top: 5px;
	left: 1px;
}