/* Generic input & textarea */
input,
textarea,
select[multiple],
.ch-form-select-multiple {
	font-size: 13px;
	margin: 5px 0;
}

.lt-ie10 input,
.lt-ie10 textarea,
.lt-ie10 select[multiple],
.lt-ie10 .ch-form-select-multiple {
	border: 1px solid #CDCDCD;
	border-radius: 3px;
	-webkit-box-shadow: 1px 2px 2px rgba(204, 204, 204, 0.3) inset;
	box-shadow: 1px 2px 2px rgba(204, 204, 204, 0.3) inset;
	padding: 6px;
}

.lt-ie10 input:focus,
.lt-ie10 textarea:focus,
.lt-ie10 select[multiple]:focus,
.lt-ie10 .ch-form-select-multiple:focus {
	border: 2px solid #9A9A9A;
	padding: 5px;
	outline: 0;
}

.lt-ie10 input:focus {
	border: 2px solid #9A9A9A;
	padding: 5px;
	outline: 0;
}

.lt-ie10 .ch-list-options input {
	display: block;
	width: 16px;
	height: 16px;
	border: none;
	padding: 0;
}

.lt-ie10 input[type="radio"],
.lt-ie10 input[type="checkbox"],
.lt-ie10 input[type="radio"]:focus,
.lt-ie10 input[type="checkbox"]:focus {
	border: none;
}

/* Inner Icons */
.ch-form-ico-inner {
	display: inline-block;
	left: -25px;
	top: 1px;
	position: relative;
}

/* BigForm Inner Icons */
.ch-form-big .ch-form-ico-inner {
	top: 2px;
}

/* Title module */
.ch-form legend {
	padding-bottom: 15px;
}

/* Label */
.ch-form-row label {
	font-size: 13px;
	text-align: right;
	width: 130px;
}

/* Checkbox inline */
.ch-form-checkbox-inline {
	margin-left: 11px;
}

/* Range */
.ch-form-range {
	padding: 4px;
	vertical-align: middle;
}

/* Select */
.ch-form-row select {
	margin: 5px 0;
}

/* Help bottom line that helps the user */
.ch-form-row .ch-form-hint {
	margin-left: 145px;
}

/* Options */
.ch-list-options {
	margin: 0 0 15px 20px;
}

/* Subtitle in options */
.ch-list-options .ch-form-subtitle {
	margin-bottom: 15px;
	margin-left: -20px;
}

/* Label in options */
.ch-list-options label {
	padding: 0 0 0 22px;
}

/* Radio & Checkbox in options */
.ch-list-options input {
	display: block;
	width: 16px;
	height: 16px;
}

.ch-list-options input[type=radio] {
	margin-top: -9px;
}

/* Disabled status */
.ch-form-disabled label {
	color: #999999;
}

.ch-form-disabled input,
.ch-form-disabled input[disabled],
.ch-form-disabled textarea,
.ch-form-disabled textarea[disabled] {
	background-color: #F2F2F2;
	cursor: not-allowed;
}

/* Actions */
.ch-form-actions {
	margin-left: 145px;
}

/* Big inputs */
.lt-ie10 .ch-form-big .ch-form-row input,
.lt-ie10 .ch-form-big .ch-form-row textarea,
.lt-ie10 .ch-form-big .ch-form-row select[multiple],
.lt-ie10 .ch-form-big .ch-form-row .ch-form-select-multiple {
	border-radius: 3px;
	padding: 12px 10px;
	margin: 5px 0;
}

.lt-ie10 .ch-form-big .ch-form-row input:focus,
.lt-ie10 .ch-form-big .ch-form-row textarea:focus,
.lt-ie10 .ch-form-big .ch-form-row select[multiple]:focus,
.lt-ie10 .ch-form-big .ch-form-row .ch-form-select-multiple:focus {
	padding: 11px 9px;
}