/* Generic input & textarea */
input[type="text"],
input[type="url"],
input[type="email"],
input[type="search"],
input[type="date"],
input[type="datatime"],
input[type="datatime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea,
select[multiple],
.ch-form-select-multiple {
	font-size: 13px;
	margin: 5px 0;
}

/* Inner Icons */
.ch-form-ico-inner {
	display: inline-block;
	left: -25px;
	top: 1px;
	position: relative;
}

/* BigForm Inner Icons */
.ch-form-big .ch-form-ico-inner {
	top: 2px;
}

/* Title module */
.ch-form legend {
	padding-bottom: 15px;
}

/* Label */
.ch-form-row label {
	font-size: 13px;
	text-align: right;
	width: 130px;
}

/* Checkbox inline */
.ch-form-checkbox-inline {
	margin-left: 11px;
}

/* Range */
.ch-form-range {
	padding: 4px;
	vertical-align: middle;
}

/* Select */
.ch-form-row select {
	margin: 5px 0;
}

/* Help bottom line that helps the user */
.ch-form-row .ch-form-hint {
	margin-left: 145px;
}

/* Options */
.ch-list-options {
	margin: 0 0 15px 20px;
}

/* Subtitle in options */
.ch-list-options .ch-form-subtitle {
	margin-bottom: 15px;
	margin-left: -20px;
}

/* Label in options */
.ch-list-options label {
	padding: 0 0 0 22px;
}

/* Radio & Checkbox in options */
.ch-list-options input[type="radio"],
.ch-list-options input[type="checkbox"] {
	display: block;
	width: 16px;
	height: 16px;
}

.ch-list-options input[type=radio] {
	margin-top: -9px;
}

/* Disabled status */
.ch-form-disabled label {
	color: #999999;
}

.ch-form-disabled input,
.ch-form-disabled input[disabled],
.ch-form-disabled textarea,
.ch-form-disabled textarea[disabled] {
	background-color: #F2F2F2;
	cursor: not-allowed;
}

/* Actions */
.ch-form-actions {
	margin-left: 145px;
}