/**
 * Modal
 */
.ch-dimmer {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
}

.ch-modal,
.ch-transition {
	overflow: auto;
	padding: 20px;
	width: 500px;
	-webkit-box-shadow: 0 3px 14px #444;
	box-shadow: 0 3px 14px #444;
}

.ch-modal-lite {
	text-align: center;
	padding: 40px;
}

.ch-modal-lite h2 {
	margin-bottom: 0;
}

.ch-transition p {
    text-align: center;
}

/**
 * IE
 */
.lt-ie9 .ch-dimmer {
	background-color: #000;
	filter: alpha(opacity=50)!important;
}