/**
 * Modal
 */
.ch-modal {
    overflow: auto;
    padding: 20px;
    box-shadow: 0 3px 14px #444;
}

.ch-modal-lite {
    text-align: center;
    padding: 40px;
}

.ch-modal-lite h2 {
    margin-bottom: 0;
}