.ch-pagination {
	clear: both;
	margin: 10px 0;
}
			
.ch-pagination li {
	display: inline-block;
	margin: 0px 4px;
}


.ch-pagination li a,
.ch-pagination li.ch-pagination-current a {
	border-radius: 3px;
	padding: 5px 8px;
	border: 1px solid #CCC;
	background-color: #FFF;
}

.ch-pagination li a:hover {
	color: #FFF;
	text-decoration: none;
	background-color: #0637b3;
	border: 1px solid #0637b3;
}

.ch-pagination li.ch-pagination-current a {
	border: 1px solid #ededed;
	background-color: #ededed;
	color: #0637b3; 
	font-weight: bold;
}


.ch-pagination li:first-child a,
.ch-pagination li:last-child a {
	border-color: #FFFFFF;
}

.ch-pagination li:first-child a:hover,
.ch-pagination li:last-child a:hover {
	border-color: #0637b3;
}

.lt-ie8 .ch-pagination li {
	display: inline;
	zoom: 1;
	padding: 5px 2px;
}