/**
 * Tooltip
 */
.ch-tooltip {
	background-color: #FCF8E3;
	border-color: #FBEED5;
	box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);
	min-width: 1em;
	padding: 8px 10px;
	color: #AA8749;
}

/**
 * Cone
 */
.ch-cone .ch-tooltip-content:before,
.ch-cone .ch-tooltip-content:after {
	border: outset transparent; /* border transparent bug on FF: http://stackoverflow.com/a/6225439 */
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	display: block;
	border-width: 8px;
}

/**
 * Bottom side
 * ltlb, ctcb, rtrb
 */
.ch-cone[data-side=bottom] .ch-tooltip-content:before,
.ch-cone[data-side=bottom] .ch-tooltip-content:after {
	bottom: 100%;
	border-bottom-style: solid;
}

.ch-cone[data-side=bottom] .ch-tooltip-content:before {
	border-bottom-color: #FBEED5;
}

.ch-cone[data-side=bottom] .ch-tooltip-content:after {
	border-bottom-color: #FCF8E3;
}

/**
 * Top side
 * lblt, cbct, rbrt
 */
.ch-cone[data-side=top] .ch-tooltip-content:before,
.ch-cone[data-side=top] .ch-tooltip-content:after {
	top: 100%;
	border-top-style: solid;
}

.ch-cone[data-side=top] .ch-tooltip-content:before {
	border-top-color: #FBEED5;
}

.ch-cone[data-side=top] .ch-tooltip-content:after {
	border-top-color: #FCF8E3;
}

/**
 * Right side
 * ltrt, lmrm, lbrb
 */
.ch-cone[data-side=right] .ch-tooltip-content:before,
.ch-cone[data-side=right] .ch-tooltip-content:after {
	right: 100%;
	border-right-style: solid;
}

.ch-cone[data-side=right] .ch-tooltip-content:before {
	border-right-color: #FBEED5;
}

.ch-cone[data-side=right] .ch-tooltip-content:after {
	border-right-color: #FCF8E3;
}

/**
 * Left side
 * rtlt, rmlm, rblb
 */
.ch-cone[data-side=left] .ch-tooltip-content:before,
.ch-cone[data-side=left] .ch-tooltip-content:after {
	left: 100%;
	border-left-style: solid;
}

.ch-cone[data-side=left] .ch-tooltip-content:before {
	border-left-color: #FBEED5;
}

.ch-cone[data-side=left] .ch-tooltip-content:after {
	border-left-color: #FCF8E3;
}

/**
 * Left alignment
 */
[data-side=bottom][data-align=left] .ch-tooltip-content:after,
[data-side=top][data-align=left] .ch-tooltip-content:after {
	left: 8px;
}

[data-side=bottom][data-align=left] .ch-tooltip-content:before,
[data-side=top][data-align=left] .ch-tooltip-content:before {
	left: 7px;
}

/**
 * Center alignment
 */
[data-side=bottom][data-align=center] .ch-tooltip-content:after,
[data-side=top][data-align=center] .ch-tooltip-content:after {
	margin-left: -8px;
    left: 50%;
}

[data-side=bottom][data-align=center] .ch-tooltip-content:before,
[data-side=top][data-align=center] .ch-tooltip-content:before {
	margin-left: -9px;
    left: 50%;
}

[data-side=right][data-align=center] .ch-tooltip-content:after,
[data-side=left][data-align=center] .ch-tooltip-content:after {
    margin-top: -8px;
    top: 50%;
}

[data-side=right][data-align=center] .ch-tooltip-content:before,
[data-side=left][data-align=center] .ch-tooltip-content:before {
    margin-top: -9px;
    top: 50%;
}

/**
 * Right alignment
 */
[data-side=bottom][data-align=right] .ch-tooltip-content:after,
[data-side=top][data-align=right] .ch-tooltip-content:after {
	right: 8px;
}

[data-side=bottom][data-align=right] .ch-tooltip-content:before,
[data-side=top][data-align=right] .ch-tooltip-content:before {
	right: 7px;
}

/**
 * Top alignment
 */
[data-side=right][data-align=top] .ch-tooltip-content:after,
[data-side=left][data-align=top] .ch-tooltip-content:after {
	top: 6px;
}

[data-side=right][data-align=top] .ch-tooltip-content:before,
[data-side=left][data-align=top] .ch-tooltip-content:before {
	top: 5px;
}

/**
 * Bottom alignment
 */
[data-side=right][data-align=bottom] .ch-tooltip-content:after,
[data-side=left][data-align=bottom] .ch-tooltip-content:after {
	bottom: 6px;
}

[data-side=right][data-align=bottom] .ch-tooltip-content:before,
[data-side=left][data-align=bottom] .ch-tooltip-content:before {
	bottom: 5px;
}