/**
 * Tooltip
 */
.ch-tooltip {
	background-color: #FCF8E3;
	border-color: #FBEED5;
	color: #AA8749;
    padding: 8px 10px;
}

/**
 * Bottom side
 * ltlb, ctcb, rtrb
 */
.ch-tooltip[data-side=bottom] .ch-layer-content:before {
	border-bottom-color: #FBEED5;
}

.ch-tooltip[data-side=bottom] .ch-layer-content:after {
	border-bottom-color: #FCF8E3;
}

/**
 * Top side
 * lblt, cbct, rbrt
 */
.ch-tooltip[data-side=top] .ch-layer-content:before {
	border-top-color: #FBEED5;
}

.ch-tooltip[data-side=top] .ch-layer-content:after {
	border-top-color: #FCF8E3;
}

/**
 * Right side
 * ltrt, lmrm, lbrb
 */
.ch-tooltip[data-side=right] .ch-layer-content:before {
	border-right-color: #FBEED5;
}

.ch-tooltip[data-side=right] .ch-layer-content:after {
	border-right-color: #FCF8E3;
}

/**
 * Left side
 * rtlt, rmlm, rblb
 */
.ch-tooltip[data-side=left] .ch-layer-content:before {
	border-left-color: #FBEED5;
}

.ch-tooltip[data-side=left] .ch-layer-content:after {
	border-left-color: #FCF8E3;
}