/**
 * Tooltip
 */
.ch-tooltip {
	background-color: #FDF9D5;
	border-color: #EAE8C8;
	-webkit-box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);
	box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);
	min-width: 1em;
	padding: 8px 10px;
}

/* Cone */
/* Bottom */
/* ltlb, ctcb, rtrb */
.ch-tooltip.ch-points-ltlb .ch-tooltip-content:after,
.ch-tooltip.ch-points-ctcb .ch-tooltip-content:after,
.ch-tooltip.ch-points-rtrb .ch-tooltip-content:after {
	border-bottom-color: #FDF9D5;
}
.ch-tooltip.ch-points-ltlb .ch-tooltip-content:before,
.ch-tooltip.ch-points-ctcb .ch-tooltip-content:before,
.ch-tooltip.ch-points-rtrb .ch-tooltip-content:before {
	border-bottom-color: #EAE8C8;
}

/* Top */
/* lblt, cbct, rbrt */
.ch-tooltip.ch-points-lblt .ch-tooltip-content:after,
.ch-tooltip.ch-points-cbct .ch-tooltip-content:after,
.ch-tooltip.ch-points-rbrt .ch-tooltip-content:after {
	border-top-color: #FDF9D5;
}
.ch-tooltip.ch-points-lblt .ch-tooltip-content:before,
.ch-tooltip.ch-points-cbct .ch-tooltip-content:before,
.ch-tooltip.ch-points-rbrt .ch-tooltip-content:before {
	border-top-color: #EAE8C8;
}

/* Right */
/* ltrt, lmrm, lbrb */
.ch-tooltip.ch-points-ltrt .ch-tooltip-content:after,
.ch-tooltip.ch-points-lmrm .ch-tooltip-content:after,
.ch-tooltip.ch-points-lbrb .ch-tooltip-content:after {
	border-right-color: #FDF9D5;
}
.ch-tooltip.ch-points-ltrt .ch-tooltip-content:before,
.ch-tooltip.ch-points-lmrm .ch-tooltip-content:before,
.ch-tooltip.ch-points-lbrb .ch-tooltip-content:before {
	border-right-color: #EAE8C8;
}

/* Left */
/* rtlt, rmlm, rblb */
.ch-tooltip.ch-points-rtlt .ch-tooltip-content:after,
.ch-tooltip.ch-points-rmlm .ch-tooltip-content:after,
.ch-tooltip.ch-points-rblb .ch-tooltip-content:after {
	border-left-color: #FDF9D5;
}

.ch-tooltip.ch-points-rtlt .ch-tooltip-content:before,
.ch-tooltip.ch-points-rmlm .ch-tooltip-content:before,
.ch-tooltip.ch-points-rblb .ch-tooltip-content:before {
	border-left-color: #EAE8C8;
}

/* IE */
.lt-ie8 .ch-tooltip-cone {
	background-image: url('../assets/shapes.png');
	display: block;
	position: absolute;
	width: 16px;
	height: 8px;
}

.lt-ie8 .ch-points-ltlb .ch-tooltip-cone,
.lt-ie8 .ch-points-ctcb .ch-tooltip-cone,
.lt-ie8 .ch-points-rtrb .ch-tooltip-cone {
	top: -8px;
	background-position: 0 -32px;
}

.lt-ie8 .ch-points-lblt .ch-tooltip-cone,
.lt-ie8 .ch-points-cbct .ch-tooltip-cone,
.lt-ie8 .ch-points-rbrt .ch-tooltip-cone {
	bottom: -8px;
	background-position: 0 -40px;
}

.lt-ie8 .ch-points-ltlb .ch-tooltip-cone,
.lt-ie8 .ch-points-lblt .ch-tooltip-cone {
	left: 8px;
}

.lt-ie8 .ch-points-ctcb .ch-tooltip-cone,
.lt-ie8 .ch-points-cbct .ch-tooltip-cone {
	left: 50%;
	margin-left: -8px;
}

.lt-ie8 .ch-points-rtrb .ch-tooltip-cone,
.lt-ie8 .ch-points-rbrt .ch-tooltip-cone {
	right: 8px;
}


.lt-ie8 .ch-points-ltrt .ch-tooltip-cone,
.lt-ie8 .ch-points-lmrm .ch-tooltip-cone,
.lt-ie8 .ch-points-lbrb .ch-tooltip-cone,
.lt-ie8 .ch-points-rtlt .ch-tooltip-cone,
.lt-ie8 .ch-points-rmlm .ch-tooltip-cone,
.lt-ie8 .ch-points-rblb .ch-tooltip-cone {
	width: 8px;
	height: 16px;
}

.lt-ie8 .ch-points-ltrt .ch-tooltip-cone,
.lt-ie8 .ch-points-lmrm .ch-tooltip-cone,
.lt-ie8 .ch-points-lbrb .ch-tooltip-cone {
	left: -8px;
	background-position: 0 -32px;
}

.lt-ie8 .ch-points-rtlt .ch-tooltip-cone,
.lt-ie8 .ch-points-rmlm .ch-tooltip-cone,
.lt-ie8 .ch-points-rblb .ch-tooltip-cone {
	right: -8px;
	background-position: -8px -32px;
}

.lt-ie8 .ch-points-ltrt .ch-tooltip-cone,
.lt-ie8 .ch-points-rtlt .ch-tooltip-cone {
	top: 4px;
}

.lt-ie8 .ch-points-lmrm .ch-tooltip-cone,
.lt-ie8 .ch-points-rmlm .ch-tooltip-cone {
	top: 50%;
	margin-top: -8px;
}

.lt-ie8 .ch-points-lbrb .ch-tooltip-cone,
.lt-ie8 .ch-points-rblb .ch-tooltip-cone  {
	bottom: 4px;
}