/* Anchor */
.ch-zoom-trigger {
	position: relative;
	overflow: hidden;
	display: inline-block;
	cursor: crosshair;
}

.ch-zoom-loading,
.ch-zoom-seeker {
    border: 1px solid #ccc;
    position: absolute;
    z-index: 2;
}

/* Loading transition */
.ch-zoom-loading {
	width: 100px;
	height: 100px;
	border-radius: 5px;
	font-size: 11px;
	color: #333;
	text-align: center;
    background-color: rgba(240, 240, 240, 0.75);
}

/* Seeker shape */
.ch-zoom-seeker {
    cursor: crosshair;
    pointer-events: none;
    background-color: rgba(240, 240, 240, 0.4);
}

/* Zoomed area */
.ch-zoom {
	border: 1px solid #ccc;
	background-color: #fff;
}

/* Zoomed container */
.ch-zoom .ch-popover-content {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

/* Zoomed image */
.ch-zoom img {
	position: absolute;
}