/**
 * expandable
 */
/* Trigger */
.ch-expandable-trigger {
    color: #0637B3;
    cursor: pointer;
    position: relative;
    padding-left: 16px;
    font-size: 1em;
}

/* Active trigger */
.ch-expandable-trigger:active {
    color: #00D;
}

/* Visited trigger */
.ch-expandable-trigger:visited{
    color: #800080;
}

/* Hover trigger */
.ch-expandable-trigger:hover {
    text-decoration: underline;
}

/* Trigger icon */
.ch-expandable-trigger.ch-expandable-ico:after {
    font-family: icons;
    content: "\f0da";
    position:absolute;
    top: 2px;
    left: 5px;
    color: #999999;
    text-decoration: none;
}

/* Trigger icon on */
.ch-expandable-trigger-on.ch-expandable-ico:after {
    content: "\f0d7";
    left: 2px;
}

/* Content */
.no-js .ch-expandable-trigger + .ch-hide,
.ch-expandable-container {
    margin: 0 0 5px 16px;
}

.no-js .ch-expandable-trigger + .ch-hide {
    display: block;
}