/**
 * Wizard
 */
.ch-wizard {
    background-color: #fff;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    margin-bottom: 10px;
}

.ch-wizard .ch-actions {
    background-color: #f2f2f2;
    border-top: 1px solid #EDEDED;
    padding: 10px 20px;
    border-radius: 0 0 5px 5px;
}

.ch-wizard-breadcrumb {
    list-style: none;
    margin: 0 0 5px;
    overflow: hidden;
    padding: 0;
}

.ch-wizard-breadcrumb li {
    float: left;
    position: relative;
    color: #CCCCCC;
    text-align: center;
}

.ch-steps-two li {
    width: 50%;
}

.ch-steps-three li {
    width: 33.333333%;
}

.ch-steps-four li {
    width: 25%;
}

.ch-steps-five li {
    width: 20%;
}

.ch-steps-six li {
    width: 16.666666%;
}

.ch-wizard-breadcrumb a,
.ch-wizard-current,
.ch-wizard-step {
    border-bottom: 1px solid #EDEDED;
    display: block;
    line-height: 42px;
}

.ch-wizard-breadcrumb a {
    background: #f2f2f2;
}

.ch-wizard-breadcrumb .ch-wizard-current {
    font-weight: bold;
    color: #333333;
    border-bottom-color: transparent;
}

.ch-wizard-step:after,
.ch-wizard-step:before,
.ch-wizard-current:after,
.ch-wizard-current:before,
.ch-wizard-breadcrumb li a:after,
.ch-wizard-breadcrumb li a:before {
    border: solid transparent;
    content: " ";
    position: absolute;
    top: -1px;
    right: -24px;
    z-index: 1;
}

.ch-wizard-step:before,
.ch-wizard-current:before {
    border-width: 23px 11px;
    border-left-color: #DDD;
}

.ch-wizard-step:after,
.ch-wizard-current:after {
    border-left-color: #FFFFFF;
    border-width: 24px 12px;
    top: -2px;
}

.ch-wizard-breadcrumb li a:before {
    border-width: 23px 11px;
    border-left-color: #E5E5E5;
}

.ch-wizard-breadcrumb li a:after {
    border-left-color: #f2f2f2;
    border-width: 24px 12px;
    top: -2px;
}


/* Wizard in modal */
.ch-modal .ch-wizard {
    margin: -20px -44px -20px -20px;
    border: none;
}

.ch-modal .ch-wizard .ch-actions {
    background-color: #FFF;
    border: none;
}

/* IE */
.ie8 .ch-wizard-breadcrumb li a {
    position: relative;
    zoom: 1;
}