// *************************************
//
//   Headers Mobile
//
// *************************************

$header-height:								38px;
$header-border-bottom:						1px solid #ccc;
$header-padding:							3px 0;
$header-text-align:							center;
$header-margin:								0 -10px 10px -10px;

// -------------------------------------
//   Primary
// -------------------------------------

$header-bg-color:							#fdee4c;
$header-secondary-bg-color:					#f0da16;
$header-text-color:							#5B562F;

// -------------------------------------
//   Skin
// -------------------------------------

$header-skin-bg-color:						#efefef;
$header-skin-bg-color-secondary:			#e2e2e2;
$header-skin-text-color:					#666;

// ----- Title ----- //

$header-title-text-size:					1.143em;
$header-title-line-height:					2.5em;
$header-title-margin:						0;

	// Title text-shadow

	$header-title-text-shadow-top:			0;
	$header-title-text-shadow-left:			1px;
	$header-title-text-shadow-blur:			0;
	$header-title-text-shadow-color:		#fff;

$header-nav-height:							40px;

// ----- Button ----- //

$header-btn-padding: 						9px 10px 8px;
$header-btn-text-size:						$font__normal;
$header-btn-line-height:					$font__normal;

$header-btn-bg-color:						transparent;
$header-btn-secondary-bg-color:				(rgba(100, 100, 100, 0.12);
$header-btn-border:							1px solid rgba(0, 0, 0, 0.15);
$header-btn-text-decoration:				none;

	// Button box-shadow

	$header-btn-box-shadow-top:				0;
	$header-btn-box-shadow-left;			1px;
	$header-btn-box-shadow-blur:			0;
	$header-btn-box-shadow-color:			rgba(255, 255, 255, 0.3)

	// Button text-shadow

	$header-btn-box-shadow-top:				0;
	$header-btn-box-shadow-left:			1px;
	$header-btn-box-shadow-blur:			1px;
	$header-btn-box-shadow-color:			rgba(255, 255, 255, 0.75);

// ----- Button:focus ----- //

$header-btn-focus-outline:					thin dotted;
$header-btn-focus-text-decoration:			none;

// ----- Button:active ----- //

$header-btn-active-bg-color:				rgba(100,100,100, 0.12);
$header-btn-active-secondary-bg-color:		rgba(100, 100, 100, 0.2);

	// Button box-shadow

	$header-btn-active-box-shadow-top:		0;
	$header-btn-active-box-shadow-left:		1px;
	$header-btn-active-box-shadow-blur:		0;
	$header-btn-active-box-shadow-color:	rgba(100, 100, 100, 0.2)