.ch-autocomplete {
    padding: 0;
}

.ch-autocomplete-item {
    -webkit-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px dotted #CCC;
    min-height: 45px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    line-height: 45px;
    position: relative;
    text-indent: 12px;
}

.ch-autocomplete-item:last-of-type {
    border-bottom: none;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ch-autocomplete-list .ch-icon-arrow-up[data-js="ch-autocomplete-complete-query"] {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 3px;
    color: #f4f4f4;
    background-color: #C9C9C9;
    width: 40px;
    height: 40px;

    &:before {
        color: #F4F4F4;
        display: block;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        font-size: 30px;
        overflow: hidden;
        line-height: 50px;
        text-indent: 10px;        
    }
}