/**
 * Buttons
 */

/* Action button */

.ch-btn-action,
.ch-btn-action:focus,
.ch-btn-action:visited {
    background-color: $btn-action-bg-color;
    @include background-image(linear-gradient($btn-action-bg-color, $btn-action-bottom-bg-color));
    border: 1px solid $btn-action-border;
    box-shadow: $btn-action-box-shadow;
    color: $btn-action-color;
    text-shadow: $btn-action-text-shadow;
}


/* Colors on Hover */
.ch-btn-action:hover {
    background-color: $btn-action-hover-bg-color;
    @include background-image(linear-gradient($btn-action-hover-bg-color, $btn-action-hover-bottom-bg-color));
}

.ch-btn-action:active {
    background-color: $btn-action-active-bg-color;
    @include background-image(linear-gradient($btn-action-active-bg-color, $btn-action-active-bottom-bg-color));    
    border-color: $btn-action-border-active;
    box-shadow: $btn-action-active-box-shadow;
}

/* Default h: ~38px */
.ch-btn,
.ch-btn:focus {
	line-height: $btn-line-height;
    outline: 0;
	padding: $btn-padding;
}

/* Large h: ~44px */
.ch-btn-large,
.ch-btn-large:focus {
	width: 100%;
	line-height: $btn-large-line-height;
}

a.ch-btn-large,
a.ch-btn-large:focus {
	@include box-sizing(border-box);
}

/* Small h: ~26px */
.ch-btn-small,
.ch-btn-small:focus {
	font-size: $btn-small-text-size;
	line-height: $btn-small-line-height;
	padding: $btn-small-padding;
}