/**
 * Buttons
 */

/* Action button */

.ch-btn-action,
.ch-btn-action:focus,
.ch-btn-action:visited {
    background-color: $btn-action-bg;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $btn-action-top-bg), color-stop(100%, $btn-action-bottom-bg));
    background-image: -webkit-linear-gradient($btn-action-top-bg, $btn-action-bottom-bg);
    background-image: -moz-linear-gradient($btn-action-top-bg, $btn-action-bottom-bg);
    background-image: -o-linear-gradient($btn-action-top-bg, $btn-action-bottom-bg);
    background-image: linear-gradient($btn-action-top-bg, $btn-action-bottom-bg);
    border: 1px solid $btn-action-border;
    -webkit-box-shadow: inset 0 1px $btn-action-shadow;
    box-shadow: inset 0 1px $btn-action-shadow;
    color: $btn-action-color;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}


/* Colors on Hover */
.ch-btn-action:hover {
    background-color: $btn-action-hover;
    background-image: -webkit-linear-gradient($btn-action-hover-top-bg, $btn-action-hover-bottom-bg);
    background-image: -moz-linear-gradient($btn-action-hover-top-bg, $btn-action-hover-bottom-bg);
    background-image: -o-linear-gradient($btn-action-hover-top-bg, $btn-action-hover-bottom-bg);
    background-image: linear-gradient($btn-action-hover-top-bg, $btn-action-hover-bottom-bg);
}

.ch-btn-action:active {
    background-color: $btn-action-active-bg;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $btn-action-active-top-bg), color-stop(100%, $btn-action-active-bottom-bg));
    background-image: -webkit-linear-gradient($btn-action-active-top-bg, $btn-action-active-bottom-bg);
    background-image: -moz-linear-gradient($btn-action-active-top-bg, $btn-action-active-bottom-bg);
    background-image: -o-linear-gradient($btn-action-active-top-bg, $btn-action-active-bottom-bg);
    background-image: linear-gradient($btn-action-active-top-bg, $btn-action-active-bottom-bg);
    -webkit-box-shadow: inset 0 1px 6px $btn-action-shadow-active;
    box-shadow: inset 0 1px 6px $btn-action-shadow-active;
    border-color: $btn-action-border-active;
}

/* Default h: ~38px */
.ch-btn,
.ch-btn:focus {
	line-height: $btn-line-height;
	padding: $btn-padding;
}

/* Large h: ~44px */
.ch-btn-large,
.ch-btn-large:focus {
	width: 100%;
	line-height: $btn-big-line-height;
}

a.ch-btn-large,
a.ch-btn-large:focus {
	-webkit-box-sizing: border-box;	/* Safari/Chrome/Opera, other WebKit */
	-moz-box-sizing: border-box;	/* Firefox, other Gecko */
	box-sizing: border-box;
}

/* Small h: ~26px */
.ch-btn-small,
.ch-btn-small:focus {
	font-size: $btn-font-size;
	line-height: $btn-small-line-height;
	padding: $btn-small-padding;
}