@import 'headers/headers-variables-ml';
/*
 * Headers
 */

[class*="ch-header"] {
	position:relative;
	height: $header-height;
	overflow: hidden;
	border-bottom: $header-border-bottom;
	padding: $header-padding;
	text-align: $header-text-align;
	margin: $header-margin

	h1 {
		font-size: $header-title-text-size;
		line-height: $header-title-line-height;
		text-shadow: $header-title-text-shadow-top, $header-title-text-shadow-left, $header-title-text-shadow-blur, $header-title-text-shadow-color;
		margin: $header-title-margin;
	}

	.ch-nav,
	nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: $header-nav-height;		
	}

	.ch-action-left,
	.ch-action-right {
		position: absolute;
		top: 6px;
	}

	.ch-action-left {
		left: 5px;	
	}

	.ch-action-right {
		right: 5px;
		margin-right: 0;	
	}
}

/* Colors */
.ch-header {
	background-color: $header-bg-color;
    /* Bourbon output */
    @include background-image(linear-gradient($header-bg-color 44%, $header-secondary-bg-color 90%);	
	color: #5B562F;
}

.ch-header-skin {
	background-color: $header-skin-bg-color // header-skin-bg-color-secondary
    /* Bourbon output */
    @include background-image(linear-gradient($header-skin-bg-color 10%, $header-skin-secondary-bg-color 56%);		
	color: $header-skin-text-color;
}

/* BTN Header */
.ch-btn-header,
.ch-btn-header:focus {
	padding: $header-btn-padding;
	font-size: $header-btn-text-size;
	line-height: $header-btn-line-height;
}

.ch-btn-header,
.ch-btn-header:focus,
.ch-btn-header:visited,
a.ch-btn-header,
a.ch-btn-header:focus,
a.ch-btn-header:visited {
	background-color: $header-btn-bg-color;
    /* Bourbon output */
    @include background-image(linear-gradient($header-btn-bg-color 25%, $header-btn-secondary-bg-color);
	border: $header-btn-border;
     /* Mixin output */
    @include box-shadow($header-btn-box-shadow-top, $header-btn-box-shadow-left, $header-btn-box-shadow-blur, $header-btn-box-shadow-color);
	color: inherit;$header-btn-text-color;
	text-shadow: $header-btn-text-shadow;
	text-decoration: $header-btn-text-decoration;
}

/* Focus */
.ch-btn-header:focus {
	outline: $header-btn-focus-outline;
	outline: 5px auto -webkit-focus-ring-color; // ?
	outline-offset: -2px; // ?
	text-decoration: $header-btn-focus-text-decoration;
}

/* Active */
.ch-btn-header:active {
	 // 
    /* Bourbon output */
    @include background-image(linear-gradient($header-btn-active-bg-color, $header-btn-active-secondary-bg-color);
	box-shadow: ($header-btn-active-box-shadow-top, $header-btn-active-box-shadow-left, $header-btn-active-box-shadow-blur, $header-btn-active-box-shadow-color);
	text-decoration: none; $header-btn-active-text-decoration;
}
