/**
 * List
 */
.ch-list {
	margin-bottom: 10px;

	li {
		margin-left: 10px;
		padding: 3px 0;
		line-height: 1.286em; /* 18px */		
	}
}

ul.ch-list {
	list-style: disc inside;
}

ol.ch-list {
	list-style: decimal inside;
}

dl.ch-list {
	margin-bottom: 18px;
}

dl.ch-list dt,
dl.ch-list dd {
	line-height: 1.286em; /* 18px */
}

dl.ch-list dt {
	font-weight: bold;
}

dl.ch-list dd {
	margin: 5px 0 10px 10px;
}