// > Menu Mobile
// ----------------------------------------------------------------

$menu-border: 1px solid $main-border-color !default;
$menu-border-radius: 5px !default;

$menu-row-border-bottom: 1px dotted $gray-500 !default;

$menu-row-icon-color: $gray-700 !default;

$menu-list-border-bottom: 1px solid $main-border-color !default;
