/*
 * Tags
 */
.ch-tag,
a.ch-tag, /* Specificity to colorize links */
.ch-tag:focus,
.ch-tag:hover,
.ch-tag:active,
.ch-tag:visited {
	background-color: #f4f4f4;
	border: 1px solid #dedede;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #666;
    font-size: 14px;
	margin: 4px 0 0;
	padding: 3px 30px 3px 10px;
	text-shadow: 0 1px 1px #fff;
	display: inline-block;
	text-decoration: none;
	position: relative;
}

.ch-tag:active {
	background-color: #e9e9e9;
}

.ch-tag:after {
	font-size: 1em;
	content: '\f00d';
	position: absolute;
	top: 50%;
	right: 10px;
	left: auto;
	margin-top: -9px;
	color: #999;
}