.ch-autoComplete {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: none;
}

.ch-autoComplete .ch-autoComplete-cone {
    display: none !important;
}

.ch-popover-content li,
.ch-autoComplete-selected {
    margin: 0;
    padding: 3px 5px;
    cursor: pointer;
}

.ch-autoComplete-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ch-autoComplete-list li {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px dotted #CCC;
    min-height: 45px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    line-height: 3.3em;
    position: relative;
}

.ch-autoComplete-list .ch-icon-arrow-up[data-js="ch-autoComplete-complete-query"] {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    right: 5px;
    border-radius: 4px;
    color: #f4f4f4;
    background-color: #C9C9C9;
}

.ch-autoComplete-list .ch-icon-arrow-up[data-js="ch-autoComplete-complete-query"]:before {
    color: #F4F4F4;
    width: 40px;
    height: 40px;
    display: block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    font-size: 30px;
    overflow: hidden;
    line-height: 50px;
    text-indent: 10px;
}

.ch-autoComplete-selected {
    background-color: #FDF9D5;
    border-radius: 5px;
}