/*
* Boxes
*/

.ch-box,
.ch-box-lite,
.ch-box-container,
.ch-box-attention,
.ch-box-error,
.ch-box-help,
.ch-box-information,
.ch-box-ok {
	padding: 10px;
	margin: 0 0 1.5em;
}

.ch-box,
.ch-box-lite {
	border: 1px solid #EDEDED;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.ch-box {
	background: #F4F4F4;
}

/* Message boxes */
.ch-box-attention:before,
.ch-box-help:before,
.ch-box-information:before,
.ch-box-error:before,
.ch-box-ok:before {
	font-family: icons;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	vertical-align: middle;
	margin-right: 0.2em;
	line-height: 1em;
	font-size: 1.5em;
}

.ch-box-attention,
.ch-box-error,
.ch-box-help,
.ch-box-information,
.ch-box-ok {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	position: relative;
	padding-left: 35px;
}

.ch-box-attention:before,
.ch-box-help:before,
.ch-box-information:before,
.ch-box-error:before,
.ch-box-ok:before {
	position: absolute;
	top: 10px;
	left: 10px;
}

.ch-box-attention,
.ch-box-attention:before {
	background-color: #FDF9D5;
	color: #996600;
}

.ch-box-attention:before {
	content: "\f071";
	color: #F5CC00;
}

.ch-box-error {
	background-color:#FDECED;
	color:#990000;
}

.ch-box-error:before {
	content: "\f057";
	color: #DA1A20;
}

.ch-box-help,
.ch-box-help:before {
	background-color: #F7F7F7;
	color: #666666;
}

.ch-box-help:before {
	content: "\f059";
	color: #999999;
}

.ch-box-information,
.ch-box-information:before {
	background-color: #EAEFFD;
	color: #003366;
}

.ch-box-information:before {
	content: "\f05a";
	color: #2F419E;
}

.ch-box-ok,
.ch-box-ok:before {
	background-color: #F0FFE5;
	color: #006633;
}

.ch-box-ok:before {
	content: "\f058";
	color: #31792D;
}