/*
* Chico Mobile 0.5 MIT Licence
* @autor <chico@mercadolibre.com>
* @link http://www.chico-ui.com.ar
*/

/*
* Global
*/

body {
	margin: 0 auto;
	position: relative;
}

.ch-layout {
	margin: 0 5px;
}

a:hover {
	text-decoration: none !important;
}

p {
	margin: 0;
}

img {
	max-width: 100%;
}

.ch-icon {
	background-repeat: no-repeat;
}

/* IMPORTANT: .ch-hide class allows components to be shown and hidden*/
.ch-hide {
	display: none;
}

.ch-hidden {
	visibility: hidden;
}

/*
* Anchors
*/

a {
	color: #0637B3;
	text-decoration: none;
}

a:active {
	color: #0000DD;
}

a:visited {
	color: #0637B3;
}

a:hover,
a:focus {
	text-decoration: underline;
}

a img {
	border: none;
}


/*
* Typography
*/

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin: 0 0 10px;
}

.ch-box h1, .ch-box h2, .ch-box h3,
.ch-box h4, .ch-box h5, .ch-box h6 {
	margin-top: 0;
}

/* Arial Headers*/
h1 {
	font-size: 1.714em; /* 24 */
}

h2 {
	font-size: 1.571em; /* 22 */
}

h3 {
	font-size: 1.429em; /* 20 */
}

h4 {
	font-size: 1.286em; /* 18 */
}

h5 {
	font-size: 1.143em; /* 16 */
}

h6 {
	font-size: 1em; /* 14 */
}

/*
* Price
*/

.ch-price {
	color: #900;
	font-size: 1.83em;
	font-weight: bold;
}

.ch-price sup {
	font-size: 0.62em;
	vertical-align: text-middle;
	line-height: 1em;
	padding-left: 1px;
}

.ch-price span {
	color: #999;
	font-size: 1em;
	font-weight: normal;
}

/*
* Misc
*/

hr {
	border: none;
	border-bottom: 1px dashed #CCC;
}


/*  do not select text  */
.ch-user-no-select {
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}