/*
* Buttons
*/

/* Global */
.ch-btn,
.ch-btn:focus,
.ch-btn-skin,
.ch-btn-skin:focus,
.ch-btn-action,
.ch-btn-action:focus,
.ch-btn-header,
.ch-btn-header:focus {
	-webkit-border-radius: 4px; /* Android 2.1 */
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	font-family:arial,helvetica,sans-serif;
	font-size: 1.2em;
	height: auto;
	line-height: 1.199em;
	padding: 0.305em 0.777em;
	text-decoration: none;
}

/* BTN Header */
.ch-btn-header,
.ch-btn-header:focus {
	font-weight: normal;
	width: auto !important;
	padding: 7px 10px 6px;
	font-size: .92em;
}

/* Focus */
.ch-btn:focus,
.ch-btn-skin:focus,
.ch-btn-action:focus,
.ch-btn-header:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="file"]::-webkit-file-upload-button:focus,
button:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

/* Colors */
.ch-btn,
.ch-btn:focus,
.ch-btn:visited {
	background-color: #2C3176;
	background-image: -webkit-linear-gradient(#4055A5, #283077);
	background-image: -moz-linear-gradient(#4055A5, #283077);
	background-image: -o-linear-gradient(#4055A5, #283077);
	background-image: linear-gradient(#4055A5, #283077);
	-webkit-box-shadow: inset 0px 1px rgba(186, 206, 255, .6);
	box-shadow: inset 0px 1px rgba(186, 206, 255, .6);
	border: 1px solid #2C3176;
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

.ch-btn-skin,
.ch-btn-skin:focus,
.ch-btn-skin:visited {
	background-color: #C0DAEC;
	background-image: -webkit-linear-gradient(#D0E6F8, #A6CDEE);
	background-image: -moz-linear-gradient(#D0E6F8, #A6CDEE);
	background-image: -o-linear-gradient(#D0E6F8, #A6CDEE);
	background-image: linear-gradient(#D0E6F8, #A6CDEE);
	border: 1px solid #79a8c7;
	-webkit-box-shadow: inset 0px 1px rgba(255, 255, 255, .9);
	box-shadow: inset 0px 1px rgba(255, 255, 255, .9);
	color: #476274;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.ch-btn-action,
.ch-btn-action:focus,
.ch-btn-action:visited {
	background-color: #CECECE;
	background-image: -webkit-linear-gradient(#EFEFEF, #CECECE);
	background-image: -moz-linear-gradient(#EFEFEF, #CECECE);
	background-image: -o-linear-gradient(#EFEFEF, #CECECE);
	background-image: linear-gradient(#EFEFEF, #CECECE);
	border: 1px solid #BBBBBB;
	-webkit-box-shadow: inset 0px 1px rgba(255, 255, 255, .9);
	box-shadow: inset 0px 1px rgba(255, 255, 255, .9);
	color: #666666;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.ch-btn-header,
.ch-btn-header:focus,
.ch-btn-header:visited,
a.ch-btn-header,
a.ch-btn-header:focus,
a.ch-btn-header:visited {
	background-color: transparent;
	background-image: -webkit-linear-gradient(transparent 25%, rgba(100, 100, 100, 0.12));
	background-image: -moz-linear-gradient(transparent 25%, rgba(100, 100, 100, 0.12));
	background-image: -o-linear-gradient(transparent 25%, rgba(100, 100, 100, 0.12));
	background-image: linear-gradient(transparent 25%, rgba(100, 100, 100, 0.12));
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	color: inherit;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

/* Colors on Active */
.ch-btn:active {
	background-color: #2C3176;
	background-image: -webkit-linear-gradient(#1C2662, #171B3F);
	background-image: -moz-linear-gradient(#1C2662, #171B3F);
	background-image: -o-linear-gradient(#1C2662, #171B3F);
	background-image: linear-gradient(#1C2662, #171B3F);
	-webkit-box-shadow: inset 0px 1px rgba(0, 0, 0, 0.8);
	box-shadow: inset 0px 1px rgba(0, 0, 0, 0.8);
	color: #eee;
}

.ch-btn-skin:active {
	background-color: #C8E5F7;
	background-image: -webkit-linear-gradient(#A3C9E1, #79B5DC);
	background-image: -moz-linear-gradient(#A3C9E1, #79B5DC);
	background-image: -o-linear-gradient(#A3C9E1, #79B5DC);
	background-image: linear-gradient(#A3C9E1, #79B5DC);
	-webkit-box-shadow: inset 0px 1px rgba(143, 176, 196, 0.9);
	box-shadow: inset 0px 1px rgba(143, 176, 196, 0.9);
	color: #476274;
}

.ch-btn-action:active {
	background-color: #A6A6A6;
	background-image: -webkit-linear-gradient(#BABABA, #A6A6A6);
	background-image: -moz-linear-gradient(#BABABA, #A6A6A6);
	background-image: -o-linear-gradient(#BABABA, #A6A6A6);
	background-image: linear-gradient(#BABABA, #A6A6A6);
	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.3);
	box-shadow: inset 0 -1px 0 rgba(255,255,255,0.3);
	color: #666666;
}

.ch-btn-header:active {
	background-image: -webkit-linear-gradient(rgba(100,100,100, 0.12) 25%, rgba(100,100,100, 0.2));
	background-image: -moz-linear-gradient(rgba(100,100,100, 0.12) 25%, rgba(100,100,100, 0.2));
	background-image: -o-linear-gradient(rgba(100,100,100, 0.12) 25%, rgba(100,100,100, 0.2));
	background-image: linear-gradient(rgba(100,100,100, 0.12) 25%, rgba(100,100,100, 0.2));
	-webkit-box-shadow: inset 0 1px 0 rgba(100, 100, 100, 0.2);
	box-shadow: inset 0 1px 0 rgba(100, 100, 100, 0.2);
}


/* Size */

/* Big */
.ch-btn-big,
.ch-btn-big:focus {
	font-size: 1.5em;
	font-weight: bold;
	padding: 0.473em 0.842em;
	text-align: center;
	width: 100%;
}

a.ch-btn-big,
a.ch-btn-big:focus {
	display: block;
	width: auto;
}


.ch-btn,
.ch-btn:focus{

}

/* Small */
.ch-btn-small,
.ch-btn-small:focus {
	font-size: 0.8em;
	padding: 0.5em 0.727em;
}

/* Tiny */
.ch-btn-tiny,
.ch-btn-tiny:focus {

}

input.ch-btn::-moz-focus-inner,
input.ch-btn-big::-moz-focus-inner,
input.ch-btn-small::-moz-focus-inner,
input.ch-btn-tiny::-moz-focus-inner{ 
    border: 0;
    padding: 0;
}

/* Disabled */
.ch-btn.ch-btn-disabled,
.ch-btn-skin.ch-btn-disabled,
.ch-btn-disabled:hover,
.ch-btn-disabled:active,
.ch-btn-disabled:focus,
.ch-btn[disabled],
.ch-btn[disabled]:hover,
.ch-btn[disabled]:active,
.ch-btn[disabled]:focus,
.ch-btn-skin[disabled],
.ch-btn-skin[disabled]:hover,
.ch-btn-skin[disabled]:active,
.ch-btn-skin[disabled]:focus,
.ch-btn-action[disabled],
.ch-btn-action[disabled]:hover,
.ch-btn-action[disabled]:active,
.ch-btn-action[disabled]:focus,
.ch-btn-header[disabled],
.ch-btn-hedaer[disabled]:hover,
.ch-btn-header[disabled]:active,
.ch-btn-header[disabled]:focus {
	background-color: #CCC;
	background-image: -webkit-linear-gradient(#FFF, #CCC);
	background-image: -moz-linear-gradient(#FFF, #CCC);
	background-image: -o-linear-gradient(#FFF, #CCC);
	background-image: linear-gradient(#FFF, #CCC);
	border: 1px solid #999999 !important; /* important for links */
	-webkit-box-shadow: inset 0px 1px rgba(240, 240, 240, 1);
	box-shadow: inset 0px 1px rgba(240, 240, 240, 1);
	color: #999999 !important; /* important for links */
	cursor: not-allowed;
	opacity: 0.5;
	text-shadow: none;
}

/* Close*/
.ch-close {
	background-color: #EBEBEB;
	background-image: -webkit-linear-gradient(#FFFFFF, #EBEBEB);
	background-image: -moz-linear-gradient(#FFFFFF, #EBEBEB);
	background-image: -o-linear-gradient(#FFFFFF, #EBEBEB);
	background-image: linear-gradient(#FFFFFF, #EBEBEB);
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 3px; /* Android 2.1 */
	border-radius: 3px;
	cursor: pointer;
	padding: 0;
	display: inline-block;
	height: 15px;
	width: 15px;
	color: #898989;
	font-size: 18px;
	line-height: 15px;
	text-shadow: 0 1px 0 #ffffff;
	text-indent: 1px;
	font-family: Arial;
	text-align:center;

	position: absolute;
	right: 10px;
	top: 10px;
}

.ch-close:hover,
.ch-close:focus,
.ch-close:active {
	border-color: #B00000;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.ch-close:hover,
.ch-close:focus {
	color: #FFFFFF;
	background-color: #EF1D00;
	background-image: -webkit-linear-gradient(#F04100, #EF1D00);
	background-image: -moz-linear-gradient(#F04100, #EF1D00);
	background-image: -o-linear-gradient(#F04100, #EF1D00);
	background-image: linear-gradient(#F04100, #EF1D00);
	text-decoration: none;
}

.ch-close:active {
	color: #eee;
	background-color:#BE1803;
	background-image: none;
}