
/*
* Expandable
*/
.ch-expandable {
	 margin: 10px 0;
}

.ch-bellows,
.ch-expandable {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 0;
	border: 1px solid #EEE;
}

.ch-bellows-trigger,
.ch-expandable-trigger,
.ch-expandable-trigger a {
	color: #555;
}

.ch-bellows-trigger,
.ch-expandable-trigger {
	cursor: pointer;
	display: block;
	font-weight: bold;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 0;
	position: relative;
	text-shadow: 0 1px 1px #FFF;
	padding: 15px 10px;
	background: #F4F4F4;
	font-size: 1em;
}

.ch-expandable-trigger:after {
	color: #999999;
	font-family: icons;
	content: "\f078";
	font-size: 16px;
	overflow: hidden;
	position: absolute;
	right: 15px;
	top: 15px;
}

.ch-expandable-trigger-on {
	border-bottom: 1px solid #EEE;
	background-color: #EEE;
	color: #333;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.ch-expandable-trigger-on:after {
	content: "\f077";
	color: #333;
}

.ch-expandable-container {
	margin: 0;
	background-color: #fff;
	padding: 10px;
	overflow: hidden;
}

.ch-expandable-container .ch-list-options,
.ch-expandable-container.ch-list-options {
	background-color: #fff;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: none;
	margin: -10px;
}

.ch-expandable-container.ch-list-options {
	margin: 0;
}