/*
 * Headers
 */

[class*="ch-header"] {
	position:relative;
	margin-bottom: 15px;
	height: 38px;
	margin-bottom: 10px;
	overflow: hidden;
	border-bottom: 1px solid #CCCCCC;
	padding: 3px 0;
	text-align: center;
}

/* Colors */
.ch-header {
	background-color: #fdee4c;
	background-image: -webkit-linear-gradient(#fdee4c 44%, #f0da16 90%);
	background-image: -moz-linear-gradient(#fdee4c 44%, #f0da16 90%);
	background-image: -o-linear-gradient(#fdee4c 44%, #f0da16 90%);
	background-image: linear-gradient(#fdee4c 44%, #f0da16 90%);
	color: #5B562F;
}

.ch-header-skin {
	background-color: #efefef;
	background-image: -webkit-linear-gradient(#efefef 10%, #e2e2e2 56%);
	background-image: -moz-linear-gradient(#efefef 10%, #e2e2e2 56%);
	background-image: -o-linear-gradient(#efefef 10%, #e2e2e2 56%);
	background-image: linear-gradient(#efefef 10%, #e2e2e2 56%);
	color: #666666;
}

[class*="ch-header"] h1 {
	font-size: 1.143em;
	line-height: 2.5em;
	text-shadow: 0 1px 0 #FFF;
	margin: 0;
}

[class*="ch-header"] nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
}

[class*="ch-header"] .ch-action-left,
[class*="ch-header"] .ch-action-right {
	position: absolute;
	top: 7px;
}

[class*="ch-header"] .ch-action-left {
	left: 5px;
}

[class*="ch-header"] .ch-action-right {
	right: 5px;
}

/* BTN Header */
.ch-btn-header,
.ch-btn-header:focus {
	font-weight: normal;
	width: auto !important;
	padding: 7px 10px 6px;
	font-size: .92em;
}

.ch-btn-header,
.ch-btn-header:focus,
.ch-btn-header:visited,
a.ch-btn-header,
a.ch-btn-header:focus,
a.ch-btn-header:visited {
	background-color: transparent;
	background-image: -webkit-linear-gradient(transparent 25%, rgba(100, 100, 100, 0.12));
	background-image: -moz-linear-gradient(transparent 25%, rgba(100, 100, 100, 0.12));
	background-image: -o-linear-gradient(transparent 25%, rgba(100, 100, 100, 0.12));
	background-image: linear-gradient(transparent 25%, rgba(100, 100, 100, 0.12));
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	color: inherit;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	text-decoration: none;
}

/* Focus */
.ch-btn-header:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	text-decoration: none;
}

/* Active */
.ch-btn-header:active {
	background-image: -webkit-linear-gradient(rgba(100,100,100, 0.12) 25%, rgba(100,100,100, 0.2));
	background-image: -moz-linear-gradient(rgba(100,100,100, 0.12) 25%, rgba(100,100,100, 0.2));
	background-image: -o-linear-gradient(rgba(100,100,100, 0.12) 25%, rgba(100,100,100, 0.2));
	background-image: linear-gradient(rgba(100,100,100, 0.12) 25%, rgba(100,100,100, 0.2));
	-webkit-box-shadow: inset 0 1px 0 rgba(100, 100, 100, 0.2);
	box-shadow: inset 0 1px 0 rgba(100, 100, 100, 0.2);
	text-decoration: none;
}
