/*
 * Menu
 */
.ch-menu {
	border: 1px solid #EEE;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 0;
}

.ch-menu .ch-fold-trigger,
.ch-menu .ch-expandable-trigger,
.ch-menu .ch-expandable-container {
	border: none;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.ch-menu .ch-menu-fold {
	border: none;
	border-top: 1px dotted #CCC;
}

.ch-menu .ch-menu-fold:first-of-type {
	border-top: none;
}

.ch-menu .ch-menu-fold:last-of-type .ch-expandable-container {
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.ch-menu .ch-expandable-container .ch-list-options {
	background-color: #FFF;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: 0;
	margin: -10px;
}