/*
* Pagination
*/
.ch-pagination {
	margin: 15px 0;
	text-align: center;
}
			
.ch-pagination li {
	display: inline-block;
	margin: 0px 4px;
}

.ch-pagination a,
.ch-pagination-current a {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 1.13em;
	padding: 5px 8px;
	border: 1px solid #CCC;
}

.ch-pagination a {
	background-color: #FFF;
}

.ch-pagination-current a {
	border: 1px solid #ededed;
	background-color: #ededed;
	color: #0637b3; 
	font-weight: bold;
}

.ch-pagination li:first-child a,
.ch-pagination li:last-child a {
	border-color: transparent;
}