/*
* Transitions
*/

.ch-loading {
	background: transparent url('../assets/loading-small.gif') center center no-repeat;
	display: inline-block;
	height: 1em; /* 14px */
	width: 1em; /* 14px */
	overflow: hidden;
	text-indent: -71.357em; /* -999px */
}

.ch-loading-wrap {
	background-color: #FFFFFF;
	color: #999;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
}

.ch-loading-wrap .ch-loading-text {
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -1.5em; /* 21px */
	line-height: 3em; /* 42px */
	height: 3em; /* 42px */

}

.ch-loading-wrap .ch-loading-text::before {
	content: url("../assets/loading.gif");
	position: relative;
	left: -0.357em; /* -5px */
	top: 0.571em; /* 8px */
}