/*
*	Tags
*/
.ch-tag,
.ch-tag:focus,
.ch-tag:active,
.ch-tag:visited {
	background-color: #F4F4F4;
	border: 1px solid #CECECE;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	margin: 4px 0 0;
	padding: 5px 15px 5px 10px;
	text-shadow: 0 1px 1px #fff;
	display: inline-block;
}

.ch-tag:after {
	font-size: 0.9em;
	content: "\f00d";
	position: relative;
	left: 10px;
	top: -1px;
}