/**
 * Global Colors
 */
/**
 * Autocomplete
 */
/**
 * Boxes
 */
/**
 * Links
 */
/**
 * Buttons
 */
/**
 * Bubble
 */
/**
 * Tooltip
 */
/**
 * Tables / Datagrid
 */
/**
 * Global
 */
/**
 * Fonts
 */
/**
 * Icons
 */
/**
 * Buttons
 */
/**
 * Tooltip
 */
/**
 * Global Colors
 */
/**
 * Buttons
 */
/**
 * Reset
 * @based on: Eric Meyer
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, em, img, ins, q, s,
small, strong, sub, sup,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, audio, canvas,
datalist, details, dialog, figure, footer,
header, mark, menu, meter, nav, output,
progress, section, time, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

ol, ul, menu {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to highlight inserts somehow!*/
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup*/
table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Base
 */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

body {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  padding: 0 10px;
  /* Prevent layout "sticking" to the edge of the browser */
  background-color: #FFF;
  color: #333;
  margin: 0 auto; }

/**
 * Misc
 */
hr {
  border: none;
  border-bottom: 1px dashed #CCC; }

a img {
  border: none; }

p + p {
  margin-top: 1em; }

/**
 * Reset
 */
body {
  font-size: 14px;
  line-height: 21px; }

img {
  max-width: 100%; }

/**
 * Icons
 */
@font-face {
  font-family: 'icons';
  /*
   * IE9 Compat Modes
   * IE6-IE8
   * Modern Browsers
   * Safari, Android, iOS
   * Legacy iOS
   */
  src: url("../assets/icons.eot");
  src: url("../assets/icons.eot?#iefix") format("embedded-opentype"), url("../assets/icons.woff") format("woff"), url("../assets/icons.ttf") format("truetype"), url("../assets/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }
[class*='ch-icon-'] {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: .9em;
  height: 16px;
  width: 16px;
  font-size: 19px;
  margin: 5px; }

/**
 * Icons Size
 */
.ch-icon-large,
.ch-icon-x-large,
.ch-icon-xx-large {
  margin: 10px; }

.ch-icon-large {
  height: 24px;
  width: 24px;
  font-size: 26px; }

.ch-icon-x-large {
  height: 32px;
  width: 32px;
  font-size: 34px; }

.ch-icon-xx-large {
  height: 64px;
  width: 64px;
  font-size: 66px; }

[class*='ch-icon-']:before,
.ch-box-list li a:after,
.ch-tag:after {
  font-family: icons;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  display: inline-block; }

[class*='ch-icon-'],
.ch-tag:after {
  color: #666; }

.ch-tag:after,
[class^='ch-icon-']:before,
[class*=' ch-icon-']:before {
  left: 0; }

[class*="ch-btn"] [class*='ch-icon-'] {
  margin: 0 5px 0 0;
  font-size: 15px;
  line-height: 1em; }

/**
 * Icons content
 */
.ch-icon-search:before {
  content: '\f002'; }

.ch-icon-heart:before {
  content: '\f004'; }

.ch-icon-star:before {
  content: '\f005'; }

.ch-icon-star-empty:before {
  content: '\f006'; }

.ch-icon-user:before {
  content: '\f007'; }

.ch-icon-th-large:before {
  content: '\f009'; }

.ch-icon-th:before {
  content: '\f00a'; }

.ch-icon-th-list:before {
  content: '\f00b'; }

.ch-icon-ok:before {
  content: '\f00c'; }

.ch-icon-remove:before {
  content: '\f00d'; }

.ch-icon-zoom-in:before {
  content: '\f00e'; }

.ch-icon-zoom-out:before {
  content: '\f010'; }

.ch-icon-cog:before {
  content: '\f013'; }

.ch-icon-trash:before {
  content: '\f014'; }

.ch-icon-time:before {
  content: '\f017'; }

.ch-icon-repeat:before {
  content: '\f01e'; }

/* \f020 is not a valid unicode character. all shifted one down */
.ch-icon-refresh:before {
  content: '\f021'; }

.ch-icon-print:before {
  content: '\f02f'; }

.ch-icon-camera:before {
  content: '\f030'; }

.ch-icon-pencil:before {
  content: '\f040'; }

.ch-icon-map-marker:before {
  content: '\f041'; }

.ch-icon-move:before {
  content: '\f047'; }

.ch-icon-chevron-left:before {
  content: '\f053'; }

.ch-icon-chevron-right:before {
  content: '\f054'; }

.ch-icon-plus-sign:before {
  content: '\f055'; }

.ch-icon-minus-sign:before {
  content: '\f056'; }

.ch-icon-remove-sign:before {
  content: '\f057'; }

.ch-icon-ok-sign:before {
  content: '\f058'; }

.ch-icon-help-sign:before {
  content: '\f059'; }

.ch-icon-info-sign:before {
  content: '\f05a'; }

.ch-icon-ban-circle:before {
  content: '\f05e'; }

.ch-icon-arrow-left:before {
  content: '\f060'; }

.ch-icon-arrow-right:before {
  content: '\f061'; }

.ch-icon-arrow-up:before {
  content: '\f062'; }

.ch-icon-arrow-down:before {
  content: '\f063'; }

.ch-icon-plus:before {
  content: '\f067'; }

.ch-icon-minus:before {
  content: '\f068'; }

.ch-icon-exclamation-sign:before {
  content: '\f06a'; }

.ch-icon-warning-sign:before {
  content: '\f071'; }

.ch-icon-calendar:before {
  content: '\f073'; }

.ch-icon-comment:before {
  content: '\f075'; }

.ch-icon-chevron-up:before {
  content: '\f077'; }

.ch-icon-chevron-down:before {
  content: '\f078'; }

.ch-icon-key:before {
  content: '\f084'; }

.ch-icon-comments:before {
  content: '\f086'; }

.ch-icon-lock:before {
  content: '\f023'; }

.ch-icon-unlock:before {
  content: '\f09c'; }

.ch-icon-wrench:before {
  content: '\f0ad'; }

.ch-icon-group:before {
  content: '\f0c0'; }

.ch-icon-copy:before {
  content: '\f0c5'; }

.ch-icon-paper-clip:before {
  content: '\f0c6'; }

.ch-icon-reorder:before {
  content: '\f0c9'; }

.ch-icon-truck:before {
  content: '\f0d1'; }

.ch-icon-caret-down:before {
  content: '\f0d7'; }

.ch-icon-caret-up:before {
  content: '\f0d8'; }

.ch-icon-caret-left:before {
  content: '\f0d9'; }

.ch-icon-caret-right:before {
  content: '\f0da'; }

.ch-icon-sort:before {
  content: '\f0dc'; }

.ch-icon-sort-down:before {
  content: '\f0dd'; }

.ch-icon-sort-up:before {
  content: '\f0de'; }

.ch-icon-envelope-alt:before {
  content: '\f0e0'; }

.ch-icon-undo:before {
  content: '\f0e2'; }

.ch-icon-comment-alt:before {
  content: '\f0e5'; }

.ch-icon-comments-alt:before {
  content: '\f0e6'; }

.ch-icon-phone:before {
  content: '\f095'; }

[hidden],
.ch-hide {
  display: none; }

.ch-hidden {
  visibility: hidden;
  position: absolute !important;
  top: -9999px !important; }

.ch-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.ch-actions {
  margin-top: 20px; }
  .ch-actions a {
    margin-left: 15px; }

/* do not select text */
.ch-user-no-select {
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

/* Close*/
.ch-close,
.ch-close:visited,
.ch-close:focus {
  background-color: transparent;
  background-image: -webkit-linear-gradient(transparent 15%, rgba(100, 100, 100, 0.1));
  background-image: -moz-linear-gradient(transparent 15%, rgba(100, 100, 100, 0.1));
  background-image: -o-linear-gradient(transparent 15%, rgba(100, 100, 100, 0.1));
  background-image: linear-gradient(transparent 15%, rgba(100, 100, 100, 0.1));
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  text-indent: 1px;
  color: #cccccc;
  font-family: Arial;
  font-style: normal;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 10px;
  -webkit-appearance: none;
  z-index: 1; }

.ch-close:active {
  color: #fff;
  background-color: #BF0602;
  background-image: -webkit-linear-gradient(#BF0602, #8F2F00);
  background-image: -moz-linear-gradient(#BF0602, #8F2F00);
  background-image: -o-linear-gradient(#BF0602, #8F2F00);
  background-image: linear-gradient(#BF0602, #8F2F00); }

.ch-close:before {
  content: "\00D7"; }

.ch-close:active
.ch-close:focus,
.ch-close:hover {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border: none; }

.ch-close:focus,
.ch-close:hover {
  color: #fff;
  background-color: #FA5900;
  background-image: -webkit-linear-gradient(#FA5900, #CA0C02);
  background-image: -moz-linear-gradient(#FA5900, #CA0C02);
  background-image: -o-linear-gradient(#FA5900, #CA0C02);
  background-image: linear-gradient(#FA5900, #CA0C02);
  text-decoration: none; }

.ch-close,
.ch-close:visited,
.ch-close:focus {
  width: 20px;
  height: 21px;
  font-size: 22px;
  line-height: 22px; }

.ch-autocomplete {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.ch-autocomplete-item,
.ch-autocomplete-highlighted {
  margin: 0;
  padding: 3px 5px;
  cursor: pointer; }

.ch-autocomplete-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.ch-autocomplete-highlighted {
  background-color: #fdf9d5;
  border-radius: 5px; }

.ch-autocomplete-loading {
  background: url("../assets/loading-small.gif") no-repeat right 10px center; }

.ch-autocomplete {
  padding: 0; }

.ch-autocomplete-item {
  -webkit-border-radius: 0;
  border-radius: 0;
  border-bottom: 1px dotted #CCC;
  min-height: 45px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  line-height: 45px;
  position: relative;
  text-indent: 12px; }

.ch-autocomplete-item:last-of-type {
  border-bottom: none;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.ch-autocomplete-list .ch-icon-arrow-up[data-js="ch-autocomplete-complete-query"] {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 3px;
  color: #f4f4f4;
  background-color: #C9C9C9;
  width: 40px;
  height: 40px; }
  .ch-autocomplete-list .ch-icon-arrow-up[data-js="ch-autocomplete-complete-query"]:before {
    color: #F4F4F4;
    display: block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    font-size: 30px;
    overflow: hidden;
    line-height: 50px;
    text-indent: 10px; }

/**
 * Boxes
 */
[class*='ch-box'] {
  -webkit-border-radius: 5px;
  /* Android 2.1 */
  border-radius: 5px;
  margin: 0 0 10px 0;
  padding: 10px; }

.ch-box-lite,
.ch-box {
  border: 1px solid #dedede; }

.ch-box-lite {
  background-color: #fff; }

/**
 * Message boxes
 */
.ch-box-icon {
  position: relative;
  padding-left: 32px; }
  .ch-box-icon [class*='ch-icon-'] {
    position: absolute;
    top: 7px;
    left: 5px; }

/**
 * Warn
 */
.ch-icon-warning-sign {
  color: #F5CC00; }

.ch-box-warn {
  background-color: #FFF3C8;
  color: #aa8749; }

/**
 * Error
 */
.ch-box-error,
.ch-icon-remove-sign {
  color: #B84A46; }

.ch-box-error {
  background-color: #F5E6E6; }
  .ch-box-error a:visited {
    color: #0033bb; }

/**
 * Help
 */
.ch-box-help,
.ch-icon-help-sign {
  color: #888888; }

.ch-box-help {
  background-color: #F0F0F0; }

/**
 * Info
 */
.ch-box-info,
.ch-icon-info-sign {
  color: #3A87AD; }

.ch-box-info {
  background-color: #E4F2F9; }
  .ch-box-info a {
    text-decoration: underline; }

/**
 * Ok
 */
.ch-box-ok,
.ch-icon-ok-sign {
  color: #468847; }

.ch-box-ok {
  background-color: #E9F4E4; }

/**
 * Boxes
 */
.ch-box {
  background-color: #F0F0F0; }

/**
 * List boxes
 */
.ch-box-list {
  background-color: #f4f4f4;
  border: 1px solid #dedede;
  padding: 0; }
  .ch-box-list li {
    position: relative;
    border-bottom: 1px dotted #ccc;
    color: #666;
    font-size: 16px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
    .ch-box-list li:last-child {
      border-bottom: none; }
    .ch-box-list li:active {
      background-color: #e9e9e9; }

/**
 * List boxes: anchors within
 */
.ch-box-list li a {
  line-height: 25px;
  text-decoration: none;
  display: block;
  padding: 14px 42px 14px 20px;
  position: relative; }
  .ch-box-list li a:after {
    content: '\f054';
    font-size: 19px;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -11px;
    color: #999; }

/**
 * List boxes: icons within
 */
.ch-box-list [class*='ch-icon'] {
  position: absolute;
  top: .75em;
  left: 16px;
  color: #999; }
  .ch-box-list [class*='ch-icon'] + a {
    padding-left: 48px; }

/**
 * Bubble
 */
.ch-bubble {
  font-size: .929em;
  padding: 5px 5px 5px 25px;
  border: 1px solid #EED3D7;
  position: absolute; }

/* Error icon */
.ch-bubble .ch-icon-remove-sign {
  top: 2px;
  left: 0px; }

/**
 * Bottom side
 */
.ch-bubble.ch-cone[data-side=bottom] .ch-popover-content:before {
  border-bottom-color: #EED3D7; }

.ch-bubble.ch-cone[data-side=bottom] .ch-popover-content:after {
  border-bottom-color: #F5E6E6; }

/**
 * Top side
 */
.ch-bubble.ch-cone[data-side=top] .ch-popover-content:before {
  border-top-color: #EED3D7; }

.ch-bubble.ch-cone[data-side=top] .ch-popover-content:after {
  border-top-color: #F5E6E6; }

/**
 * Right side
 */
.ch-bubble.ch-cone[data-side=right] .ch-popover-content:before {
  border-right-color: #EED3D7; }

.ch-bubble.ch-cone[data-side=right] .ch-popover-content:after {
  border-right-color: #F5E6E6; }

/**
 * Left side
 */
.ch-bubble.ch-cone[data-side=left] .ch-popover-content:before {
  border-left-color: #EED3D7; }

.ch-bubble.ch-cone[data-side=left] .ch-popover-content:after {
  border-left-color: #F5E6E6; }

/*
 * Links
*/
a {
  color: #0033BB;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:visited {
    color: #880099; }

/*
 * Buttons
*/
/* shared */
.ch-btn,
.ch-btn-skin {
  border-radius: 4px;
  cursor: pointer; }

.ch-btn {
  background: #3E52A1;
  background-image: linear-gradient(#3E52A1, #2D3277);
  border: 1px solid #2C3176;
  box-shadow: 0 1px 0 0 #8EA2DF inset;
  color: #fff;
  font-size: 13px;
  line-height: 1.4em;
  padding: 5px 10px; }
  .ch-btn:hover {
    background: #4051D0;
    background-image: linear-gradient(#4355D2, #2F33AE); }
  .ch-btn:active {
    background: #29358F; }

.ch-btn-big {
  font-size: 20px;
  line-height: 1.5em;
  padding: 6px 8px; }

.ch-btn-small {
  font-size: 12px;
  line-height: 1.4em;
  padding: 5px 8px; }

.ch-btn-skin {
  background: #CCE3F7;
  background-image: linear-gradient(#CCE3F7, #AAD0EF);
  border: 1px solid #79A8C7;
  box-shadow: none;
  color: #476274;
  line-height: 1em; }
  .ch-btn-skin:hover {
    background: #DCECFB;
    background-image: linear-gradient(#DCECFB, #DCECFB); }
  .ch-btn-skin:active {
    background: #7C9CB2; }

.ch-btn-disabled-bg, .ch-btn-disabled, .ch-btn-disabled:hover {
  background: #FFF;
  background-image: linear-gradient(white, #d9d9d9); }

.ch-btn-disabled {
  border: 1px solid #CCC;
  box-shadow: none;
  color: #CCC;
  cursor: not-allowed;
  text-shadow: none;
  opacity: 0.5; }

/**
 * Buttons
 */
/* Default h: ~38px */
.ch-btn,
.ch-btn:focus {
  line-height: 1.4em;
  padding: 7px 14px; }

/* Large h: ~44px */
.ch-btn-large,
.ch-btn-large:focus {
  width: 100%;
  line-height: 1.5em; }

a.ch-btn-large,
a.ch-btn-large:focus {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/Opera, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box; }

/* Small h: ~26px */
.ch-btn-small,
.ch-btn-small:focus {
  font-size: 13px;
  line-height: 1.4em;
  padding: 5px 10px; }

.ch-calendar {
  position: relative;
  display: inline-block; }
  .ch-calendar caption  {
    background-color: #f0f0f0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f0f0f0));
    background: -webkit-linear-gradient(#fff, #F0f0f0);
    background: -moz-linear-gradient(#fff, #f0f0f0);
    background: -o-linear-gradient(#fff, #f0f0f0);
    background: linear-gradient(#fff, #f0f0f0);
    font-size: 13px;
    line-height: 28px;
    text-shadow: 0 1px 0 #fff;
    border-bottom: none; }
  .ch-calendar thead {
    border-weight: 0 1px; }
  .ch-calendar td {
    cursor: default;
    height: 26px;
    line-height: 26px;
    width: 14.28%; }
  .ch-calendar th {
    font-size: 11px;
    font-weight: normal;
    width: 14.28%; }
  .ch-calendar caption,
  .ch-calendar thead,
  .ch-calendar td {
    border: 1px solid #dedede; }

.ch-calendar-month {
  font-size: 12px;
  text-align: center;
  width: 240px; }

.lt-ie10 .ch-calendar caption {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$white', endColorstr='#f0f0f0'); }

.ch-calendar-today {
  background-color: #fefbd6; }

.ch-calendar-other {
  color: #c6c6c6;
  cursor: default !important;
  overflow: hidden;
  text-indent: -99px; }

.ch-calendar-disabled,
.ch-calendar-disabled:hover {
  background-color: #fff;
  color: #c6c6c6;
  cursor: not-allowed; }

.ch-calendar-selected,
.ch-calendar-selected:hover,
.ch-calendar-selected.ch-today {
  background-color: #a9a9a9 !important;
  color: #fff !important;
  font-weight: bold !important; }

.ch-calendar-prev,
.ch-calendar-next {
  cursor: pointer;
  position: absolute;
  padding: 0px 20px;
  height: 28px;
  line-height: 18px;
  font-size: .9em; }

.ch-calendar-prev {
  left: 0; }

.ch-calendar-next {
  right: 0; }

.ch-calendar-prev:after,
.ch-calendar-next:after {
  font-family: icons;
  position: absolute;
  top: 7px;
  color: #666;
  text-shadow: 0 1px #fff; }

.ch-calendar-prev:after {
  content: "\f053";
  left: 15px; }

.ch-calendar-next:after {
  content: "\f054";
  right: 15px; }

/* IE */
.ie9 .ch-calendar caption,
.ie8 .ch-calendar caption {
  margin: 0; }

.ch-carousel {
  overflow: auto;
  position: relative;
  /* Enable hardware acceleration */
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.ch-carousel-mask {
  overflow: hidden;
  position: relative;
  margin: 0 50px; }

/* Both are the same elements, but it can apply styles before the component initialization */
.ch-carousel > ul,
.ch-carousel-list {
  overflow: hidden;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0;
  padding: 0;
  list-style: none; }

.ch-carousel ul.ch-carousel-nofx {
  -webkit-transition: none;
  transition: none; }

/* Both are the same elements, but it can apply styles before the component initialization */
.ch-carousel > ul > li,
.ch-carousel-item {
  display: inline-block;
  float: left;
  /* Fixes the inline-block inner space between li elements */ }

.ch-carousel-prev,
.ch-carousel-next {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  width: 47px;
  height: 80px;
  font-size: 2em;
  line-height: 3.3em;
  color: #666;
  top: 50%;
  margin-top: -40px; }

.ch-carousel-prev {
  left: 0; }

.ch-carousel-next {
  right: 0; }

.ch-carousel-prev:after,
.ch-carousel-next:after {
  font-family: icons;
  position: absolute; }

.ch-carousel-prev:after {
  content: "\f053";
  left: 17px; }

.ch-carousel-next:after {
  content: "\f054";
  right: 17px; }

.ch-carousel-prev:hover,
.ch-carousel-next:hover {
  opacity: 0.7; }

.ch-carousel-disabled {
  display: none; }

/* Pagination */
.ch-carousel-pages {
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%; }
  .ch-carousel-pages span {
    background-color: #f0f0f0;
    border-radius: 100%;
    -webkit-box-shadow: inset 1px 1px #888;
    box-shadow: inset 1px 1px #888;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 10px 5px;
    overflow: hidden;
    text-indent: -99px;
    width: 10px; }

.ch-carousel-pages .ch-carousel-selected {
  background-color: #16232f; }

/**
 * Tables
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

.ch-datagrid-controls,
.ch-datagrid {
  width: 100%;
  border: 1px solid #dedede;
  text-align: left; }

.ch-datagrid-controls caption,
.ch-datagrid caption {
  text-align: left;
  font-weight: normal;
  margin: 10px 0;
  font-size: 18px; }

.ch-datagrid-controls thead tr,
.ch-datagrid thead tr {
  border-top: 1px solid #dedede; }

.ch-datagrid-controls th,
.ch-datagrid th {
  background-color: #f0f0f0;
  border-bottom: 1px solid #dedede;
  border-left: 1px solid #dedede;
  font-size: 11px;
  line-height: 26px;
  padding: 0 10px;
  text-align: left;
  text-shadow: 0 1px 0 #fff;
  vertical-align: middle;
  color: #666; }

.ch-datagrid-controls th {
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #ececec));
  background-image: -webkit-linear-gradient(#fafafa, #ececec);
  background-image: -moz-linear-gradient(#fafafa, #ececec);
  background-image: -o-linear-gradient(#fafafa, #ececec);
  background-image: linear-gradient(#fafafa, #ececec);
  cursor: pointer; }
  .ch-datagrid-controls th:hover {
    background: #fafafa;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #f2f2f2));
    background-image: -webkit-linear-gradient(#fafafa, #f2f2f2);
    background-image: -moz-linear-gradient(#fafafa, #f2f2f2);
    background-image: -o-linear-gradient(#fafafa, #f2f2f2);
    background-image: linear-gradient(#fafafa, #f2f2f2); }

.ch-datagrid-controls th:active,
.ch-datagrid-controls th.ch-datagrid-selected {
  background: #e5e5e5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #d8d8d8));
  background-image: -webkit-linear-gradient(#e5e5e5, #d8d8d8);
  background-image: -moz-linear-gradient(#e5e5e5, #d8d8d8);
  background-image: -o-linear-gradient(#e5e5e5, #d8d8d8);
  background-image: linear-gradient(#e5e5e5, #d8d8d8);
  border-top: 1px solid #dcdcdc; }

.ch-datagrid-controls th.ch-datagrid-selected {
  position: relative; }

.ch-datagrid-selected .ch-datagrid-asc,
.ch-datagrid-selected .ch-datagrid-desc {
  float: right; }
  .ch-datagrid-selected .ch-datagrid-asc:after,
  .ch-datagrid-selected .ch-datagrid-desc:after {
    font-family: icons;
    font-style: normal;
    content: "\f0dc"; }

.ch-datagrid-controls th:first-child,
.ch-datagrid th:first-child {
  border-left: none; }

.ch-datagrid-controls tr,
.ch-datagrid tr {
  border-top: 1px solid #dedede; }

.ch-datagrid-selected {
  background-color: #fdf9d5; }

.ch-datagrid-controls td,
.ch-datagrid td {
  height: 40px;
  padding: 0 10px;
  vertical-align: middle; }

/* IE */
.lt-ie10 .ch-datagrid-controls th {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ececec'); }

.lt-ie10 .ch-datagrid-controls th:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f2f2f2'); }

.lt-ie10 .ch-datagrid-controls th:active,
.lt-ie10 .ch-datagrid-controls th.ch-datagrid-selected {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#d8d8d8'); }

.lt-ie9 .ch-datagrid-controls thead tr,
.lt-ie9 .ch-datagrid thead tr {
  border: 1px solid #dedede; }

.lt-ie10 .ch-datagrid-selected {
  border: 1px solid #dedede; }

.lt-ie10 .ch-datagrid-controls td,
.lt-ie10 .ch-datagrid td {
  border-top: 1px solid #dedede; }

/**
 * Dropdown
 */
/* Trigger */
.ch-dropdown-trigger {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding-right: 2em; }
  .ch-dropdown-trigger:after  {
    font-family: icons;
    content: "\f0d7";
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 8px;
    font-style: normal;
    line-height: 1.2em; }

/* Container */
.ch-dropdown {
  min-width: 120px;
  overflow: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  -webkit-box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.1);
  box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.1);
  border-radius: 0 5px 5px 5px;
  position: absolute; }
  .ch-dropdown menu a {
    color: #000;
    display: block;
    height: 25px;
    line-height: 25px;
    margin: 5px 0;
    padding: 2px 35px 2px 10px;
    text-decoration: none; }
    .ch-dropdown menu a:focus {
      background-color: #fefbd6;
      outline: none; }

/**
 * Primary skin
 */
/* Trigger Actived */
.ch-dropdown-trigger-on,
.ch-dropdown-trigger-on:hover {
  background-color: #7ab6dc;
  background-image: -webkit-linear-gradient(#a2c9e1, #7ab6dc);
  background-image: -moz-linear-gradient(#a2c9e1, #7ab6dc);
  background-image: -o-linear-gradient(#a2c9e1, #7ab6dc);
  background-image: linear-gradient(#a2c9e1, #7ab6dc);
  -webkit-box-shadow: inset 0 1px 6px rgba(71, 98, 116, 0.6);
  box-shadow: inset 0 1px 6px rgba(71, 98, 116, 0.6);
  border-color: #79a8c7;
  border-radius: 3px 3px 0 0; }

/**
 * Skin
 */
/* Trigger */
.ch-dropdown-trigger-skin {
  background: transparent;
  border: 1px solid transparent;
  border-width: 0 1px;
  border-radius: 0;
  color: #0033bb;
  text-decoration: none;
  padding: 0 28px 0 13px; }
  .ch-dropdown-trigger-skin:after {
    color: #999; }
  .ch-dropdown-trigger-skin:active {
    color: #00D; }

.ch-dropdown-trigger-skin.ch-dropdown-trigger-on,
.ch-dropdown-trigger-skin.ch-dropdown-trigger-on:hover {
  background-color: #fff;
  background-image: none; }

/* Trigger ON */
.ch-dropdown-trigger-skin.ch-dropdown-trigger-on {
  border-color: #dedede;
  -webkit-box-shadow: 2px 0 0 rgba(100, 100, 100, 0.1);
  box-shadow: 2px 0 0 rgba(100, 100, 100, 0.1);
  border-radius: 0; }

.ch-dropdown-trigger-skin.ch-btn-skin:active {
  -webkit-box-shadow: none;
  box-shadow: none; }

/* Trigger Hover */
.ch-dropdown-trigger-skin:hover {
  text-decoration: underline; }

/* Container */
.ch-dropdown-skin {
  padding: 5px 10px; }
  .ch-dropdown-skin menu li {
    list-style: none;
    margin: 5px 0; }
  .ch-dropdown-skin menu a {
    background: none;
    color: #0033bb;
    display: inline;
    line-height: 20px;
    padding: 0; }
    .ch-dropdown-skin menu a:focus {
      background: none;
      text-decoration: underline; }

/* IE */
.lt-ie10 .ch-dropdown-trigger.ch-dropdown-trigger-on,
.lt-ie10 .ch-dropdown-trigger.ch-dropdown-trigger-on:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2c9e1', endColorstr='#7ab6dc'); }

.lt-ie10 .ch-dropdown-trigger-skin,
.lt-ie10 .ch-dropdown-trigger-skin.ch-dropdown-trigger-on,
.lt-ie10 .ch-dropdown-trigger-skin.ch-dropdown-trigger-on:hover {
  filter: none; }

/*
* Expandable
*/
.ch-fold-trigger,
.ch-expandable-trigger {
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 14px 40px 14px 20px;
  position: relative;
  color: #666;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #f4f4f4;
  border: 1px solid #dedede;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.ch-expandable-trigger:after {
  content: '\f078';
  font-size: 19px;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -10px;
  font-family: icons;
  color: #999;
  overflow: hidden; }

.ch-expandable-trigger-on {
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.ch-expandable-trigger-on:after {
  content: '\f077';
  color: #333; }

.ch-expandable-container {
  background-color: #fff;
  margin: 0;
  padding: 14px 20px;
  overflow: hidden;
  border: 1px solid #e8e8e8;
  border-top: none;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.ch-expandable-container.ch-box-list {
  padding: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.ch-expandable-container.ch-box-list li {
  font-size: 14px; }
  .ch-expandable-container.ch-box-list li a:after {
    color: #333; }

.ch-expandable-container.ch-list,
.ch-expandable-container.ch-list li {
  margin-left: 0; }

/* ==========================================================================
     Forms
     ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: none;
  margin: 0;
  padding: 0; }

legend {
  margin: 0;
  padding: 0; }

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
input[type="search"] {
  -webkit-appearance: textfield; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Generic input & textarea */
input[type="text"],
input[type="url"],
input[type="email"],
input[type="search"],
input[type="date"],
input[type="datatime"],
input[type="datatime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea,
select[multiple],
.ch-form-select-multiple {
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  padding: 6px; }
  input[type="text"]:focus,
  input[type="url"]:focus,
  input[type="email"]:focus,
  input[type="search"]:focus,
  input[type="date"]:focus,
  input[type="datatime"]:focus,
  input[type="datatime-local"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="tel"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select[multiple]:focus,
  .ch-form-select-multiple:focus {
    border: 2px solid #9A9A9A;
    padding: 5px;
    outline: 0; }

input[type="file"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
input[type="range"]:focus,
select:focus {
  outline: 1px dotted #9A9A9A; }

input[readonly],
input[readonly]:focus {
  border: none;
  color: #999999;
  padding: 5px 0; }

/* Icons */
.ch-form-icon {
  margin-top: 0;
  margin-left: 0; }

.ch-form-icon-inner {
  opacity: .3; }

.ch-form-icon-input:focus + .ch-form-icon-inner {
  opacity: .7; }

input.ch-form-icon-input {
  padding-right: 24px; }

input.ch-form-icon-input:focus {
  padding-right: 23px; }

.ch-form-big .ch-form-row .ch-form-icon-input {
  padding-right: 30px; }

.ch-form-big .ch-form-row .ch-form-icon-input:focus {
  padding-right: 29px; }

/* Module */
.ch-form fieldset {
  margin-bottom: 10px; }

/* Title module */
.ch-form legend {
  color: #dc7b1c;
  font-weight: bold; }

.ch-form-subtitle {
  font-size: 13px;
  font-weight: bold; }

/* Required specification or another */
.ch-form-hint {
  color: #999999;
  font-size: 12px;
  line-height: 12px; }

/* Basic wrapper for horizontal view */
.ch-form-row {
  padding: 5px 0;
  position: relative; }
  .ch-form-row label {
    display: inline-block;
    position: relative;
    padding: 7px 11px 5px 0; }

/* Label inline not used yet */
.ch-form-row input + label,
.ch-form-row select + label,
.ch-label-inline {
  text-align: left;
  width: auto;
  font-weight: normal;
  margin-left: 0; }

/* Label required **/
.ch-form-required label {
  font-weight: bold; }

.ch-form-required.ch-form-options label {
  font-weight: normal;
  z-index: 1; }

/* Icon indication of required */
.ch-form-required em {
  display: block;
  position: absolute;
  right: 3px;
  top: 3px; }

/* Icon indication of required in options */
.ch-form-required.ch-form-options em {
  display: inline;
  position: relative;
  vertical-align: super;
  top: auto;
  right: auto; }

/* Checkbox inline
.ch-form-row input + input[type=checkbox],*/
.ch-form-checkbox-inline {
  margin-right: 0;
  border: none; }

/* Range
input[type=range],*/
.ch-form-range {
  padding: 4px;
  vertical-align: middle; }

/* Select Multiple */
.ch-form-row select[multiple],
.ch-form-select-multiple {
  vertical-align: top;
  margin-top: 10px; }

/* Textarea */
.ch-form-row textarea {
  vertical-align: top; }

/* Help bottom line that helps the user */
.ch-form-row .ch-form-hint {
  display: block; }

/* Subtitle in options */
.ch-form-options .ch-form-subtitle {
  margin-bottom: 15px;
  margin-left: -20px; }

/* Subtitle in options & required */
.ch-form-options.ch-form-required .ch-form-subtitle {
  font-weight: bold; }

/* Label in options */
.ch-form-options label {
  padding: 0 0 0 22px;
  margin: 0; }

/* Radio & Checkbox in options */
.ch-form-options input[type="radio"],
.ch-form-options input[type="checkbox"] {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  top: 1.125em; }

.ch-form-options input[type=radio] {
  margin-top: -9px; }

.ch-form-options input[type=checkbox] {
  margin-top: -8px; }

/* Disabled status */
.ch-form-disabled label {
  color: #999999; }

.ch-form-disabled input,
.ch-form-disabled input[disabled],
.ch-form-disabled textarea,
.ch-form-disabled textarea[disabled] {
  background-color: #F2F2F2;
  cursor: not-allowed; }

/* Actions */
.ch-form-actions {
  text-align: left; }

/* Big inputs */
.ch-form-big input[type="text"],
.ch-form-big input[type="url"],
.ch-form-big input[type="email"],
.ch-form-big input[type="search"],
.ch-form-big input[type="date"],
.ch-form-big input[type="datatime"],
.ch-form-big input[type="datatime-local"],
.ch-form-big input[type="month"],
.ch-form-big input[type="week"],
.ch-form-big input[type="time"],
.ch-form-big input[type="tel"],
.ch-form-big input[type="number"],
.ch-form-big input[type="password"],
.ch-form-big textarea,
.ch-form-big select[multiple],
.ch-form-big .ch-form-select-multiple {
  border-radius: 3px;
  padding: 12px 10px;
  margin: 5px 0; }
  .ch-form-big input[type="text"]:focus,
  .ch-form-big input[type="url"]:focus,
  .ch-form-big input[type="email"]:focus,
  .ch-form-big input[type="search"]:focus,
  .ch-form-big input[type="date"]:focus,
  .ch-form-big input[type="datatime"]:focus,
  .ch-form-big input[type="datatime-local"]:focus,
  .ch-form-big input[type="month"]:focus,
  .ch-form-big input[type="week"]:focus,
  .ch-form-big input[type="time"]:focus,
  .ch-form-big input[type="tel"]:focus,
  .ch-form-big input[type="number"]:focus,
  .ch-form-big input[type="password"]:focus,
  .ch-form-big textarea:focus,
  .ch-form-big select[multiple]:focus,
  .ch-form-big .ch-form-select-multiple:focus {
    padding: 11px 9px; }

/**
 * Input colorizing
 */
.ch-form input.ch-validation-error,
.ch-form textarea.ch-validation-error,
.ch-form input.ch-bubble-trigger-on,
.ch-form textarea.ch-bubble-trigger-on,
.ch-countdown-exceeded {
  border-color: #f99; }

.ch-validation-error:focus {
  border-width: 2px; }

/* Generic input & textarea */
input[type="text"],
input[type="url"],
input[type="email"],
input[type="search"],
input[type="date"],
input[type="datatime"],
input[type="datatime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea,
select,
select[multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 5px 0;
  width: 100%; }

.ch-form-row-inline input[type="text"],
.ch-form-row-inline input[type="url"],
.ch-form-row-inline input[type="email"],
.ch-form-row-inline input[type="search"],
.ch-form-row-inline input[type="date"],
.ch-form-row-inline input[type="datatime"],
.ch-form-row-inline input[type="datatime-local"],
.ch-form-row-inline input[type="month"],
.ch-form-row-inline input[type="week"],
.ch-form-row-inline input[type="time"],
.ch-form-row-inline input[type="tel"],
.ch-form-row-inline input[type="number"],
.ch-form-row-inline input[type="password"],
.ch-form-row-inline select {
  display: inline-block;
  width: auto; }

input,
input:focus {
  padding: 6px 0; }

input[type="radio"],
input[type="checkbox"],
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  padding: 0; }

/* Inner Icons */
.ch-form-icon-inner {
  display: block;
  left: auto;
  right: 2px;
  top: 41px;
  position: absolute; }

/* BigForm Inner Icons */
.ch-form-big .ch-form-icon-inner {
  top: 54px; }

/* Icon & button alignment */
.ch-form-row input + .ch-btn,
.ch-form-row input + .ch-form-icon {
  position: absolute;
  top: 76px;
  right: 0;
  margin-right: 0;
  z-index: 2; }

/* Title module */
.ch-form legend {
  font-size: 16px;
  padding-bottom: 8px; }

/* Label */
.ch-form-row label {
  font-size: 14px;
  padding-bottom: 2px; }

/* Checkbox inline */
.ch-form-checkbox-inline {
  margin-left: 0; }

/* Select */
.ch-form-row select {
  height: 36px;
  border-color: #ccc;
  margin: 0 0 5px 0; }

/* Select Multiple */
.ch-form-row select[multiple],
.ch-form-select-multiple {
  height: auto; }

.ch-form-row .ch-form-hint {
  margin-left: 2px; }

.ch-validation-message {
  color: #B94A48;
  padding: 0;
  margin: 0; }

/**
 * Forms within list boxes
 */
.ch-box-list .ch-form-row,
.ch-box-list.ch-form-row {
  padding: 0; }

.ch-box-list input + label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  padding: 14px 0 14px 38px; }

.ch-box-list input[type="radio"],
.ch-box-list input[type="checkbox"] {
  top: 25px;
  left: 13px; }

.ch-list-box input[type="radio"] {
  margin-top: -5px; }

.ch-list-box input[type="checkbox"] {
  margin-top: -4px; }

/**
 * Layer
 */
.ch-layer {
  box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.1);
  position: absolute; }

/**
 * List
 */
.ch-list {
  margin-bottom: 10px; }
  .ch-list li {
    margin-left: 10px;
    padding: 3px 0;
    line-height: 1.286em;
    /* 18px */ }

ul.ch-list {
  list-style: disc inside; }

ol.ch-list {
  list-style: decimal inside; }

dl.ch-list {
  margin-bottom: 18px; }
  dl.ch-list dt,
  dl.ch-list dd {
    line-height: 1.286em;
    /* 18px */ }
  dl.ch-list dt {
    font-weight: bold; }
  dl.ch-list dd {
    margin: 5px 0 10px 10px; }

/**
 * List
 */
.ch-list {
  margin-bottom: 10px; }
  .ch-list li {
    margin-left: 10px;
    padding: 3px 0;
    line-height: 1.286em;
    /* 18px */ }

ul.ch-list {
  list-style: disc inside; }

ol.ch-list {
  list-style: decimal inside; }

dl.ch-list {
  margin-bottom: 18px; }

dl.ch-list dt,
dl.ch-list dd {
  line-height: 1.286em;
  /* 18px */ }

dl.ch-list dt {
  font-weight: bold; }

dl.ch-list dd {
  margin: 5px 0 10px 10px; }

/**
 * Transitions
 */
.ch-loading-large,
.ch-loading {
  margin: 20px auto;
  display: block; }

.ch-loading-large {
  background-image: url("../assets/loading-big.gif");
  width: 36px;
  height: 36px; }

.ch-loading {
  background-image: url("../assets/loading.gif");
  width: 24px;
  height: 24px; }

.ch-loading-small {
  background-image: url("../assets/loading-small.gif");
  display: inline-block;
  width: 16px;
  height: 16px; }

.ch-loading-centered {
  position: absolute;
  top: 50%;
  left: 50%; }

.ch-loading-large.ch-loading-centered {
  margin-top: -18px;
  margin-left: -18px; }

.ch-loading.ch-loading-centered {
  margin-top: -12px;
  margin-left: -12px; }

.ch-loading-small.ch-loading-centered {
  margin-top: -8px;
  margin-left: -8px; }

/**
 * Menu
 */
.ch-menu {
  border: 1px solid #dedede;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.ch-fold-trigger,
.ch-menu .ch-expandable-trigger,
.ch-menu .ch-expandable-container,
.ch-menu-fold:last-of-type .ch-expandable-trigger.ch-expandable-trigger-on {
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-bottom: 1px dotted #ccc; }

.ch-menu .ch-expandable-trigger:after {
  color: #999; }

.ch-menu .ch-expandable-container {
  border-bottom: 1px solid #dedede; }

.ch-menu-fold:last-of-type .ch-fold-trigger,
.ch-menu-fold:last-of-type .ch-expandable-trigger,
.ch-menu-fold:last-of-type .ch-expandable-container {
  border-bottom: none;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

/**
 * Modal
 */
.ch-modal {
  overflow: auto;
  padding: 20px;
  box-shadow: 0 3px 14px #444; }

.ch-modal-lite {
  text-align: center;
  padding: 40px; }
  .ch-modal-lite h2 {
    margin-bottom: 0; }

/**
 * Underlay
 */
.ch-underlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.ie8 .ch-underlay {
  background-color: #000;
  -ms-filter: "alpha(opacity=50)"; }

/**
 * Pagination
 */
.ch-pagination {
  padding: 0;
  list-style: none;
  margin: 10px 0;
  text-align: center; }
  .ch-pagination li {
    display: inline-block;
    margin: 0 4px; }
    .ch-pagination li a {
      border-radius: 3px;
      padding: 5px 8px;
      border: 1px solid #DEDEDE;
      background-color: #FFF; }

.ch-pagination .ch-pagination-current a {
  border: 1px solid #E9E9E9;
  background-color: #E9E9E9;
  color: #0033BB; }

/**
 * Pagination
 */
.ch-pagination {
  font-size: 16px; }

.ch-pagination a[type="prev"],
.ch-pagination a[type="next"] {
  background-color: transparent;
  border-color: transparent; }

/**
 * Popover
 */
.ch-popover {
  box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.2); }

.ch-shownby-pointertap {
  cursor: pointer; }

.ch-shownby-pointerenter {
  cursor: default; }

/**
 * Close button: must generate a space
 */
.ch-popover .ch-close + div {
  margin-right: 24px; }

/**
 * Cone
 */
.ch-cone .ch-popover-content:before,
.ch-cone .ch-popover-content:after {
  border: outset transparent;
  /* border transparent bug on FF: http://stackoverflow.com/a/6225439 */
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  display: block; }

.ch-cone .ch-popover-content:before {
  border-width: 10px; }

.ch-cone .ch-popover-content:after {
  border-width: 9px; }

/**
 * Bottom side
 * ltlb, ctcb, rtrb
 */
.ch-cone[data-side=bottom] .ch-popover-content:before,
.ch-cone[data-side=bottom] .ch-popover-content:after {
  bottom: 100%;
  border-bottom-style: solid; }

.ch-cone[data-side=bottom] .ch-popover-content:before {
  border-bottom-color: #DDD; }

.ch-cone[data-side=bottom] .ch-popover-content:after {
  border-bottom-color: #fff; }

/**
 * Top side
 * lblt, cbct, rbrt
 */
.ch-cone[data-side=top] .ch-popover-content:before,
.ch-cone[data-side=top] .ch-popover-content:after {
  top: 100%;
  border-top-style: solid; }

.ch-cone[data-side=top] .ch-popover-content:before {
  border-top-color: #DDD; }

.ch-cone[data-side=top] .ch-popover-content:after {
  border-top-color: #fff; }

/**
 * Right side
 * ltrt, lmrm, lbrb
 */
.ch-cone[data-side=right] .ch-popover-content:before,
.ch-cone[data-side=right] .ch-popover-content:after {
  right: 100%;
  border-right-style: solid; }

.ch-cone[data-side=right] .ch-popover-content:before {
  border-right-color: #DDD; }

.ch-cone[data-side=right] .ch-popover-content:after {
  border-right-color: #fff; }

/**
 * Left side
 * rtlt, rmlm, rblb
 */
.ch-cone[data-side=left] .ch-popover-content:before,
.ch-cone[data-side=left] .ch-popover-content:after {
  left: 100%;
  border-left-style: solid; }

.ch-cone[data-side=left] .ch-popover-content:before {
  border-left-color: #DDD; }

.ch-cone[data-side=left] .ch-popover-content:after {
  border-left-color: #fff; }

/**
 * Left alignment
 */
.ch-cone[data-side=bottom][data-align=left] .ch-popover-content:after,
.ch-cone[data-side=top][data-align=left] .ch-popover-content:after {
  left: 8px; }

.ch-cone[data-side=bottom][data-align=left] .ch-popover-content:before,
.ch-cone[data-side=top][data-align=left] .ch-popover-content:before {
  left: 7px; }

/**
 * Center alignment
 */
.ch-cone[data-side=bottom][data-align=center] .ch-popover-content:after,
.ch-cone[data-side=top][data-align=center] .ch-popover-content:after {
  margin-left: -9px;
  left: 50%; }

.ch-cone[data-side=bottom][data-align=center] .ch-popover-content:before,
.ch-cone[data-side=top][data-align=center] .ch-popover-content:before {
  margin-left: -10px;
  left: 50%; }

.ch-cone[data-side=right][data-align=center] .ch-popover-content:after,
.ch-cone[data-side=left][data-align=center] .ch-popover-content:after {
  margin-top: -9px;
  top: 50%; }

.ch-cone[data-side=right][data-align=center] .ch-popover-content:before,
.ch-cone[data-side=left][data-align=center] .ch-popover-content:before {
  margin-top: -10px;
  top: 50%; }

/**
 * Right alignment
 */
.ch-cone[data-side=bottom][data-align=right] .ch-popover-content:after,
.ch-cone[data-side=top][data-align=right] .ch-popover-content:after {
  right: 8px; }

.ch-cone[data-side=bottom][data-align=right] .ch-popover-content:before,
.ch-cone[data-side=top][data-align=right] .ch-popover-content:before {
  right: 7px; }

/**
 * Top alignment
 */
.ch-cone[data-side=right][data-align=top] .ch-popover-content:after,
.ch-cone[data-side=left][data-align=top] .ch-popover-content:after {
  top: 5px; }

.ch-cone[data-side=right][data-align=top] .ch-popover-content:before,
.ch-cone[data-side=left][data-align=top] .ch-popover-content:before {
  top: 4px; }

/**
 * Bottom alignment
 */
.ch-cone[data-side=right][data-align=bottom] .ch-popover-content:after,
.ch-cone[data-side=left][data-align=bottom] .ch-popover-content:after {
  bottom: 5px; }

.ch-cone[data-side=right][data-align=bottom] .ch-popover-content:before,
.ch-cone[data-side=left][data-align=bottom] .ch-popover-content:before {
  bottom: 4px; }

/**
 * Tooltip
 */
.ch-tooltip {
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  color: #AA8749;
  padding: 8px 10px;
  border-radius: 5px; }

/**
 * Bottom side
 * ltlb, ctcb, rtrb
 */
.ch-tooltip.ch-cone[data-side=bottom] .ch-popover-content:before {
  border-bottom-color: #FBEED5; }

.ch-tooltip.ch-cone[data-side=bottom] .ch-popover-content:after {
  border-bottom-color: #FCF8E3; }

/**
 * Top side
 * lblt, cbct, rbrt
 */
.ch-tooltip.ch-cone[data-side=top] .ch-popover-content:before {
  border-top-color: #FBEED5; }

.ch-tooltip.ch-cone[data-side=top] .ch-popover-content:after {
  border-top-color: #FCF8E3; }

/**
 * Right side
 * ltrt, lmrm, lbrb
 */
.ch-tooltip.ch-cone[data-side=right] .ch-popover-content:before {
  border-right-color: #FBEED5; }

.ch-tooltip.ch-cone[data-side=right] .ch-popover-content:after {
  border-right-color: #FCF8E3; }

/**
 * Left side
 * rtlt, rmlm, rblb
 */
.ch-tooltip.ch-cone[data-side=left] .ch-popover-content:before {
  border-left-color: #FBEED5; }

.ch-tooltip.ch-cone[data-side=left] .ch-popover-content:after {
  border-left-color: #FCF8E3; }

/**
 * Transition
 */
.ch-transition {
  overflow: auto;
  padding: 40px;
  box-shadow: 0 3px 14px #444;
  text-align: center; }

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 10px 0; }

h1 {
  font-size: 22px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 15px; }

h6 {
  font-size: 14px; }

/**
 * Box Headings
 */
[class*="ch-box"] h1,
[class*="ch-box"] h2,
[class*="ch-box"] h3,
[class*="ch-box"] h4,
[class*="ch-box"] h5,
[class*="ch-box"] h6 {
  margin-top: 0; }

/**
 * Links
 */
a,
a:active,
a:link {
  color: #0033BB;
  text-decoration: none; }

a:visited {
  color: #880099; }

a:hover,
a:focus {
  text-decoration: underline; }

/**
 * Price
 */
.ch-price {
  color: #900;
  font-size: 16px;
  font-weight: bold; }
  .ch-price sup {
    font-size: 10px;
    vertical-align: text-top;
    line-height: 1em; }
  .ch-price span {
    color: #4d4d4d;
    font-size: 13px;
    font-weight: normal; }

/* IE */
.lt-ie9 .ch-price sup {
  font-size: 12px; }

/*# sourceMappingURL=chico.css.map */
