// *************************************
//
//   Menu Mobile
//
// *************************************

$menu-border: 1px solid $main-border-color;
$menu-border-radius: 5px;

$menu-row-border-bottom: 1px dotted $gray-500;

$menu-row-icon-color: $gray-700;

$menu-list-border-bottom: 1px solid $main-border-color;