// *************************************
//
//   Menu Mobile
//
// *************************************

$menu-border:						1px solid #dedede;
$menu-border-radius:				5px;

$menu-row-border-bottom:			1px dotted #ccc;

$menu-row-icon-color:				 #999;

$menu-list-border-bottom:			1px solid #dedede;