// *************************************
//
//   Datepicker UI
//
// *************************************

$datepicker-day-hover-bg-color:		$main-secondary-color;
$datepicker-day-hover-text-color:	$main-text-color;

$datepicker-bg-image:				none;
$datepicker-bg-color:				$main-neutral-color;
$datepicker-border:					1px solid $main-border-color;
$datepicker-min-width:				240px;