// *************************************
//
//   Datepicker
//
// *************************************

// -------------------------------------
//   Skin variables
// -------------------------------------

$datepicker-day-hover:				$components-hover-bg-color;

$datepicker-bg-image:				none;
$datepicker-bg-color:				#fff;
$datepicker-border:					1px solid #dedede;
$datepicker-min-width:				240px;

// -------------------------------------
//   Structure variables
// -------------------------------------