// > Buttons UI
// ----------------------------------------------------------------

$btn-ie-filter-start-bg-color: #3e52a1 !default;
$btn-ie-filter-end-bg-color: #2d3277 !default;

$btn-hover-ie-filter-start-bg-color: #4355d2 !default;
$btn-hover-ie-filter-end-bg-color: #2f33ae !default;

$btn-active-ie-filter-start-bg-color: #0f1534 !default;
$btn-active-ie-filter-end-bg-color: #171c41 !default;

$btn-skin-ie-filter-start-bg-color: #cce3f7 !default;
$btn-skin-ie-filter-end-bg-color: #aad0ef !default;

$btn-skin-hover-ie-filter-start-bg-color: #dcecfb !default;
$btn-skin-hover-ie-filter-end-bg-color: #c5dff5 !default;

$btn-skin-active-ie-filter-start-bg-color: #a2c9e1 !default;
$btn-skin-active-ie-filter-end-bg-color: #7db7dc !default;

$btn-skin-disabled-ie-filter-start-bg-color: $main-neutral-color !default;
$btn-skin-disabled-ie-filter-end-bg-color: #e6e6e6 !default;
$btn-skin-disabled-ie-opacity: 50 !default;

$btn-line-height: 20px !default;
$btn-padding: 5px 10px !default;

$btn-large-line-height: 1.25em !default;
$btn-large-padding: 6px 12px !default;

$btn-small-text-size: $font__smaller !default;
$btn-small-line-height: 12px !default;
$btn-small-padding: 5px 8px !default;
