// > Datepicker UI
// ----------------------------------------------------------------

$datepicker-day-hover-bg-color: $main-secondary-color !default;
$datepicker-day-hover-text-color: $main-text-color !default;

$datepicker-bg-image: none !default;
$datepicker-bg-color: $main-neutral-color !default;
$datepicker-border: 1px solid $main-border-color !default;
$datepicker-min-width: 240px !default;
