/**
 * Pagination
 */
@import 'pagination-variables';
@import '../../shared/styles/pagination';

.ch-pagination .ch-pagination-current a:hover {
    border: $pagination-current-hover-border;
    background-color: $pagination-current-hover-bg-color;
    color: $pagination-current-hover-text-color;
}

.ch-pagination li a:hover {
    color: $pagination-to-select-hover-text-color;
    text-decoration: none;
    background-color: $pagination-to-select-hover-bg-color;
    border: 1px solid $pagination-to-select-hover-border;
}

.ch-pagination .ch-pagination-sequence a {
    border-color: $pagination-next-and-prev-border;

    &:hover {
        border-color: $pagination-next-and-prev-hover-border;
    }
}
