// > Pagination UI
// ----------------------------------------------------------------

$pagination-current-hover-bg-color: $main-border-color !default;
$pagination-current-hover-border: 1px solid $main-border-color !default;
$pagination-current-hover-text-color: $main-primary-color !default;

$pagination-next-and-prev-border: $main-neutral-color !default;
$pagination-next-and-prev-hover-border: $main-primary-color !default;

$pagination-to-select-hover-bg-color: #2b37b2 !default;
$pagination-to-select-hover-border: #2b37b2 !default;
$pagination-to-select-hover-text-color: $main-neutral-color !default;
