// > Tabs UI
// ----------------------------------------------------------------

// >>> Tab
// --------------------------------------------

$tab-border-width: 1px !default;
$tab-border: $tab-border-width solid $gray-400 !default;
$tab-bg-color: $main-neutral-color !default;
$tab-border-radius: 5px 5px 0 0 !default;
$tab-cursor: pointer !default;

$tab-text-decoration: none !default;
$tab-text-color: $gray-900 !default;

// >>> Tab hover
// --------------------------------------------

$tab-hover-bg-color: $gray-100 !default;

// >>> Tab active
// --------------------------------------------

$tab-active-bg-color: $gray-100 !default;

$tab-trigger-bg-color: $gray-100 !default;
$tab-trigger-bg-color-secondary: $main-neutral-color !default;
$tab-trigger-border-bottom: 1px solid $main-neutral-color !default;
$tab-trigger-text-weigth: bold !default;
$tab-trigger-box-shadow: 2px 0 2px $main-text-shadow-color !default;

$tabs-component-margin: 10px 0 !default;

$tab-margin: 0 !default;

$tab-group-margin: 0 0 0 10px !default;

// >>> Tab
// --------------------------------------------

$tab-padding: 3px 12px !default;
$tab-margin: 0 0 0 2px !default;
