<script type="text/javascript">
    /* Analytics */
    (function(a, b) {
        a.GoogleAnalyticsObject = b;
        a['MeliAnalyticsData'] = {'dimensions': {'deviceLayout': 'desktop','business': 'NONE','pageVertical': 'NONE'}};
        a[b] = a[b] || function() {
                    (a[b].q = a[b].q || []).push(arguments)
                };
        a[b].l = 1 * new Date
    })(window, "meli_ga");
    meli_ga("set", "title", "app-chico-frontend-0.8.5");
    meli_ga("set", "page", "/CHICO/");
    meli_ga('send', 'pageview');
    (function(b, d) {
        var a = b.createElement("iframe");
        (a.frameElement || a).style.cssText = "width: 0; height: 0; border: 0; position: absolute";
        a.src = "javascript:false";
        a.id = "GoogleAnalyticsIframe";
        var c = b.getElementsByTagName("script")[0];
        c.parentNode.insertBefore(a, c);
        a = a.contentWindow.document;
        a.open().write("<body onload=\"var js = document.createElement('script');js.src = '" + d + "';document.body.appendChild(js);\">");
        a.close()
    })(document, "http://analytics.mlstatic.com/ga/mla-ml-analytics.min.js");
</script>
