{% case page.version %}
    {% when "1x_mobile" %}
        {% assign chico_current_version = site.chico_version_1x %}
        {% assign chico_current_platform = site.chico_platform_mobile %}
    {% when "1x_ui" %}
        {% assign chico_current_version = site.chico_version_1x %}
        {% assign chico_current_platform = site.chico_platform_ui %}
    {% when "2x_mobile" %}
        {% assign chico_current_version = site.chico_version_2x %}
        {% assign chico_current_platform = site.chico_platform_mobile %}
    {% else %}
        {% assign chico_current_version = site.chico_version_2x %}
        {% assign chico_current_platform = site.chico_platform_ui %}
{% endcase %}

<section class="chico-bg-noise chico-head">
    <div class="ml-bounds mesh-row">
        <span class="mesh-col-12">
            v{{ chico_current_version }} {{ chico_current_platform }}
        </span>
        <h1 class="mesh-col-12">
            Components
        </h1>
        <h3 class="mesh-col-12">
            Amazing components built to provide dropdowns, input groups, navigation, modals, and much more.
        </h3>
    </div>
</section>
