<header class="ml-header" id="top" role="banner">
    <div class="ml-header-inner">
        <a class="ml-logo-mobile" href="{{ site.baseurl }}/">
            <h1 class="ml-title">
                Chico UI
            </h1>
        </a>
        <a class="ml-logo" href="{{ site.baseurl }}/">
            <span class="ch-brand-name">
                Chico UI
            </span>
        </a>
        <label class="toggle-label" for="toggle-menu"></label>
        <input type="checkbox" class="toggle-input" id="toggle-menu">

        <nav class="ml-navigation" role="navigation">
            <ul>
                <li class="ml-navigation-item ml-navigation-account">
                    <a class="{% if page.id == 'getting-started' %} active{% endif %}"
                        href="{{ site.baseurl }}/{{ chico_current_path_base }}{{ site.chico_path_getting_started }}">
                        Getting started
                    </a>
                </li>
                <li class="ml-navigation-item ml-navigation-account">
                    <a class="{% if page.id == 'layout' %} active{% endif %}"
                        href="{{ site.baseurl }}/{{ chico_current_path_base }}{{ site.chico_path_layout }}">
                        Layout
                    </a>
                </li>
                <li class="ml-navigation-item ml-navigation-account">
                    <a class="{% if page.id == 'components' %} active{% endif %}"
                        href="{{ site.baseurl }}/{{ chico_current_path_base }}{{ site.chico_path_components }}">
                        Components
                    </a>
                </li>
                <li class="ml-navigation-item ml-navigation-account">
                    <a class="api-doc {% if page.id == 'api-doc' %} active{% endif %}"
                        href="{{ site.baseurl }}/{{ site.chico_path_api_doc }}{{ chico_current_version }}/{{ chico_current_platform }}/{{ site.chico_path_api_doc_namespace }}">
                        API
                    </a>
                </li>
            </ul>
        </nav>

        <div class="ml-navicon action-right"><span></span><span></span><span></span></div>

        <nav class="ml-header-menu">
            <a class="{% if page.id == 'getting-started' %} active{% endif %}"
                href="{{ site.baseurl }}/{{ chico_current_path_base }}{{ site.chico_path_getting_started }}">
                Getting started
            </a>
            <a class="{% if page.id == 'layout' %} active{% endif %}"
                href="{{ site.baseurl }}/{{ chico_current_path_base }}{{ site.chico_path_layout }}">
                Layout
            </a>
            <a class="{% if page.id == 'components' %} active{% endif %}"
                href="{{ site.baseurl }}/{{ chico_current_path_base }}{{ site.chico_path_components }}">
                Components
            </a>
            <a class="{% if page.id == 'api-doc' %} active{% endif %}"
                href="{{ site.baseurl }}/{{ site.chico_path_api_doc }}{{ chico_current_version }}/{{ chico_current_platform }}/{{ site.chico_path_api_doc_namespace }}">
                API
            </a>
        </nav>
    </div>
</header>
