<head>
    <!-- Define the charset always before the title -->
    <meta charset="utf-8"/>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="cleartype" content="on"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" href="{% asset_path ninja.ico %}">

    <!-- Font -->
    <link rel="stylesheet" href="http://static.mlstatic.com/org-img/ui/font/lato/v11/300-400-700.min.css">

    <!-- Chico -->
    {% stylesheet ui/chico %}

    {% stylesheet mesh.min %}
    {% stylesheet base__small %}
    {% stylesheet base__large media='(min-width: 768px)' %}
    {% stylesheet chico__small %}
    {% stylesheet chico__large media='(min-width: 768px)' %}
    {% stylesheet ui-slug_element_component %}

    {% stylesheet ml-header %}
    {% stylesheet gh-pages %}
    {% stylesheet prism %}

    <!--[if lt IE 9]>
        {% stylesheet base__large %}
        {% stylesheet chico__large %}
    <![endif]-->
</head>
