<ul id="nav-sections">
    <li>
        <a href="#autocomplete" data-section="autocomplete">Autocomplete</a>
    </li>
    <li>
        <a href="#expandable" data-section="expandable">Expandable</a>
    </li>
    <li>
        <a href="#menu" data-section="menu">Menu</a>
    </li>
    <li>
        <a href="#dropdown" data-section="dropdown">Dropdown</a>
    </li>
    <li>
        <a href="#tooltip" data-section="tooltip">Tooltip</a>
    </li>
    <li>
        <a href="#layer" data-section="layer">Layer</a>
    </li>
    <li>
        <a href="#modal" data-section="modal">Modal</a>
    </li>
    <li>
        <a href="#transition-window" data-section="transition-window">Transition</a>
    </li>
    <li>
        <a href="#zoom" data-section="zoom">Zoom</a>
    </li>
    <li>
        <a href="#carousel" data-section="carousel">Carousel</a>
    </li>
    <li>
        <a href="#tabs" data-section="tabs">Tabs</a>
    </li>
    <li>
        <a href="#calendar" data-section="calendar">Calendar</a>
    </li>
    <li>
        <a href="#datepicker" data-section="datepicker">Datepicker</a>
    </li>
    <li>
        <a href="#countdown" data-section="countdown">Countdown</a>
    </li>
    <li>
        <a href="#bubble" data-section="bubble">Bubble</a>
    </li>
    <li>
        <a href="#validations" data-section="validations">Validations</a>
    </li>
</ul>
