<ul id="nav-sections">
    <li>
        <a class="" href="#headings" data-section="headings">Headings</a>
    </li>
    <li>
        <a class="" href="#paragraphs" data-section="paragraphs">Paragraphs</a>
    </li>
    <li>
        <a class="" href="#links" data-section="links">Links</a>
    </li>
    <li>
        <a class="" href="#lists" data-section="lists">Lists</a>
    </li>
    <li>
        <a class="" href="#boxes" data-section="boxes">Boxes</a>
    </li>
    <li>
        <a class="" href="#wizard" data-section="wizard">Wizard</a>
    </li>
    <li>
        <a class="" href="#buttons" data-section="buttons">Buttons</a>
    </li>
    <li>
        <a class="" href="#autocomplete" data-section="autocomplete">Autocomplete</a>
    </li>
    <li>
        <a class="" href="#pagination" data-section="pagination">Pagination</a>
    </li>
    <li>
        <a class="" href="#tables" data-section="tables">Tables</a>
    </li>
    <li>
        <a class="" href="#expandable" data-section="expandable">Expandable</a>
    </li>
    <li>
        <a class="" href="#menu" data-section="menu">Menu</a>
    </li>
    <li>
        <a class="" href="#dropdown" data-section="dropdown">Dropdown</a>
    </li>
    <li>
        <a class="" href="#tooltip" data-section="tooltip">Tooltip</a>
    </li>
    <li>
        <a class="" href="#layer" data-section="layer">Layer</a>
    </li>
    <li>
        <a class="" href="#bubble" data-section="bubble">Bubble</a>
    </li>
    <li>
        <a class="" href="#modal" data-section="modal">Modal</a>
    </li>
    <li>
        <a class="" href="#transition-window" data-section="transition-window">Transition</a>
    </li>
    <li>
        <a class="" href="#zoom" data-section="zoom">Zoom</a>
    </li>
    <li>
        <a class="" href="#carousel" data-section="carousel">Carousel</a>
    </li>
    <li>
        <a class="" href="#tabs" data-section="tabs">Tabs</a>
    </li>
    <li>
        <a class="" href="#badges" data-section="badges">Badges</a>
    </li>
    <li>
        <a class="" href="#icons" data-section="icons">Icons</a>
    </li>
    <li>
        <a class="" href="#calendar" data-section="calendar">Calendar</a>
    </li>
    <li>
        <a class="" href="#datepicker" data-section="datepicker">Datepicker</a>
    </li>
    <li>
        <a class="" href="#countdown" data-section="countdown">Countdown</a>
    </li>
    <li>
        <a class="" href="#forms" data-section="forms">Forms</a>
    </li>
</ul>
