<ul id="nav-sections">
    <li>
        <a class="" href="#headings" data-section="headings">Headings</a>
    </li>
    <li>
        <a class="" href="#paragraphs" data-section="paragraphs">Paragraphs</a>
    </li>
    <li>
        <a class="" href="#links" data-section="links">Links</a>
    </li>
    <li>
        <a class="" href="#lists" data-section="lists">Lists</a>
    </li>
    <li>
        <a class="" href="#boxes" data-section="boxes">Boxes</a>
    </li>
    <li>
        <a class="" href="#wizard" data-section="wizard">Wizard</a>
    </li>
    <li>
        <a class="" href="#buttons" data-section="buttons">Buttons</a>
    </li>
    <li>
        <a class="" href="#autocomplete" data-section="autocomplete">Autocomplete</a>
    </li>
    <li>
        <a class="" href="#pagination" data-section="pagination">Pagination</a>
    </li>
</ul>
