// *************************************
//
//   Wizard UI
//
// *************************************

$wizard-bg-color:						 $main-neutral-color;
$wizard-border-color:					 $main-border-color;
$wizard-border:							 1px solid $wizard-border-color;
$wizard-border-radius:					 5px;

// ----- Actions ----- //

$wizard-actions-bg-color:				 $gray-100; // #f0f0f0;
$wizard-actions-border:					 1px solid $main-border-color;
$wizard-actions-border-radius:			 0 0 5px 5px;

// ----- Breadcrumb ----- //

$wizard-breadcrumb-border-bottom:		 1px solid $main-border-color;
$wizard-breadcrumb-text-position:		 center;
$wizard-breadcrumb-text-color:			 $gray-500; //$gray-lightest;

$wizard-breadcrumb-height:				 42px;
$wizard-breadcrumb-border-color:		 $gray-400;

// ----- Breadcrumb pointer ----- //

$wizard-breadcrumb-current-text-weight:  bold;
$wizard-breadcrumb-current-text-color:	 $gray-900;
$wizard-breadcrumb-pointer-content-color: $gray-100;

// ************************************* //
// Constants
// ************************************* //

$pointer-content-primary: 				 ($wizard-breadcrumb-height / 2) + 3;
$pointer-content-secondary: 			 $pointer-content-primary / 2;
$wizard-breadcrumb-pointer-content-size: $pointer-content-primary $pointer-content-secondary;

$pointer-border-primary:				 $pointer-content-primary - 1;
$pointer-border-secondary:				 $pointer-content-secondary - 1; 
$wizard-breadcrumb-pointer-border-size:  $pointer-border-primary $pointer-border-secondary;

// ************************************* //

// ----- Breadcrumb link ----- //

$wizard-breadcrumb-link-bg-color:		 $wizard-actions-bg-color;

$wizard-margin:							0 0 10px 0;
$wizard-actions-padding:				10px 20px;
