# OS or Editor folders
.DS_Store
thumb.db
.cache
.project
.settings
.idea
nbproject
*.sublime-project
*.sublime-workspace

# Project's folders to ignore
.sass-cache/
experiment
node_modules
npm-debug.log
temp
build
doc
