/**
 * Navigation boilerplate
 * @description: A responsive frame to wrap your layout. Use only the fragments you need.
 */

/* Chico overwrites
---------------------------------------------------------------*/

a.ch-btn,
a.ch-btn:focus,
a.ch-btn:visited {
   color: #fff;
}

a.ch-btn-skin,
a.ch-btn-skin:focus,
a.ch-btn-skin:visited {
    color: #476274;
}

/* Base
---------------------------------------------------------------*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}


/* Bounds
---------------------------------------------------------------*/

.ml-bounds {
    display: block;
    padding: 0 10px;
}

.ml-wrapper {
    min-height: 100%;
    padding-bottom: 1em;
}

    .ml-wrapper:after {
        content: '';
        display: block;
        height: 95px; /* same as footer height */
    }


/* Header
---------------------------------------------------------------*/

.ml-header {
    background-color: #fff059;
    background-image: -webkit-linear-gradient(#fdee4c 50%, #f0da16);
    background-image: linear-gradient(#fdee4c 50%, #f0da16);
    border-bottom: 1px solid #d9d9d9;
    color: #5b562f;
    height: 44px; /* It changes in bigger devices */
    margin-bottom: 1em;
    position: relative;
}


/* Title of the page
---------------------------------------------------------------*/

.ml-header h1 {
    font-size: 1.2em;
    line-height: 44px; /* same as header height. It changes in small devices */
    margin: 0;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
}

/* Hidden elements from bigger devices
---------------------------------------------------------------*/

.ml-logo,
.ml-header-menu {
    display: none;
}


/* Header buttons
---------------------------------------------------------------*/

.ml-header-btn {
    background-image: -webkit-linear-gradient(transparent 25%, rgba(99, 99, 99, .12));
    background-image: linear-gradient(transparent 25%, rgba(99, 99, 99, .12));
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: inset 0 1px rgba(255, 255, 255, .75);
    font-size: .9em;
    height: 30px;
    left: 7px; /* keep the same distance as top */
    line-height: 30px;
    padding: 0 10px;
    position: absolute;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    top: 7px; /* difference between header height and button height */
}

.ml-header-btn,
.ml-header-btn:visited,
a.ml-header-btn,
a.ml-header-btn:visited {
    color: inherit;
    text-decoration: none;
}

.ml-header-btn:active {
    background-image: -webkit-linear-gradient(rgba(99, 99, 99, .12) 25%, rgba(99, 99, 99, .2));
    background-image: linear-gradient(rgba(99, 99, 99, .12) 25%, rgba(99, 99, 99, .2));
    box-shadow: inset 0 1px rgba(99, 99, 99, .2);
}

.ml-header-action {
    left: auto;
    right: 7px; /* keep the same distance as top */
}


/* Footer
---------------------------------------------------------------*/

.ml-footer {
    color: #999;
    font-size: 13px;
    height: 95px; /* same as ml-wrapper:after size */
    margin-top: -95px; /* same as height */
    overflow: hidden;
}

    .ml-footer small {
        font-size: inherit;
        line-height: 4em;
    }

    .ml-footer-nav {
        display: none;
    }

.ml-footer-user {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: .9em;
}

    .ml-footer-user .ch-btn-skin {
        margin-right: 1em;
    }

/* Contextual layout
---------------------------------------------------------------*/

.ml-contextual .ml-wrapper {
    background-color: #f7f7f7;
}

.ml-contextual .ml-footer-user {
    background-color: transparent;
    border-bottom: 1px solid #eee;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}
