// *************************************
//
//   Tags Mobile
//
// *************************************

$tag-bg-color:				#f4f4f4;
$tag-border:				1px solid #dedede;
$tag-border-radius:			5px;
$tag-text-color:			#666;
$tag-text-size:				14px;

$tag-margin:				4px 0 0;

$tag-padding:				3px 30px 3px 10px;

	// Text-shadow

	$tag-text-shadow-top:	0;
	$tag-text-shadow-left:	1px;
	$tag-text-shadow-blur:	1px;
	$tag-text-shadow-color: #fff;

$tag-active-bg-color:		#e9e9e9;

$tag-icon-margin:			-9px 0 0 0;
$tag-icon-text-color:		#999;