<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Watcher - TestCases</title>
	<link rel="stylesheet" type="text/css" href="http://chico.com:8080/latest/css">
	<link href="../libs/css/qunit.css" rel="stylesheet">
	
	<style>
		.testCarousel li,
		.testCarousel2 li, 
		.testCarousel3 li{
			width:120px;
			height:120px;
		}
	</style>
</head>
<body>

	<!-- #body -->
	<h1>Chico-UI: Watcher testcases</h1>
	<div class="box">
		<h2>Demo</h2>
		
		<p><strong>Tipos de validación:</strong> E-mail, Url, Campo obligatorio, Campo numérico, Valor numérico mínimo, Valor numérico máximo, Rango de números, Cantidad mínima de caracteres, Cantidad máxima de caracteres.</p><br>
		
		<form action="test.html" id="testFormForWatcher">
			<fieldset>
				<legend>Casos de uso de Input</legend>
				<p class="required">* Datos obligatorios</p>
				<ol>
					<li class="field-box">
						<label class="required" for="val_custom">
							<span>Custom field: <em>*</em></span>												 
							<input type="email" id="val_custom" required="required">
						</label>
						<p class="help">Escribe una descripción corta y clara</p>
					</li>
					<li class="field-box">
						<label class="required" for="val_title">
							<span>Titulo: <em>*</em></span>												 
							<input type="email" id="val_title" required="required">
						</label>
						<p class="help">Escribe una descripción corta y clara</p>
					</li>
					<li class="field-box">
						<label class="required" for="val_email">
							<span>E-mail: <em>*</em></span>												 
							<input type="email" id="val_email" required="required">
						</label>
						<p class="help">Escribe una descripción corta y clara</p>
					</li>
					<li class="field-box">
						<label for="val_url">
							<span>URL:</span>
							<input type="url" id="val_url">
						</label>
					</li>
					<li class="field-box">
						<label for="val_number">
							<span>Campo numérico:</span>
							<input type="number" id="val_number" min="20">
						</label>
					</li>
					<li class="field-box">
						<label for="val_range">
							<span>Rango de números:</span>
							<input type="range" id="val_range" min="1" max="10">
						</label>
					</li>
					<li class="field-box">
						<label for="val_price">
							<span>Price:</span>
							<input type="number" id="val_price">
						</label>
					</li>
					<li class="field-box">
						<label class="required disabled" for="val_required_disabled">
							<span>Required disabled: <em>*</em></span>
							<input type="text" id="val_required_disabled" required="required" disabled="disabled">
						</label>
					</li>
					<li class="field-box">
						<label for="val_length">
							<span>Caracteres:</span>
							<input type="text" id="val_length">
						</label>
					</li>
				</ol>
			</fieldset>

			<fieldset>
				<legend>Casos de uso de Select</legend>
				<ul>
					<li class="field-box">
						<label for="val_selectM">
							<span>Campo múltiple:</span>
							<select id="val_selectM" multiple="multiple" size="4">
								<option value="1">Opción 1</option>
								<option value="2">Opción 2</option>
								<option value="3">Opción 3</option>
								<option value="4">Opción 4</option>
							</select>
						</label>
					</li>
					
					<li class="field-box">
						<label for="val_select1">
							<span>Campo común:</span>
							<select id="val_select1">
								<option value="-1">Selecciona...</option>
								<option value="1">Opción 1</option>
								<option value="2">Opción 2</option>
								<option value="3">Opción 3</option>
								<option value="4">Opción 4</option>
							</select>
						</label>
					</li>
		
					<li class="field-box">
						<label for="val_select2" class="required">
							<span>Obligatorio: <em>*</em></span>
							<select id="val_select2" required="required">
								<option value="-1">Selecciona...</option>
								<option value="1">Opción 1</option>
								<option value="2">Opción 2</option>
								<option value="3">Opción 3</option>
								<option value="4">Opción 4</option>
							</select>
						</label>
					</li>
		
					<li class="field-box">
						<label for="val_select3" class="required disabled">
							<span>Required disabled: <em>*</em></span>
							<select id="val_select3" required="required" disabled="disabled">
								<option value="-1">Selecciona...</option>
								<option value="1">Opción 1</option>
								<option value="2">Opción 2</option>
								<option value="3">Opción 3</option>
								<option value="4">Opción 4</option>
							</select>
						</label>
					</li>
		
					<li class="field-box">
						<label for="val_select4" class="disabled">
							<span>Disabled:</span>
							<select id="val_select4" disabled="disabled">
								<option value="-1">Selecciona...</option>
								<option value="1">Opción 1</option>
								<option value="2">Opción 2</option>
								<option value="3">Opción 3</option>
								<option value="4">Opción 4</option>
							</select>
						</label>
					</li>
				</ul>
			</fieldset>

			<fieldset>
				<legend>Checkbox</legend>
				<div class="val_check1 options">
					<h4>Label de grupo de checkboxes:</h4>
					<ul>
						<li class="field-box">
							<label for="val_check1a">
								<input type="checkbox" value="alpha" id="val_check1a" name="version1">
								<span>Alpha</span>
							</label>
						</li>
			
						<li class="field-box">
							<label for="val_check1b">
								<input type="checkbox" value="beta" id="val_check1b" name="version1">
								<span>Beta</span>
							</label>
						</li>
					</ul>
				</div>
			</fieldset>

			<fieldset>
				<legend>Legend de grupo obligatorio <em>*</em></legend>
				<div class="val_check2 options required">
					<ul>
						<li class="field-box">
							<label for="val_check2a">
								<input type="checkbox" value="alpha" id="val_check2a" name="version2">
								<span>Alpha</span>
							</label>
						</li>
			
						<li class="field-box">
							<label for="val_check2b">
								<input type="checkbox" value="beta" id="val_check2b" name="version2">
								<span>Beta</span>
							</label>
						</li>
					</ul>
				</div>
			</fieldset>

			<fieldset>
				<legend>Legend de grupo de checkboxes</legend>
				<div class="val_check3 required options">
					<h4>Label de grupo obligatorio: <em>*</em></h4>
					<ul>
						<li class="field-box">
							<label for="val_check3a">
								<input type="radio" value="alpha" id="val_check3a" name="version3">
								<span>Alpha</span>
							</label>
						</li>
			
						<li class="field-box">
							<label for="val_check3b">
								<input type="radio" value="beta" id="val_check3b" name="version3">
								<span>Beta</span>
							</label>
						</li>
					</ul>
				</div>
			</fieldset>

			<fieldset>
				<legend>Radio buttons</legend>
				<div class="val_radio1 options">
					<ul>
						<li class="field-box">
							<label for="val_radio1a">
								<input type="radio" value="alpha" id="val_radio1a" name="version4">
								<span>Alpha</span>
							</label>
						</li>
			
						<li class="field-box">
							<label for="val_radio1b">
								<input type="radio" value="beta" id="val_radio1b" name="version4">
								<span>Beta</span>
							</label>
						</li>
					</ul>
				</div>
			</fieldset>
			
			<fieldset>
				<legend>Radio buttons obligatorios <em>*</em></legend>
				<div class="val_radio2 options required">
					<ul>
						<li class="field-box">
							<label for="val_radio2a">
								<input type="radio" value="alpha" id="val_radio2a" name="version5">
								<span>Alpha</span>
							</label>
						</li>
			
						<li class="field-box">
							<label for="val_radio2b">
								<input type="radio" value="beta" id="val_radio2b" name="version5">
								<span>Beta</span>
							</label>
						</li>
					</ul>
				</div>
			</fieldset>
			
			<fieldset>
				<legend>Legend de grupo de Radio buttons</legend>
				<div class="val_radio3 options required">
					<h4 class="required">Radio buttons obligarorios: <em>*</em></h4>
					<ul>
						<li class="field-box">
							<label for="val_radio3a">
								<input type="radio" value="alpha" id="val_radio3a" name="version6">
								<span>Alpha</span>
							</label>
						</li>
			
						<li class="field-box">
							<label for="val_radio3b">
								<input type="radio" value="beta" id="val_radio3b" name="version6">
								<span>Beta</span>
							</label>
						</li>
					</ul>
				</div>
			</fieldset>

			<fieldset>
				<legend>Textarea</legend>
				<ul>
					<li class="field-box">
						<label for="val_textarea1">
							<span>Textarea:</span>
							<textarea id="val_textarea1"></textarea>
						</label>
					</li>
		
					<li class="field-box">
						<label for="val_textarea2" class="required">
							<span>Obligatorio: <em>*</em></span>
							<textarea id="val_textarea2" required="required"></textarea>
						</label>
					</li>
		
					<li class="field-box">
						<label for="val_textarea3" class="required disabled">
							<span>Required disabled: <em>*</em></span>
							<textarea id="val_textarea3" required="required" disabled="disabled"></textarea>
						</label>
					</li>
		
					<li class="field-box">
						<label for="val_textarea4" class="disabled">
							<span>Disabled:</span>
							<textarea id="val_textarea4" disabled="disabled"></textarea>
						</label>
					</li>
				</ul>
			</fieldset>

			<p class="actions">
				<input type="submit" value="Enviar" class="btn primary">
				<a href="#">Cancelar</a>
			</p>
		</form>
	</div><!-- #body -->
	<hr>

	<h1 id="qunit-header">QUnit Test Suite</h1>
	<h2 id="qunit-banner"></h2>
	<div id="qunit-testrunner-toolbar"></div>
	<h2 id="qunit-userAgent"></h2>
	<ol id="qunit-tests"></ol>
	<div id="qunit-fixture">test markup</div>

	<script src="../libs/js/jquery.js"></script>
	<script src="../libs/js/qunit.js"></script>
	<script src="http://chico.com:8080/latest/js"></script>
	<script src="functions.js"></script>

<!-- #script -->
	<script>
		
		$.fx.off = true;
		
		var testForm = $("#testFormForWatcher").form();

		var customVal = function (value) { // recibe the input value
		  if (value=="Chico-UI") {
			  return true; // return true if is OK
		  }
		  return false; // return false otherwise
		};

		var onErrorCallback = false;
		var beforeValidateCallback = false;
		var afterValidateCallback = false;

		var nv0 = $('#val_custom').custom({
			lambda: customVal,
			msg: "Some custom validation message, value equals to: Chico-UI",
			beforeValidate: function () { beforeValidateCallback = true; },
			afterValidate: function () { afterValidateCallback = true; },
			onError: function () { onErrorCallback = true; }
		});
		var nv1 = $('#val_title')
					 .maxLength(10,'<%= t9n.tr(s:"El campo debe tener menos de 60 caracteres.")%>')
					 .and()
					 .minLength(3) //,'<%= t9n.tr(s:"El campo debe tener más de 3 caracteres.")%>');
					 .and()
					 .required('<%= t9n.tr(s:"El título es obligatorio.")%>'); 
					 

		var nv2 = $('#val_email').email("Por favor ingresa un email").and().required().and().minLength(20);
		var nv3 = $('#val_url').url("Insert a valid URL");
		var nv4 = $('#val_number').min(20,"Min 20 chars");
		var nv5 = $('#val_range').min(1,"Min value 1").and().max(10,"Max value 10");
		var nv6 = $('#val_length').maxLength(20,"Max chars 20").and().minLength(6,"Min chars 6");
		var nv7 = $('#val_required_disabled, #val_select2, #val_select3, .val_check2, .val_check3, .val_radio2, .val_radio3, #val_textarea2, #val_textarea3').required("This field is required");
		var nv8 = $("#val_price").price("Por favor ingresa un precio válido.");
		var nv9 = $('#val_selectM').required("This field is required");
		 
		/**
		 * Test Cases
		 */
		
		// Reuse this functions for basics tests on Watcher's interfaces:
		
		var interfaceCheck = function (e, i) {
			
			ok(e.uid >= 0, "Expected to find a defined content on the watcher instance");
			
			ok(e.type == "watcher", "Expected to find \"watcher\" as value of type attribute");
						
			ok(typeof e.conditions[i], "Expected to find a "+i+" type condition on the watcher instance");			
			
		}
		
		var publicMethodsCheck = function (e) {
			
			ok(typeof e.disable == "function","Expected to find a \"disabled\" public method");
			
			ok(typeof e.enable == "function","Expected to find a \"enable\" public method");
			
			ok(typeof e.refresh == "function","Expected to find a \"refresh\" public method");
			
			ok(typeof e.reset == "function","Expected to find a \"reset\" public method");
			
			ok(typeof e.validate == "function","Expected to find a \"validate\" public method");
		}
		
		module("Watcher basics instance object");
		
		test("Basics for Custom Watcher instance", function () { 

			interfaceCheck(nv0, "custom");
			
			publicMethodsCheck(nv0);
			
		});

		test("Basics for Required Watcher instance", function () { 

			interfaceCheck(nv1, "required");
			
			publicMethodsCheck(nv1);
			
		});

		test("Basics for Email Watcher instance", function () { 

			interfaceCheck(nv2, "email");
			
			publicMethodsCheck(nv2);
			
		});

		test("Basics for Url Watcher instance", function () { 

			interfaceCheck(nv3, "url");
			
			publicMethodsCheck(nv3);
			
		});

		test("Basics for Min and Max Watcher instance", function () { 

			interfaceCheck(nv4, "min");
			
			publicMethodsCheck(nv4);
			
		});

		test("Basics for Min and Max (aka range) Watcher instance", function () { 

			interfaceCheck(nv5, "min");
			
			interfaceCheck(nv5, "max");
			
			publicMethodsCheck(nv5);
			
		});

		test("Basics for MinLength and MaxLength Watcher instance", function () { 

			interfaceCheck(nv6, "minLength");
			
			interfaceCheck(nv6, "maxLength");
			
			publicMethodsCheck(nv6);
			
		});

		test("Basics for multiple required Watcher instance", function () { 

			$(nv7).each(function (i,e) { 
			
				interfaceCheck(e, "required");
							
			});
			
			publicMethodsCheck(nv7[0]);

			
		});

		test("Basics for price Watcher instance", function () { 

			interfaceCheck(nv8, "price");
			
			publicMethodsCheck(nv8);

			
		});

		test("Basics for single required Watcher instance", function () { 

			interfaceCheck(nv9, "required");
			
			publicMethodsCheck(nv9);
			
		})
	
		test("Watcher chain methods", function () { 
		  
			ok(nv0.disable().enable().validate(), "Expected to work chain methods");
			
		});

		test("Force error to check UI response", function () { 
		  
		  expect(3);
		  
		  ok(!$('.ch-helper')[0], "Expected not to find a helper until force error validation"); 
		  
		  // Force error with some value
		  $('#val_custom').val("Un valor distinto a 'Chico-UI'");
		  
		  ok(nv0.validate(), "Expected to recibe an object in response of method 'validate'");
			
		  ok($('.ch-helper')[0], "Expected to find a helper until force error validation"); 
		  
		});
		
		test("Force success to check UI response", function () { 

			expect(3);
			
		  // Force success with the expected value
		  $('#val_custom').val("Chico-UI");

		  ok($('.ch-helper')[0], "Expected to find a helper until force success validation"); 
		  
		  ok(nv0.validate(), "Expected to recibe an object in response of method 'validate'");

		  ok(!$('.ch-helper')[0], "Expected not to find a helper before force success validation");

		});

		module("Watcher basics callback functions");

		test("Check for beforeValidate callback", function () { 
			
			ok(beforeValidateCallback, "Expected to hear a beforeCallback");
			
		});

		test("Check for afterValidate callback", function () { 
			
			ok(afterValidateCallback, "Expected to hear a afterValidateCallback");
			
		});
		
		test("Check for onError callback", function () { 
			
			ok(onErrorCallback, "Expected to hear a onErrorCallback");
			
		});

	</script>

</body>
</html>
