<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>	<html class="no-js  lt-ie10 lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>	<html class="no-js lt-ie10 lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>	<html class="no-js lt-ie10 ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
	<head>
		<script></script>
		<meta charset="utf-8" />
		<title>Chico UI & Mobile</title>
		<style>
			.ch-g1-2, .ch-g1-4 {
				display: inline-block;
				vertical-align: top;
			}

			.ch-g1-2 {
				width: 49%;
			}

			.ch-g1-4 {
				width: 24%;
			}

		</style>
	</head>

	<body>
		<iframe src="../ui" height="300" width="100%" frameborder="0"></iframe>
		<hr>
		<iframe src="../mobile" height="300" width="100%" frameborder="0"></iframe>
	</body>
</html>
