/**
 * Reset
 * @based on: Eric Meyer
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, em, img, ins, q, s,
small, strong, sub, sup,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, audio, canvas,
datalist, details, dialog, figure, footer,
header, mark, menu, meter, nav, output,
progress, section, time, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

ol, ul, menu {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to highlight inserts somehow!*/
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup*/
table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Base
 */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

body {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  padding: 0 10px;
  /* Prevent layout "sticking" to the edge of the browser */
  background-color: #FFF;
  color: #333;
  margin: 0 auto; }

/**
 * Misc
 */
hr {
  border: none;
  border-bottom: 1px dashed #CCC; }

a img {
  border: none; }

p + p {
  margin-top: 1em; }

/**
 * Reset
 */
body {
  font-size: 14px;
  line-height: 21px; }

img {
  max-width: 100%; }

/**
 * Icons
 */
@font-face {
  font-family: 'icons';
  /*
   * IE9 Compat Modes
   * IE6-IE8
   * Modern Browsers
   * Safari, Android, iOS
   * Legacy iOS
   */
  src: url("../assets/icons.eot");
  src: url("../assets/icons.eot?#iefix") format("embedded-opentype"), url("../assets/icons.woff") format("woff"), url("../assets/icons.ttf") format("truetype"), url("../assets/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }
[class*='ch-icon-'] {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: .9em;
  height: 16px;
  width: 16px;
  font-size: 19px;
  margin: 5px; }

/**
 * Icons Size
 */
.ch-icon-large,
.ch-icon-x-large,
.ch-icon-xx-large {
  margin: 10px; }

.ch-icon-large {
  height: 24px;
  width: 24px;
  font-size: 26px; }

.ch-icon-x-large {
  height: 32px;
  width: 32px;
  font-size: 34px; }

.ch-icon-xx-large {
  height: 64px;
  width: 64px;
  font-size: 66px; }

[class*='ch-icon-']:before,
.ch-box-list li a:after,
.ch-tag:after {
  font-family: icons;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  display: inline-block; }

[class*='ch-icon-'],
.ch-tag:after {
  color: #666; }

.ch-tag:after,
[class^='ch-icon-']:before,
[class*=' ch-icon-']:before {
  left: 0; }

[class*="ch-btn"] [class*='ch-icon-'] {
  margin: 0 5px 0 0;
  font-size: 15px;
  line-height: 1em; }

/**
 * Icons content
 */
.ch-icon-search:before {
  content: '\f002'; }

.ch-icon-heart:before {
  content: '\f004'; }

.ch-icon-star:before {
  content: '\f005'; }

.ch-icon-star-empty:before {
  content: '\f006'; }

.ch-icon-user:before {
  content: '\f007'; }

.ch-icon-th-large:before {
  content: '\f009'; }

.ch-icon-th:before {
  content: '\f00a'; }

.ch-icon-th-list:before {
  content: '\f00b'; }

.ch-icon-ok:before {
  content: '\f00c'; }

.ch-icon-remove:before {
  content: '\f00d'; }

.ch-icon-zoom-in:before {
  content: '\f00e'; }

.ch-icon-zoom-out:before {
  content: '\f010'; }

.ch-icon-cog:before {
  content: '\f013'; }

.ch-icon-trash:before {
  content: '\f014'; }

.ch-icon-time:before {
  content: '\f017'; }

.ch-icon-repeat:before {
  content: '\f01e'; }

/* \f020 is not a valid unicode character. all shifted one down */
.ch-icon-refresh:before {
  content: '\f021'; }

.ch-icon-print:before {
  content: '\f02f'; }

.ch-icon-camera:before {
  content: '\f030'; }

.ch-icon-pencil:before {
  content: '\f040'; }

.ch-icon-map-marker:before {
  content: '\f041'; }

.ch-icon-move:before {
  content: '\f047'; }

.ch-icon-chevron-left:before {
  content: '\f053'; }

.ch-icon-chevron-right:before {
  content: '\f054'; }

.ch-icon-plus-sign:before {
  content: '\f055'; }

.ch-icon-minus-sign:before {
  content: '\f056'; }

.ch-icon-remove-sign:before {
  content: '\f057'; }

.ch-icon-ok-sign:before {
  content: '\f058'; }

.ch-icon-help-sign:before {
  content: '\f059'; }

.ch-icon-info-sign:before {
  content: '\f05a'; }

.ch-icon-ban-circle:before {
  content: '\f05e'; }

.ch-icon-arrow-left:before {
  content: '\f060'; }

.ch-icon-arrow-right:before {
  content: '\f061'; }

.ch-icon-arrow-up:before {
  content: '\f062'; }

.ch-icon-arrow-down:before {
  content: '\f063'; }

.ch-icon-plus:before {
  content: '\f067'; }

.ch-icon-minus:before {
  content: '\f068'; }

.ch-icon-exclamation-sign:before {
  content: '\f06a'; }

.ch-icon-warning-sign:before {
  content: '\f071'; }

.ch-icon-calendar:before {
  content: '\f073'; }

.ch-icon-comment:before {
  content: '\f075'; }

.ch-icon-chevron-up:before {
  content: '\f077'; }

.ch-icon-chevron-down:before {
  content: '\f078'; }

.ch-icon-key:before {
  content: '\f084'; }

.ch-icon-comments:before {
  content: '\f086'; }

.ch-icon-lock:before {
  content: '\f023'; }

.ch-icon-unlock:before {
  content: '\f09c'; }

.ch-icon-wrench:before {
  content: '\f0ad'; }

.ch-icon-group:before {
  content: '\f0c0'; }

.ch-icon-copy:before {
  content: '\f0c5'; }

.ch-icon-paper-clip:before {
  content: '\f0c6'; }

.ch-icon-reorder:before {
  content: '\f0c9'; }

.ch-icon-truck:before {
  content: '\f0d1'; }

.ch-icon-caret-down:before {
  content: '\f0d7'; }

.ch-icon-caret-up:before {
  content: '\f0d8'; }

.ch-icon-caret-left:before {
  content: '\f0d9'; }

.ch-icon-caret-right:before {
  content: '\f0da'; }

.ch-icon-sort:before {
  content: '\f0dc'; }

.ch-icon-sort-down:before {
  content: '\f0dd'; }

.ch-icon-sort-up:before {
  content: '\f0de'; }

.ch-icon-envelope-alt:before {
  content: '\f0e0'; }

.ch-icon-undo:before {
  content: '\f0e2'; }

.ch-icon-comment-alt:before {
  content: '\f0e5'; }

.ch-icon-comments-alt:before {
  content: '\f0e6'; }

.ch-icon-phone:before {
  content: '\f095'; }

.ch-close,
.ch-close:visited,
.ch-close:focus {
  width: 20px;
  height: 21px;
  font-size: 22px;
  line-height: 22px; }

/**
 * Boxes Headings
 */
[class*="ch-box"] h1,
[class*="ch-box"] h2,
[class*="ch-box"] h3,
[class*="ch-box"] h4,
[class*="ch-box"] h5,
[class*="ch-box"] h6 {
  margin-bottom: 5px; }

.ch-autocomplete {
  padding: 0; }

.ch-autocomplete-item {
  border-radius: 0;
  border-bottom: 1px dotted #dedede;
  min-height: 45px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  position: relative;
  text-indent: 12px; }

.ch-autocomplete-item:last-of-type {
  border-bottom: none;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.ch-autocomplete-list .ch-icon-arrow-up[data-js="ch-autocomplete-complete-query"] {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 3px;
  color: #f0f0f0;
  background-color: #ccc;
  width: 40px;
  height: 40px; }
  .ch-autocomplete-list .ch-icon-arrow-up[data-js="ch-autocomplete-complete-query"]:before {
    color: #f0f0f0;
    display: block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    font-size: 30px;
    overflow: hidden;
    line-height: 50px;
    text-indent: 10px; }

/**
 * Boxes
 */
.ch-box {
  background-color: #f0f0f0; }

/**
 * List boxes
 */
.ch-box-list {
  background-color: #f0f0f0;
  border: 1px solid #dedede;
  padding: 0; }
  .ch-box-list li {
    position: relative;
    border-bottom: 1px dotted #ccc;
    color: #666;
    font-size: 16px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
    .ch-box-list li:last-child {
      border-bottom: none; }
    .ch-box-list li:active {
      background-color: #e9e9e9; }

/**
 * List boxes: anchors within
 */
.ch-box-list li a {
  line-height: 25px;
  text-decoration: none;
  display: block;
  padding: 14px 42px 14px 20px;
  position: relative; }
  .ch-box-list li a:after {
    content: '\f054';
    font-size: 19px;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -11px;
    color: #999; }

/**
 * List boxes: icons within
 */
.ch-box-list [class*='ch-icon'] {
  position: absolute;
  top: .75em;
  left: 16px;
  color: #999; }
  .ch-box-list [class*='ch-icon'] + a {
    padding-left: 48px; }

/**
 * Buttons
 */
/* Action button */
.ch-btn-action,
.ch-btn-action:focus,
.ch-btn-action:visited {
  background-color: #dedede;
  background-image: -webkit-linear-gradient(#dedede, #ccc);
  background-image: linear-gradient(#dedede, #ccc);
  border: 1px solid #bbb;
  box-shadow: 0 1px 0 #fff;
  color: #666;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5); }

/* Colors on Hover */
.ch-btn-action:hover {
  background-color: #fff;
  background-image: -webkit-linear-gradient(#fff, #dedede);
  background-image: linear-gradient(#fff, #dedede); }

.ch-btn-action:active {
  background-color: #a9a9a9;
  background-image: -webkit-linear-gradient(#a9a9a9, #ccc);
  background-image: linear-gradient(#a9a9a9, #ccc);
  border-color: #999;
  box-shadow: 0 1px 6px rgba(255, 255, 255, 0.5); }

/* Default h: ~38px */
.ch-btn,
.ch-btn:focus {
  line-height: 1.4em;
  padding: 7px 14px; }

/* Large h: ~44px */
.ch-btn-large,
.ch-btn-large:focus {
  width: 100%;
  line-height: 1.5em; }

a.ch-btn-large,
a.ch-btn-large:focus {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Small h: ~26px */
.ch-btn-small,
.ch-btn-small:focus {
  font-size: normal;
  line-height: 1.4em;
  padding: 5px 10px; }

/*
* Expandable
*/
.ch-fold-trigger,
.ch-expandable-trigger {
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 14px 40px 14px 20px;
  position: relative;
  color: #666;
  font-size: 16px;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #f0f0f0;
  border: 1px solid #dedede;
  border-radius: 5px; }

.ch-expandable-trigger:after {
  content: '\f078';
  font-size: 19px;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -10px;
  font-family: icons;
  color: #999;
  overflow: hidden; }

.ch-expandable-trigger-on {
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.ch-expandable-trigger-on:after {
  content: '\f077';
  color: #333; }

.ch-expandable-container {
  background-color: #fff;
  margin: 0;
  padding: 14px 20px;
  overflow: hidden;
  border: 1px solid #e8e8e8;
  border-top: none;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.ch-expandable-container.ch-box-list {
  padding: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.ch-expandable-container.ch-box-list li {
  font-size: 14px; }
  .ch-expandable-container.ch-box-list li a:after {
    color: #333; }

.ch-expandable-container.ch-list,
.ch-expandable-container.ch-list li {
  margin-left: 0; }

/* Generic input & textarea */
input[type="text"],
input[type="url"],
input[type="email"],
input[type="search"],
input[type="date"],
input[type="datatime"],
input[type="datatime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea,
select,
select[multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 5px 0;
  width: 100%; }

.ch-form-row-inline input[type="text"],
.ch-form-row-inline input[type="url"],
.ch-form-row-inline input[type="email"],
.ch-form-row-inline input[type="search"],
.ch-form-row-inline input[type="date"],
.ch-form-row-inline input[type="datatime"],
.ch-form-row-inline input[type="datatime-local"],
.ch-form-row-inline input[type="month"],
.ch-form-row-inline input[type="week"],
.ch-form-row-inline input[type="time"],
.ch-form-row-inline input[type="tel"],
.ch-form-row-inline input[type="number"],
.ch-form-row-inline input[type="password"],
.ch-form-row-inline select {
  display: inline-block;
  width: auto; }

input,
input:focus {
  padding: 6px 0; }

input[type="radio"],
input[type="checkbox"],
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  padding: 0; }

/* Inner Icons */
.ch-form-icon-inner {
  display: block;
  left: auto;
  right: 2px;
  top: 41px;
  position: absolute; }

/* BigForm Inner Icons */
.ch-form-big .ch-form-icon-inner {
  top: 54px; }

/* Icon & button alignment */
.ch-form-row input + .ch-btn,
.ch-form-row input + .ch-form-icon {
  position: absolute;
  top: 76px;
  right: 0;
  margin-right: 0;
  z-index: 2; }

/* Title module */
.ch-form legend {
  font-size: 16px;
  padding-bottom: 8px; }

/* Label */
.ch-form-row label {
  font-size: 14px;
  padding-bottom: 2px; }

/* Checkbox inline */
.ch-form-checkbox-inline {
  margin-left: 0; }

/* Select */
.ch-form-row select {
  height: 36px;
  border-color: #ccc;
  margin: 0 0 5px 0; }

/* Select Multiple */
.ch-form-row select[multiple],
.ch-form-select-multiple {
  height: auto; }

.ch-form-row .ch-form-hint {
  margin-left: 2px; }

.ch-validation-message {
  color: #B94A48;
  padding: 0;
  margin: 0; }

/**
 * Forms within list boxes
 */
.ch-box-list .ch-form-row,
.ch-box-list.ch-form-row {
  padding: 0; }

.ch-box-list input + label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  padding: 14px 0 14px 38px; }

.ch-box-list input[type="radio"],
.ch-box-list input[type="checkbox"] {
  top: 25px;
  left: 13px; }

.ch-list-box input[type="radio"] {
  margin-top: -5px; }

.ch-list-box input[type="checkbox"] {
  margin-top: -4px; }

/**
 * Transitions
 */
.ch-loading-large,
.ch-loading {
  margin: 20px auto;
  display: block; }

.ch-loading-large {
  background-image: url("../assets/loading-big.gif");
  width: 36px;
  height: 36px; }

.ch-loading {
  background-image: url("../assets/loading.gif");
  width: 24px;
  height: 24px; }

.ch-loading-small {
  background-image: url("../assets/loading-small.gif");
  display: inline-block;
  width: 16px;
  height: 16px; }

.ch-loading-centered {
  position: absolute;
  top: 50%;
  left: 50%; }

.ch-loading-large.ch-loading-centered {
  margin-top: -18px;
  margin-left: -18px; }

.ch-loading.ch-loading-centered {
  margin-top: -12px;
  margin-left: -12px; }

.ch-loading-small.ch-loading-centered {
  margin-top: -8px;
  margin-left: -8px; }

/**
 * Menu
 */
.ch-menu {
  border: 1px solid #dedede;
  border-radius: 5px; }

.ch-fold-trigger,
.ch-menu .ch-expandable-trigger,
.ch-menu .ch-expandable-container,
.ch-menu-fold:last-of-type .ch-expandable-trigger.ch-expandable-trigger-on {
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-bottom: 1px dotted #ccc; }

.ch-menu .ch-expandable-trigger:after {
  color: #999; }

.ch-menu .ch-expandable-container {
  border-bottom: 1px solid #dedede; }

.ch-menu-fold:last-of-type .ch-fold-trigger,
.ch-menu-fold:last-of-type .ch-expandable-trigger,
.ch-menu-fold:last-of-type .ch-expandable-container {
  border-bottom: none;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

/**
 * Pagination
 */
.ch-pagination {
  font-size: 16px; }

.ch-pagination a[type="prev"],
.ch-pagination a[type="next"] {
  background-color: transparent;
  border-color: transparent; }

/*
 * Tags
 */
.ch-tag,
a.ch-tag,
.ch-tag:focus,
.ch-tag:hover,
.ch-tag:active,
.ch-tag:visited {
  background-color: #f0f0f0;
  border: 1px solid #dedede;
  border-radius: 5px;
  color: #666;
  font-size: 14px;
  margin: 4px 0 0;
  padding: 3px 30px 3px 10px;
  text-shadow: 0 1px 1px #fff;
  display: inline-block;
  text-decoration: none;
  position: relative; }

.ch-tag:active {
  background-color: #e9e9e9; }

.ch-tag:after {
  font-size: 1em;
  content: '\f00d';
  position: absolute;
  top: 50%;
  right: 10px;
  left: auto;
  margin: -9px 0 0 0;
  color: #999; }

/*# sourceMappingURL=mobile-ml.css.map */
