<!doctype html>
<!-- Conditional comment for mobile ie7 http://blogs.msdn.com/b/iemobile/ -->
<!--[if IEMobile 7 ]> <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->

<head>

    <meta charset="utf-8">
    <title>Chico Mobile v1.1.1</title>

    <meta name="description" content="">
    <meta name="author" content="MercadoLibre">

    <!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="cleartype" content="on">

    <!-- Styles -->
    <!--<link rel="stylesheet" href="/mobile/css">-->
    <link rel="stylesheet" href="/dist/mobile/chico.css">

    <style>
        .body {
            position: relative;
            height: 200px;
            border: 1px solid #CCC;
        }

        /* Icons demo */
        .showroomIcons {
            overflow: hidden;
        }

        .showroomIcons li {
            float:left;
            width: 48%;
            line-height: 2em;
        }

        .showroomIcons li i{
            text-indent: 0;
        }

        #bubble-box {
            position: relative;
        }

        /**
         * Carousel demo
         */
        .myCarousel .ch-carousel-item {
            width: 425px;
            height: 290px;
            text-align: center;
        }

        .myCarousel img {
            max-width: 100%;
            max-height: 100%;
        }

        .myCarousel .ch-carousel-mask {
            margin: 0;
        }

        .myCarousel .ch-carousel-pages span {
            width: 15px;
            height: 15px;
            margin-top: 25px;
        }

        .ch-loading-small {
            display: block;
            margin:0 auto;
        }
    </style>
</head>
<body>

    <h1>Chico Mobile v1.1.1</h1>

    <h2>List of components</h2>
    <ul class="ch-list">
        <li><a href="#headings">Headings</a></li>
        <li><a href="#paragraphs">Paragraphs</a></li>
        <li><a href="#links">Links</a></li>
        <li><a href="#lists">List</a></li>
        <li><a href="#list-boxes">List Boxes</a></li>
        <li><a href="#list-boxes-icon">List Boxes with icons</a></li>
        <li><a href="#boxes">Boxes</a></li>
        <li><a href="#message-boxes">Message Boxes</a></li>
        <li><a href="#loadings">Loadings</a></li>
        <li><a href="#buttons">Buttons</a></li>
        <li><a href="#tags">Tags</a></li>
        <li><a href="#autocomplete">Autocomplete</a></li>
        <li><a href="#pagination">Pagination</a></li>
        <li><a href="#tables">Tables</a></li>
        <li><a href="#expandable">Expandable</a></li>
        <li><a href="#menu">Menu</a></li>
        <li><a href="#transition-window">Transition</a></li>
        <li><a href="#carousel">Carousel</a></li>
        <li><a href="#icons">Icons</a></li>
        <li><a href="#countdown">Countdown</a></li>
        <li><a href="#forms">Forms</a></li>
    </ul>

    <div class="ch-box-lite">
        <h1 id="headings">Headings</h1>
        <h1>Header 1</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
        <h5>Header 5</h5>
        <h6>Header 6</h6>
    </div>

    <div class="ch-box-lite">
        <h2 id="paragraphs">Paragraphs</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ipsum tellus, quis ultricies nunc. Vestibulum ornare porta nunc, vitae tincidunt massa ornare vel. Nam ut felis odio.</p><p>Nam porta nunc vitae orci sollicitudin a ullamcorper purus dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed libero eget purus dictum fringilla non sed lectus. Etiam commodo quam in neque vehicula dapibus.</p><p>Phasellus ornare lacus ut purus elementum eget sodales dui placerat. Nunc ultrices porttitor mi, eu varius quam tristique in. Etiam tempor porta sodales.</p><p>Phasellus dui nisi, hendrerit a porta vel, tempus bibendum mauris.</p><p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus bibendum consectetur dignissim.</p>
    </div>

    <div class="ch-box-lite">
        <h2 id="links">Links</h2>
        <p><a href="http://www.mercadolibre.com">MercadoLibre</a></p>
        <p><a href="http://www.mercadopago.com">MercadoPago</a></p>
        <p><a href="http://www.mercadoshops.com">MercadoShops</a></p>
        <p><a href="http://www.mercadoclics.com">MercadoClics</a></p>
    </div>

    <div class="ch-box-lite">
        <h2 id="lists">Lists</h2>
        <div class="m-g1-4">
            <h3>Unstyled</h3>
            <ul>
                <li><a href="http://www.mercadolibre.com">MercadoLibre</a></li>
                <li><a href="http://www.mercadopago.com">MercadoPago</a></li>
                <li><a href="http://www.mercadoshops.com">MercadoShops</a></li>
                <li><a href="http://www.mercadoclics.com">MercadoClics</a></li>
            </ul>
        </div>
        <div class="m-g1-4">
            <h3>Unordered</h3>
            <ul class="ch-list">
                <li><a href="http://www.mercadolibre.com">MercadoLibre</a></li>
                <li><a href="http://www.mercadopago.com">MercadoPago</a></li>
                <li><a href="http://www.mercadoshops.com">MercadoShops</a></li>
                <li><a href="http://www.mercadoclics.com">MercadoClics</a></li>
            </ul>
        </div>
        <div class="m-g1-4">
            <h3>Ordered</h3>
            <ol class="ch-list">
                <li><a href="http://www.mercadolibre.com">MercadoLibre</a></li>
                <li><a href="http://www.mercadopago.com">MercadoPago</a></li>
                <li><a href="http://www.mercadoshops.com">MercadoShops</a></li>
                <li><a href="http://www.mercadoclics.com">MercadoClics</a></li>
            </ol>
        </div>
        <div class="m-g1-4">
            <h3>Description</h3>
            <dl class="ch-list">
                <dt>MercadoLibre</dt>
                <dd>Donde compras y vendes de todo!</dd>
                <dt>MercadoPago</dt>
                <dd>La forma más simple de recibir pagos!</dd>
                <dt>MercadoShops</dt>
                <dd>Tu tienda virtual gratis y en minutos!</dd>
            </dl>
        </div>
    </div>

    <h2 id="list-boxes">List Boxes</h2>
    <div>
        <ul class="ch-box-list">
            <li><a href="#">Autos, Motos y Otros</a></li>
            <li><a href="#">Inmuebles</a></li>
            <li><a href="#">Servicios</a></li>
        </ul>
    </div>

    <h2 id="list-boxes-icon">List Boxes with icons</h2>
    <div>
        <ul class="ch-box-list">
            <li>
                <i class="ch-icon-heart"></i>
                <a href="#">
                    Multiline text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. adipiscing. Donec sit amet purus in sapien luctus sodales adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </a>
            </li>
            <li>
                <i class="ch-icon-heart"></i>
                <a href="#" class="ch-ellipsis">
                    Ellipsis text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. adipiscing. Donec sit amet purus in sapien luctus sodales adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing elit. adipiscing. Donec sit amet purus in sapien luctus sodales adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing elit. adipiscing. Donec sit amet purus in sapien luctus sodales adipiscing.
                </a>
            </li>
            <li>
                <i class="ch-icon-cog"></i>
                <a href="#">
                    Settings
                </a>
            </li>
            <li>
                <a href="#">No icon</a>
            </li>
        </ul>
    </div>

    <h2 id="boxes">Boxes</h2>
    <div class="ch-box-container">
        <h2>Container Box</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">adipiscing</a>. Donec sit amet purus in sapien luctus sodales <a href="#">adipiscing</a>.</p>
    </div>
    <div class="ch-box-lite">
        <h2>Box Lite</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">adipiscing</a>. Donec sit amet purus in sapien luctus sodales <a href="#">adipiscing</a>.</p>
    </div>

    <div class="ch-box">
        <h2>Box</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">adipiscing</a>. Donec sit amet purus in sapien luctus sodales <a href="#">adipiscing</a>.</p>
    </div>

    <div class="ch-box-error">
        <h2>Box Error</h2>
        <p>Oops, something wrong happened.</p>
    </div>

    <div class="ch-box-help">
        <h2>Box Help</h2>
        <p>Do you need any help?</p>
    </div>

    <div class="ch-box-info">
        <h2>Box Info</h2>
        <p>Here's more information</p>
    </div>

    <div class="ch-box-warn">
        <h2>Box Warning</h2>
        <p>Warning! something might be wrong</p>
    </div>

    <div class="ch-box-ok">
        <h2>Box Ok</h2>
        <p>Everything is great!</p>
    </div>

    <h2 id="message-boxes">Messages boxes (with icons)</h2>
    <div class="ch-box-icon">
        <i class="ch-icon-truck"></i>
        <p>This is a message, with an icon!</p>
    </div>
    <div class="ch-box-icon">
        <i class="ch-icon-warning-sign"></i>
        <h2>Warning!</h2>
        <p>This is a big warning message, be careful!</p>
    </div>
    <div class="ch-box-icon ch-box-error"><i class="ch-icon-remove-sign"></i>Oops, something wrong happened</div>
    <div class="ch-box-icon ch-box-help"><i class="ch-icon-help-sign"></i>Do you need any help?</div>
    <div class="ch-box-icon ch-box-info"><i class="ch-icon-info-sign"></i> Here's more information</div>
    <div class="ch-box-icon ch-box-warn"><i class="ch-icon-warning-sign"></i> Warning! something might be wrong</div>
    <div class="ch-box-icon ch-box-ok"><i class="ch-icon-ok-sign"></i> Everything is great!</div>

    <div class="ch-box-lite">
        <h2 id="loadings">Loadings</h2>
        <span class="ch-loading-small"></span>
        <span class="ch-loading"></span>
        <span class="ch-loading-large"></span>
    </div>

    <div class="ch-box-container">
        <h2 id="buttons">Buttons</h2>
        <p><a href="" class="ch-btn ch-btn-large">Link button</a></p>
        <p><input type="button" class="ch-btn ch-btn-large" value="Large button"></p>
        <p><input type="button" class="ch-btn" value="Button"></p>
        <p><input type="button" class="ch-btn ch-btn-small" value="Small button"></p>
        <p><input type="button" class="ch-btn-skin ch-btn-small" value="Skin button"></p>
        <p><input type="button" class="ch-btn-action ch-btn-small" value="Action button"></p>
        <p><button class="ch-btn-action ch-btn-small"><i class="ch-icon-heart"></i>With Icon</button></p>
    </div>

    <div class="ch-box-container">
        <h2>Disabled Buttons</h2>
        <p><a href="" class="ch-btn ch-btn-large ch-btn-disabled">Link button disabled</a></p>
        <p><input type="button" class="ch-btn ch-btn-large ch-btn-disabled" value="Large button disabled"></p>
        <p><input type="button" class="ch-btn ch-btn-disabled" value="Medium button disabled"></p>
        <p><input type="button" class="ch-btn ch-btn-small ch-btn-disabled" value="Small button disabled"></p>
        <p><input type="button" class="ch-btn-skin ch-btn-small ch-btn-disabled" value="Skin button disabled"></p>
        <p><input type="button" class="ch-btn-action ch-btn-small ch-btn-disabled" value="Action button disabled" disabled></p>
        <p><button class="ch-btn-action ch-btn-small ch-btn-disabled"><i class="ch-icon-heart"></i>With Icon</button disabled></p>
    </div>

    <div class="ch-box-lite">
        <h2 id="tags">Tags</h2>
        <a class="ch-tag" href="#">Chico</a>
        <a class="ch-tag" href="#">Mobile</a>
    </div>

    <div class="ch-box-lite">
        <h2 id="autocomplete">Autocomplete</h2>
        <form method="get" action="http://www.mercadolibre.com.ar/jm/search" class="ch-form">
            <div class="ch-form-row">
                <label for="product">Find a product:</label>
                <input type="text" name="as_word" id="product" class="autocomplete" placeholder="iphone 5" />
                <p class="ch-form-hint">This is working with the MercadoLibre API</p>
            </div>
            <p class="ch-form-actions">
                <input type="submit" name="autocompleteSubmit" class="ch-btn">
            </p>
        </form>
    </div>

     <div class="ch-box-lite">
        <h2 id="pagination">Pagination</h2>
        <ul class="ch-pagination">
            <li><a type="prev" href="/1.html">Previous</a></li>
            <li><a href="/1.html">1</a></li>
            <li class="ch-pagination-current"><a href="/2.html">2</a></li>
            <li><a href="/4.html">3</a></li>
            <li><a type="next" href="/4.html">Next</a></li>
        </ul>
    </div>

    <div class="ch-box-container">
        <h2 id="tables">Tables</h2>
        <table class="ch-datagrid" summary="Listado de cobros en MercadoPago">
            <caption>Summary</caption>
            <thead>
                <tr>
                    <th scope="col">Operation</th>
                    <th scope="col">Seller</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">Sale</a></td>
                    <td><a href="#">mail@example.com</a></td>
                </tr>
                <tr>
                    <td><a href="#">Purchase</a></td>
                    <td><a href="#">mail@example.com</a></td>
                </tr>
                <tr>
                    <td><a href="#">Sale</a></td>
                    <td><a href="#">mail@example.com</a></td>
                </tr>
                <tr>
                    <td><a href="#">Sale</a></td>
                    <td><a href="#">mail@example.com</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2 id="expandable">Expandable</h2>
    <h3 class="categories">Expand me! (paragraph)</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet purus in sapien luctus sodales. Curabitur dui velit, cursus in sagittis aliquam, dictum at neque. Ut gravida scelerisque lorem non pulvinar. Pellentesque et urna vitae nisl porta imperdiet sed nec ipsum. Sed non sem velit. Cras id consectetur tellus.</p>

    <br>

    <h3 class="categories">Expand me! (list)</h3>
    <ul class="ch-list">
        <li>foo</li>
        <li>foobar</li>
        <li>bar</li>
    </ul>

    <br>

    <h3 class="categories">Expand me! (box-list)</h3>
    <ul class="ch-box-list">
        <li><a href="#">foo</a></li>
        <li><a href="#">foobar</a></li>
        <li><a href="#">bar</a></li>
    </ul>

    <h2 id="menu">Menu</h2>
    <ul class="myMenu">
        <li>
            <h3>List Options</h3>
            <ul class="ch-box-list">
                <li><a href="#" data-categ-id="1743">Autos, Motos y Otros</a></li>
                <li><a href="#" data-categ-id="1459">Inmuebles</a></li>
                <li><a href="#" data-categ-id="1540">Servicios</a></li>
            </ul>
        </li>
        <li>
            <h3>List</h3>
            <ul class="ch-list">
                <li>A convenir con el vendedor</li>
                <li>Capital Federal <span class="cost">$20</span></li>
                <li>Gran Buenos Aires <span class="cost">$25</span></li>
                <li>Interior de Buenos Aires <span class="cost">$40</span></li>
                <li>Resto del país <span class="cost">$55</span></li>
            </ul>
        </li>
        <li><a href="#">Preguntas</a></li>
        <li>
            <h3>Plain text</h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </li>
    </ul>

    <br>

    <div class="ch-box-lite">
        <h2 id="transition-window">Transition window</h2>
        <form action="static/ajax.html">
            <input type="submit" id="transition" class="ch-btn ch-btn-small" value="Execute it!">
        </form>
    </div>


    <div class="ch-box-lite">
        <h2 id="carousel">Carousel</h2>

        <div class="myCarousel ch-carousel">
            <ul>
                <li><img src="static/ninja.png"></li>
                <li><img src="static/ninja.png"></li>
                <li><img src="static/ninja.png"></li>
                <li><img src="static/ninja.png"></li>
                <li><img src="static/ninja.png"></li>
            </ul>
        </div>
    </div>

    <div class="ch-box-lite">
        <h2 id="icons">Icons</h2>
        <i class="ch-icon-camera ch-icon-xx-large"></i>
        <i class="ch-icon-camera ch-icon-x-large"></i>
        <i class="ch-icon-camera ch-icon-large"></i>
        <i class="ch-icon-camera"></i>

        <ul class="showroomIcons">
            <li><i class="ch-icon-search"></i> ch-icon-search</li>
            <li><i class="ch-icon-heart"></i> ch-icon-heart</li>
            <li><i class="ch-icon-star"></i> ch-icon-star</li>
            <li><i class="ch-icon-star-empty"></i> ch-icon-star-empty</li>
            <li><i class="ch-icon-user"></i> ch-icon-user</li>
            <li><i class="ch-icon-th-large"></i> ch-icon-th-large</li>
            <li><i class="ch-icon-th"></i> ch-icon-th</li>
            <li><i class="ch-icon-th-list"></i> ch-icon-user</li>
            <li><i class="ch-icon-ok"></i> ch-icon-ok</li>
            <li><i class="ch-icon-remove"></i> ch-icon-remove</li>
            <li><i class="ch-icon-zoom-in"></i> ch-icon-zoom-in</li>
            <li><i class="ch-icon-zoom-out"></i> ch-icon-zoom-out</li>
            <li><i class="ch-icon-cog"></i> ch-icon-cog</li>
            <li><i class="ch-icon-trash"></i> ch-icon-trash</li>
            <li><i class="ch-icon-time"></i> ch-icon-time</li>
            <li><i class="ch-icon-repeat"></i> ch-icon-repeat</li>
            <li><i class="ch-icon-refresh"></i> ch-icon-refresh</li>
            <li><i class="ch-icon-lock"></i> ch-icon-lock</li>
            <li><i class="ch-icon-print"></i> ch-icon-print</li>
            <li><i class="ch-icon-camera"></i> ch-icon-camera</li>
            <li><i class="ch-icon-pencil"></i> ch-icon-pencil</li>
            <li><i class="ch-icon-map-marker"></i> ch-icon-map-marker</li>
            <li><i class="ch-icon-move"></i> ch-icon-move</li>
            <li><i class="ch-icon-chevron-left"></i> ch-icon-chevron-left</li>
            <li><i class="ch-icon-chevron-right"></i> ch-icon-chevron-right</li>
            <li><i class="ch-icon-plus-sign"></i> ch-icon-plus-sign</li>
            <li><i class="ch-icon-minus-sign"></i> ch-icon-minus-sign</li>
            <li><i class="ch-icon-remove-sign"></i> ch-icon-remove-sign</li>
            <li><i class="ch-icon-ok-sign"></i> ch-icon-ok-sign</li>
            <li><i class="ch-icon-help-sign"></i> ch-icon-help-sign</li>
            <li><i class="ch-icon-info-sign"></i> ch-icon-info-sign</li>
            <li><i class="ch-icon-ban-circle"></i> ch-icon-ban-circle</li>
            <li><i class="ch-icon-arrow-left"></i> ch-icon-arrow-left</li>
            <li><i class="ch-icon-arrow-right"></i> ch-icon-arrow-right</li>
            <li><i class="ch-icon-arrow-up"></i> ch-icon-arrow-up</li>
            <li><i class="ch-icon-arrow-down"></i> ch-icon-arrow-down</li>
            <li><i class="ch-icon-plus"></i> ch-icon-plus</li>
            <li><i class="ch-icon-minus"></i> ch-icon-minus</li>
            <li><i class="ch-icon-exclamation-sign"></i> ch-icon-exclamation-sign</li>
            <li><i class="ch-icon-warning-sign"></i> ch-icon-warning-sign</li>
            <li><i class="ch-icon-calendar"></i> ch-icon-calendar</li>
            <li><i class="ch-icon-comment"></i> ch-icon-comment</li>
            <li><i class="ch-icon-chevron-up"></i> ch-icon-chevron-up</li>
            <li><i class="ch-icon-chevron-down"></i> ch-icon-chevron-down</li>
            <li><i class="ch-icon-key"></i> ch-icon-key</li>
            <li><i class="ch-icon-comments"></i> ch-icon-comments</li>
            <li><i class="ch-icon-unlock"></i> ch-icon-unlock</li>
            <li><i class="ch-icon-wrench"></i> ch-icon-wrench</li>
            <li><i class="ch-icon-group"></i> ch-icon-group</li>
            <li><i class="ch-icon-copy"></i> ch-icon-copy</li>
            <li><i class="ch-icon-paper-clip"></i> ch-icon-paper-clip</li>
            <li><i class="ch-icon-reorder"></i> ch-icon-reorder</li>
            <li><i class="ch-icon-truck"></i> ch-icon-truck</li>
            <li><i class="ch-icon-caret-down"></i> ch-icon-caret-down</li>
            <li><i class="ch-icon-caret-up"></i> ch-icon-caret-up</li>
            <li><i class="ch-icon-caret-left"></i> ch-icon-caret-left</li>
            <li><i class="ch-icon-caret-right"></i> ch-icon-caret-right</li>
            <li><i class="ch-icon-sort"></i> ch-icon-sort</li>
            <li><i class="ch-icon-sort-down"></i> ch-icon-sort-down</li>
            <li><i class="ch-icon-sort-up"></i> ch-icon-sort-up</li>
            <li><i class="ch-icon-envelope-alt"></i> ch-icon-envelope-alt</li>
            <li><i class="ch-icon-undo ch-ico"></i> ch-icon-undo</li>
            <li><i class="ch-icon-comment-alt"></i> ch-icon-comment-alt</li>
            <li><i class="ch-icon-comments-alt"></i> ch-icon-comments-alt</li>
            <li><i class="ch-icon-phone"></i> ch-icon-phone</li>
        </ul>
    </div>

    <div class="ch-box-lite">
        <h2 id="countdown">Countdown</h2>
        <form action="static/ajax.html" class="YOUR_SELECTOR_Formcountdown ch-form">
            <p class="ch-form-row">
                <label for="val_date">Text:</label>
                <textarea id="text_cd" cols="35" rows="4" class="myCountdown"></textarea>
            </p>
        </form>
    </div>

    <div class="components">
        <h2 id="forms">Forms and Validations</h2>
        <form action="http://ui.ml.com:3000/test/post" class="ch-form myForm" method="POST">
            <fieldset>
                <legend>Inputs</legend>
                <p class="ch-form-hint">* Required fields</p>
                    <p class="ch-form-row">
                        <label for="input_ico">
                            Label:
                        </label>
                        <input type="text" id="input_ico" name="input_ico" size="30" placeholder="">

                    </p>
                    <div class="ch-form-row">
                        <label for="input_ico_inside">
                            Icon inside:
                        </label>
                        <input class="ch-form-icon-input" type="text" id="input_ico_inside" name="input_ico" size="30" placeholder="">
                        <i class="ch-form-icon-inner ch-icon-key"></i>
                    </div>
                    <p class="ch-form-row">
                        <label for="input_button">
                            Category:
                        </label>
                        <input type="text" id="input_button" name="input_button" size="30" placeholder="">
                        <span class="ch-form-hint">Add your category</span>
                    </p>
                    <p class="ch-form-row ch-form-required">
                        <label for="email">
                            E-mail:
                            <em>*</em>
                        </label>
                        <input type="email" id="email" name="email" required="required" size="35" placeholder="juan.perez@chico-ui.com.ar">
                        <span class="ch-form-hint">It will be your login name</span>
                    </p>
                    <p class="ch-form-row">
                        <label for="email2">
                            E-mail:
                        </label>
                        <input type="email" id="email2" name="email2" required="required" size="35" placeholder="juan.perez@chico-ui.com.ar">
                        <input type="checkbox" id="news" name="news" checked="checked" class="ch-form-checkbox-inline">
                        <label for="news" class="ch-label-inline">
                            Accept to receive weekly news
                        </label>
                    </p>
                    <p class="ch-form-row">
                        <label for="url">
                            URL:
                        </label>
                        <input type="url" id="url" name="url" size="60" placeholder="http://www.chico-ui.com.ar">
                    </p>
                    <p class="ch-form-row">
                        <label for="number">
                            Numeric field:
                        </label>
                        <input type="number" id="number" name="number" min="18" max="99" placeholder="30">
                    </p>
                    <p class="ch-form-row">
                        <label for="range">
                            Numeric range:
                        </label>
                        <input type="range" id="range" name="range" min="1" max="10">
                        <span class="ch-form-hint">Between 1 to 10</span>
                    </p>
                    <p class="ch-form-row ch-form-required ch-form-disabled">
                        <label for="required_disabled">
                            Required disabled:
                            <em>*</em>
                        </label>
                        <input type="text" id="required_disabled" required="required" disabled="disabled">
                        <span class="ch-form-hint">It's a unknown use case</span>
                    </p>
                    <p class="ch-form-row">
                        <label for="characters">
                            Characters:
                        </label>
                        <input type="text" id="characters">
                    </p>
                    <p class="ch-form-row">
                        <label for="custom">
                            Custom:
                        </label>
                        <input type="text" id="custom" placeholder="12" size="2">
                    </p>
                    <p class="ch-form-row">
                        <label for="readonly">
                            Readonly:
                        </label>
                        <input type="text" readonly="readonly" id="readonly" value="its a readonly value">
                    </p>
            </fieldset>
            <fieldset>
                <legend>Selects</legend>
                <p class="ch-form-row">
                    <label for="select1">
                        Common field:
                    </label>
                    <select id="select1">
                        <option value="-1">Select one...</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                    </select>

                </p>
                <p class="ch-form-row ch-form-required">
                    <label for="select2">
                        Rquired: <em>*</em>
                    </label>
                    <select id="select2" required="required" pattern="[^-1]">
                        <option value="">Select one...</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                    </select>
                </p>
                <p class="ch-form-row ch-form-required ch-form-disabled">
                    <label for="select3" class="required disabled">
                        Required disabled: <em>*</em>
                    </label>
                    <select id="select3" required="required" disabled="disabled">
                        <option value="">Select one...</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                    </select>
                </p>
                <p class="ch-form-row ch-form-disabled">
                    <label for="select4">
                        Disabled:
                    </label>
                    <select id="select4" disabled="disabled">
                        <option value="0">Select one...</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                    </select>
                </p>
            </fieldset>

            <fieldset>
                <h4 class="ch-form-subtitle">Unique checkbox:</h4>
                <p class="ch-box-list ch-form-options ch-form-row ch-form-required required-options">
                    <input type="checkbox" value="alpha" id="check4a" name="version4" required="required">
                    <label for="check4a">
                        Unique checkbox
                    </label>
                </p>
            </fieldset>
            <fieldset>
                <legend>Checkboxes</legend>
                <ul class="ch-form-options ch-box-list ch-form-required required-options">
                    <li class="ch-form-row">
                        <input type="checkbox" value="alpha" id="check1a" name="version1a" required="required">
                        <label for="check1a">
                            Alpha
                        </label>
                    </li>
                    <li class="ch-form-row">
                        <input type="checkbox" value="beta" id="check1b" name="version1b">
                        <label for="check1b">
                            Beta
                        </label>
                    </li>
                </ul>
            </fieldset>

            <fieldset>
                <legend>Radios</legend>
                <ul class="ch-form-options ch-box-list ch-form-required required-options">
                    <li class="ch-form-row">
                        <input type="radio" value="alpha" id="radio1a" name="version1a" required="required">
                        <label for="radio1a">
                            Alpha
                        </label>
                    </li>
                    <li class="ch-form-row">
                        <input type="radio" value="beta" id="radio1b" name="version1a">
                        <label for="radio1b">
                            Beta
                        </label>
                    </li>
                </ul>
            </fieldset>

            <fieldset>
                <legend>Legend of required group <em>*</em></legend>
                <ul class="ch-form-options ch-box-list ch-form-required required-options">
                    <li class="ch-form-row">
                        <input type="checkbox" value="alpha" id="check2a" name="version2a" required="required">
                        <label for="check2a">
                            Alpha
                        </label>
                    </li>
                    <li class="ch-form-row">
                        <input type="checkbox" value="beta" id="check2b" name="version2b">
                        <label for="check2b">
                            Beta
                        </label>
                    </li>
                </ul>
            </fieldset>

            <fieldset>
                <legend>Textarea</legend>
                <p class="ch-form-row">
                    <label for="textarea1">
                        Textarea:
                    </label>
                    <textarea id="textarea1"></textarea>
                </p>

                <p class="ch-form-row ch-form-required">
                    <label for="textarea2">
                        Required: <em>*</em>
                    </label>
                    <textarea id="textarea2" required="required"></textarea>
                </p>

                <p class="ch-form-row ch-form-required ch-form-disabled">
                    <label for="textarea3">
                        Required disabled: <em>*</em>
                    </label>
                    <textarea id="textarea3" required="required" disabled="disabled"></textarea>
                </p>

                <p class="ch-form-row ch-form-disabled">
                    <label for="textarea4">
                        Disabled:
                    </label>
                    <textarea id="textarea4" disabled="disabled"></textarea>
                </p>
            </fieldset>

            <input type="submit" class="ch-btn">
        </form>
    </div>


    <script src="/bower_components/zepto-full/zepto.js"></script>
    <script src="/dist/mobile/chico.js"></script>
    <script>

        // Exnted carousel
        ch.Carousel.prototype.initialize = function () {
            var that = this;

            this._$list.swipeLeft(function () {
                that.next();
            });

            this._$list.swipeRight(function () {
                that.prev();
            });

            return this;
        }

        var extraSuggestions = ['<ul>',
            '<li class="ch-autocomplete-item" data-suggested="Static option">Static option</li>',
            '<li class="ch-autocomplete-item" data-suggested="Other Static option">Other static option</li>',
            '</ul>'].join('');

        var parseResults = function (results) {
            var data = [];
            if (results[2].suggested_queries !== undefined) {
                results[2].suggested_queries.forEach(function (e, i) {
                    data.push(e.q);
                });

                autocomplete.suggest(data);
            }
        }

        var autocomplete = $('.autocomplete').autocomplete()
            .on('type', function (userInput) {
                 $.ajax({'url': 'http://suggestgz.mlapps.com/sites/MLA/autosuggest?q='+ userInput +'&v=1&callback=parseResults',
                 'dataType': 'jsonp',
                 'cache': false,
                 'global': true,
                 'context': window,
                 'jsonp': 'parseResults',
                 'crossDomain': true
             });
        });

        // // Trasition
        var transition = $('#transition').transition();

        var transitionX = $.transition({
            'content': 'Transition without trigger!'
        });

        // Countdown
        var countdown = $("#text_cd").countdown({'max': 140, 'plural': '# left', 'singular': '# left'});

        // Carousel
        var carousel = $('.myCarousel').carousel({
            'pagination': true,
            'arrows': false
        });

        // Messages
        var message = (function (message, value) {
            var messages = {
                'option': 'Choose an option.',
                'requiredCheck': 'Accept the Terms of Use.',
                'link': 'Fill in this information. <a href="#double">Chico UI</a>.'
            };

            return function (message, value) {
                var message = messages[message] || message;
                if(value){
                    return message.replace('{#num#}',value)
                }
                return message;
            }
        }());

        var form = $('.myForm').form();
        var validation1 = $('#input_ico').required().and().string();
        var validation2 = $('#input_ico_inside').required().and().string();
        var validation4 = $('#email').required().and().email();
        var validation5 = $('#custom').required().and()
            .custom('myCustom1',
                 function (v) {
                     if (v.toString().indexOf("1") > -1) {
                         return true;
                     }
                     return false;
                 },
                 'The number must contain a 1.')
             .and()
             .custom(
                 'myCustom2',
                 function (v) {
                     if (v.toString().indexOf("2") > -1) {
                         return true;
                     }
                     return false;
                 },
                 'The number must contain a 2.');
        var validation6 = $('#url').url();
        var validation7 = $('#number').number().and().min(5);
        var validation8 = $('#range').min(8).and().max(10);
        var validation9 = $('#characters').maxLength(20).and().minLength(6);
        var validation10 = $('#double,#textarea2').required();
        var validation11 = $('#select2').required();
        var validation12 = $('.required-options').required();
        var validation13 = $('#double').required(message('link'));
        var validation14 = $('#double').number();

        var expado = $(".categories").expandable();
        var menu = $(".myMenu").menu();

        [].forEach.call(document.querySelectorAll('a[href="#"], a[href=""]'), function(a) {
            a.addEventListener('click', function(e){
                e.preventDefault();
            });
        });
    </script>
</body>
</html>
