//COMMON MERCADOLIBRE UI STRUCTURE VARIABLES
//-------------------------------------------------

// >> Buttons

$btn-padding:			 	5px 10px;
$btn-small-padding:			5px 8px;
$btn-big-padding:			6px 12px;

$btn-line-height:			1.12em; /* ~20px */		 
$btn-small-line-height:		1em;
$btn-big-line-height:		1.25em; /* ~23px */

