// *************************************
//
//   Pagination
//
// *************************************

// ----- Link-to-page ----- //

$pagination-page-bg-color: $main-neutral-color;
$pagination-page-border: 1px solid $main-border-color;

// ----- Current-page ----- //

$pagination-current-page-border: 1px solid $gray-200; 
$pagination-current-page-bg-color: $gray-100; 
$pagination-current-page-text-color: $gray-800;

$pagination-padding: 0;
$pagination-margin: 10px 0;
$pagination-page-margin: 0 4px;

// ----- Link-to-page ----- //

$pagination-page-border-radius:	3px;
$pagination-page-padding: 5px 8px;