// *************************************
//
//   Pagination Mobile
//
// *************************************

$pagination-text-size: $font__medium;

$pagination-next-and-prev-bg-color:	transparent;
$pagination-next-and-prev-border: transparent;