// *************************************
//
//   Autocomplete Mobile
//
// *************************************

$autocomplete-padding: 0;

$autocomplete-item-border-radius: 0;
$autocomplete-item-border-bottom: 1px dotted $main-border-color;
$autocomplete-item-line-height: 45px;
$autocomplete-item-text-indent:	12px;
$autocomplete-line-height: 45px;

$autocomplete-lastitem-border-bottom-left: 5px;
$autocomplete-lastitem-border-bottom-right: 5px;

$autocomplete-item-icon-border-radius: 3px;
$autocomplete-item-icon-color: $gray-100;
$autocomplete-item-icon-bg-color: $gray-500;
$autocomplete-item-icon-width: 40px;
$autocomplete-item-icon-height:	40px;
$autocomplete-text-shadow: 0 1px 0 $main-text-shadow-color;
				
$autocomplete-item-icon-before-text-color: $gray-100;
$autocomplete-item-icon-before-text-size: 30px;
$autocomplete-item-icon-before-line-height: 50px;
$autocomplete-item-icon-before-text-indent: 10px;