<footer role="contentinfo" class="ml-footer">
    <div class="ml-bounds">
        <!-- Copyright -->
        <!-- Each country has different copyrights. Check which copyrights do you need. -->
        <small>©2014 MercadoLibre.com</small>

        <!-- Navigation (large devices) -->
        <!-- Important: The comments between elements eliminates the space between them -->
        <!-- See: http://css-tricks.com/fighting-the-space-between-inline-block-elements/ -->
        <nav>
            <a href="#">About</a>
  </nav>
    </div>
</footer>