<head>
    <!-- Define the charset always before the title -->
    <meta charset="utf-8"/>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Contains instructions to the browser in the matter of viewports and zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading. -->
    <meta http-equiv="cleartype" content="on"/>
    <!-- Specify to IE to use the last legacy document mode to display a webpage. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" href="http://static.mlstatic.com/org-img/ui/ml/favicon/favicon-1.0.0.ico"/>

    <!-- Home screen icons -->
    <!--
    <link rel="apple-touch-icon" href="http://static.mlstatic.com/org-img/ui/ml/apple-touch-icon/1.0.0/60x60-precomposed.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="http://static.mlstatic.com/org-img/ui/ml/apple-touch-icon/1.0.0/76x76-precomposed.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="http://static.mlstatic.com/org-img/ui/ml/apple-touch-icon/1.0.0/120x120-precomposed.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="http://static.mlstatic.com/org-img/ui/ml/apple-touch-icon/1.0.0/152x152-precomposed.png"/>
    -->

    <!-- Tile icon for Win8 (152x152 + tile color) -->
    <!--
    <meta name="msapplication-TileImage" content="http://static.mlstatic.com/org-img/ui/ml/apple-touch-icon/1.0.0/152x152-precomposed.png"/>
    <meta name="msapplication-TileColor" content="#fff059"/>
    -->

    <!-- The HTML5 Shiv (https://github.com/aFarkas/html5shiv) -->
    <!--[if lt IE 9]>
        <script src="http://static.mlstatic.com/org-img/ch/vendor/html5shiv/html5shiv-3.7.0.js"></script>
    <![endif]-->

    <!-- Font -->
    <link rel="stylesheet" href="http://static.mlstatic.com/org-img/ui/font/lato/300.css">
    <link rel="stylesheet" href="http://static.mlstatic.com/org-img/ui/font/lato/700.css">

    <!-- Chico HTTP -->
    <link rel="stylesheet" href="http://static.mlstatic.com/org-img/ch/ui/1.1.1/chico.min.css"/>
    <!-- Chico HTTPS -->
    <!-- <link rel="stylesheet" href="https://a248.e.akamai.net/secure.mlstatic.com/org-img/ch/ui/1.1.1/chico.min.css"/> -->
    <!-- Chico Mobile HTTP -->
    <!-- <link rel="stylesheet" href="http://static.mlstatic.com/org-img/ch/mobile/1.1.1/chico.min.css"/> -->
    <!-- Chico Mobile HTTPS -->
    <!-- <link rel="stylesheet" href="https://a248.e.akamai.net/secure.mlstatic.com/org-img/ch/mobile/1.1.1/chico.min.css"/> -->

    <link rel="stylesheet" href="/src/css/mesh.min.css"/>
    <link rel="stylesheet" href="/src/css/base__small.css"/>
    <link rel="stylesheet" media="(min-width: 768px)" href="/src/css/base__large.css"/>
    <link rel="stylesheet" href="/src/css/chico__small.css"/>
    <link rel="stylesheet" media="(min-width: 768px)" href="/src/css/chico__large.css"/>
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="src/css/base__large.css"/>
        <link rel="stylesheet" href="src/css/chico__large.css"/>
    <![endif]-->
</head>