

// *************************************
//
//   Base
//
// *************************************

// ----- Close button ----- //

$close-button-bg-color: 						transparent;
$close-button-cursor:							pointer;
$close-button-font: 							normal Arial;

// ----- Close button active ----- //

$close-button-active-text-color:				$main-neutral-color;
$close-button-active-bg-color:					#bf0602;
$close-button-active-bg-color-secondary:		#8f2f00;

// ----- Close button focus and hover ----- //

$close-button-focus-hover-text-color: 			$main-neutral-color;
$close-button-focus-hover-bg-color: 			#fA5900;
$close-button-focus-hover-bg-color-secondary:	#ca0c02;

// ----- Close button ----- //

$close-button-border:							1px solid $main-border-color;
$close-button-border-radius:					3px;
$close-button-position-right:					10px;
$close-button-position-top:						10px;

// ----- Close button active, hover and focus ----- //

$close-button-text-shadow:						0 1px 0 rgba(0,0,0,.5);
$close-button-border:							none;

// ----- Actions ----- //

$actions-box-margin:							20px 0 0 0;
$action-box-links-margin:						0 0 0 15px;