// *************************************
//
//   Tabs UI
//
// *************************************

// ----- Tab ----- //

$tab-border-width: 					1px;
$tab-border: 						$tab-border-width solid #dedede;
$tab-bg-color: 						#fff;
$tab-border-radius: 				5px 5px 0 0;
$tab-cursor:						pointer;

$tab-text-decoration: 				none;
$tab-text-color: 					#333;

// ----- Tab hover ----- //

$tab-hover-bg-color: 				#f0f0f0;

// ----- Tab active ----- //

$tab-active-bg-color: 				#f0f0f0;

$tab-trigger-bg-color: 				#f0f0f0;
$tab-trigger-bg-color-secondary: 	#fff 25px;

	// Box shadow

	$tab-trigger-box-shadow-top: 	2px;
	$tab-trigger-box-shadow-left: 	0;
	$tab-trigger-box-shadow-blur: 	2px;
	$tab-trigger-box-shadow-color: 	rgba(255, 255, 255, .5);

$tabs-component-margin: 			10px 0;

$tab-margin: 						0;

$tab-group-margin: 					0 0 0 10px;

// ----- Tab ----- //

$tab-padding: 						3px 12px;
$tab-margin: 						0 0 0 2px;