// *************************************
//
//   Lists
//
// *************************************

// -------------------------------------
//   Skin variables
// -------------------------------------

$unordered-list-icon:					disc;
$ordered-list-icon:						disc;

// -------------------------------------
//   Structure variables
// -------------------------------------

$list-margin:							0 0 10px 0;
$definition-list-margin:				0 0 18px 0;
$definition-description-margin: 		5px 0 10px 10px;

$definition-term-text-weight:			bold;

// ----- List item ----- //

$list-item-margin:						0 0 0 10px;
$list-item-padding:						3px 0; 
$list-item-line-height:					18px;

// ----- DL items (DT or DD) ----- //

$definition-list-elements-line-height: 18px;