// *************************************
//
//   COMMON ML SKIN VARIABLES
//
// *************************************

// -------------------------------------
//   Global colors
// -------------------------------------

$white:							#fff;
$gray: 							#333;

$gray-light:					lighten($gray, 10%); // #4d4d4d
$gray-lighter:					lighten($gray, 30%); // grey
$gray-lightest:					lighten($gray, 60%); // #cccccc
$gray-dark:						darken($gray, 10%);
$gray-darker:					darken($gray, 30%);
$gray-darkest:					darken($gray, 60%);

$yellow-main:   				#FFF059;
$price:   						#900;
$blue-main:   					#03b;
$components-hover-bg-color:		#fdf9d5;

// >> Links
// --------------------------------------------------------------------

$main-text:						$gray;
$links:							$blue-main;
$links-visited:					#880099;