// *************************************
//
//   Tooltip
//
// *************************************

// -------------------------------------
//   Skin variables
// -------------------------------------

$tooltip-bg-color:					#fcf8e3;

$tooltip-border-color:				#fbeed5;
$tooltip-font-color:				#aa8749;

// -------------------------------------
//   Structure variables
// -------------------------------------

$tooltip-padding:					8px 10px;
$tooltip-border-radius:				5px;