// > Tooltip
// ----------------------------------------------------------------

$tooltip-bg-color: #fcf8e3;

$tooltip-border-color: #fbeed5;
$tooltip-text-color: #aa8749;

$tooltip-padding: 8px 10px;
$tooltip-border-radius:	5px;
