.ch-autoComplete .ch-cone
{
	display:none !important;
}

.ch-autoComplete-content
{
	background-color:#ffffff;
	border:1px solid #CCCCCC;
	border-top:none;
}


.ch-autoComplete-content li,
.ch-autoComplete-selected
{
	margin: 0;
	padding: 3px 5px;
	color:#666666;
	cursor:pointer;
}

.ch-autoComplete-selected
{	
	background-color: #fefbd6;
}

.ch-autoComplete-loading {
	background: url('../assets/loading_small.gif') no-repeat right center;
	background-size: 15px;
	
}

.lt-ie8 .ch-autoComplete 
{
	display: inline;
	zoom: 1;
}

