.ch-autoComplete .ch-cone
{
	display:none !important;
}

.ch-autoComplete-trigger
{
	width:400px;
}

.ch-autoComplete-content
{
	background-color:#ffffff;
	border:1px solid #CCCCCC;
	border-top:none;
}

.ch-autoComplete-content li
{
	padding:3px;
	color:#666666;
	cursor:pointer;
}

.ch-autoComplete-selected
{
	padding:3px;
	background-color: #fefbd6;
}



.lt-ie8 .ch-autoComplete 
{
	display: inline;
	zoom: 1;
}

