.ch-calendar {
	height: 24px;
	vertical-align: middle;
	width: 33px;
}

.ch-calendar.secondary .ch-dropdown-trigger {
	border: none !important;
	display: block;
	height: 24px;
	line-height: 23px;
	overflow:hidden;	
	padding: 0;
	text-indent: 99px;
	width: 33px;
}

.ch-calendar .ch-dropdown-trigger .ico {
	background: transparent url('../assets/calendar.png') 0 0 no-repeat;
	height: 20px;
	left: 5px;
	margin: 0;
	top: 1px !important;
	width: 20px;
}

.ch-calendar.secondary .ch-dropdown-trigger-on {
	border: none !important;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0;
}

/* Container */
.ch-calendar .ch-calendar-container.ch-dropdown-content {
	overflow: hidden;
	padding: 0;
	width: 265px;
}

/* Month Table */
.ch-calendar-month{
	border: none;
	font-size: 12px;
	padding: 0;
}

.ch-calendar-month caption{
	background: -o-linear-gradient(top, #fff 0%, #ddd 100%);
	background: -ms-linear-gradient(top, #fff 0%, #ddd 100%);
	background: -moz-linear-gradient(top, #fff 0%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #ddd));
	background: -webkit-linear-gradient(top, #fff 0%, #ddd 100%);
	background: linear-gradient(top, #fff 0%, #ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd');
	border-bottom: 1px solid #ccc;
	font-size: 13px;
	height: 26px;
	line-height: 26px;
	margin: 0;
	text-align: center;
}

.ch-calendar-month thead tr,
.ch-calendar-month th {
	background: none;
	border: none;
	text-align: center;
}

.ch-calendar-month th {
	font-size: 11px;
	font-weight: normal;
	padding: 0;
	width: 14%;
}

.ch-calendar-month .week{
	border: none;
}

.ch-calendar-month td {
	border-color: #eee;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	height: 26px;
	line-height: 26px;
	padding: 0 11px 0;
	text-align: right;
	width: 14%;
}

.ch-calendar-month .day:hover {
	background: #F5F5F5;
	color: #333;
	font-weight: normal;
}

.ch-calendar-month .disabled,
.ch-calendar-month .disabled:hover,
.ch-calendar-month .otherMonth {
	color: #C6C6C6;
	background: #FFF;
	cursor: default;
}

.ch-calendar-month .disabled:hover {
	cursor: not-allowed;
}

.ch-calendar-month .selected,
.ch-calendar-month .today.selected,
.ch-calendar-month .selected:hover {
	background: #666666;
	-o-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.3);
	color:#FFF;
	font-weight: bold;
}

.ch-calendar-month .today {
	background: #FEFBD6;
}

/* Arrows */
.ch-calendar-prev,
.ch-calendar-next {
	cursor: pointer;
	height: 26px;
	position: absolute;
	z-index: 1;
}

.ch-calendar-prev span,
.ch-calendar-next span {
	background: transparent url('../assets/mini-arrows.png') left top no-repeat;
	display: block;
	height: 7px;
	margin: 9px 25px;
	overflow: hidden;
	text-indent: 999px;
	width: 4px;
}

.ch-calendar-prev {
	left: 0;
}

.ch-calendar-next {
	right: 0;
}

.ch-calendar-next span {
	background-position: -3px top;
}


/* IE6 & IE7 */
.ie6 .ch-calendar .ch-dropdown-trigger,
.ie7 .ch-calendar .ch-dropdown-trigger {
	font-size: 0;
	line-height: 0;
}

.ie6 .ch-calendar .ch-dropdown-content{
	height: auto;
	padding: 0;
	width: 265px;
}
.ie6 .ch-calendar,
.ie7 .ch-calendar {
	display: inline;
	vertical-align: text-bottom;
}

.ie7 .ch-calendar .ch-dropdown-trigger {
	line-height: 1em;
	text-indent: 0;
}