/* Calendar */
.ch-calendar {
    width: 33px;
    height: 24px;
    line-height: 23px;
    display:inline;
}

.ch-calendar .ch-dropdown-trigger{
	text-indent:-9999px;
}

.ch-calendar-prev,
.ch-calendar-next,
.ch-calendar.ch-dropdown.secondary .ch-dropdown-trigger .ico {
	background-image: url('../assets/calendar.png');
	background-repeat: no-repeat;
}

.ch-calendar .ch-dropdown-trigger {
	height:25px !important;
	width:33px;
	line-height:23px !important;
	border:none !important;
	padding:0;
}

.ch-calendar .ch-dropdown-trigger .ico {
	background-position: 0 0;
    margin: 0;
    padding: 0;	
    height: 20px;
    left: 5px;
    top: 1px !important;
    width: 20px;
}


.ch-calendar.secondary .ch-dropdown-trigger-on {
	box-shadow:	none;
	-moz-box-shadow: none;
	-webkit-box-shadow:	none;
	padding: 0;
	border:none !important
}


/* Container */
.ch-calendar .ch-calendar-container.ch-dropdown-content {
	padding:0;
	width:215px;
	border: 1px solid #CCCCCC;
}

/* Content */
.ch-calendar-content{
	position:relative;
}

/* Month Table */
.ch-calendar-month{
	border:none;
	padding:0;
	font-size: 12px;
}

.ch-calendar-month caption{
	text-align: center;
	font-size:12px;
	margin:0;
	background:#EEE;
	background: -moz-linear-gradient(#FFF, #EEE);
	background: -webkit-linear-gradient(#FFF, #EEE);
	background: -o-linear-gradient(#FFF, #EEE);
	border-bottom: 1px solid #CCC;
}

.ch-calendar-month thead tr,
.ch-calendar-month th {
	border:none;
	background:none;
	text-align:center;
	text-transform:uppercase;
}

.ch-calendar-month th {
	width: 14%;
	padding:0;
}

.ch-calendar-month .week{
	border:none;
}

.ch-calendar-month td{
    text-align: right;
	border-color: #EEE;
    border-style: solid;
    border-width: 0 1px;
    cursor: pointer;
    height: auto;
    line-height: 20px;
    padding: 0 8px 0 0;
    text-align: right;
    width: 14%;
}

.ch-calendar-month .day:hover{
	background: #F5F5F5;
	font-weight:normal;
	color:#333;
}

.ch-calendar-month .disable{
	color:#C6C6C6;
	cursor:default;
}

.ch-calendar-month td.selected{
	background: #DC7B1C;
	color:#FFF;
	font-weight: bold;
}
.ch-calendar-month .today {
	background: #FEFBD6;
}


/* Arrows */
.ch-calendar-prev,
.ch-calendar-next {
	width:35px;
	height:20px;
	position:absolute;
	top:4px;
	cursor:pointer;
	z-index:1;
	text-indent:-3000px;
}

.ch-calendar-prev {
	left: 5px;
    background-position:17px -25px;
}

.ch-calendar-next {
	right: 5px;
    background-position:-10px -25px;
}


/* IE 6*/
.ie6 .ch-calendar {
	display: inline;
	vertical-align:top;
}

.ie6 .ch-calendar .ch-dropdown-trigger,
.ie7 .ch-calendar .ch-dropdown-trigger {
	line-height:0;
	font-size:0;
}

.ie6 .ch-calendar .ch-dropdown-content{
	padding:0;
	width: 200px;
	height: auto;
}

/* IE 7*/
.ie6 .ch-calendar,
.ie7 .ch-calendar {
	top:8px;
	position:relative;
}

.ie6 .ch-calendar .ch-dropdown-trigger,
.ie7 .ch-calendar .ch-dropdown-trigger {
	vertical-align:top;
}

.ie6 .ch-calendar .ch-dropdown-trigger .ico,
.ie7 .ch-calendar .ch-dropdown-trigger .ico {
	left:0;
	height:25px;
}

.ie6 .ch-calendar-month.datagrid td,
.ie7 .ch-calendar-month.datagrid td,
.ie8 .ch-calendar-month.datagrid td {
	border-top: none;
	border-bottom: none;
}