/* Calendar */
.ch-calendar.ch-dropdown.secondary,
.ch-calendar.ch-dropdown.secondary .ch-dropdown-trigger{
    border-width: 0;
    background-color:#FFF;
    height: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    width: 33px;
}

.ch-calendar.ch-dropdown.secondary .ch-dropdown-trigger{
	text-indent:-9999px;
}

.ch-calendar.ch-dropdown.secondary.ch-dropdown-on {
	box-shadow:	2px 0 0px #888888;
	-moz-box-shadow: 2px 0 0px #888888;
	-webkit-box-shadow:	2px 0 0px #888888;
	padding: 0 0 2px;
}

.ch-calendar-prev,
.ch-calendar-next,
.ch-calendar.ch-dropdown.secondary .ch-dropdown-trigger .ico {
	background-image: url('../src/ml/assets/calendar.png');
	background-repeat: no-repeat;
}

.ch-calendar.ch-dropdown.secondary .ch-dropdown-trigger .ico {
	background-position: 0 0;
    height: 20px;
    left: 5px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    top: 1px;
    width: 20px;
}

/* Container */
.ch-calendar-container.ch-dropdown-content.secondary {
	padding:0;
	width:190px;
}

/* Content */
.ch-calendar-content{
	position:relative;
}

/* Month Table */
.ch-calendar-month{
	border:none;
	padding:0;
}

.ch-calendar-month caption{
	text-align: center;
	font-size:12px;
	margin:0;
	background:#F5F5F5;
	background: -moz-linear-gradient(#F5F5F5 50%, #F0F0F0 50%);
	background: -webkit-linear-gradient(#F5F5F5 50%, #F0F0F0 50%);
	background: -o-linear-gradient(#F5F5F5 50%, #F0F0F0 50%);
	
}

.ch-calendar-month thead tr,
.ch-calendar-month th{
	border-top:none;
	border-bottom:none;
	border:none;
	background:none;
	height:auto;
	width:auto;
	padding:0;
	text-align:center;
}

.ch-calendar-month .week{
	border:none;
}

.ch-calendar-month .day,
.ch-calendar-month .disable{
	height: auto;
    text-align: center;
    cursor:pointer;
    padding:0;
    line-height:16px	;
}

.ch-calendar-month .day:hover{
	background: #FEFBD6;
}

.ch-calendar-month .disable{
	color:#C6C6C6;
	cursor:default;
}

.ch-calendar-month td.selected{
	background: #FEFBD6;
}
.ch-calendar-month .today {
	background: #CCC;
}


/* Arrows */
.ch-calendar-prev,
.ch-calendar-next {
	width:35px;
	height:20px;
	position:absolute;
	top:4px;
	cursor:pointer;
	z-index:1;
}

.ch-calendar-prev {
	left: 5px;
    background-position:17px -27px;
}

.ch-calendar-next {
	right: 5px;
    background-position:-10px -27px;
}


/* IE 7*/
.ie7 .ch-calendar {
	display: inline;
	vertical-align:top;
	margin-top:10px;
}

.ie7 .ch-calendar .ch-dropdown-trigger {
	display: block;
}
