/* Carousel */
.ch-carousel {
	overflow:hidden;
	position:relative;
}

.ch-carousel-container {
	margin: 0 50px;
	position:relative;
	overflow:hidden;
}

.ch-carousel-content {
	position:absolute;
	transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	left:0;	
}

.ch-carousel-content.ch-carousel-nofx{
	transition: none;
	-o-transition: none;
	-moz-transition: none;
	-webkit-transition: none;
}

.ch-carousel-list {
	float:left;
	overflow:hidden;
}

.ch-carousel-item {
	float:left;
}

/* Buttons */
.ch-carousel .ch-prev-arrow,
.ch-carousel .ch-next-arrow {
	position:absolute;
	cursor:pointer;
}

.ch-carousel .ch-prev-arrow {
	left: 10px;
}

.ch-carousel .ch-next-arrow {
	right: 10px;
}

.ch-carousel .ch-prev-arrow span,
.ch-carousel .ch-next-arrow span {
	background:none;
	display: block;
	width:11px;
	height:20px;
	margin:15px 8px; /* Area sensible */
	text-indent:999px;
	overflow:hidden;
	background-image: url('../src/ml/assets/carousel.png');
	background-repeat: no-repeat;
}

.ch-carousel .ch-next-arrow span{
	background-position: 0 -40px;
}

.ch-carousel .ch-prev-arrow:hover span{
	background-position: 0 -20px;
}

.ch-carousel .ch-next-arrow:hover span{
	background-position: 0 -60px;
}

/* Pager */
.ch-carousel-pages {
	position:absolute;
	bottom:0px;
}

.ch-carousel .ch-carousel-pages li{
	text-indent:999px;
	overflow:hidden;
	float:left;
	margin-right:10px;
	width:10px;
	height:10px;
	cursor:pointer;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background-color:#d1d1d1;
}

.ch-carousel-pages li.ch-carousel-pages-on{
	background-color:#16232f;
}

/* IE 6 */
.ie6 .ch-carousel .ch-next-arrow{
	right: 20px;
}

.ie6 .ch-carousel .ch-prev-arrow{
	left: 0;
}

/* No-js */
.no-js .ch-carousel-container {
	height:150px;
	overflow:auto;
}

.no-js .ch-carousel-content {
	width:-moz-max-content;
	width:-webkit-max-content;
}