/*
* Reset
* @based: Eric Meyer
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
abbr, article, aside, audio, bb, canvas, datagrid, 
datalist, details, dialog, eventsource, figure, footer,
header, hgroup, mark, menu, meter, nav, output,
progress, section, time, video {
	background: transparent;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	
}

ol, ul, menu {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote: before, 
blockquote: after,
q: before, q: after {
	content: '';
	content: none;
}

/* remember to define focus styles!*/
/*:focus {
	outline: 0;
}*/

/* remember to highlight inserts somehow!*/
ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
* Global
*/

body {
	background-color: #FFF;
	color: #333; 
	font: 13px/20px Arial, Helvetica, "Nimbus Sans L", sans-serif;
	min-width: 760px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px; /* Prevent layout "sticking" to the edge of the browser */
}

.lt-ie7 body,
/* Dreprecate */
.ie6 body {
	width: expression( (document.documentElement.clientWidth >1202)? "1200px": (document.documentElement.clientWidth <742)? "740px": "auto" );
}

/* IMPORTANT: .ch-hide class allows components to be shown and hidden*/
.o, .ch-hide {
	display: none;
}

/*
* Anchors
*/

a {
	color: #0637B3;
	text-decoration: none;
}

a:active {
	color: #0000DD;
}

a:visited {
	color: #800080;
}

a:hover,
a:focus {
	text-decoration: underline;
}

a img {
	border: none;
}

/*
* Typography
*/

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-top: 10px;
}

.box h1, .box h2, .box h3, 
.box h4, .box h5, .box h6 {
	margin-top: 0;
	margin-bottom: 10px;
}

/* Arial Headers*/
h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

h5 {
	font-size: 11px;
}

/*
* Price
*/

.price {
	color: #900;
	font-size: 16px;
	font-weight: bold;
}

.price sup {
	font-size: 10px;
	vertical-align: text-top;
	line-height: 1em;
}

.price span {
	color: #999;
	font-size: 13px;
	font-weight: normal
}

.lt-ie9 .price sup,
/* Dreprecate */
.ie6 .price sup,
.ie7 .price sup,
.ie8 .price sup {
	font-size: 12px;
}

/*
* Misc
*/

hr {
	border: none;
	border-bottom: 1px dashed #CCC;
}

.lt-ie8 hr,
/* Dreprecate */
.ie6 hr,
.ie7 hr {
	height: 0;
}

/*
* List
*/

.ch-list {
	margin-bottom:10px;
}

li {
	margin-left:10px;
	padding:3px 0;
	line-height: 18px;
}

ul.ch-list {
	list-style: disc inside;
}

ol.ch-list {
	list-style: decimal inside;
}

dl.ch-list {
  margin-bottom: 18px;
}
dl.ch-list dt, dl.ch-list dd {
  line-height: 18px;
}
dl.ch-list dt {
  font-weight: bold;
}
dl.ch-list dd {
  margin-left: 9px;
}

/*
* Buttons
*/

/* Main styles */
.ch-btn, .btn,
.ch-btn:focus, .btn:focus {
	border: 1px solid #2C3176;
	border-radius: 3px;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #FFF;
	cursor: pointer;
	padding: 0 10px;
}

/* Focus style */
.ch-btn:focus, .btn:focus {
	-webkit-box-shadow: 0 0 5px #4055A5;
	box-shadow: 0 0 5px #4055A5;
}

/* Main color gradient */
.ch-btn.ch-main, .btn.main,
.ch-btn.ch-primary, .btn.primary,
.ch-btn.ch-secondary, .btn.secondary {
	background-color: #2C3176;
	background-image: -o-linear-gradient(top, #BACDFF, #4055A5 3%, #283077);
	background-image: -ms-linear-gradient(top, #BACDFF, #4055A5 3%, #283077);
	background-image: -moz-linear-gradient(top, #BACDFF,  #4055A5 3%,  #283077);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BACDFF), color-stop(3%, #4055A5), color-stop(100%, #283077));
	background-image: -webkit-linear-gradient(top, #BACDFF, #4055A5 3%, #283077);
	background-image: linear-gradient(top, #BACDFF, #4055A5 3%, #283077);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4055A5', endColorstr='#283077');
}

/* Skin color gradient */
.ch-btn.ch-skin, .btn.skin {
	background-color: #C0DAEC;
	background-image: -o-linear-gradient(top, #FFF, #D0E6F8 3%, #A6CDEE);
	background-image: -ms-linear-gradient(top, #FFF, #D0E6F8 3%, #A6CDEE);
	background-image: -moz-linear-gradient(top, #FFF,  #D0E6F8 3%,  #A6CDEE);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(3%, #D0E6F8), color-stop(100%, #A6CDEE));
	background-image: -webkit-linear-gradient(top, #FFF, #D0E6F8 3%, #A6CDEE);
	background-image: linear-gradient(top, #FFF, #D0E6F8 3%, #A6CDEE);
	border: 1px solid #79a8c7;
	color: #476274;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D0E6F8', endColorstr='#A6CDEE');
}

.ch-btn.ch-main:hover, .btn.main:hover,
.ch-btn.ch-primary:hover, .btn.primary:hover,
.ch-btn.ch-secondary:hover, .btn.secondary:hover {
	background-color: #2C3176;
	background-image: -o-linear-gradient(top, #BEC8FF, #4255D4 3%, #2F33AE);
	background-image: -ms-linear-gradient(top, #BEC8FF, #4255D4 3%, #2F33AE);
	background-image: -moz-linear-gradient(top, #BEC8FF,  #4255D4 3%, #2F33AE);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BEC8FF), color-stop(3%, #4255D4), color-stop(100%, #2F33AE));
	background-image: -webkit-linear-gradient(top, #BEC8FF, #4255D4 3%, #2F33AE);
	background-image: linear-gradient(top, #BEC8FF, #4255D4 3%, #2F33AE);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4255D4', endColorstr='#2F33AE');
}

.ch-btn.ch-skin:hover, .btn.skin:hover {
	background-color: #C8E5F7;
	background-image: -o-linear-gradient(top, #FFF, #DCECFB 3%, #C2DDF5);
	background-image: -ms-linear-gradient(top, #FFF, #DCECFB 3%, #C2DDF5);
	background-image: -moz-linear-gradient(top, #FFF,  #DCECFB 3%, #C2DDF5);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(3%, #DCECFB), color-stop(100%, #C2DDF5));
	background-image: -webkit-linear-gradient(top, #FFF, #DCECFB 3%, #C2DDF5);
	background-image: linear-gradient(top, #FFF, #DCECFB 3%, #C2DDF5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCECFB', endColorstr='#C2DDF5');
}

.ch-btn.ch-main:active, .btn.main:active,
.ch-btn.ch-primary:active, .btn.primary:active,
.ch-btn.ch-secondary:active, .btn.secondary:active {
	background-color: #2C3176;
	background-image: -o-linear-gradient(top, #000, #1C2662 3%, #171B3F);
	background-image: -ms-linear-gradient(top, #000, #1C2662 3%, #171B3F);
	background-image: -moz-linear-gradient(top, #000,  #1C2662 3%, #171B3F);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(3%, #1C2662), color-stop(100%, #171B3F));
	background-image: -webkit-linear-gradient(top, #000, #1C2662 3%, #171B3F);
	background-image: linear-gradient(top, #000, #1C2662 3%, #171B3F);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1C2662', endColorstr='#171B3F');
}

.ch-btn.ch-skin:active, .btn.skin:active {
	background-color: #C8E5F7;
	background-image: -o-linear-gradient(top, #8FB0C5, #A3C9E1 3%, #79B5DC);
	background-image: -ms-linear-gradient(top, #8FB0C5, #A3C9E1 3%, #79B5DC);
	background-image: -moz-linear-gradient(top, #8FB0C5,  #A3C9E1 3%, #79B5DC);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8FB0C5), color-stop(3%, #A3C9E1), color-stop(100%, #79B5DC));
	background-image: -webkit-linear-gradient(top, #8FB0C5, #A3C9E1 3%, #79B5DC);
	background-image: linear-gradient(top, #8FB0C5, #A3C9E1 3%, #79B5DC);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A3C9E1', endColorstr='#79B5DC');
}

/* Disabled color gradient */
.ch-btn.disabled, .btn.disabled,
.ch-btn[disabled], .btn[disabled],
.ch-btn[disabled]:hover, .btn[disabled]:hover,
.ch-btn[disabled]:active, .btn[disabled]:active,
.ch-btn[disabled]:focus, .btn[disabled]:focus {
	background-color: #CCC;
	background-image: -o-linear-gradient(top, #FFF, #CCC);
	background-image: -ms-linear-gradient(top, #FFF, #CCC);
	background-image: -moz-linear-gradient(top, #FFF, #CCC);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #CCC));
	background-image: -webkit-linear-gradient(top, #FFF, #CCC);
	background-image: linear-gradient(top, #FFF, #CCC);
	border: 1px solid #999;
	color: #999;
	cursor: not-allowed;
	filter: alpha(opacity=50);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CCCCCC');
	opacity: 0.5;
}

/* Main */
.ch-btn.ch-main, .btn.main {
	font-size: 19px;
	height: 40px;
}

/* Primary */
.ch-btn.ch-primary, .btn.primary {
	font-size: 18px;
	height: 32px;
}

/* Secondary*/
.ch-btn.ch-secondary, .btn.secondary {
	font-size: 12px;
	height: 25px;
}


/* Close*/
.ch-btn.ch-close, .btn.close {
	background: transparent url('../assets/close.png') 0 0 no-repeat;
	border: none;
	height: 16px;
	padding: 0;
	position: absolute;
	right: 10px;
	top: 10px;
	text-indent: 99px;
	overflow: hidden;
	width: 16px;
}

.ch-btn.ch-close:hover, .btn.close:hover,
.ch-btn.ch-close:focus, .btn.close:focus {
	background-position: 0 -16px;
}

.ch-btn.ch-close:active, .btn.close:active {
	background-position: 0 -32px;
	outline: none;
}

/* IE */
.lt-ie8 .ch-btn, .lt-ie8 .btn,
/* Dreprecate */
.ie6 .ch-btn, .ie6 .btn,
.ie7 .ch-btn, .ie7 .btn {
	padding: 0;
}


/*
* Boxes
*/

.container {
	border: none;
	background: none;
	margin: 10px 0;
	padding: 10px;	
}

.box {
	background: #FFF url('../assets/gradients.png') 0 -280px repeat-x;
	border: 1px solid #CCC;
	border-radius: 5px;
	margin: 0 0 10px 0;
	padding: 10px;
}

.lt-ie7 .box,
/* Deprecate */
.ie6 .box {
	z-index: 1; /* Fix z-index property */
}

.container > .box: first-of-type {
	border-radius: 5px 5px 0 0;
}

.container .box {
	border-radius: 0;
}

.actions {
	margin-top: 10px;
	text-align: center;
}

.lt-ie8 .actions a,
/* Deprecate */
.ie6 .actions a,
.ie7 .actions a, {
	display: inline-block;
	margin-bottom: 5px;
}


/*
* Pagination
*/

.pagination {
	clear: both;
	margin: 10px 0;
}
			
.pagination li {
	display: inline-block;
	margin: 0px 4px;
}

.pagination li a, 
.pagination li.current a {
	border-radius: 3px;
	padding: 5px 8px;
	border: 1px solid #CCC;
	background-color: #FFF;
}

.pagination li a:hover {
	color: #FFF;
	text-decoration: none;
	background-color: #0637b3;
	border: 1px solid #0637b3;
}

.pagination li.current a {
	border: 1px solid #ededed;
	background-color: #ededed;
	color: #0637b3; 
	font-weight: bold;
}

.pagination li:first-child a,
.pagination li:last-child a {
	border-color: #FFFFFF;
}

.pagination li:first-child a:hover,
.pagination li:last-child a:hover {
	border-color: #0637b3;
}

.lt-ie8 .pagination li {
	display: inline;
	zoom: 1;
	padding: 5px 2px;
}


/*
* Icons and Message Boxes 
*/

		
.ch-ico, .ico,
.ch-message, .message {
	background: url('../assets/icons.png') no-repeat;
}

/* Icons */

.ch-ico, .ico {
	display: inline-block;
	width: 16px;
	height: 16px;
	text-indent: 99px;
	overflow: hidden;
	background-repeat: no-repeat;
}

.ch-ico.ch-attention,
.ico.attention {
	background-position: -77px -110px;
}

.ch-ico.ch-check,
.ico.check {
	background-position: -43px -144px;
}

.ch-ico.ch-error,
.ico.error {
	background-position: -179px -9px;
}

.ch-ico.ch-help,
.ico.help {
	background-position: -111px -76px;
}

.ch-ico.ch-information,
.ico.information {
	background-position: -145px -42px;
}	

.ch-ico.ch-ok,
.ico.ok {
	background-position: -9px -178px;
	height: 17px;
}


/* Message boxes */

.ch-message {
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	margin: 0 0 5px;
	padding: 8px 10px 8px 34px;
}

.ch-message.ch-attention {	
	background-color: #FCF8CB;
	background-position: -68px -101px;
	border-color: #E4E2B8;
}


.ch-message.ch-check {
	background-color: #E8FFD7;
	background-position: -34px -135px;
	border-color: #C7DDBC;
	color: #487210;
}
	
.ch-message.ch-error {	
	background-color:#fbd9db;
	background-position: -170px 0px;
	border-color: #f7a9ae;
	color:#600;
}		

.ch-message.ch-help {	
	background-color: #F6F9F3;
	background-position: -102px -67px;
	border-color: #cccccc;
}
	
.ch-message.ch-information {	
	background-color: #E5EBFD;
	background-position: -136px -33px;
	border-color: #A0B1DE;
}
	
.ch-message.ch-ok {
	background-color: #E8FFD7;
	background-position: 0 -169px;
	border-color: #C7DDBC;
}

/*
* Transitions
*/

.loading {
	background-image: url('../assets/loading.gif');
	width: 44px;
	height: 44px;
	margin: 20px auto;
}

.loading.small {
	background-image: url('../assets/loading_small.gif');
	width: 18px;
	height: 18px;
}


/*
* Tables
*/

.datagrid {
	width: 100%;
	border: 1px solid #CECECE;
	text-align: left;
}

.datagrid caption {
	text-align: left;
	font-weight: normal;
	margin: 10px 0;
	font-size: 18px;
}

.datagrid thead tr {
	border-top: 1px solid #CECECE;
}

.datagrid th {
	background-color: #eee;
	background-image: -o-linear-gradient(top, #FFF, #ddd 100%);
	background-image: -ms-linear-gradient(top, #FFF, #ddd 100%);
	background-image: -moz-linear-gradient(top, #FFF, #ddd 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #ddd));
	background-image: -webkit-linear-gradient(top, #FFF, #ddd 100%);
	background-image: linear-gradient(top, #FFF, #ddd 100%);
	border-bottom: 1px solid #CECECE;
	border-left: 1px solid #CECECE;
	font-size: 11px;
	height: 24px;
	padding: 0 10px;
	text-align: left;
	vertical-align: middle;
}


.datagrid .datagrid th.selected {
	background: #dedede;
	position: relative;
	border-top: 1px solid #CECECE;
}


.datagrid th.selected .asc,
.datagrid th.selected .desc {
	background: transparent url('../assets/mini-arrows.png') 0 -3px no-repeat;
	width: 7px;
	display: block;
	height: 4px;
	overflow: hidden;
	position: absolute;
	right: 10px;
	text-indent: 99px;
	top: 0;
	margin: 10px 0;
}

.datagrid th.selected .desc {
	background-position: 0 0;
}

.datagrid th:first-child {
	border-left: none;
}

.datagrid tr {
	border-top: 1px solid #EEE;
}

.datagrid tr.selected {
	background-color: #FFC;
}

.datagrid td {
	height: 40px;
	padding: 0 10px;
	vertical-align: middle;
}

.lt-ie9 .datagrid thead tr {
	border: 2px solid #CECECE;
	border-left-width: 1px;
	border-right-width: 2px;
}

.lt-ie9 .datagrid th {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#dddddd');
}

.lt-ie9 .datagrid th.selected {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#dedede');
}

.lt-ie9 .datagrid td,
/* Deprecate */
.ie6 .datagrid td,
.ie7 .datagrid td,
.ie8 .datagrid td {
	border-top: 1px solid #EEE;
}

/*
* Clear Fix
* @based: http://perishablepress.com/press/2009/12/06/new-clearfix-hack/
*/


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html .clearfix { 
	zoom: 1; /* IE6 */
}
 
*:first-child+html .clearfix { 
	zoom: 1; /* IE7 */
} 

/*  do not select text  */
.ch-user-no-select {
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
