/* Date Picker */
.ch-datePicker-trigger {
	background: transparent url('../assets/calendar.png') 0 0 no-repeat;
	display: inline-block;
	height: 20px;
	margin: 0 0 5px 5px;
	overflow: hidden;
	text-indent: 999px;
	vertical-align: middle;
	width: 20px;
}

.ch-datePicker-container.ch-layer {
	background-color: #fff;
	border: 1px solid #cecece;
	box-shadow: 2px 2px 1px #888!important;
	-webkit-box-shadow: 2px 2px 1px #888!important;
	min-width: 240px;
}

.ch-datePicker-container .ch-cone {
	left: 112px;
	top: -8px;
}

.ch-datePicker-container .ch-calendar caption,
.ch-datePicker-container .ch-calendar thead {
	border:none;
}

.ch-datePicker-container .ch-calendar caption {
	margin:0;
}

.ch-datePicker-container .ch-calendar-prev span,
.ch-datePicker-container .ch-calendar-next span {
	margin-top: 10px;
}

.ch-datePicker-container .ch-calendar-day:hover {
	background-color: #F5F5F5;
	color: #333;
	font-weight: normal;
	cursor:pointer;
}

/* IE7 */
.lt-ie8 .ch-datePicker-trigger,
.ie7 .ch-datePicker-trigger {
	display: inline;
	margin-bottom: 4px;
	vertical-align: text-bottom;
	zoom: 1;
}

.lt-ie8 .ch-datePicker-container.ch-layer,
.ie7 .ch-datePicker-container.ch-layer {
	width: 240px;
}