/**
 *	Default Styles
 */
.ch-dropdown {
	display: inline-block;
    overflow: visible;
}

/* Trigger */
.ch-dropdown-trigger {
	display: inline-block;
	position:relative;
	cursor:pointer;
	padding:0 23px 0 10px;
}

/* Trigger Down icon */
.ch-dropdown-trigger .ico {
	position:absolute;
	right:9px;
	top:10px;
	background-image: url('../src/ml/assets/dropdown.png');
	display:block;
	width:7px;
	height:5px;
	text-indent:999px;
}

/* Content */
.ch-dropdown-content {
	background-color:#fff;
	min-width:120px;
	position:absolute;
	white-space:nowrap;
	max-height:215px;
	overflow:auto;
}

.ch-dropdown-content-hide {
	display: none;
}

/**
 *	Primary skin
 */

/* Trigger */
.ch-dropdown-trigger {
	background-position:0 -435px;
	background-color:#C0DAEC;
	border:1px solid #79a8c7;
	color: #476274;
	height:23px;
	line-height:24px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

/* Trigger Hover */
.ch-dropdown-trigger:hover {
	background-position: 0 -460px;
}

/* Trigger Actived */
.ch-dropdown-trigger.ch-dropdown-trigger-on {
	background-position: 0 -485px;
}

.ch-dropdown-trigger-on.ch-bottom,
.ch-dropdown-trigger-on.ch-bottom-right {
	border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
}

.ch-dropdown-trigger-on.ch-top,
.ch-dropdown-trigger-on.ch-top-right {
	border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	-webkit-border-radius:0 0 3px 3px;
}


/* Content */
.ch-dropdown-content {
	border:1px solid #79a8c7;
}

/* List of links */
.ch-dropdown-content li a {
	color:#000;
	text-decoration:none;
	display:block;
	height:25px;
	line-height:25px;
	padding:0 20px 0 5px;
	margin:5px;
}

/* Interaction of list */
.ch-dropdown-content li a:hover,
.ch-dropdown-content li a:focus {
	background-color:#fefbd6;
}


/**
 *	Secondary skin
 */

/* Trigger */
.secondary .ch-dropdown-trigger {
	background-color:#fff;
	background-image:none!important; /* Because sprite is in core.css, because Packer duplicate it */
	color:#0637B3;
	height:16px;
	line-height:16px;
	font-size:13px;
	text-decoration: none;
	border:1px solid #fff;
	border-width:0 1px;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

/* Trigger Down icon */
.secondary .ch-dropdown-trigger .ico {
	top:4px;
}

/* Trigger Actived */
.secondary .ch-dropdown-trigger:active {
	color: #00D;
}

.secondary .ch-dropdown-trigger-on,
.secondary .ch-dropdown-trigger-on{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

/* Trigger ON */
.secondary .ch-dropdown-trigger-on {
	box-shadow: 2px 2px 0px #888;
	-moz-box-shadow: 2px 0px 0px #888;
	-webkit-box-shadow: 2px 0px 0px #888;	
	border-color:#ccc;
}

/* Trigger Hover */
.secondary .ch-dropdown-trigger:hover {
	text-decoration: underline;
}

/* Content */
.secondary .ch-dropdown-content {
	border:1px solid #ccc;
	padding: 5px 30px 5px 10px;
	box-shadow: 2px 2px 1px #888;
	-moz-box-shadow: 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 1px #888;
}

/* List of links */
.secondary .ch-dropdown-content li {
	list-style:none;	
}

.secondary .ch-dropdown-content a {
	line-height:20px;
	padding:0;
	margin:0;
	background:none;
	display:inline;
	color:#0637B3;
}

/* Interaction of list */
.secondary .ch-dropdown-content a:hover,
.secondary .ch-dropdown-content a:focus {
	background:none;
	text-decoration:underline;
}


/* IE 6,7,8 */
.ie6 .ch-dropdown,
.ie7 .ch-dropdown,
.ie6 .ch-dropdown-trigger,
.ie7 .ch-dropdown-trigger {
	display:inline;
	margin: 0 5px;
	text-indent:0;
	height:auto;
}

.ie6 .secondary.ch-dropdown {
	border-top:0;
	border-bottom:0;
	padding:0;
}

.ie6 .ch-dropdown-content {
	width:150px;
	background-color:#FFF;
	height:150px;
}

.ie7 .ch-dropdown-trigger,
.ie8 .ch-dropdown-trigger {
	background-position:0 -436px;
}

.ie7 .ch-dropdown-trigger.ch-dropdown-trigger-on {
	background-position: 0 -485px;
}

.ie8 .ch-dropdown-trigger.ch-dropdown-trigger-on {
	background-position: 0 -486px;
}

/*No JS*/
.no-js .ch-dropdown-content{
	position:relative;
}