/**
 *	Default Styles
 */

/* Container */
.ch-dropdown {
	display: inline-block;
	position:relative;
}

/* Trigger */
.ch-dropdown-trigger{
	cursor:pointer;
	display:inline-block;
	padding:0 23px 0 10px;
	position:relative;
}

/* Trigger Down icon */
.ch-dropdown-trigger .ico {
	position:absolute;
	right:9px;
	top:10px;
	background-color: transparent;
	background-image: url('../assets/dropdown.png');
	display:block;
	width:7px;
	height:5px;
	text-indent:999px;
	overflow:hidden;
}

/* Content */
.ch-dropdown-content {
	background-color:#fff;
	min-width:120px;
	position:absolute;
	white-space:nowrap;
	max-height:215px;
	overflow:auto;
}

/**
 *	Primary skin
 */

/* Trigger */
.ch-dropdown-trigger {
	background-position:0 -435px;
	background-color:#C0DAEC;
	border:1px solid #79a8c7;
	color: #476274;
	height:23px;
	font-size:12px;
	line-height:24px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	position:relative;
}

/* Trigger Hover */
.ch-dropdown-trigger:hover {
	background-position: 0 -460px;
}

/* Trigger Actived */
.ch-dropdown-trigger.ch-dropdown-trigger-on {
	background-position: 0 -485px;
}

.ch-dropdown-trigger.ch-dropdown-trigger-on.ch-bottom,
.ch-dropdown-trigger.ch-dropdown-trigger-on.ch-bottom-right {
	border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
}

.ch-dropdown-trigger.ch-dropdown-trigger-on.ch-top,
.ch-dropdown-trigger.ch-dropdown-trigger-on.ch-top-right {
	border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	-webkit-border-radius:0 0 3px 3px;
}


/* Content */
.ch-dropdown-content {
	border:1px solid #79a8c7;
}

/* List of links */
.ch-dropdown-content li a {
	color:#000;
	text-decoration:none;
	display:block;
	height:25px;
	line-height:25px;
	padding:0 20px 0 5px;
	margin:5px;
}

/* Interaction of list */
.ch-dropdown-content li a:hover,
.ch-dropdown-content li a:focus {
	background-color:#fefbd6;
}


/**
 *	Secondary skin
 */

/* Container */
.ch-dropdown.secondary {
	height:13px;
	line-height:13px;
}

/* Trigger */
.ch-dropdown.secondary .ch-dropdown-trigger {
	background-color:#fff;
	background-image:none!important; /* Because sprite is in core.css, because Packer duplicate it */
	color:#0637B3;
	height:16px;
	line-height:16px;
	font-size:13px;
	text-decoration: none;
	border:1px solid #fff;
	border-width:0 1px;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

/* Trigger Down icon */
.ch-dropdown.secondary .ch-dropdown-trigger .ico {
	top:4px;
}

/* Trigger Actived */
.ch-dropdown.secondary .ch-dropdown-trigger:active {
	color: #00D;
}

/* Container ON */
.ch-dropdown.secondary.ch-dropdown-on {
	box-shadow: 2px 2px 0px #888;
	-moz-box-shadow: 2px 2px 0px #888;
	-webkit-box-shadow: 2px 2px 0px #888;
}

/* Trigger ON */
.ch-dropdown.secondary .ch-dropdown-trigger.ch-dropdown-trigger-on {
	border-color:#ccc;
}

/* Trigger Hover */
.ch-dropdown.secondary .ch-dropdown-trigger:hover {
	text-decoration: underline;
}


/* Content */
.ch-dropdown-content.secondary {
	border:1px solid #ccc;
	padding: 5px 30px 5px 10px;
	box-shadow: 2px 2px 1px #888;
	-moz-box-shadow: 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 1px #888;
}

/* List of links */
.ch-dropdown-content.secondary a {
	line-height:20px;
	padding:0;
	margin:0;
	background:none;
	display:inline;
	color:#0637B3;
}

/* Interaction of list */
.ch-dropdown-content.secondary a:hover,
.ch-dropdown-content.secondary a:focus {
	background:none;
	text-decoration:underline;
}


/* IE 6 */
.ie6 .ch-dropdown {
	display:inline;
	margin: 0 5px;
	padding:0;
}

.ie6 .ch-dropdown.secondary {
	border-top:0;
	border-bottom:0;
}

.ie6 .ch-dropdown-content {
	width:150px;
	background-color:#FFF;
	height:150px;
}


/* IE 7,8 */
.ie7 .ch-dropdown-trigger,
.ie8 .ch-dropdown-trigger {
	background-position:0 -436px;
}

.ie7 .ch-dropdown-trigger.ch-dropdown-trigger-on {
	background-position: 0 -485px;
}

.ie8 .ch-dropdown-trigger.ch-dropdown-trigger-on {
	background-position: 0 -486px;
}
