/* Trigger */
.ch-expando-trigger{
	color:#0637B3;
	cursor:pointer;
	position:relative;
	padding-left:16px;
}

/* Active trigger */
.ch-expando-trigger:active {
	color: #00D;
}

/* Visited trigger */
.ch-expando-trigger:visited{
	color:#800080;
}

/* Hover trigger */
.ch-expando-trigger:hover {
	text-decoration: underline;
}

/* Trigger icon */
.ch-expando-trigger .ico {
	background-image: url('../assets/expando.png');
	width:12px;
	height:12px;
	position:absolute;
	top:2px;
}

/* Trigger icon hover */
.ch-expando-trigger:hover .ico {
	background-position: 0 -17px;
}

/* Trigger icon on */
.ch-expando-trigger-on .ico,
.ch-expando-trigger-on:hover .ico {
	background-position: 0 -32px;
}

/* Content */
.ch-expando-content {
	margin:5px 0 0 16px;
}

/* IE 6 */
.ie6 .ch-expando-trigger {
	font-size:13px;
	text-decoration: underline;
}

/* IE 7 */
.ie7 .ch-expando-trigger{
	font-size:13px;
}
