.ch-layer {
	min-width:280px;
	background-image:none;
	position:absolute;
	z-index: 300;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 3px 3px 3px #999;
	-webkit-box-shadow: 3px 3px 3px #999;
	-moz-box-shadow: 3px 3px 3px #999;
}

.ch-layer .close {
	top:5px;
	right:5px;
}

/* Cone */
.ch-layer .ch-cone {
	background-image: url('../assets/layer.png');
	display:block;
	position:absolute;
	width:16px;
	height:8px;
}

.ch-layer.ch-left .ch-cone {
	left: 12px;
}

.ch-layer.ch-right .ch-cone {
	height: 16px;
	width: 8px;
	left: -8px;
}

.ch-layer.ch-top .ch-cone {
	background-position: 0 -8px;
	bottom: -8px;
	top: auto;
}

.ch-layer.ch-bottom .ch-cone {
	height: 8px;
	width: 16px;
	top: -8px;
}

.ch-layer.ch-right.ch-bottom .ch-cone {
	right: 12px;
	left: auto;
	height: 8px;
	width: 16px;
}

.ch-layer.ch-right.ch-top .ch-cone {
	height: 8px;
	width: 16px;
	right: 12px;
	left: auto;
}

/* IE 6,7 */
.ie6 .ch-layer,
.ie7 .ch-layer {
	width:280px;
}


/* IE6 */
.ie6 .ch-layer .ch-cone {
	font-size:0;
	line-height:0;
}