// *************************************
//
//   Bubble
//
// *************************************

$bubble-bg-color: $error-bg-color;
$bubble-border-color: #eed3d7;

$bubble-border:	1px solid $bubble-border-color;

$bubble-text-size: $font__smaller;
$bubble-padding: 5px 5px 5px 25px;

$bubble-icon-error-top: 2px;
$bubble-icon-error-left: 0px;