// *************************************
//
//   Bubble
//
// *************************************

// -------------------------------------
//   Skin variables
// -------------------------------------

$bubble-bg-color:				#F5E6E6;
$bubble-border-color:			#EED3D7;

$bubble-border:					1px solid $bubble-border-color;

// -------------------------------------
//   Structure variables
// -------------------------------------

$bubble-font-size:				$font__smaller;
$bubble-padding:				5px 5px 5px 25px;

$bubble-error-icon-top:			2px;
$bubble-error-icon-left:		0px;