// *************************************
//
//   Boxes
//
// *************************************

// ----- Error box ----- //

$box-error-bg-color:			$error-bg-color;
$box-error-text-color:			#b84a46;
$box-error-visited-text-color:	$main-primary-color;

// ----- Help box ----- //

$box-help-bg-color:				$gray-100;
$box-help-text-color:			$gray-800;

// ----- Info box ----- //

$box-info-bg-color:				#e4f2f9;
$box-info-text-color:			#3a87ad;
$box-info-link-text-decoration:	underline;

// ----- Warning box ----- //

$box-warning-bg-color:			#fff0ba;
$box-warning-text-color:		#aa8749;
$icon-warning-text-color:		#f5cc00;

// ----- Ok box ----- //

$box-ok-bg-color:				#e9f4e4;
$box-ok-text-color:				#468847;

$box-lite-bg-color:				$main-neutral-color;

$box-border:					1px solid $main-border-color;
$box-margin:					0 0 10px 0;
$box-padding:					10px;
$box-border-radius:				5px;