// *************************************
//
//   Autocomplete
//
// *************************************

$autocomplete-highlighted:					$main-secondary-color;
$autocomplete-trigger-cursor:				pointer;

$autocomplete-padding:						3px 5px;
$autocomplete-highlighted-border-radius:	5px;