// *************************************
//
//   Autocomplete
//
// *************************************

// -------------------------------------
//   Skin variables
// -------------------------------------

$autocomplete-highlighted:					$components-hover-bg-color;
$autocomplete-trigger-cursor:				pointer;

// -------------------------------------
//   Structure variables
// -------------------------------------

$autocomplete-padding:						3px 5px;
$autocomplete-highlighted-border-radius:	5px;