// > Autocomplete
// ----------------------------------------------------------------

$autocomplete-highlighted: $main-secondary-color !default;
$autocomplete-trigger-cursor: pointer !default;

$autocomplete-padding: 3px 5px !default;

$autocomplete-list-padding: 0 !default;
$autocomplete-list-margin: 0 !default;

$autocomplete-item-padding: 3px 5px !default;
$autocomplete-item-margin: 0 5px !default;
$autocomplete-highlighted-border-radius: 5px !default;

$autocomplete-loading-position-right: 10px !default;
