// > Bubble
// ----------------------------------------------------------------

$bubble-bg-color: $error-bg-color !default;
$bubble-border-color: #eed3d7 !default;

$bubble-border: 1px solid $bubble-border-color !default;

$bubble-text-size: $font__smaller !default;
$bubble-padding: 5px 5px 5px 25px !default;

$bubble-icon-error-top: 2px !default;
$bubble-icon-error-left: 0px !default;
