/**
 * Calendar
 */
@import 'calendar-variables';

.ch-calendar {
    position: relative;
    display: inline-block;

    caption {
        @include complex-background($main-neutral-color, $calendar-title-bg-color);
        font-size: $calendar-title-text-size;
        line-height: $calendar-title-line-heigth;
        text-shadow: $calendar-title-shadow;
        border-bottom: none;
    }

    thead {
        border-weight: 0 1px;
    }

    td {
        cursor: $calendar-day-cursor;
        height: $calendar-day-height;
        line-height: $calendar-day-line-height;
        width: 14.28%;
    }

    th {
        font-size: $calendar-head-text-size;
        font-weight: $calendar-head-text-weight;
        width: 14.28%;
    }

    caption,
    thead,
    td {
        border: $calendar-border;
    }
}

.ch-calendar-month {
    font-size: $calendar-text-size;
    text-align: $calendar-text-align;
    width: $calendar-width;
}

.ch-calendar-today {
    background-color: $calendar-day-today-bg-color;
}

.ch-calendar-other {
    color: $calendar-day-empty-color;
    cursor: $calendar-day-empty-cursor!important;
    overflow: hidden;
    text-indent: -99px;
}

.ch-calendar-disabled,
.ch-calendar-disabled:hover {
    background-color: $calendar-day-disabled-bg-color;
    color: $calendar-day-disabled-text-color;
    cursor: not-allowed;
}


.ch-calendar-selected,
.ch-calendar-selected:hover,
.ch-calendar-selected.ch-today {
    background-color: $calendar-day-selected-bg-color!important;
    color: $calendar-day-selected-text-color!important;
    font-weight: $calendar-day-selected-text-weight!important;
}

.ch-calendar-prev,
.ch-calendar-next {
    cursor: $calendar-head-control-pointer;
    position: absolute;
    padding: $calendar-head-control-padding;
    height: $calendar-head-control-height;
    line-height: $calendar-head-control-line-height;
    font-size: $calendar-head-control-font-size;
}

.ch-calendar-prev {
    left: 0;
}

.ch-calendar-next {
    right: 0;
}

.ch-calendar-prev:after,
.ch-calendar-next:after {
    font-family: icons;
    position: absolute;
    top: 7px;
    color: $calendar-head-control-icon-color;
    text-shadow: $calendar-head-control-icon-shadow;
}

.ch-calendar-prev:after {
    content: "\f053";
    left: $calendar-head-control-prev-icon-position;
}

.ch-calendar-next:after {
    content: "\f054";
    right: $calendar-head-control-next-icon-position;
}
