/**
 * Close button
 */

@import "close-variables";

.ch-close,
.ch-close:visited,
.ch-close:focus {
    background-color: $close-button-bg-color;
    @include complex-background(to bottom, transparent 15%, rgba(100, 100, 100, 0.1) 100%);
    border: $close-button-border;
    border-radius: $close-button-border-radius;
    cursor: $close-button-cursor;
    display: inline-block;
    padding: 0;
    text-indent: $close-button-text-indent;
    color: $gray-500;
    width: $close-button-width;
    height: $close-button-height;
    font: normal #{$close-button-font-size}/#{$close-button-line-height} $close-button-font-family;
    text-align:center;
    position: absolute;
    right: $close-button-position-right;
    top: $close-button-position-top;
    appearance: none;
    z-index: 1;
}

.ch-close:active {
    color: $close-button-active-text-color;
    @include complex-background($close-button-active-bg-color, $close-button-active-bg-color-secondary);
}

.ch-close:before {
    content: "\00D7";
}

.ch-close:active
.ch-close:focus,
.ch-close:hover {
    text-shadow: $close-button-text-shadow;
    border: $close-button-border;
}

.ch-close:focus,
.ch-close:hover {
    color: $close-button-focus-hover-text-color;
    @include complex-background($close-button-focus-hover-bg-color, $close-button-focus-hover-bg-color-secondary);
    text-decoration: none;
}
