/* ==========================================================================
     Forms
     ========================================================================== */

@import 'form-variables';

/*
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: $fieldset-border;
    margin: $fieldset-margin;
    padding: $fieldset-padding;
}

legend {
    margin: $legend-margin;
    padding: $legend-padding;
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */

input[type="search"]{
  -webkit-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

/* Generic input & textarea */
input[type="text"],
input[type="url"],
input[type="email"],
input[type="search"],
input[type="date"],
input[type="datatime"],
input[type="datatime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea,
select[multiple],
.ch-form-select-multiple {
    border: $generic-input-border;
    border-radius: 3px;
    padding: $generic-input-padding;

    &:focus {
        border: $generic-input-focus-border;
        padding: $generic-input-focus-padding;
        outline: 0;
    }
}

input[type="file"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
input[type="range"]:focus,
select:focus {
    outline: $input-options-focus-outline;
}

input[readonly],
input[readonly]:focus {
    border: $input-read-only-border;
    padding: $input-read-only-padding;
}

/* Icons */
.ch-form-icon {
    margin-top: 0;
    margin-left: 0;
}

.ch-form-icon-inner {
    opacity: $input-inner-icon-opacity;
}

.ch-form-icon-input:focus + .ch-form-icon-inner {
    opacity: $input-inner-icon-focus-opacity;
}

/* Icon inside input */

input.ch-form-icon-input {
    padding-right: $input-inner-icon-padding-right;
}

input.ch-form-icon-input:focus {
    padding-right: $input-inner-icon-padding-right - 1;
}

.ch-form-big .ch-form-row .ch-form-icon-input {
    padding-right: $input-big-inner-icon-padding-right;
}

.ch-form-big .ch-form-row .ch-form-icon-input:focus {
    padding-right: $input-big-inner-icon-focus-padding-right;
}

/* Module */
.ch-form fieldset {
    margin: $form-fieldset-margin;
}

    /* Title module */
    .ch-form legend {
        color: $fieldset-title-text-color;
        font-weight: $fieldset-title-text-weight;
    }

    .ch-form-subtitle {
        font-size: $fieldset-subtitle-text-size;
        font-weight: $fieldset-subtitle-text-weight;
    }

/* Required specification or another */
.ch-form-hint {
    color: $form-hint-text-color;
    font-size: $form-hint-text-size;
    line-height: $form-hint-line-heigth;
}

/* Basic wrapper for horizontal view */
.ch-form-row {
    padding: $input-row-padding;
    position: relative;

    label {
        display:inline-block;
        position:relative;
        padding: $input-row-label-padding;
    }
}

    /* Label inline not used yet */
    .ch-form-row input + label,
    .ch-form-row select + label,
    .ch-label-inline {
        text-align: left;
        width: auto;
        font-weight: normal;
        margin-left: 0;
    }

    /* Label required **/
    .ch-form-required label {
        font-weight: $input-row-label-required-text-weight;
    }

    .ch-form-required.ch-form-options label {
        font-weight: normal;
        z-index: 1;
    }

    /* Icon indication of required */
    .ch-form-required em {
        display: block;
        position: absolute;
        right: $icon-required-position;
        top: $icon-required-position;
    }
    /* Icon indication of required in options */
    .ch-form-required.ch-form-options em {
        display: inline;
        position: relative;
        vertical-align: super;
        top: auto;
        right: auto;
    }

/* Checkbox inline
.ch-form-row input + input[type=checkbox],*/
.ch-form-checkbox-inline {
    margin-right: 0;
    border: none;
}

/* Select Multiple */
.ch-form-row select[multiple],
.ch-form-select-multiple {
    vertical-align: top;
    margin: $input-select-multiple-margin;
}

/* Textarea */
.ch-form-row textarea {
    vertical-align: top;
}

/* Help bottom line that helps the user */
.ch-form-row .ch-form-hint {
    display: block;
}

/* Subtitle in options */
.ch-form-options .ch-form-subtitle {
    margin: $input-options-subtitle-margin;
}

/* Subtitle in options & required */
.ch-form-options.ch-form-required .ch-form-subtitle{
    font-weight: $input-required-options-subtitle-font-weight;
}

/* Label in options */
.ch-form-options label {
    padding: $input-options-label-padding;
    margin: $input-options-label-margin;
}

/* Radio & Checkbox in options */
.ch-form-options input[type="radio"],
.ch-form-options input[type="checkbox"] {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    top: 1.125em;
    padding: 0; // Reset the IE default padding
}

.ch-form-options input[type=radio] {
    margin: $input-radio-margin;
}

.ch-form-options input[type=checkbox] {
    margin: $input-checkbox-margin;
}

/* Disabled status */
.ch-form-disabled label {
    color: $input-disabled-label-color;
}

.ch-form-disabled input,
.ch-form-disabled input[disabled],
.ch-form-disabled textarea,
.ch-form-disabled textarea[disabled] {
    background-color: $input-disabled-bg-color;
    cursor: not-allowed;
}

/* Actions */
.ch-form-actions {
    text-align: $form-actions-text-align;
}

/* Big inputs */
.ch-form-big input[type="text"],
.ch-form-big input[type="url"],
.ch-form-big input[type="email"],
.ch-form-big input[type="search"],
.ch-form-big input[type="date"],
.ch-form-big input[type="datatime"],
.ch-form-big input[type="datatime-local"],
.ch-form-big input[type="month"],
.ch-form-big input[type="week"],
.ch-form-big input[type="time"],
.ch-form-big input[type="tel"],
.ch-form-big input[type="number"],
.ch-form-big input[type="password"],
.ch-form-big textarea,
.ch-form-big select[multiple],
.ch-form-big .ch-form-select-multiple {
    border-radius: $input-big-border-radius;
    padding: $input-big-padding;
    margin: $input-big-margin ;

    &:focus {
        padding: $input-big-focus-padding;
    }
}

/**
 * Input colorizing
 */

.ch-form input.ch-validation-error,
.ch-form textarea.ch-validation-error,
.ch-form input.ch-bubble-trigger-on,
.ch-form textarea.ch-bubble-trigger-on,
.ch-countdown-exceeded {
    border-color: $input-error-border-color;
}

.ch-validation-error:focus {
    border-width: $input-error-focus-border-width;
}
