// >> Icons
// ------------------------------------------------------

$icon-medium: 19px !default;
$icon-large: 26px !default;
$icon-larger: 34px !default;
$icon-largest: 66px !default;

$icon-medium-box: 16px !default;
$icon-large-box: 24px !default;
$icon-larger-box: 32px !default;
$icon-largest-box: 64px !default;
