/**
 * Transitions
 */
.ch-loading-large,
.ch-loading {
    margin: 20px auto;
    display: block;
}

.ch-loading-large {
    background-image: url('#{$assets-path}/loading-big.gif');
    width: 36px;
    height: 36px;
}

.ch-loading {
    background-image: url('#{$assets-path}/loading.gif');
    width: 24px;
    height: 24px;
}

.ch-loading-small {
    background-image: url('#{$assets-path}/loading-small.gif');
    display: inline-block;
    width: 16px;
    height: 16px;
}

.ch-loading-centered {
    position: absolute;
    top: 50%;
    left: 50%;
}

.ch-loading-large.ch-loading-centered {
    margin-top: -18px;
    margin-left: -18px;
}

.ch-loading.ch-loading-centered {
    margin-top: -12px;
    margin-left: -12px;
}

.ch-loading-small.ch-loading-centered {
    margin-top: -8px;
    margin-left: -8px;
}
