// > Modal
// ----------------------------------------------------------------

$modal-underlay-bg-color: rgba(0, 0, 0, .5) !default;
$modal-box-shadow: 0 3px 14px $gray-900 !default;
$modal-padding: 20px !default;
$modal-lite-padding: 40px !default;
$modal-lite-title-margin: 0 !default;
