/**
 * Modal
 */
@import 'modal-variables';

.ch-modal {
    overflow: auto;
    padding: $modal-padding;
    box-shadow: $modal-box-shadow;
    z-index: 1050;
}

.ch-modal-lite {
    text-align: center;
    padding: $modal-lite-padding;

    h2 {
        margin: $modal-lite-title-margin;
    }
}

/**
 * Underlay
 */
.ch-underlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $modal-underlay-bg-color;
    z-index: 1049;

    &.ch-fx-fadein-enter,
    &.ch-fx-fadein-leave,
    &.ch-fx-slidedown-enter,
    &.ch-fx-slidedown-leave {
        transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    &.ch-fx-fadein-enter,
    &.ch-fx-slidedown-enter {
        opacity: 0;
    }
    &.ch-fx-fadein-enter-active,
    &.ch-fx-slidedown-enter-active {
        opacity: 1;
    }
    &.ch-fx-fadein-leave,
    &.ch-fx-slidedown-leave {
        opacity: 1;
    }
    &.ch-fx-fadein-leave-active,
    &.ch-fx-fadein-slidedown-active {
        opacity: 0;
    }
}
