// > Reset
// ----------------------------------------------------------------

$theme-body-font-size: 13px !default;
$theme-body-line-height: 20px !default;
$theme-body-font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif !default;
$theme-body-padding: 0 10px !default;
$theme-body-bg-color: #fff !default;
$theme-text-color: #333 !default;

$theme-horizontal-line: 1px dashed #ccc !default;

$theme-paragraph-spacing: 1em 0 0 0 !default;
