// > Tooltip
// ----------------------------------------------------------------

$tooltip-bg-color: #fcf8e3 !default;

$tooltip-border-color: #fbeed5 !default;
$tooltip-text-color: #aa8749 !default;

$tooltip-padding: 8px 10px !default;
$tooltip-border-radius: 5px !default;
