/*Global*/
#btnSearchProd {background:#3247c6; color: #fff; border: 1px solid #333; font-weight: bold;border-radius: 3px;	-moz-border-radius: 3px;-webkit-border-radius: 3px;padding: 1px 4px;}
/*h1 {font:18px/20px bold Arial, Helvetica, "Nimbus Sans L", sans-serif; margin: 10px 0 0;border-bottom: 1px dotted #ccc;padding: 0 0 10px;}*/
#recommendations ul, #recommendations li,#recommendations h2,#recommendations a,#recommendations h3, #recommendations p  {margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;}
#recommendations ul {list-style: none;}
#recommendations {font:13px/20px Arial, Helvetica, "Nimbus Sans L", sans-serif; margin: 20px 0 0;}
#recommendations h2.typo{font-family:"Trebuchet MS", Verdana, "DejaVu Sans", sans-serif; font-size:20px; font-weight: normal;margin-bottom:10px;}
#recommendations .box { border: 1px solid #afafaf;height:240px;margin: 10px 0;padding: 10px;position: relative}
#recommendations .allRounded {border-radius: 5px;	-moz-border-radius: 5px;-webkit-border-radius: 5px;}#recommendations .gradient {background-position: 0 -650px;background-repeat: repeat-x;}
#recommendations a { color:#0637B3;text-decoration: none;}
#recommendations a:active {color: #00D;}
#recommendations a:visited{color:#800080;}
#recommendations a:hover {text-decoration: underline;}
#recommendations a img{border:none;}
#recommendations .loading {background: #fff url(http://static.mlstatic.com/org-img/vip3/layer/loading_small.gif);width: 50px;height: 50px;margin: 100px auto 0;}
/*Sprite*/
#recommendations .vertical .hoverTab, #recommendations .vertical .selectedTab, #recommendations .hoverTab span, #recommendations .selectedTab span,#recommendations .gradient {background-image: url("http://img.mlstatic.com/org-img/widgets/recommendations/sprRecommendations.gif");}
#recommendations .hoverTab, #recommendations .selectedTab {background-position: 201px -15px; background-repeat: no-repeat;}
#recommendations .gradient {  background-position: 0 -47px; background-repeat: repeat-x;}
#recommendations .vertical .hoverTab span, #recommendations .vertical .selectedTab span { background-position: 0 16px; background-repeat: repeat-x; }
/*Carousel*/
#recommendations .carousel {position: relative;}
#recommendations .carousel h2.typo{margin-left:-30px;}
#recommendations .mask {margin: 0 40px;overflow: hidden;position: relative;height:200px;}
#recommendations .mask ul {position: absolute;-webkit-transition: all 1s ease-in-out;-moz-transition: all 1s ease-in-out;-o-transition: all 1s ease-in-out;-webkit-transition: all 1s ease-in-out;transition: all 1s ease-in-out;}
#recommendations .mask ul li{display: inline;float: left;margin: 0 10px;width: 155.6px;}
#recommendations .mask ul li .article {height:200px;position:relative;}
#recommendations .mask ul li .article a {display:inline-block;position:relative;top:-20px;}
#recommendations .mask ul li .article a img {padding:5px;width:90px;}
#recommendations .mask ul li .article h3 {height: 35px;top: 150px;line-height:15px;overflow:hidden;position:relative;text-align:left;}
#recommendations .mask ul li .article h3 a {font-size: 16px;line-height: 17px;font-weight:normal;top:0;}
#recommendations .mask ul li .article .price {font-size:16px;position:relative;right:0;text-align:right;top:15px;}
#recommendations .mask ul li .article .percentage {color: #009900;font-size: 12px;position: absolute;text-align: left;top: 130px;}
#recommendations .prev,#recommendations .next {background-image: url("http://img.mlstatic.com/org-img/vip3/sripteRel.gif?a");background-repeat: no-repeat;cursor: pointer;display: block;text-indent: -9999px;overflow: hidden;height:57px;width:25px;position: absolute;top: 70px;}
#recommendations .prev  {background-position: left 0px;left: 10px;}
#recommendations .prev:hover {background-position: left -63px;}
#recommendations .next {background-position: right 0px;right: 10px;}
#recommendations .next:hover {background-position: right -63px;}
#recommendations .disabled {background: none;cursor: default;}
#recommendations #carousels {width: 100%;position: relative;}
/*Vertical Tabs*/
#recommendations .vertical {position: absolute;left: 0; top: 10px; _left: -220px;}
#recommendations .vertical li {cursor:pointer; width: 210px;}
#recommendations .vertical li span{color: #00F;cursor: pointer;border-bottom: 1px solid #ccc;display: block;padding: 5px 10px;width: 181px;height:19px;overflow:hidden;}
#recommendations .vertical .hoverTab span, #recommendations .vertical .selectedTab span{color: #333;text-decoration: none;border-top: 1px solid #999;border-bottom: 1px solid #999;margin-top: -1px;}
#recommendations .vertical .perc {color: #333;font-weight: bold;}
#recommendations .wraperTabs {padding-left: 220px;position: relative;}