// *************************************
//
//   Expandable Mobile
//
// *************************************

$expandable-cursor:					pointer;
$expandable-text-color:				$gray-800;
$expandable-text-size:				$font__medium;
$expandable-text-weigth:			bold; // weigth es weight // no usar las variables de font-weight

	// Text-shadow

	$expandable-text-shadow-top:		0;
	$expandable-text-shadow-left:		1px;
	$expandable-text-shadow-blur:		0;
	$expandable-text-shadow-color:		rgba(255, 255, 255, 0.5);

$expandable-bg-color:				$gray-100;
$expandable-border:					1px solid $gray-400;
$expandable-border-radius:			5px;

$expandable-icon-text-size:			19px; // actualizar nombres de variables
$expandable-icon-text-color:		$gray-700;
$expandable-icon-active-text-color: $gray-900;

$expandable-list-text-size:			$font__x__small;
$expandable-list-link-text-color:	$gray-900;

$expandable-content-bg-color:		$main-neutral-color;

$expandable-padding:				14px 40px 14px 20px;

$expandable-content-margin:			0;
$expandable-content-padding:		14px 20px;
$expandable-content-border:			1px solid #e8e8e8;

$expandable-list-padding:			0;