// *************************************
//
//   Modal
//
// *************************************

// -------------------------------------
//   Skin variables
// -------------------------------------

$underlay-bg-color:				rgba(0, 0, 0, 0.5);

	// Box shadow

	$modal-box-shadow-top:		0;
	$modal-box-shadow-left:		3px;
	$modal-box-shadow-blur:		14px;
	$modal-box-shadow-color:	#444;

// -------------------------------------
//   Structure variables
// -------------------------------------

$modal-padding:					20px;
$modal-lite-padding:			40px;
$modal-lite-title-margin:		0 0 0 0;