// *************************************
//
//   Modal
//
// *************************************

$modal-underlay-bg-color:		rgba(0, 0, 0, 0.5);
$modal-box-shadow:				0 3px 14px $gray-900;
$modal-padding:					20px;
$modal-lite-padding:			40px;
$modal-lite-title-margin:		0 0 0 0;