// *************************************
//
//   Menu UI
//
// *************************************

$menu-max-width: 						300px;
$menu-margin: 							0;
$menu-padding: 							0;
$menu-boder-radius:						5px;

$menu-item-text-color: 					$gray-900;
$menu-item-padding: 					5px 10px;


$menu-hover-bg-color:					$main-secondary-color;
$menu-box-shadow:						0 8px 4px -4px #eee;

$menu-expandable-margin:				5px 0;

$menu-nojs-padding: 					2px 15px;
$menu-nojs-item-hover-bg-color:			$gray-100; // f0f0f0
$menu-nojs-item-hover-border-radius:	5px;