/**
 * MercadoLibre Chico
 */

/* Chico
---------------------------------------------------------------*/

.ml-wrapper {
    padding-bottom: 0;
}

/* Navigation
---------------------------------------------------------------*/

.chico-nav {
    display: block;
    float: right;
}

.chico-nav.sticky {
    position: fixed;
    z-index: 555;
    top: 20px;
    right: 63px;
}

.chico-nav > h2 {
    margin: 0 0 15px;
    font-size: 34px;
    font-weight: 300;
    line-height: 1.15;
}

.chico-nav > h2 ~ h2 {
    margin-top: 30px;
}

.chico-nav > ul {
    border-left: solid 1px #ccc;
    padding-left: 20px;
}

.chico-nav li a {
    display: block;
    padding: 5px 0;
    color: #03c;
}

.chico-nav li > ul > li {
    padding-left: 15px;
}
