/* General Styles
---------------------------------------------------------------*/
h2 {
    line-height: 1em;
}

.ml-wrapper {
    padding-top: 0;
}

.ml-wrapper:after {
    height: 0;
}

.ml-footer {
    margin-top: 0;
}


/* Header
---------------------------------------------------------------*/
header .toggle-label {
    z-index: 999;
    cursor: pointer;
    display: none;
}

header .ml-logo-mobile {
    text-decoration: none;
    color: #333;
}

.ml-header {
    background-image: none;
}

.ml-header .ml-logo {
    display: inline;
}

.ml-header-inner {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.ch-brand-name {
    font-size: 20px;
    margin: 14px 0 0 14px;
    border-left: 1px solid #333;
    padding: 5px 12px 3px 12px;
    font-family: sans-serif;
}

.ml-header .ml-logo {
    width: 259px;
    height: 54px;
    margin: 0;
    background: url(http://static.mlstatic.com/org-img/mobile/ch/0.4.7/assets/logo-large-new.png?v2) no-repeat left center;
    background-size: 58px auto;
    text-indent: -99999px;
}

@media only screen and (min-width: 768px) {

    .toggle-label,
    .ml-navicon {
        display: none;
    }

    .chico-get-started section .ml-bounds article .language-javascript .class-name {
        position: absolute;
        left: 44px;
    }

}



/* Home Page
---------------------------------------------------------------*/
.chico-bottom .ml-bounds {
    text-align: center;
}

.chico-bottom {
    text-align: center;
}

.chico-bottom .brand-ml {
    margin: -12px 0 60px 0;
}

.chico-bottom .brand-ml {
    max-width: 100%;
    max-height: 100%;
    margin: 0 0 50px 0;
}

@media only screen and (max-width: 768px) {

    .ml-navigation {
        border-bottom: 1px solid #eaeaea;
    }

    .ml-header .toggle-label {
        display: block;
    }

    .ml-header .ml-logo {
        display: none;
    }


    .chico-features ul li {
        margin: 0 0 30px 0;
    }

    .ml-bounds {
        text-align: center;
    }

    .ml-bounds h2 {
        margin: 10px 0 20px 0;
    }


    .chico-get-started section .ml-bounds article .language-javascript .class-name {
        margin-left: -220px;
        position: relative;
        left: 10px;
    }

    .ml-footer {
        height: 42px;
        line-height: 42px;
        margin-top: -42px;
        background-color: #FFF;
    }

    .ml-footer .contact {
        display: none;
    }

    .ml-footer a {
        border-right: solid 1px #CCC;
    }

    .ml-footer .link-chico-footer {
        top: 6px;
        position: absolute;
    }
}



/* Footer
---------------------------------------------------------------*/
footer {
    position: relative;
    z-index: 999;
}

footer .contact {
    float: right;
    width: 76px;
    border-right: 1px solid #DDD;
    margin: 12px 14px 0 0;
    height: 18px;
    padding: 2px 0 0 0;
}

footer .icon-contact-us {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAARCAYAAAAyhueAAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAK6wAACusBgosNWgAAABR0RVh0Q3JlYXRpb24gVGltZQA0LzEvMTTrBXF4AAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAATlJREFUOI21kyGMwjAUhj84TGexD1u72Wk0drqGhGFxJCQnsFhmp2epncYOudnq6cmeGuIydsfBfbbtl9eX/5947/35fOZ2u/EOkiRhUte1P51ObxH2TN9q66Uiwnw+f5tQa800CALSNEUp9bJQREjTlKlzDucch8MBEfmzMAxDdrsd1lo+NpvNZ5ZlAGy3WwCapvm1TCnFer1muVyS5znX65VZf1iWJXVdY4whiiKyLKNt21Gh1hpjDM459vs9XdcBDEcqSRLiOMZaS1mWg8KxO7OhB0VRUFUVxhi01uR5fp9CRDDGAHA8Hgd/Mxp+pRSr1Yo4jqmqiiAIiKKIy+WCtfbhWgYn7em67j611pq2bSmK4sddj0p7mqZ5KhH/U9N/kYrIS036ThiGTLz3Hp5r0SOUUiwWC74AFYOLVWN2/4gAAAAASUVORK5CYII=) no-repeat;
    height: 22px;
    width: 22px;
    float: right;
    margin: 12px 0 0 0;
    border: none;
}

footer .link-chico-footer {
    border: none;
}


/* Get started
---------------------------------------------------------------*/
.chico-get-started .language-javascript {
    word-wrap: break-word;
}


/* Api doc
---------------------------------------------------------------*/
.main {
    padding-top: 90px;
}

.ml-bounds dl h4 {
    margin: 40px 0 10px 0;
}

.ml-bounds h2 {
    margin: 50px 0 15px 0;
}

.language-markup code {
    position: relative;
    left: -180px;
    top: 2px;
}


/* Ui components
---------------------------------------------------------------*/
.ui-component .component-example {
    margin: 20px 0 0 0;
}
/*
.component-example h1,
.component-example h2,
.component-example h3,
.component-example h4,
.component-example h5,
.component-example h6 {
    font-weight: normal;
    font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
    margin: 0;
}

.component-example h1 {
    font-size: 22px;
}

.component-example h2 {
    font-size: 20px;
}

.component-example h3 {
    font-size: 18px;
}

.component-example h4 {
    font-size: 16px;
}

.component-example h5 {
    font-size: 15px;
}

.component-example h6 {
    font-size: 14px;
}
*/

/* Help
---------------------------------------------------------------*/
.help p {
    margin: 15px 0 30px 0;
}
