/* General Styles
---------------------------------------------------------------*/
h2 {
    line-height: 1em;
}

.ml-wrapper {
    padding-top: 0;
}

.ml-wrapper:after {
    height: 0;
}

.ml-footer {
    margin-top: 0;
}


/* Header
---------------------------------------------------------------*/
header .toggle-label {
    z-index: 999;
    cursor: pointer;
    display: none;
}

header .ml-logo-mobile {
    text-decoration: none;
    color: #333;
}

.ml-header {
    background-image: none;
}

.ml-header .ml-logo {
    display: inline;
}

.ml-header-inner {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.ch-brand-name {
    font-size: 20px;
    margin: 14px 0 0 14px;
    border-left: 1px solid #333;
    padding: 5px 12px 3px 12px;
    font-family: sans-serif;
}

.ml-header .ml-logo {
    width: 259px;
    height: 54px;
    margin: 0;
    background: url(http://static.mlstatic.com/org-img/mobile/ch/0.4.7/assets/logo-large-new.png?v2) no-repeat left center;
    background-size: 58px auto;
    text-indent: -99999px;
}

@media only screen and (min-width: 768px) {

    .toggle-label,
    .ml-navicon {
        display: none;
    }

    .chico-get-started section .ml-bounds article .language-javascript .class-name {
        position: absolute;
        left: 44px;
    }

}



/* Home Page
---------------------------------------------------------------*/
.chico-bottom .ml-bounds {
    text-align: center;
}

.chico-bottom {
    text-align: center;
}

.chico-bottom .brand-ml {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
}

@media only screen and (max-width: 768px) {

    .ml-navigation {
        border-bottom: 1px solid #eaeaea;
    }

    .ml-header .toggle-label {
        display: block;
    }

    .ml-header .ml-logo {
        display: none;
    }

    .chico-features ul li {
        margin: 0 0 30px 0;
    }

    .chico-get-started section .ml-bounds article .language-javascript .class-name {
        margin-left: -220px;
        position: relative;
        left: 10px;
    }

    .ml-footer {
        height: 42px;
        line-height: 42px;
        margin-top: -42px;
        background-color: #FFF;
    }

    .ml-footer .contact {
        display: none;
    }

    .ml-footer a {
        border-right: solid 1px #CCC;
    }

    .ml-footer .link-chico-footer {
        top: 6px;
        position: absolute;
    }
}



/* Footer
---------------------------------------------------------------*/

footer {
    position: relative;
    z-index: 999;
}

/* Get started
---------------------------------------------------------------*/
.chico-get-started .language-javascript {
    word-wrap: break-word;
}


/* Api doc
---------------------------------------------------------------*/
.main {
    padding-top: 90px;
}

.ml-bounds dl h4 {
    margin: 40px 0 10px 0;
}

.language-markup code {
    position: relative;
    left: -180px;
    top: 2px;
}


/* Ui components
---------------------------------------------------------------*/
.component-example {
    margin: 20px 0 0;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    padding: 12px;
    position: relative;
}
.component-example:before {
    display: block;
    position: absolute;
    padding: 0 4px;
    content: "Example";
    top: -12px;
    left: 8px;
    font-weight: bold;
    font-size: 14px;
    background-color: #fff;
}
.component-example + .highlight,
.ui-components .highlight + .highlight {
    margin-top: -8px;
}
.component-example + .highlight > pre,
.component-example + .highlight > code,
.ui-components .highlight + .highlight > pre {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.icons-showcase {
    overflow: hidden;
    padding: 1em;
}
.icons-showcase li {
    float:left;
    width: 33%;
    line-height: 2em;
}
.icons-showcase li > i:before {
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
}
.icons-showcase li:hover > i:before {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
}

    /* Help
    ---------------------------------------------------------------*/
.help p {
    margin: 15px 0 30px 0;
}
