/* line 5, _reset.scss */
html body {
  margin: 0;
  padding: 0;
}

/* line 10, _reset.scss */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 16, _reset.scss */
.ch-hide {
  display: none;
}

/* Icons
---------------------------------------------------------------*/
@font-face {
  font-family: 'navigation';
  src: url("http://static.mlstatic.com/org-img/ui/navigation/1.0.0/full.eot");
  src: url("http://static.mlstatic.com/org-img/ui/navigation/1.0.0/full.eot?#iefix") format("embedded-opentype"), url("http://static.mlstatic.com/org-img/ui/navigation/1.0.0/full.woff") format("woff"), url("http://static.mlstatic.com/org-img/ui/navigation/1.0.0/full.ttf") format("truetype"), url("http://static.mlstatic.com/org-img/ui/navigation/1.0.0/full.svg?#navigation") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 16, _icons.scss */
[class^='ml-icon-']:before,
[class*='ml-icon-']:before {
  display: inline-block;
  font-family: 'navigation';
  font-style: normal;
  speak: none;
  text-align: center;
  width: 1em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}

/* line 27, _icons.scss */
.ml-icon-help-circled:before {
  content: '\e800';
}

/* line 31, _icons.scss */
.ml-icon-user:before {
  content: '\e801';
}

/* line 35, _icons.scss */
.ml-icon-notification:before {
  content: '\e802';
}

/* line 39, _icons.scss */
.ml-icon-heart:before {
  content: '\e803';
}

/* line 43, _icons.scss */
.ml-icon-facebook:before {
  content: '\e804';
}

/* line 47, _icons.scss */
.ml-icon-twitter:before {
  content: '\e805';
}

/* line 51, _icons.scss */
.ml-icon-plus:before {
  content: '\e806';
}

/* line 55, _icons.scss */
.ml-icon-search:before {
  content: '\e807';
}

/* line 59, _icons.scss */
.ml-icon-chevron-right:before {
  content: '\e809';
}

/* line 63, _icons.scss */
.ml-icon-chevron-up:before {
  content: '\e80a';
}

/* line 5, _search.scss */
.ml-search {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 44px;
  padding: 6px 66px;
  vertical-align: top;
}
/* line 13, _search.scss */
.ml-search .ml-search-input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 4px 30px 4px 10px;
  margin: 0;
  font-size: 16px;
  color: #444444;
  font-size: 17px;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 5px;
  -webkit-appearance: none;
}
/* line 26, _search.scss */
.ml-search .ml-search-input:focus {
  border: 1px solid #bfbfbf;
  outline: 0;
  -webkit-box-shadow: 0 0 5px rgba(117, 127, 16, 0.2);
  box-shadow: 0 0 5px rgba(117, 127, 16, 0.2);
}
/* line 33, _search.scss */
.ml-search .ml-search-btn {
  position: absolute;
  top: 0;
  right: 66px;
  width: 37px;
  height: 100%;
  padding: 0;
  background: none;
  border: none;
}
/* line 43, _search.scss */
.ml-search .ml-search-btn:focus, .ml-search .ml-search-btn:active {
  outline: 0;
}
/* line 47, _search.scss */
.ml-search .ml-search-btn:focus {
  width: 37px;
  height: 100%;
}
/* line 52, _search.scss */
.ml-search .ml-icon-search {
  font-size: 18px;
  color: #888;
}

/* line 5, _autocomplete.scss */
.ch-autocomplete {
  background-color: #FFF;
  border: 1px solid #DEDEDE;
  border-top: 0;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0;
}
/* line 17, _autocomplete.scss */
.ch-autocomplete > div,
.ch-autocomplete > dl {
  padding: 5px;
  margin: 0;
}
/* line 21, _autocomplete.scss */
.ch-autocomplete > div dt,
.ch-autocomplete > dl dt {
  color: #999999;
  font-size: .8em;
}
/* line 28, _autocomplete.scss */
.ch-autocomplete li,
.ch-autocomplete dd {
  padding: 3px 5px;
  margin: 0;
}
/* line 33, _autocomplete.scss */
.ch-autocomplete .ch-autocomplete-highlighted {
  background-color: #fdf9d5;
  border-radius: 5px;
}

/* line 5, _navicon.scss */
.ml-navicon {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
}
/* line 10, _navicon.scss */
.ml-navicon > span {
  position: absolute;
  left: 50%;
  display: block;
  width: 26px;
  height: 4px;
  margin-left: -13px;
  background: #999999;
}
/* line 18, _navicon.scss */
.ml-navicon > span:first-child {
  top: 0;
  margin-top: 12px;
}
/* line 23, _navicon.scss */
.ml-navicon > span:last-child {
  bottom: 0;
  margin-bottom: 12px;
}
/* line 28, _navicon.scss */
.ml-navicon > span:nth-child(2) {
  top: 50%;
  margin-top: -2px;
}

/* line 6, _tooltip.scss */
.ml-header-tooltip {
  position: absolute;
  left: 50%;
  top: 32px;
  z-index: 1;
  min-width: 90px;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(99, 99, 99, 0.2);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* line 18, _tooltip.scss */
.ml-header-tooltip .ml-header-tooltip-item {
  display: block;
}
/* line 21, _tooltip.scss */
.ml-header-tooltip .ml-header-tooltip-item > a {
  display: block;
  color: #111111;
  padding: 5px 15px;
  margin: 3px 0;
  line-height: 25px;
  text-decoration: none;
  -webkit-transition: background-color 150ms ease-out;
  -o-transition: background-color 150ms ease-out;
  transition: background-color 150ms ease-out;
}
/* line 30, _tooltip.scss */
.ml-header-tooltip .ml-header-tooltip-item > a:hover {
  color: #111111;
  background: #fefbd6;
}
/* line 38, _tooltip.scss */
.ml-header-tooltip:before, .ml-header-tooltip:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border: outset transparent;
  border-bottom-style: solid;
  content: '';
  pointer-events: none;
}
/* line 50, _tooltip.scss */
.ml-header-tooltip:before {
  border-bottom-color: #e6e6e6;
  border-width: 10px;
  margin-left: -10px;
}
/* line 56, _tooltip.scss */
.ml-header-tooltip:after {
  border-bottom-color: white;
  border-width: 9px;
  margin-left: -9px;
}

@keyframes pop-in {
  /* line 2, _animations.scss */
  0% {
    opacity: .1;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }

  /* line 7, _animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes fade-in {
  /* line 14, _animations.scss */
  0% {
    opacity: 0;
  }

  /* line 18, _animations.scss */
  100% {
    opacity: 1;
  }
}

/**
* Header base
* @authors: jvanni
* @description: defines the basic styles header mobile first
*/
/* line 14, _navbar.scss */
.ml-header,
.ml-header *,
.ml-footer,
.ml-footer * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, _navbar.scss */
.ml-header {
  position: relative;
  z-index: 99;
  width: 100%;
  min-height: 44px;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 13px;
  line-height: 19px;
  color: #777777;
  background-color: #fff059;
  border-bottom: 1px solid #d9d9d9;
}
/* line 30, _navbar.scss */
.ml-header .ml-header-inner {
  padding: 0 10px;
}
/* line 34, _navbar.scss */
.ml-header .ml-logo {
  width: 58px;
  height: 44px;
  margin: 0;
  background: url(http://static.mlstatic.com/org-img/mobile/ch/0.4.7/assets/logo-large-new.png?v2) no-repeat left center;
  background-size: 100% auto;
  text-indent: -99999px;
}
/* line 41, _navbar.scss */
.ml-header .ml-logo > a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 47, _navbar.scss */
.ml-header .ml-header-title {
  padding: 0 10px;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 44px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 56, _navbar.scss */
.ml-header .action-left {
  float: left;
}
/* line 60, _navbar.scss */
.ml-header .action-right {
  float: right;
}
/* line 64, _navbar.scss */
.ml-header .ml-navicon {
  top: 1px;
  position: absolute;
  right: 10px;
}
/* line 74, _navbar.scss */
.ml-header .toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  width: 54px;
  height: 44px;
  background: rgba(0, 0, 0, 0);
}
/* line 84, _navbar.scss */
.ml-header .toggle-input {
  display: none;
}
/* line 93, _navbar.scss */
.ml-header .toggle-input:checked ~ .ml-navicon span:first-child,
.ml-header .toggle-input:checked + .ml-navigation + .ml-navicon span:first-child {
  -webkit-transform: translate(0, 8px);
}
/* line 97, _navbar.scss */
.ml-header .toggle-input:checked ~ .ml-navicon span:last-child,
.ml-header .toggle-input:checked + .ml-navigation + .ml-navicon span:last-child {
  -webkit-transform: translate(0, -8px);
}
/* line 103, _navbar.scss */
.ml-header .toggle-input:checked + .ml-navigation {
/*  max-height: 225px;*/
  max-height: none;
}
/* line 110, _navbar.scss */
.ml-header .ml-header-account-label,
.ml-header .ml-header-nickname {
  display: none;
}

/* line 116, _navbar.scss */
.ml-navigation {
  position: relative;
  left: -10px;
  width: 100%;
  max-height: 0;
  padding-right: 20px;
  overflow: hidden;
  clear: both;
  background: #f9f9f9;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 129, _navbar.scss */
.ml-navigation .ml-navigation-item > a {
  position: relative;
  display: block;
  width: 100%;
  height: 44px;
  padding: 0 10px;
  line-height: 44px;
  color: #716d39;
  background: #f9f9f9;
  border-top: 1px solid #eaeaea;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-tap-highlight-color: transparent;
}
/* line 141, _navbar.scss */
.ml-navigation .ml-navigation-item > a:after {
  position: absolute;
  right: 20px;
  font-family: 'navigation';
  top: 0;
  color: rgba(60, 60, 60, 0.6);
  line-height: 45px;
  content: "\e809";
}
/* line 152, _navbar.scss */
.ml-navigation .ml-navigation-item > a:hover, .ml-navigation .ml-navigation-item > a:active {
  color: #716d39;
  background: #eaeaea;
  text-decoration: none;
}
/* line 159, _navbar.scss */
.ml-navigation .ml-navigation-item > a:focus, .ml-navigation .ml-navigation-item > a:visited {
  color: #716d39;
  background: #f9f9f9;
  text-decoration: none;
}
/* line 166, _navbar.scss */
.ml-navigation .ml-navigation-item > ul {
  display: none;
}
/* line 171, _navbar.scss */
.ml-navigation [class*='ml-icon-'] {
  display: none;
}

/**
* Footer
* @authors: smarchioni, jvanni
* @description: defines the basic styles footer
*/
/* line 11, _footer.scss */
.ml-footer {
  padding-bottom: 15px;
  color: #666666;
  margin-top: 20px;
}
/* line 14, ../../mixins/_clearfix.scss */
.ml-footer:after {
  content: " ";
  display: table;
  clear: both;
}

/* line 18, _footer.scss */
.ml-footer-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  position: relative;
}

/* line 25, _footer.scss */
.ml-footer-block {
  display: block;
  padding: 10px;
  margin-bottom: 15px;
  line-height: 34px;
  background: #dddddd;
  border-radius: 5px;
}

/* line 34, _footer.scss */
.ml-footer-legal {
  float: left;
  font-size: 12px;
  color: #666666;
}

/* line 40, _footer.scss */
.ml-switch-version {
  float: right;
}

/* line 46, _footer.scss */
.ml-footer-access,
.ml-footer-toggle,
.ml-footer-control {
  display: none;
}

/* line 50, _footer.scss */
.ml-footer-link {
  display: inline;
}
/* line 53, _footer.scss */
.ml-footer-link li {
  display: inline;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #cbcbcb;
}
/* line 59, _footer.scss */
.ml-footer-link li:last-child {
  border: 0;
}
/* line 63, _footer.scss */
.ml-footer-link li a {
  color: #0033bb;
  display: inline-block;
}
/* line 68, _footer.scss */
.ml-footer-link li a:hover, .ml-footer-link li a:active {
  color: #0033bb;
  text-decoration: underline;
}

/* line 76, _footer.scss */
.ml-switch-version {
  font-size: 12px;
}

/* line 80, _footer.scss */
.ml-footer-btn-register {
  padding: 10px;
  margin-right: 15px;
  color: #476274;
  border: 1px solid #79a8c7;
  border-radius: 4px;
  background-color: #c0daec;
  background-image: -webkit-linear-gradient(top, #dfecf5 0%, #a1c8e3 100%);
  background-image: -o-linear-gradient(top, #dfecf5 0%, #a1c8e3 100%);
  background-image: linear-gradient(to bottom, #dfecf5 0%, #a1c8e3 100%);
  background-repeat: repeat-x;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
  -webkit-tap-highlight-color: transparent;
}
/* line 91, _footer.scss */
.ml-footer-btn-register:visited {
  color: #476274;
}
/* line 96, _footer.scss */
.ml-footer-btn-register:active, .ml-footer-btn-register:hover {
  text-decoration: none;
  background: #99caea;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}
