/* TabNavigator container */
.ch-tabNavigator {
	margin:10px 0;
}

/* Triggers container */
.ch-tabNavigator .ch-tabNavigator-triggers {
	position:relative;
	top:1px;
	z-index:10;
	margin-left:10px;
	overflow:hidden;
}

.ch-tabNavigator > .ch-tabNavigator-triggers li {
	cursor:pointer;
	margin-right:5px;
	float:left;
}

/* Triggers */
.ch-tab-trigger {
	border:1px solid #ccc;
	display:inline-block;
	padding:3px 12px;
	text-decoration:none !important;
	color:#333333 !important;
	background-color:#fff;
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
}

/* Hover and active */
.ch-tab-trigger:hover, .ch-tab-trigger:active {
	background-color: #dedede;
}

/* Vertical trigger */
.ch-tabNavigator.vertical .ch-tab-trigger {
	border-radius:5px 0 0 5px;
	-moz-border-radius:5px 0 0 5px;
	-webkit-border-radius:5px 0 0 5px;
	width:75px;
	margin-bottom:5px;
}

/* Trigger ON */
.ch-tabNavigator .ch-tab-trigger-on {
	font-weight:bold;
	cursor:default;
	background-position: 0 -617px;
	background-repeat:repeat-x;
	border-bottom:1px solid #FFFFFF;
}

.ch-tabNavigator.vertical .ch-tab-on {
	border-right:1px solid #FFFFFF;
}

/* content */
.ch-tabNavigator .box{
 	background-image:none;
 	border-radius:0;
 	-moz-border-radius:0;
	-webkit-border-radius:0;
}

.ch-tabNavigator.vertical .ch-tabNavigator-content{
 	padding-left:100px;
}

/* IE 6 */
.ie6 .ch-tabNavigator .ch-tabNavigator-triggers li .ch-tab-on:hover {
	background-position:0 -535px;
}

.ie6 .ch-tabNavigator .ch-tabNavigator-triggers li{
	display:inline;
	margin:0 2px;
}

.ie6 .ch-tabNavigator .ch-tabNavigator-triggers li a:hover {
	background-color: #dedede;
}

.ie6 .ch-tabNavigator .ch-tabNavigator-triggers li .ch-tab-on:hover {
	background-position:0 -535px;
}

/* IE 7 */
.ie7 .ch-tabNavigator-triggers{
	position:relative;
	top:1px;
}

.ie7 .ch-tabNavigator-triggers li{
	display:inline;
	margin:0 2px;
}

.ie7 .box .ch-tabNavigator-triggers{
	top:1px;
}

/* IE 8 */
.ie8 .ch-tabNavigator-triggers{
	position:relative;
	top:1px;
}
