// *************************************
//
//   Popover
//
// *************************************

// ----- Box Shadow ----- //

$popover-box-shadow-top: 2px;
$popover-box-shadow-left: 2px;
$popover-box-shadow-blur: 2px;
$popover-box-shadow-color: rgba(100, 100, 100, 0.2);

// ----- Close Button ----- //

$popover-close-btn-margin: 0 24px 0 0;

// ----- Border width ----- //

$popover-border-width: 1px;

// -------------------------------------
//   Cone
// -------------------------------------

$popover-cone-size: 10px;

$popover-border: $main-border-color; // ddd
$popover-content: $main-neutral-color;

$popover-cone-size-content: $popover-cone-size - $popover-border-width;

	// Top alignment

	$popover-cone-toTop-border-align: $popover-cone-size / 2;
	$popover-cone-toTop-content-align: ($popover-cone-size / 2) - $popover-border-width;

	// Right alignment

	$popover-cone-toRight-border-align: $popover-cone-size - 2;
	$popover-cone-toRight-content-align: ($popover-cone-size - 2) - $popover-border-width;

	// Bottom alignment

	$popover-cone-toBottom-border-align: $popover-cone-size / 2;
	$popover-cone-toBottom-content-align: ($popover-cone-size / 2) - $popover-border-width;

	// Left alignment

	$popover-cone-toLeft-border-align: $popover-cone-size - 2;
	$popover-cone-toLeft-content-align: ($popover-cone-size - 2) - $popover-border-width;
 
	// Top/Bottom margin left

	$popover-cone-center-border-margin-left: -$popover-cone-size;
	$popover-cone-center-content-margin-left: -$popover-cone-size - $popover-border-width;

	// Right/Left margin top

	$popover-cone-center-atSides-border-margin-top: -$popover-cone-size;
	$popover-cone-center-atSides-content-margin-top: -$popover-cone-size - $popover-border-width;
