<article id="autocomplete">
    <h2>
        Autocomplete
    </h2>
    <div class="component-example">
        <form class="ch-form" method="get" action="http://www.mercadolibre.com.ar/jm/search">
            <div class="ch-form-row">
                <label for="dm_ac">Autocomplete:</label>
                <input id="dm_ac" name="as_word" type="text" placeholder="iPhone" />
                <p class="ch-form-hint">This is working with the Mercado Libre API</p>
            </div>

            <div class="ch-form-actions">
                <input class="ch-btn" id="dm_ac_sbt" name="dm_ac_sbt" type="submit" />
            </div>
        </form>
    </div>
{% highlight html %}
<form class="ch-form" method="get" action="http://www.mercadolibre.com.ar/jm/search">
    <input id="dm_ac" name="dm_ac" type="text" placeholder="iPhone" />
    <input class="ch-btn" id="dm_ac_sbt" name="dm_ac_sbt" type="submit" />
</form>
{% endhighlight %}
{% highlight javascript %}
var autocomplete = new ch.Autocomplete(ch('#dm_ac')[0])
    .on('type', function (userInput) {
        tiny.jsonp('http://suggestgz.mlapps.com/sites/MLA/autosuggest?q=' + userInput + '&v=1', {
            name: 'dm_ac_sbt',
            success: parseResults,
            error: function(err) {
                autocomplete.suggest([]);
            }
        });
    });
{% endhighlight %}
    <script>
        document.addEventListener('DOMContentLoaded', function(e) {
            function parseResults(results) {
                var data = [];
                if (results[2].suggested_queries !== undefined) {
                    results[2].suggested_queries.forEach(function (e, i) {
                        data.push(e.q);
                    });
                    // Show suggestions
                    autocomplete.suggest(data);
                }
            }
            var cancelRequest;
            var autocomplete = new ch.Autocomplete(ch('#dm_ac')[0])
                .on('type', function (userInput) {
                    // Cancel the jsonp request if any
                    if (cancelRequest) {
                        cancelRequest();
                    }
                    // Hide possibly active loading indicator
                    if (!userInput) {
                        return autocomplete.suggest([]);
                    }
                    cancelRequest = tiny.jsonp('http://suggestgz.mlapps.com/sites/MLA/autosuggest?q=' + userInput + '&v=1', {
                        name: 'dm_ac_sbt',
                        success: parseResults,
                        error: function (err) {
                            autocomplete.suggest([]);
                        }
                    });
                });
        });
    </script>
</article>
