<article id="boxes">
    <h2>
        Boxes
    </h2>
    <div class="component-example">
        <div class="ch-box-container">
            <h3>Box Container</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit <a href="#">adipiscing</a>.
                Donec sit amet purus in sapien luctus sodales <a href="#">adipiscing</a>.
            </p>
        </div>

        <div class="ch-box">
            <h3>Box</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit <a href="#">adipiscing</a>.
                Donec sit amet purus in sapien luctus sodales <a href="#">adipiscing</a>.
            </p>
        </div>

        <div class="ch-box-lite">
            <h3>Box Lite</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit <a href="#">adipiscing</a>.
                Donec sit amet purus in sapien luctus sodales <a href="#">adipiscing</a>.
            </p>
        </div>

        <div class="ch-box-error">
            <h3>Box Error</h3>
            <p>
                Oops, something wrong happened!
            </p>
        </div>

        <div class="ch-box-warn">
            <h3>Box Warn</h3>
            <p>
                Something might be wrong!
            </p>
        </div>

        <div class="ch-box-help">
            <h3>Box Help</h3>
            <p>
                Do you need any help?
            </p>
        </div>

        <div class="ch-box-info">
            <h3>Box Info</h3>
            <p>
                Here's more information.
            </p>
        </div>

        <div class="ch-box-ok">
            <h3>Box Okay</h3>
            <p>
                Everything is great!
            </p>
        </div>

        <div class="ch-box-icon">
            <span class="ch-icon-truck"></span>
            <p>
                This is a message with an icon.
            </p>
        </div>

        <div class="ch-box-icon">
            <span class="ch-icon-heart"></span>
            <h3>Bigger message</h3>
            <p>
                This is another message with an icon.
            </p>
        </div>

        <div class="ch-box-icon ch-box-error">
            <span class="ch-icon-remove-sign"></span>Oops, something wrong happened!
        </div>

        <div class="ch-box-icon ch-box-warn">
            <span class="ch-icon-warning-sign"></span>Something might be wrong!
        </div>

        <div class="ch-box-icon ch-box-help">
            <span class="ch-icon-help-sign"></span>Do you need any help?
        </div>

        <div class="ch-box-icon ch-box-info">
            <span class="ch-icon-info-sign"></span>Here's more information.
        </div>
    </div>
{% highlight html %}
<!-- Boxes -->
<div class="ch-box-container">
    <h3>Box Container</h3>
    <p>Lorem ipsum dolor sit amet.</p>
</div>

<div class="ch-box">
    <h3>Box</h3>
    <p>Lorem ipsum dolor sit amet.</p>
</div>

<div class="ch-box-lite">
    <h3>Box Lite</h3>
    <p>Lorem ipsum dolor sit amet.</p>
</div>

<div class="ch-box-error">
    <h3>Box Error</h3>
    <p>Oops, something wrong happened!</p>
</div>

<div class="ch-box-warn">
    <h3>Box Warn</h3>
    <p>Something might be wrong!</p>
</div>

<div class="ch-box-help">
    <h3>Box Help</h3>
    <p>Do you need any help?</p>
</div>

<div class="ch-box-info">
    <h3>Box Info</h3>
    <p>Here's more information.</p>
</div>

<div class="ch-box-ok">
    <h3>Box Okay</h3>
    <p>Everything is great!</p>
</div>

<!-- Boxes with icons -->
<div class="ch-box-icon">
    <span class="ch-icon-truck"></span>
    <p>This is a message with an icon.</p>
</div>

<div class="ch-box-icon">
    <span class="ch-icon-heart"></span>
    <h3>Bigger message</h3>
    <p>This is another message with an icon.</p>
</div>

<div class="ch-box-icon ch-box-error">
    <span class="ch-icon-remove-sign"></span>Oops, something wrong happened!
</div>

<div class="ch-box-icon ch-box-warn">
    <span class="ch-icon-warning-sign"></span>Something might be wrong!
</div>

<div class="ch-box-icon ch-box-help">
    <span class="ch-icon-help-sign"></span>Do you need any help?
</div>

<div class="ch-box-icon ch-box-info">
    <span class="ch-icon-info-sign"></span>Here's more information.
</div>
{% endhighlight %}
    <p>
        Back to <a href="#boxes">Boxes</a> / Back to <a href="#top">Top</a>
    </p>
</article>
