<article id="bubble">
    <h2>
        Bubble
    </h2>
    <p>
        Check the
        <a href="{{ site.baseurl }}/{{ site.chico_path_api_doc }}{{ chico_current_version }}/{{ chico_current_platform }}/ch.bubble/">API documentation</a>
        for this component.
    </p>
    <div class="component-example">
        <button class="ch-btn ch-btn-small" id="dm_bbl">Bubble</button>
    </div>
{% highlight html %}
<button class="ch-btn ch-btn-small" id="dm_bbl">Bubble</button>
{% endhighlight %}
{% highlight javascript %}
var bubble = new ch.Bubble(ch('#dm_bbl')[0], {
    content: 'This is an error bubble!'
});

tiny.on('#dm_bbl', 'click', function (e) {
    bubble.show();
});
{% endhighlight %}
    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            var bubble = new ch.Bubble(ch('#dm_bbl')[0], {
                content: 'This is an error bubble!'
            });

            tiny.on('#dm_bbl', 'click', function (e) {
                bubble.show();
            });
        });
    </script>
</article>
