<article id="buttons">
    <h2>
        Buttons
    </h2>
    <div class="component-example">
        <div class="mesh-row">
            <div class="mesh-col-m-6">
                <div class="m-leftcolumn">
                    <h3>Normal buttons</h3>
                    <p>
                        <input type="button" class="ch-btn ch-btn-large" value="Large button" />
                    </p>
                    <p>
                        <input type="button" class="ch-btn" value="Button" />
                    </p>
                    <p>
                        <input type="button" class="ch-btn ch-btn-small" value="Small button" />
                    </p>
                    <p>
                        <input type="button" class="ch-btn-skin ch-btn-small" value="Skin button" />
                    </p>
                    <p>
                        <button class="ch-btn-skin ch-btn-small">
                            <span class="ch-icon-heart"></span>Favorite
                        </button>
                    </p>
                </div>
            </div>
            <div class="mesh-col-m-6">
                <div class="m-rightcolumn">
                    <h3>Disabled buttons</h3>
                    <p>
                        <input type="button" class="ch-btn ch-btn-large ch-btn-disabled"
                            value="Large button" disabled />
                    </p>
                    <p>
                        <input type="button" class="ch-btn ch-btn-disabled"
                            value="Button" disabled />
                    </p>
                    <p>
                        <input type="button" class="ch-btn ch-btn-small ch-btn-disabled"
                            value="Small button" disabled />
                    </p>
                    <p>
                        <input type="button" class="ch-btn-skin ch-btn-small ch-btn-disabled"
                            value="Skin button" disabled />
                    </p>
                    <p>
                        <button class="ch-btn-skin ch-btn-small ch-btn-disabled" disabled>
                            <span class="ch-icon-heart"></span>Favorite
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% highlight html %}
<!-- Normal buttons -->
<input type="button" class="ch-btn ch-btn-large" value="Large button" />
<input type="button" class="ch-btn" value="Button" />
<input type="button" class="ch-btn ch-btn-small" value="Small button" />
<input type="button" class="ch-btn-skin ch-btn-small" value="Skin button" />
<button class="ch-btn-skin ch-btn-small">
    <span class="ch-icon-heart"></span>Favorite
</button>

<!-- Disabled buttons -->
<input type="button" class="ch-btn ch-btn-large ch-btn-disabled" value="Large button" disabled />
<input type="button" class="ch-btn ch-btn-disabled" value="Button" disabled />
<input type="button" class="ch-btn ch-btn-small ch-btn-disabled" value="Small button" disabled />
<input type="button" class="ch-btn-skin ch-btn-small ch-btn-disabled" value="Skin button" disabled />
<button class="ch-btn-skin ch-btn-small ch-btn-disabled" disabled>
    <span class="ch-icon-heart"></span>Favorite
</button>
{% endhighlight %}
    <p>
        Back to <a href="#buttons">Buttons</a> / Back to <a href="#top">Top</a>
    </p>
</article>
