<article id="calendar">
    <h2>Calendar</h2>

    <!-- Component example -->
    <div class="component-example">
        <div class="demo-calendar"></div>
    </div>
{% highlight html %}
<div class="demo-calendar"></div>
{% endhighlight %}

{% highlight javascript %}
var calendar = new ch.Calendar(ch('.demo-calendar')[0], {
    'selected': ['2015/01/22','2015/01/21']
});
{% endhighlight %}

    <script>
        document.addEventListener('DOMContentLoaded', function(e) {
            var s1 = new Date();
            var s2 = new Date();

            s1.setDate(s1.getDate() - 7);
            s2.setDate(s2.getDate() - 3);

            var calendar = new ch.Calendar(ch('.demo-calendar')[0], {
                'selected': [s1.getFullYear()+'/'+(s1.getMonth()+1)+'/'+s1.getDate(),s2.getFullYear()+'/'+(s2.getMonth()+1)+'/'+s2.getDate()]
            });
        });
    </script>
</article>
