<article id="countdown">
    <h2>
        Countdown
    </h2>
    <p>
        Check the
        <a href="{{ site.baseurl }}/{{ site.chico_path_api_doc }}{{ chico_current_version }}/{{ chico_current_platform }}/ch.countdown/">API documentation</a>
        for this component.
    </p>
    <div class="component-example">
        <form class="ch-form" action="{{ site.baseUrl }}/ajax.html">
            <div class="ch-form-row">
                <label for="dm_codw">Text:</label>
                <textarea id="dm_codw" name="dm_codw" cols="35" rows="4"></textarea>
            </div>
        </form>
    </div>
{% highlight html %}
<textarea id="dm_codw" name="dm_codw" cols="35" rows="4"></textarea>
{% endhighlight %}
{% highlight javascript %}
var countdown = new ch.Countdown(ch('#dm_codw')[0], {
    'max': 140,
    'plural': '# characters left',
    'singular': '# character left'
});
{% endhighlight %}
    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            var countdown = new ch.Countdown(ch('#dm_codw')[0], {
                'max': 140,
                'plural': '# characters left',
                'singular': '# character left'
            });
        });
    </script>
</article>
