<article id="datepicker">
    <h2>
        Datepicker
    </h2>
    <p>
        Check the
        <a href="{{ site.baseurl }}/{{ site.chico_path_api_doc }}{{ chico_current_version }}/{{ chico_current_platform }}/ch.datepicker/">API documentation</a>
        for this component.
    </p>
    <div class="component-example">
        <form class="ch-form" action="{{ site.baseUrl }}/ajax.html">
            <div class="ch-form-row">
                <label for="dm_dtpk">Date:</label>
                <input id="dm_dtpk" name="dm_dtpk" type="date" placeholder="DD/MM/YYYY" />
            </div>
        </form>
    </div>
{% highlight html %}
<input id="dm_dtpk" name="dm_dtpk" type="date" placeholder="MM/DD/YYYY" />
{% endhighlight %}
{% highlight javascript %}
var datepicker = new ch.Datepicker({% if chico_current_version == site.chico_version_1x %}$('#dm_dtpk'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_dtpk')[0]{% endif %}, {
    'selected': '2017/11/15',
    'to': 'today'
});
{% endhighlight %}
    <p>
        Back to <a href="#datepicker">Datepicker</a> / Back to <a href="#top">Top</a>
    </p>
    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            var s1 = new Date();

            s1.setDate(s1.getDate() - 14);

            var datepicker = new ch.Datepicker({% if chico_current_version == site.chico_version_1x %}$('#dm_dtpk'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_dtpk')[0]{% endif %}, {
                'selected': s1.getFullYear() + '/' + (s1.getMonth() + 1) + '/' + s1.getDate(),
                'to': 'today'
            });
        });
    </script>
</article>
