<article id="dropdown">
    <h2>
        Dropdown
    </h2>
    <p>
        Check the
        <a href="{{ site.baseurl }}/{{ site.chico_path_api_doc }}{{ chico_current_version }}/{{ chico_current_platform }}/ch.dropdown/">API documentation</a>
        for this component.
    </p>
    <div class="component-example">
        <h3 id="dm_dp_df">Dropdown</h3>
        <menu class="ch-hide" label="Links">
            <li><a href="http://www.mercadolibre.com">Mercado Libre</a></li>
            <li><a href="http://www.mercadopago.com">Mercado Pago</a></li>
            <li><a href="http://www.mercadoshops.com">Mercado Shops</a></li>
        </menu>

        <span class="ch-icon-th" id="dm_dp_ns"></span>
        <ul class="ch-hide">
            <li>
                {% image ninja.png width='50' %}
                {% image ninja.png width='50' %}
                {% image ninja.png width='50' %}
            </li>
            <li>
                {% image ninja.png width='50' %}
                {% image ninja.png width='50' %}
                {% image ninja.png width='50' %}
            </li>
            <li>
                {% image ninja.png width='50' %}
                {% image ninja.png width='50' %}
                {% image ninja.png width='50' %}
            </li>
        </ul>

        <p id="dm_dp_skn">Dropdown</p>
        <menu class="ch-hide" label="Links">
            <li><a href="http://www.mercadolibre.com">Mercado Libre</a></li>
            <li><a href="http://www.mercadopago.com">Mercado Pago</a></li>
            <li><a href="http://www.mercadoshops.com">Mercado Shops</a></li>
        </menu>
    </div>
{% highlight html %}
<h3 id="dm_dp_df">Dropdown</h3>
<menu class="ch-hide" label="Links">
    <li><a href="http://www.mercadolibre.com">Mercado Libre</a></li>
    <!-- [...] -->
</menu>

<span class="ch-icon-th" id="dm_dp_ns"></span>
<ul class="ch-hide">
    <li>
        <img src="picture.png" />
        <!-- [...] -->
    </li>
    <!-- [...] -->
</ul>

<p id="dm_dp_skn">Dropdown</p>
<menu class="ch-hide" label="Links">
    <li><a href="http://www.mercadolibre.com">Mercado Libre</a></li>
    <!-- [...] -->
</menu>
{% endhighlight %}
{% highlight javascript %}
var dropdownDefault = new ch.Dropdown({% if chico_current_version == site.chico_version_1x %}$('#dm_dp_df'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_dp_df')[0]{% endif %});

var dropdownNoShortcuts = new ch.Dropdown({% if chico_current_version == site.chico_version_1x %}$('#dm_dp_ns'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_dp_ns')[0]{% endif %}, {
    'shortcuts': false,
    'skin': true
});

var dropdownSkin = new ch.Dropdown({% if chico_current_version == site.chico_version_1x %}$('#dm_dp_skn'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_dp_skn')[0]{% endif %}, {
    'skin': true
});
{% endhighlight %}
    <p>
        Back to <a href="#dropdown">Dropdown</a> / Back to <a href="#top">Top</a>
    </p>
    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            var dropdownDefault = new ch.Dropdown({% if chico_current_version == site.chico_version_1x %}$('#dm_dp_df'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_dp_df')[0]{% endif %});

            var dropdownNoShortcuts = new ch.Dropdown({% if chico_current_version == site.chico_version_1x %}$('#dm_dp_ns'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_dp_ns')[0]{% endif %}, {
                'shortcuts': false,
                'skin': true
            });

            var dropdownSkin = new ch.Dropdown({% if chico_current_version == site.chico_version_1x %}$('#dm_dp_skn'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_dp_skn')[0]{% endif %}, {
                'skin': true
            });
        });
    </script>
</article>
