<article id="dropdown">
    <h2>Dropdown</h2>

    <!-- Component example -->
    <div class="component-example">
        <h3 class="demo-dropdown1">Default</h3>
        <menu label="Links" class="ch-hide">
            <li><a href="http://www.mercadolibre.com">MercadoLibre</a></li>
            <li><a href="http://www.mercadopago.com">MercadoPago</a></li>
            <li><a href="http://www.mercadoshops.com">MercadoShops</a></li>
            <li><a href="http://www.mercadoclics.com">MercadoClics</a></li>
        </menu>

        <i class="ch-icon-heart demo-dropdown2"></i>
        <ul class="ch-hide">
            <li>
                {% image ninja.png width='50' %}
                {% image ninja.png width='50' %}
                {% image ninja.png width='50' %}
            </li>
            <li>
                {% image ninja.png width='50' %}
                {% image ninja.png width='50' %}
                {% image ninja.png width='50' %}
            </li>
            <li>
                {% image ninja.png width='50' %}
                {% image ninja.png width='50' %}
                {% image ninja.png width='50' %}
            </li>
        </ul>

        <p class="demo-dropdown3">With skin</p>
        <menu label="Links" class="ch-hide">
            <li><a href="http://www.mercadolibre.com">MercadoLibre</a></li>
            <li><a href="http://www.mercadopago.com">MercadoPago</a></li>
            <li><a href="http://www.mercadoshops.com">MercadoShops</a></li>
            <li><a href="http://www.mercadoclics.com">MercadoClics</a></li>
        </menu>
    </div>
{% highlight html %}
<h3 class="demo-dropdown1">Default</h3>
<menu label="Links" class="ch-hide">
    <li><a href="http://www.mercadolibre.com">MercadoLibre</a></li>
    ...
</menu>

<i class="ch-icon-heart demo-dropdown2"></i>
<ul class="ch-hide">
    <li>
        <img src="..." />
        ...
    </li>
    ...
</ul>

<p class="demo-dropdown3">With skin</p>
<menu label="Links" class="ch-hide">
    <li><a href="http://www.mercadolibre.com">MercadoLibre</a></li>
    ...
</menu>

{% endhighlight %}
{% highlight javascript %}
var dropdown1 = new ch.Dropdown(document.querySelector('.demo-dropdown1'));
var dropdown2 = new ch.Dropdown(document.querySelector('.demo-dropdown2'), {
    'shortcuts': false,
    'skin': true
});
var dropdown3 = new ch.Dropdown(document.querySelector('.demo-dropdown3'), {
    'skin': true
});
{% endhighlight %}

    <script>
        document.addEventListener('DOMContentLoaded', function(e) {
            var dropdown1 = new ch.Dropdown(document.querySelector('.demo-dropdown1'));
            var dropdown2 = new ch.Dropdown(document.querySelector('.demo-dropdown2'), {'shortcuts': false, 'skin': true});
            var dropdown3 = new ch.Dropdown(document.querySelector('.demo-dropdown3'), {'skin': true});
        });
    </script>
</article>
