<article id="dropdown">
    <h2>
        Dropdown
    </h2>
    <div class="component-example">
        <h3 id="dm_dp_df">Dropdown</h3>
        <menu class="ch-hide" label="Links">
            <li><a href="http://www.mercadolibre.com">Mercado Libre</a></li>
            <li><a href="http://www.mercadopago.com">Mercado Pago</a></li>
            <li><a href="http://www.mercadoshops.com">Mercado Shops</a></li>
        </menu>

        <span class="ch-icon-th" id="dm_dp_ns"></span>
        <ul class="ch-hide">
            <li>
                {% image ninja.png width='50' %}
                {% image ninja.png width='50' %}
                {% image ninja.png width='50' %}
            </li>
            <li>
                {% image ninja.png width='50' %}
                {% image ninja.png width='50' %}
                {% image ninja.png width='50' %}
            </li>
            <li>
                {% image ninja.png width='50' %}
                {% image ninja.png width='50' %}
                {% image ninja.png width='50' %}
            </li>
        </ul>

        <p id="dm_dp_skn">Dropdown</p>
        <menu class="ch-hide" label="Links">
            <li><a href="http://www.mercadolibre.com">Mercado Libre</a></li>
            <li><a href="http://www.mercadopago.com">Mercado Pago</a></li>
            <li><a href="http://www.mercadoshops.com">Mercado Shops</a></li>
        </menu>
    </div>
{% highlight html %}
<h3 id="dm_dp_df">Dropdown</h3>
<menu class="ch-hide" label="Links">
    <li><a href="http://www.mercadolibre.com">Mercado Libre</a></li>
    <!-- [...] -->
</menu>

<span class="ch-icon-th" id="dm_dp_ns"></span>
<ul class="ch-hide">
    <li>
        <img src="picture.png" />
        <!-- [...] -->
    </li>
    <!-- [...] -->
</ul>

<p id="dm_dp_skn">Dropdown</p>
<menu class="ch-hide" label="Links">
    <li><a href="http://www.mercadolibre.com">Mercado Libre</a></li>
    <!-- [...] -->
</menu>
{% endhighlight %}
{% highlight javascript %}
var dropdownDefault = new ch.Dropdown(document.querySelector('#dm_dp_df'));

var dropdownNoShortcuts = new ch.Dropdown(document.querySelector('#dm_dp_ns'), {
    'shortcuts': false,
    'skin': true
});

var dropdownSkin = new ch.Dropdown(document.querySelector('#dm_dp_skn'), {
    'skin': true
});
{% endhighlight %}
    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            var dropdownDefault = new ch.Dropdown(document.querySelector('#dm_dp_df'));

            var dropdownNoShortcuts = new ch.Dropdown(document.querySelector('#dm_dp_ns'), {
                'shortcuts': false,
                'skin': true
            });

            var dropdownSkin = new ch.Dropdown(document.querySelector('#dm_dp_skn'), {
                'skin': true
            });
        });
    </script>
</article>
