<article id="expandable">
    <h2>
        Expandable
    </h2>
    <p>
        Check the
        <a href="{{ site.baseurl }}/{{ site.chico_path_api_doc }}{{ chico_current_version }}/{{ chico_current_platform }}/ch.expandable/">API documentation</a>
        for this component.
    </p>
    <div class="component-example">
        <h3>Expandable with paragraph</h3>
        <h4 id="dm_exp_pr">Expandable</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
        </p>

        <h3>Expandable with list</h3>
        <h4 id="dm_exp_li">Expandable</h4>
        <ul class="ch-list">
            <li>Foo</li>
            <li>Bar</li>
            <li>Baz</li>
        </ul>

        {% if chico_current_platform == site.chico_platform_mobile %}
        <h3>Expandable with box list</h3>
        <h4 id="dm_exp_bli">Expandable</h4>
        <ul class="ch-box-list">
            <li><a href="#">Foo</a></li>
            <li><a href="#">Bar</a></li>
            <li><a href="#">Baz</a></li>
        </ul>
        {% endif %}

        <h3>Expandable with Ajax call</h3>
        <h4 id="dm_exp_ajax">Expandable</h4>
        <div id="dm_exp_ajax_cnt">
            <!-- Content will be loaded using Ajax. -->
        </div>
    </div>
{% highlight html %}
<h4 id="dm_exp_pr">Expandable</h4>
<p>Lorem ipsum dolor sit amet.</p>

<h4 id="dm_exp_li">Expandable</h4>
<ul class="ch-list">
    <li>Foo</li>
    <!-- [...] -->
</ul>
{% if chico_current_platform == site.chico_platform_mobile %}
<h4 id="dm_exp_bli">Expandable</h4>
<ul class="ch-box-list">
    <li><a href="#">Foo</a></li>
    <!-- [...] -->
</ul>
{% endif %}
<h4 id="dm_exp_ajax">Expandable</h4>
<div id="dm_exp_ajax_cnt">
    <!-- Content will be loaded using Ajax. -->
</div>
{% endhighlight %}
{% highlight javascript %}
var expandableParagraph = new ch.Expandable(ch('#dm_exp_pr')[0]);

var expandableList = new ch.Expandable(ch('#dm_exp_li')[0]);
{% if chico_current_platform == site.chico_platform_mobile %}
var expandableBoxList = new ch.Expandable(ch('#dm_exp_bli')[0]);
{% endif %}
var expandableAjax = new ch.Expandable(ch('#dm_exp_ajax')[0], {
    'content': '{{ site.baseurl }}/ajax.html',
    'container': ch('#dm_exp_ajax_cnt')[0]
});

expandableAjax.on('contentdone', function () {
    console.log('Content loaded for component ' + this.uid);
});
{% endhighlight %}
    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            var expandableParagraph = new ch.Expandable(ch('#dm_exp_pr')[0]);

            var expandableList = new ch.Expandable(ch('#dm_exp_li')[0]);

            {% if chico_current_platform == site.chico_platform_mobile %}
            var expandableBoxList = new ch.Expandable(ch('#dm_exp_bli')[0]);
            {% endif %}

            var expandableAjax = new ch.Expandable(ch('#dm_exp_ajax')[0], {
                'content': '{{ site.baseurl }}/ajax.html',
                'container': ch('#dm_exp_ajax_cnt')[0]
            });

            expandableAjax.on('contentdone', function () {
                console.log('Content loaded for component ' + this.uid);
            });
        });
    </script>
</article>
