<article id="forms">
    <h2>
        Forms
    </h2>

    <h3 id="input">
        Input
    </h3>
    <div class="component-example">
        <form class="ch-form">
            <fieldset>
                <legend>Input</legend>
                <p class="ch-form-hint">* Required fields</p>

                <div class="ch-form-row">
                    <label for="inpt">Input:</label>
                    <input id="inpt" name="inpt" type="text" />
                </div>

                <div class="ch-form-row ch-form-required">
                    <label for="inpt_rqd">Input required: <em>*</em></label>
                    <input id="inpt_rqd" name="inpt_rqd" type="text" required />
                </div>

                <div class="ch-form-row ch-form-disabled">
                    <label for="inpt_dis">Input disabled:</label>
                    <input id="inpt_dis" name="inpt_dis" type="text" disabled />
                </div>

                <div class="ch-form-row ch-form-required ch-form-disabled">
                    <label for="inpt_rqd_dis">Input required and disabled: <em>*</em></label>
                    <input id="inpt_rqd_dis" name="inpt_rqd_dis" type="text" required disabled />
                </div>

                <div class="ch-form-row">
                    <label for="inpt_ro">Input readonly:</label>
                    <input id="inpt_ro" name="inpt_ro" type="text" value="Readonly value" readonly />
                </div>

                <div class="ch-form-row">
                    <label for="inpt_ph">Input w/ placeholder:</label>
                    <input id="inpt_ph" name="inpt_ph" type="text" placeholder="Placeholder text" />
                </div>

                <div class="ch-form-row">
                    <label for="inpt_cust_size">Input w/ custom size:</label>
                    <input id="inpt_cust_size" name="inpt_cust_size" type="text" size="5" />
                </div>

                <div class="ch-form-row">
                    <label for="inpt_hint">Input w/ hint:</label>
                    <input id="inpt_hint" name="inpt_hint" type="text" />
                    <span class="ch-form-hint">Hint for current input</span>
                </div>

                {% if chico_current_platform == site.chico_platform_ui %}
                <div class="ch-form-row">
                    <label for="inpt_icon">Input w/ icon:</label>
                    <input id="inpt_icon" name="inpt_icon" type="text" />
                    <span class="ch-form-icon ch-icon-help-sign"></span>
                </div>
                {% endif %}

                <div class="ch-form-row">
                    <label for="inpt_icon_inner">Input w/ inner icon:</label>
                    <input class="ch-form-icon-input" id="inpt_icon_inner" name="inpt_icon_inner" type="password" />
                    <span class="ch-form-icon-inner ch-icon-lock"></span>
                </div>
            </fieldset>

            <div class="ch-form-actions">
                <input class="ch-btn" id="inpt_smt" name="inpt_smt" type="submit" value="Submit" />
                <a href="#">Cancel</a>
            </div>
        </form>
    </div>
{% highlight html %}
<form class="ch-form">
    <fieldset>
        <legend>Input</legend>
        <p class="ch-form-hint">* Required fields</p>

        <div class="ch-form-row">
            <label for="inpt">Input:</label>
            <input id="inpt" name="inpt" type="text" />
        </div>

        <div class="ch-form-row ch-form-required">
            <label for="inpt_rqd">Input required: <em>*</em></label>
            <input id="inpt_rqd" name="inpt_rqd" type="text" required />
        </div>

        <div class="ch-form-row ch-form-disabled">
            <label for="inpt_dis">Input disabled:</label>
            <input id="inpt_dis" name="inpt_dis" type="text" disabled />
        </div>

        <div class="ch-form-row ch-form-required ch-form-disabled">
            <label for="inpt_rqd_dis">Input required and disabled: <em>*</em></label>
            <input id="inpt_rqd_dis" name="inpt_rqd_dis" type="text" required disabled />
        </div>

        <div class="ch-form-row">
            <label for="inpt_ro">Input readonly:</label>
            <input id="inpt_ro" name="inpt_ro" type="text" value="Readonly value" readonly />
        </div>

        <div class="ch-form-row">
            <label for="inpt_ph">Input w/ placeholder:</label>
            <input id="inpt_ph" name="inpt_ph" type="text" placeholder="Placeholder text" />
        </div>

        <div class="ch-form-row">
            <label for="inpt_cust_size">Input w/ custom size:</label>
            <input id="inpt_cust_size" name="inpt_cust_size" type="text" size="5" />
        </div>

        <div class="ch-form-row">
            <label for="inpt_hint">Input w/ hint:</label>
            <input id="inpt_hint" name="inpt_hint" type="text" />
            <span class="ch-form-hint">Hint for current input</span>
        </div>
        {% if chico_current_platform == site.chico_platform_ui %}
        <div class="ch-form-row">
            <label for="inpt_icon">Input w/ icon:</label>
            <input id="inpt_icon" name="inpt_icon" type="text" />
            <span class="ch-form-icon ch-icon-help-sign"></span>
        </div>
        {% endif %}
        <div class="ch-form-row">
            <label for="inpt_icon_inner">Input w/ inner icon:</label>
            <input class="ch-form-icon-input" id="inpt_icon_inner" name="inpt_icon_inner" type="password" />
            <span class="ch-form-icon-inner ch-icon-lock"></span>
        </div>
    </fieldset>

    <div class="ch-form-actions">
        <input class="ch-btn" id="inpt_smt" name="inpt_smt" type="submit" value="Submit" />
        <a href="#">Cancel</a>
    </div>
</form>
{% endhighlight %}

    <h3 id="textarea">
        Textarea
    </h3>
    <div class="component-example">
        <form class="ch-form">
            <fieldset>
                <legend>Textarea</legend>
                <p class="ch-form-hint">* Required fields</p>

                <div class="ch-form-row">
                    <label for="txta">Textarea:</label>
                    <textarea id="txta" name="txta" cols="40" rows="4"></textarea>
                </div>

                <div class="ch-form-row">
                    <label for="txta_hint">Textarea w/ hint:</label>
                    <textarea id="txta_hint" name="txta_hint" cols="40" rows="4"></textarea>
                    <span class="ch-form-hint">Hint for current textarea</span>
                </div>

                <div class="ch-form-row">
                    <label for="txta_cust_rows">Textarea w/ custom rows:</label>
                    <textarea id="txta_cust_rows" name="txta_cust_rows" cols="40" rows="8"></textarea>
                </div>

                <div class="ch-form-row ch-form-required">
                    <label for="txta_rqd">Textarea required: <em>*</em></label>
                    <textarea id="txta_rqd" name="txta_rqd" cols="40" rows="4" required></textarea>
                </div>

                <div class="ch-form-row ch-form-disabled">
                    <label for="txta_dis">Textarea disabled:</label>
                    <textarea id="txta_dis" name="txta_dis" cols="40" rows="4" disabled></textarea>
                </div>

                <div class="ch-form-row ch-form-required ch-form-disabled">
                    <label for="txta_rqd_dis">Textarea required and disabled: <em>*</em></label>
                    <textarea id="txta_rqd_dis" name="txta_rqd_dis" cols="40" rows="4" required disabled></textarea>
                </div>
            </fieldset>

            <div class="ch-form-actions">
                <input class="ch-btn" id="txta_smt" name="txta_smt" type="submit" value="Submit" />
                <a href="#">Cancel</a>
            </div>
        </form>
    </div>
{% highlight html %}
<form class="ch-form">
    <fieldset>
        <legend>Textarea</legend>
        <p class="ch-form-hint">* Required fields</p>

        <div class="ch-form-row">
            <label for="txta">Textarea:</label>
            <textarea id="txta" name="txta" cols="40" rows="4"></textarea>
        </div>

        <div class="ch-form-row">
            <label for="txta_hint">Textarea w/ hint:</label>
            <textarea id="txta_hint" name="txta_hint" cols="40" rows="4"></textarea>
            <span class="ch-form-hint">Hint for current textarea</span>
        </div>

        <div class="ch-form-row">
            <label for="txta_cust_rows">Textarea w/ custom rows:</label>
            <textarea id="txta_cust_rows" name="txta_cust_rows" cols="40" rows="8"></textarea>
        </div>

        <div class="ch-form-row ch-form-required">
            <label for="txta_rqd">Textarea required: <em>*</em></label>
            <textarea id="txta_rqd" name="txta_rqd" cols="40" rows="4" required></textarea>
        </div>

        <div class="ch-form-row ch-form-disabled">
            <label for="txta_dis">Textarea disabled:</label>
            <textarea id="txta_dis" name="txta_dis" cols="40" rows="4" disabled></textarea>
        </div>

        <div class="ch-form-row ch-form-required ch-form-disabled">
            <label for="txta_rqd_dis">Textarea required and disabled: <em>*</em></label>
            <textarea id="txta_rqd_dis" name="txta_rqd_dis" cols="40" rows="4" required disabled></textarea>
        </div>
    </fieldset>

    <div class="ch-form-actions">
        <input class="ch-btn" id="txta_smt" name="txta_smt" type="submit" value="Submit" />
        <a href="#">Cancel</a>
    </div>
</form>
{% endhighlight %}

    <h3 id="select">
        Select
    </h3>
    <div class="component-example">
        <form class="ch-form">
            <fieldset>
                <legend>Select</legend>

                <div class="ch-form-row">
                    <label for="sel">Select:</label>
                    <select id="sel" name="sel">
                        <option value="-1">Select an option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                    </select>
                </div>

                <div class="ch-form-row ch-form-required">
                    <label for="sel_rqd">Select required: <em>*</em></label>
                    <select id="sel_rqd" name="sel_rqd" required pattern="[^-1]">
                        <option value="-1">Select an option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                    </select>
                </div>

                <div class="ch-form-row ch-form-disabled">
                    <label for="sel_dis">Select disabled:</label>
                    <select id="sel_dis" name="sel_dis" disabled>
                        <option value="-1">Select an option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                    </select>
                </div>

                <div class="ch-form-row ch-form-required ch-form-disabled">
                    <label for="sel_rqd_dis">Select required and disabled: <em>*</em></label>
                    <select id="sel_rqd_dis" name="sel_rqd_dis" required disabled>
                        <option value="-1">Select an option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                    </select>
                </div>
            </fieldset>
            <fieldset>
                <legend>Select multiple</legend>

                <div class="ch-form-row">
                    <label for="sel_mult">Select multiple:</label>
                    <select id="sel_mult" name="sel_mult" size="2" multiple>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                    </select>
                </div>

                <div class="ch-form-row ch-form-required">
                    <label for="sel_mult_rqd">Select required: <em>*</em></label>
                    <select id="sel_mult_rqd" name="sel_mult_rqd" size="2" multiple required>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                    </select>
                </div>

                <div class="ch-form-row ch-form-disabled">
                    <label for="sel_mult_dis">Select disabled:</label>
                    <select id="sel_mult_dis" name="sel_mult_dis" size="2" multiple disabled>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                    </select>
                </div>

                <div class="ch-form-row ch-form-required ch-form-disabled">
                    <label for="sel_mult_rqd_dis">Select required and disabled: <em>*</em></label>
                    <select id="sel_mult_rqd_dis" name="sel_mult_rqd_dis" size="2" multiple required disabled>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                    </select>
                </div>
            </fieldset>

            <div class="ch-form-actions">
                <input class="ch-btn" id="sel_smt" name="sel_smt" type="submit" value="Submit" />
                <a href="#">Cancel</a>
            </div>
        </form>
    </div>
{% highlight html %}
<form class="ch-form">
    <fieldset>
        <legend>Select</legend>

        <div class="ch-form-row">
            <label for="sel">Select:</label>
            <select id="sel" name="sel">
                <option value="-1">Select an option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
            </select>
        </div>

        <div class="ch-form-row ch-form-required">
            <label for="sel_rqd">Select required: <em>*</em></label>
            <select id="sel_rqd" name="sel_rqd" required pattern="[^-1]">
                <option value="-1">Select an option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
            </select>
        </div>

        <div class="ch-form-row ch-form-disabled">
            <label for="sel_dis">Select disabled:</label>
            <select id="sel_dis" name="sel_dis" disabled>
                <option value="-1">Select an option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
            </select>
        </div>

        <div class="ch-form-row ch-form-required ch-form-disabled">
            <label for="sel_rqd_dis">Select required and disabled: <em>*</em></label>
            <select id="sel_rqd_dis" name="sel_rqd_dis" required disabled>
                <option value="-1">Select an option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
            </select>
        </div>
    </fieldset>
    <fieldset>
        <legend>Select multiple</legend>

        <div class="ch-form-row">
            <label for="sel_mult">Select multiple:</label>
            <select id="sel_mult" name="sel_mult" size="2" multiple>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
            </select>
        </div>

        <div class="ch-form-row ch-form-required">
            <label for="sel_mult_rqd">Select required: <em>*</em></label>
            <select id="sel_mult_rqd" name="sel_mult_rqd" size="2" multiple required>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
            </select>
        </div>

        <div class="ch-form-row ch-form-disabled">
            <label for="sel_mult_dis">Select disabled:</label>
            <select id="sel_mult_dis" name="sel_mult_dis" size="2" multiple disabled>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
            </select>
        </div>

        <div class="ch-form-row ch-form-required ch-form-disabled">
            <label for="sel_mult_rqd_dis">Select required and disabled: <em>*</em></label>
            <select id="sel_mult_rqd_dis" name="sel_mult_rqd_dis" size="2" multiple required disabled>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
            </select>
        </div>
    </fieldset>

    <div class="ch-form-actions">
        <input class="ch-btn" id="sel_smt" name="sel_smt" type="submit" value="Submit" />
        <a href="#">Cancel</a>
    </div>
</form>
{% endhighlight %}

    <h3 id="checkbox">
        Checkbox
    </h3>
    <div class="component-example">
        <form class="ch-form">
            <fieldset>
                <legend>Checkbox</legend>

                <h4 class="ch-form-subtitle">Checkbox</h4>
                <div class="ch-form-options">
                    <div class="ch-form-row">
                        <input id="cb" name="cb" type="checkbox" value="1" />
                        <label for="cb">Option</label>
                    </div>
                </div>

                <h4 class="ch-form-subtitle">Checkbox required</h4>
                <div class="ch-form-options ch-form-required">
                    <div class="ch-form-row">
                        <input id="cb_rqd" name="cb_rqd" type="checkbox" value="1" required />
                        <label for="cb_rqd">Option</label>
                    </div>
                </div>

                <h4 class="ch-form-subtitle">Checkbox disabled</h4>
                <div class="ch-form-options ch-form-disabled">
                    <div class="ch-form-row">
                        <input id="cb_dis" name="cb_dis" type="checkbox" value="1" disabled />
                        <label for="cb_dis">Option</label>
                    </div>
                </div>

                <h4 class="ch-form-subtitle">Checkbox required and disabled</h4>
                <div class="ch-form-options ch-form-required ch-form-disabled">
                    <div class="ch-form-row">
                        <input id="cb_rqd_dis" name="cb_rqd_dis" type="checkbox" value="1" required disabled />
                        <label for="cb_rqd_dis">Option</label>
                    </div>
                </div>

                {% if chico_current_platform == site.chico_platform_mobile %}
                <h4 class="ch-form-subtitle">Checkbox inside list box</h4>
                <div class="ch-form-options ch-box-list">
                    <div class="ch-form-row">
                        <input id="cb_bl" name="cb_bl" type="checkbox" value="1" />
                        <label for="cb_bl">Option</label>
                    </div>
                </div>
                {% endif %}

                <h4 class="ch-form-subtitle">Checkbox group</h4>
                <div class="ch-form-options">
                    <ul>
                        <li class="ch-form-row">
                            <input id="cb_grp_1" name="cb_grp" type="checkbox" value="1" />
                            <label for="cb_grp_1">Option 1</label>
                        </li>
                        <li class="ch-form-row">
                            <input id="cb_grp_2" name="cb_grp" type="checkbox" value="2" />
                            <label for="cb_grp_2">Option 2</label>
                        </li>
                    </ul>
                </div>

                <h4 class="ch-form-subtitle">Checkbox group disabled</h4>
                <div class="ch-form-options ch-form-disabled">
                    <ul>
                        <li class="ch-form-row">
                            <input id="cb_grp_dis_1" name="cb_grp_dis" type="checkbox" value="1" disabled />
                            <label for="cb_grp_dis_1">Option 1</label>
                        </li>
                        <li class="ch-form-row">
                            <input id="cb_grp_dis_2" name="cb_grp_dis" type="checkbox" value="2" disabled />
                            <label for="cb_grp_dis_2">Option 2</label>
                        </li>
                    </ul>
                </div>

                {% if chico_current_platform == site.chico_platform_mobile %}
                <h4 class="ch-form-subtitle">Checkbox group inside list box</h4>
                <div class="ch-form-options ch-box-list">
                    <ul>
                        <li class="ch-form-row">
                            <input id="cb_bl_grp_1" name="cb_bl_grp" type="checkbox" value="1" />
                            <label for="cb_bl_grp_1">Option 1</label>
                        </li>
                        <li class="ch-form-row">
                            <input id="cb_bl_grp_2" name="cb_bl_grp" type="checkbox" value="2" />
                            <label for="cb_bl_grp_2">Option 2</label>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </fieldset>

            <div class="ch-form-actions">
                <input class="ch-btn" id="cb_smt" name="cb_smt" type="submit" value="Submit" />
                <a href="#">Cancel</a>
            </div>
        </form>
    </div>
{% highlight html %}
<form class="ch-form">
    <fieldset>
        <legend>Checkbox</legend>

        <h4 class="ch-form-subtitle">Checkbox</h4>
        <div class="ch-form-options">
            <div class="ch-form-row">
                <input id="cb" name="cb" type="checkbox" value="1" />
                <label for="cb">Option</label>
            </div>
        </div>

        <h4 class="ch-form-subtitle">Checkbox required</h4>
        <div class="ch-form-options ch-form-required">
            <div class="ch-form-row">
                <input id="cb_rqd" name="cb_rqd" type="checkbox" value="1" required />
                <label for="cb_rqd">Option</label>
            </div>
        </div>

        <h4 class="ch-form-subtitle">Checkbox disabled</h4>
        <div class="ch-form-options ch-form-disabled">
            <div class="ch-form-row">
                <input id="cb_dis" name="cb_dis" type="checkbox" value="1" disabled />
                <label for="cb_dis">Option</label>
            </div>
        </div>

        <h4 class="ch-form-subtitle">Checkbox required and disabled</h4>
        <div class="ch-form-options ch-form-required ch-form-disabled">
            <div class="ch-form-row">
                <input id="cb_rqd_dis" name="cb_rqd_dis" type="checkbox" value="1" required disabled />
                <label for="cb_rqd_dis">Option</label>
            </div>
        </div>
        {% if chico_current_platform == site.chico_platform_mobile %}
        <h4 class="ch-form-subtitle">Checkbox inside list box</h4>
        <div class="ch-form-options ch-box-list">
            <div class="ch-form-row">
                <input id="cb_bl" name="cb_bl" type="checkbox" value="1" />
                <label for="cb_bl">Option</label>
            </div>
        </div>
        {% endif %}
        <h4 class="ch-form-subtitle">Checkbox group</h4>
        <div class="ch-form-options">
            <ul>
                <li class="ch-form-row">
                    <input id="cb_grp_1" name="cb_grp" type="checkbox" value="1" />
                    <label for="cb_grp_1">Option 1</label>
                </li>
                <li class="ch-form-row">
                    <input id="cb_grp_2" name="cb_grp" type="checkbox" value="2" />
                    <label for="cb_grp_2">Option 2</label>
                </li>
            </ul>
        </div>

        <h4 class="ch-form-subtitle">Checkbox group disabled</h4>
        <div class="ch-form-options ch-form-disabled">
            <ul>
                <li class="ch-form-row">
                    <input id="cb_grp_dis_1" name="cb_grp_dis" type="checkbox" value="1" disabled />
                    <label for="cb_grp_dis_1">Option 1</label>
                </li>
                <li class="ch-form-row">
                    <input id="cb_grp_dis_2" name="cb_grp_dis" type="checkbox" value="2" disabled />
                    <label for="cb_grp_dis_2">Option 2</label>
                </li>
            </ul>
        </div>
        {% if chico_current_platform == site.chico_platform_mobile %}
        <h4 class="ch-form-subtitle">Checkbox group inside list box</h4>
        <div class="ch-form-options ch-box-list">
            <ul>
                <li class="ch-form-row">
                    <input id="cb_bl_grp_1" name="cb_bl_grp" type="checkbox" value="1" />
                    <label for="cb_bl_grp_1">Option 1</label>
                </li>
                <li class="ch-form-row">
                    <input id="cb_bl_grp_2" name="cb_bl_grp" type="checkbox" value="2" />
                    <label for="cb_bl_grp_2">Option 2</label>
                </li>
            </ul>
        </div>{% endif %}
    </fieldset>

    <div class="ch-form-actions">
        <input class="ch-btn" id="cb_smt" name="cb_smt" type="submit" value="Submit" />
        <a href="#">Cancel</a>
    </div>
</form>
{% endhighlight %}

    <h3 id="radio">
        Radio
    </h3>
    <div class="component-example">
        <form class="ch-form">
            <fieldset>
                <legend>Radio</legend>

                <h4 class="ch-form-subtitle">Radio group</h4>
                <div class="ch-form-options">
                    <ul>
                        <li class="ch-form-row">
                            <input id="rd_grp_1" name="rd_grp" type="radio" value="1" />
                            <label for="rd_grp_1">Option 1</label>
                        </li>
                        <li class="ch-form-row">
                            <input id="rd_grp_2" name="rd_grp" type="radio" value="2" />
                            <label for="rd_grp_2">Option 2</label>
                        </li>
                    </ul>
                </div>

                <h4 class="ch-form-subtitle">Radio group disabled</h4>
                <div class="ch-form-options ch-form-disabled">
                    <ul>
                        <li class="ch-form-row">
                            <input id="rd_grp_dis_1" name="rd_grp_dis" type="radio" value="1" disabled />
                            <label for="rd_grp_dis_1">Option 1</label>
                        </li>
                        <li class="ch-form-row">
                            <input id="rd_grp_dis_2" name="rd_grp_dis" type="radio" value="2" disabled />
                            <label for="rd_grp_dis_2">Option 2</label>
                        </li>
                    </ul>
                </div>
                {% if chico_current_platform == site.chico_platform_mobile %}
                <h4 class="ch-form-subtitle">Radio group inside list box</h4>
                <div class="ch-form-options ch-box-list">
                    <ul>
                        <li class="ch-form-row">
                            <input id="rd_bl_grp_1" name="rd_bl_grp" type="radio" value="1" />
                            <label for="rd_bl_grp_1">Option 1</label>
                        </li>
                        <li class="ch-form-row">
                            <input id="rd_bl_grp_2" name="rd_bl_grp" type="radio" value="2" />
                            <label for="rd_bl_grp_2">Option 2</label>
                        </li>
                    </ul>
                </div>{% endif %}
            </fieldset>

            <div class="ch-form-actions">
                <input class="ch-btn" id="rd_smt" name="rd_smt" type="submit" value="Submit" />
                <a href="#">Cancel</a>
            </div>
        </form>
    </div>
{% highlight html %}
<form class="ch-form">
    <fieldset>
        <legend>Radio</legend>

        <h4 class="ch-form-subtitle">Radio group</h4>
        <div class="ch-form-options">
            <ul>
                <li class="ch-form-row">
                    <input id="rd_grp_1" name="rd_grp" type="radio" value="1" />
                    <label for="rd_grp_1">Option 1</label>
                </li>
                <li class="ch-form-row">
                    <input id="rd_grp_2" name="rd_grp" type="radio" value="2" />
                    <label for="rd_grp_2">Option 2</label>
                </li>
            </ul>
        </div>

        <h4 class="ch-form-subtitle">Radio group disabled</h4>
        <div class="ch-form-options ch-form-disabled">
            <ul>
                <li class="ch-form-row">
                    <input id="rd_grp_dis_1" name="rd_grp_dis" type="radio" value="1" disabled />
                    <label for="rd_grp_dis_1">Option 1</label>
                </li>
                <li class="ch-form-row">
                    <input id="rd_grp_dis_2" name="rd_grp_dis" type="radio" value="2" disabled />
                    <label for="rd_grp_dis_2">Option 2</label>
                </li>
            </ul>
        </div>
        {% if chico_current_platform == site.chico_platform_mobile %}
        <h4 class="ch-form-subtitle">Radio group inside list box</h4>
        <div class="ch-form-options ch-box-list">
            <ul>
                <li class="ch-form-row">
                    <input id="rd_bl_grp_1" name="rd_bl_grp" type="radio" value="1" />
                    <label for="rd_bl_grp_1">Option 1</label>
                </li>
                <li class="ch-form-row">
                    <input id="rd_bl_grp_2" name="rd_bl_grp" type="radio" value="2" />
                    <label for="rd_bl_grp_2">Option 2</label>
                </li>
            </ul>
        </div>{% endif %}
    </fieldset>

    <div class="ch-form-actions">
        <input class="ch-btn" id="rd_smt" name="rd_smt" type="submit" value="Submit" />
        <a href="#">Cancel</a>
    </div>
</form>
{% endhighlight %}

    <h3 id="large">
        Large
    </h3>
    <div class="component-example">
        <form class="ch-form ch-form-big">
            <fieldset>
                <legend>Large</legend>

                <div class="ch-form-row">
                    <label for="inpt_lrg">Input:</label>
                    <input id="inpt_lrg" name="inpt_lrg" type="text" size="50" />
                </div>

                <div class="ch-form-row ch-form-required">
                    <label for="inpt_lrg">Input required: <em>*</em></label>
                    <input id="inpt_lrg" name="inpt_lrg" type="text" size="50" required />
                </div>

                <div class="ch-form-row">
                    <label for="inpt_lrg_icon_inner">Input w/ inner icon:</label>
                    <input class="ch-form-icon-input" id="inpt_lrg_icon_inner" name="inpt_lrg_icon_inner"
                        type="password" size="47" />
                    <span class="ch-form-icon-inner ch-icon-lock"></span>
                </div>

                <div class="ch-form-row">
                    <label for="txta_lrg_hint">Textarea w/ hint:</label>
                    <textarea id="txta_lrg_hint" name="txta_lrg_hint" cols="60" rows="6"></textarea>
                    <span class="ch-form-hint">Hint for current textarea</span>
                </div>
            </fieldset>

            <div class="ch-form-actions">
                <input class="ch-btn" id="lrg_smt" name="lrg_smt" type="submit" value="Submit" />
                <a href="#">Cancel</a>
            </div>
        </form>
    </div>
{% highlight html %}
<form class="ch-form ch-form-big">
    <fieldset>
        <legend>Large</legend>

        <div class="ch-form-row">
            <label for="inpt_lrg">Input:</label>
            <input id="inpt_lrg" name="inpt_lrg" type="text" size="50" />
        </div>

        <div class="ch-form-row ch-form-required">
            <label for="inpt_lrg">Input required: <em>*</em></label>
            <input id="inpt_lrg" name="inpt_lrg" type="text" size="50" required />
        </div>

        <div class="ch-form-row">
            <label for="inpt_lrg_icon_inner">Input w/ inner icon:</label>
            <input class="ch-form-icon-input" id="inpt_lrg_icon_inner" name="inpt_lrg_icon_inner"
                type="password" size="47" />
            <span class="ch-form-icon-inner ch-icon-lock"></span>
        </div>

        <div class="ch-form-row">
            <label for="txta_lrg_hint">Textarea w/ hint:</label>
            <textarea id="txta_lrg_hint" name="txta_lrg_hint" cols="60" rows="6"></textarea>
            <span class="ch-form-hint">Hint for current textarea</span>
        </div>
    </fieldset>

    <div class="ch-form-actions">
        <input class="ch-btn" id="lrg_smt" name="lrg_smt" type="submit" value="Submit" />
        <a href="#">Cancel</a>
    </div>
</form>
{% endhighlight %}

    <h3 id="misc">
        Misc
    </h3>
    <div class="component-example">
        <form class="ch-form">
            <fieldset>
                <legend>Misc</legend>

                <div class="ch-form-row">
                    <label for="misc_ph_cb">Misc:</label>
                    <input id="misc_ph_cb" name="misc_ph_cb" type="text" />
                    <input class="ch-form-checkbox-inline" id="misc_cb_il" name="misc_cb_il" type="checkbox" checked />
                    <label class="ch-label-inline" for="misc_cb_il">
                        Inline label and checkbox
                    </label>
                </div>

                <div class="ch-form-row ch-form-required">
                    <label for="misc_rqd_ph_hint">Misc required: <em>*</em></label>
                    <input id="misc_rqd_ph_hint" name="misc_rqd_ph_hint" size="35" type="email"
                        placeholder="foo@bar.com" required />
                    <span class="ch-form-hint">Hint for current input</span>
                </div>

                <div class="ch-form-row">
                    <label for="misc_3inpt_sel_1">Misc:</label>
                    <input id="misc_3inpt_sel_1" name="misc_3inpt_sel_1" type="text" size="20" placeholder="Foobar bar baz" />
                    <input id="misc_3inpt_sel_2" name="misc_3inpt_sel_2" type="number" min="0" max="99" placeholder="55" />
                    <select id="misc_3inpt_sel_3" name="misc_3inpt_sel_3">
                        <option value="-1">Select an option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                    </select>
                </div>

                <div class="ch-form-row">
                    <label for="misc_2inpt_sel_1">Misc:</label>
                    <select id="misc_2inpt_sel_1" name="misc_2inpt_sel_3">
                        <option value="-1">Select an option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                    </select>
                    <input id="misc_3inpt_sel_2" name="misc_3inpt_sel_2" type="text" placeholder="Fooobar" />
                </div>

                <div class="ch-form-row ch-form-row-inline">
                    <label for="misc_3inpt_1">Misc:</label>
                    <input id="misc_3inpt_1" name="misc_3inpt_1" type="number" min="0" max="99" placeholder="12" /> -
                    <input id="misc_3inpt_2" name="misc_3inpt_2" type="number" min="0" max="999999" placeholder="345678" /> /
                    <input id="misc_3inpt_3" name="misc_3inpt_3" type="number" min="0" max="9" placeholder="9" />
                </div>

                <div class="ch-form-row ch-form-row-inline ch-form-required">
                    <label for="misc_2inpt_rqd_1">Misc required: <em>*</em></label>
                    <input id="misc_2inpt_rqd_1" name="misc_2inpt_rqd_1" type="number" min="0" max="99"
                        placeholder="12" required />
                    <input id="misc_2inpt_rqd_2" name="misc_2inpt_rqd_2" type="number" min="0" max="9999"
                        placeholder="3456" required />
                </div>
            </fieldset>

            <div class="ch-form-actions">
                <input class="ch-btn" id="misc_smt" name="misc_smt" type="submit" value="Submit" />
                <a href="#">Cancel</a>
            </div>
        </form>
    </div>
{% highlight html %}
<form class="ch-form">
    <fieldset>
        <legend>Misc</legend>

        <div class="ch-form-row">
            <label for="misc_ph_cb">Misc:</label>
            <input id="misc_ph_cb" name="misc_ph_cb" type="text" />
            <input class="ch-form-checkbox-inline" id="misc_cb_il" name="misc_cb_il" type="checkbox" checked />
            <label class="ch-label-inline" for="misc_cb_il">
                Inline label and checkbox
            </label>
        </div>

        <div class="ch-form-row ch-form-required">
            <label for="misc_rqd_ph_hint">Misc required: <em>*</em></label>
            <input id="misc_rqd_ph_hint" name="misc_rqd_ph_hint" size="35" type="email"
                placeholder="foo@bar.com" required />
            <span class="ch-form-hint">Hint for current input</span>
        </div>

        <div class="ch-form-row">
            <label for="misc_3inpt_sel_1">Misc:</label>
            <input id="misc_3inpt_sel_1" name="misc_3inpt_sel_1" type="text" size="20" placeholder="Foobar bar baz" />
            <input id="misc_3inpt_sel_2" name="misc_3inpt_sel_2" type="number" min="0" max="99" placeholder="55" />
            <select id="misc_3inpt_sel_3" name="misc_3inpt_sel_3">
                <option value="-1">Select an option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
            </select>
        </div>

        <div class="ch-form-row">
            <label for="misc_2inpt_sel_1">Misc:</label>
            <select id="misc_2inpt_sel_1" name="misc_2inpt_sel_3">
                <option value="-1">Select an option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
            </select>
            <input id="misc_3inpt_sel_2" name="misc_3inpt_sel_2" type="text" placeholder="Fooobar" />
        </div>

        <div class="ch-form-row ch-form-row-inline">
            <label for="misc_3inpt_1">Misc:</label>
            <input id="misc_3inpt_1" name="misc_3inpt_1" type="number" min="0" max="99" placeholder="12" /> -
            <input id="misc_3inpt_2" name="misc_3inpt_2" type="number" min="0" max="999999" placeholder="345678" /> /
            <input id="misc_3inpt_3" name="misc_3inpt_3" type="number" min="0" max="9" placeholder="9" />
        </div>

        <div class="ch-form-row ch-form-row-inline ch-form-required">
            <label for="misc_2inpt_rqd_1">Misc required: <em>*</em></label>
            <input id="misc_2inpt_rqd_1" name="misc_2inpt_rqd_1" type="number" min="0" max="99"
                placeholder="12" required />
            <input id="misc_2inpt_rqd_2" name="misc_2inpt_rqd_2" type="number" min="0" max="9999"
                placeholder="3456" required />
        </div>
    </fieldset>

    <div class="ch-form-actions">
        <input class="ch-btn" id="misc_smt" name="misc_smt" type="submit" value="Submit" />
        <a href="#">Cancel</a>
    </div>
</form>
{% endhighlight %}
</article>
