<article id="icons">
    <h2>
        Icons
    </h2>
    <div class="component-example">
        <span class="ch-icon-camera ch-icon-xx-large"></span>
        <span class="ch-icon-camera ch-icon-x-large"></span>
        <span class="ch-icon-camera ch-icon-large"></span>
        <span class="ch-icon-camera"></span>
        <ul class="icons-showcase">
            <li><span class="ch-icon-search"></span> ch-icon-search</li>
            <li><span class="ch-icon-heart"></span> ch-icon-heart</li>
            <li><span class="ch-icon-star"></span> ch-icon-star</li>
            <li><span class="ch-icon-star-empty"></span> ch-icon-star-empty</li>
            <li><span class="ch-icon-user"></span> ch-icon-user</li>
            <li><span class="ch-icon-th-large"></span> ch-icon-th-large</li>
            <li><span class="ch-icon-th"></span> ch-icon-th</li>
            <li><span class="ch-icon-th-list"></span> ch-icon-th-list</li>
            <li><span class="ch-icon-ok"></span> ch-icon-ok</li>
            <li><span class="ch-icon-remove"></span> ch-icon-remove</li>
            <li><span class="ch-icon-zoom-in"></span> ch-icon-zoom-in</li>
            <li><span class="ch-icon-zoom-out"></span> ch-icon-zoom-out</li>
            <li><span class="ch-icon-cog"></span> ch-icon-cog</li>
            <li><span class="ch-icon-trash"></span> ch-icon-trash</li>
            <li><span class="ch-icon-time"></span> ch-icon-time</li>
            <li><span class="ch-icon-repeat"></span> ch-icon-repeat</li>
            <li><span class="ch-icon-refresh"></span> ch-icon-refresh</li>
            <li><span class="ch-icon-lock"></span> ch-icon-lock</li>
            <li><span class="ch-icon-print"></span> ch-icon-print</li>
            <li><span class="ch-icon-camera"></span> ch-icon-camera</li>
            <li><span class="ch-icon-pencil"></span> ch-icon-pencil</li>
            <li><span class="ch-icon-map-marker"></span> ch-icon-map-marker</li>
            <li><span class="ch-icon-move"></span> ch-icon-move</li>
            <li><span class="ch-icon-chevron-left"></span> ch-icon-chevron-left</li>
            <li><span class="ch-icon-chevron-right"></span> ch-icon-chevron-right</li>
            <li><span class="ch-icon-plus-sign"></span> ch-icon-plus-sign</li>
            <li><span class="ch-icon-minus-sign"></span> ch-icon-minus-sign</li>
            <li><span class="ch-icon-remove-sign"></span> ch-icon-remove-sign</li>
            <li><span class="ch-icon-ok-sign"></span> ch-icon-ok-sign</li>
            <li><span class="ch-icon-help-sign"></span> ch-icon-help-sign</li>
            <li><span class="ch-icon-info-sign"></span> ch-icon-info-sign</li>
            <li><span class="ch-icon-ban-circle"></span> ch-icon-ban-circle</li>
            <li><span class="ch-icon-arrow-left"></span> ch-icon-arrow-left</li>
            <li><span class="ch-icon-arrow-right"></span> ch-icon-arrow-right</li>
            <li><span class="ch-icon-arrow-up"></span> ch-icon-arrow-up</li>
            <li><span class="ch-icon-arrow-down"></span> ch-icon-arrow-down</li>
            <li><span class="ch-icon-plus"></span> ch-icon-plus</li>
            <li><span class="ch-icon-minus"></span> ch-icon-minus</li>
            <li><span class="ch-icon-exclamation-sign"></span> ch-icon-exclamation-sign</li>
            <li><span class="ch-icon-warning-sign"></span> ch-icon-warning-sign</li>
            <li><span class="ch-icon-calendar"></span> ch-icon-calendar</li>
            <li><span class="ch-icon-comment"></span> ch-icon-comment</li>
            <li><span class="ch-icon-chevron-up"></span> ch-icon-chevron-up</li>
            <li><span class="ch-icon-chevron-down"></span> ch-icon-chevron-down</li>
            <li><span class="ch-icon-key"></span> ch-icon-key</li>
            <li><span class="ch-icon-comments"></span> ch-icon-comments</li>
            <li><span class="ch-icon-unlock"></span> ch-icon-unlock</li>
            <li><span class="ch-icon-wrench"></span> ch-icon-wrench</li>
            <li><span class="ch-icon-group"></span> ch-icon-group</li>
            <li><span class="ch-icon-copy"></span> ch-icon-copy</li>
            <li><span class="ch-icon-paper-clip"></span> ch-icon-paper-clip</li>
            <li><span class="ch-icon-reorder"></span> ch-icon-reorder</li>
            <li><span class="ch-icon-truck"></span> ch-icon-truck</li>
            <li><span class="ch-icon-caret-down"></span> ch-icon-caret-down</li>
            <li><span class="ch-icon-caret-up"></span> ch-icon-caret-up</li>
            <li><span class="ch-icon-caret-left"></span> ch-icon-caret-left</li>
            <li><span class="ch-icon-caret-right"></span> ch-icon-caret-right</li>
            <li><span class="ch-icon-sort"></span> ch-icon-sort</li>
            <li><span class="ch-icon-sort-down"></span> ch-icon-sort-down</li>
            <li><span class="ch-icon-sort-up"></span> ch-icon-sort-up</li>
            <li><span class="ch-icon-envelope-alt"></span> ch-icon-envelope-alt</li>
            <li><span class="ch-icon-undo"></span> ch-icon-undo</li>
            <li><span class="ch-icon-comment-alt"></span> ch-icon-comment-alt</li>
            <li><span class="ch-icon-comments-alt"></span> ch-icon-comments-alt</li>
            <li><span class="ch-icon-phone"></span> ch-icon-phone</li>
        </ul>
    </div>
{% highlight html %}
<span class="ch-icon-camera ch-icon-xx-large"></span>
<span class="ch-icon-camera ch-icon-x-large"></span>
<span class="ch-icon-camera ch-icon-large"></span>
<span class="ch-icon-camera"></span>
{% endhighlight %}
</article>
