<article id="layer">
    <h2>
        Layer
    </h2>
    <p>
        Check the
        <a href="{{ site.baseurl }}/{{ site.chico_path_api_doc }}{{ chico_current_version }}/{{ chico_current_platform }}/ch.layer/">API documentation</a>
        for this component.
    </p>
    <div class="component-example">
        <ul class="ch-list">
            <li>
                <span id="dm_ly_pl">
                    Executed on: <strong>pointerenter</strong>, Content: <strong>plain text</strong>.
                </span>
            </li>
            <li>
                <span id="dm_ly_el">
                    Executed on: <strong>pointertap</strong>, Content: <strong>HTML Element</strong>,
                    Hidden by: <strong>all</strong>.
                </span>
            </li>
            <li>
                <span id="dm_ly_dom">
                    Executed on: <strong>pointertap</strong>, Content: <strong>element in DOM</strong>,
                    Hidden by: <strong>none</strong>.
                </span>
            </li>
            <li>
                <span id="dm_ly_btn">
                    Executed on: <strong>pointertap</strong>, Content: <strong>plain text</strong>,
                    Hidden by: <strong>button</strong>.
                </span>
            </li>
            <li>
                <span id="dm_ly_ajax">
                    Executed on: <strong>pointertap</strong>, Content: <strong>Ajax</strong>,
                    Hidden by: <strong>pointers</strong>.
                </span>
            </li>
        </ul>

        <div class="ch-hide" id="dm_ly_dom_cnt">
            <h1>Heading</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
{% highlight html %}
<span id="dm_ly_pl">Content</span>
<span id="dm_ly_el">Content</span>
<span id="dm_ly_dom">Content</span>
<span id="dm_ly_btn">Content</span>
<span id="dm_ly_ajax">Content</span>

<div class="ch-hide" id="dm_ly_dom_cnt">
    <h1>Heading</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
{% endhighlight %}
{% highlight javascript %}
var layerPlain = new ch.Layer({% if chico_current_version == site.chico_version_1x %}$('#dm_ly_pl'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_ly_pl')[0]{% endif %}, {
    'content': 'Plain text'
});

var layerElement = new ch.Layer({% if chico_current_version == site.chico_version_1x %}$('#dm_ly_el'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_ly_el')[0]{% endif %}, {
    'content': document.createElement('p').innerHTML = 'HTML Element',
    'shownby': 'pointertap',
    'hiddenby': 'all'
});

var layerDom = new ch.Layer({% if chico_current_version == site.chico_version_1x %}$('#dm_ly_dom'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_ly_dom')[0]{% endif %}, {
    'content': {% if chico_current_version == site.chico_version_1x %}$('#dm_ly_dom_cnt'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_ly_dom_cnt')[0]{% endif %},
    'shownby': 'pointertap',
    'hiddenby': 'none'
});

var layerButton = new ch.Layer({% if chico_current_version == site.chico_version_1x %}$('#dm_ly_btn'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_ly_btn')[0]{% endif %}, {
    'content': 'Plain text',
    'shownby': 'pointertap',
    'hiddenby': 'button'
});

var layerAjax = new ch.Layer({% if chico_current_version == site.chico_version_1x %}$('#dm_ly_ajax'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_ly_ajax')[0]{% endif %}, {
    'content': '{{ site.baseUrl }}/ajax.html',
    'shownby': 'pointertap',
    'hiddenby': 'pointers'
});
{% endhighlight %}
    <p>
        Back to <a href="#layer">Layer</a> / Back to <a href="#top">Top</a>
    </p>
    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            var layerPlain = new ch.Layer({% if chico_current_version == site.chico_version_1x %}$('#dm_ly_pl'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_ly_pl')[0]{% endif %}, {
                'content': 'Plain text'
            });

            var layerElement = new ch.Layer({% if chico_current_version == site.chico_version_1x %}$('#dm_ly_el'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_ly_el')[0]{% endif %}, {
                'content': document.createElement('p').innerHTML = 'HTML Element',
                'shownby': 'pointertap',
                'hiddenby': 'all'
            });

            var layerDom = new ch.Layer({% if chico_current_version == site.chico_version_1x %}$('#dm_ly_dom'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_ly_dom')[0]{% endif %}, {
                'content': {% if chico_current_version == site.chico_version_1x %}$('#dm_ly_dom_cnt'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_ly_dom_cnt')[0]{% endif %},
                'shownby': 'pointertap',
                'hiddenby': 'none'
            });

            var layerButton = new ch.Layer({% if chico_current_version == site.chico_version_1x %}$('#dm_ly_btn'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_ly_btn')[0]{% endif %}, {
                'content': 'Plain text',
                'shownby': 'pointertap',
                'hiddenby': 'button'
            });

            var layerAjax = new ch.Layer({% if chico_current_version == site.chico_version_1x %}$('#dm_ly_ajax'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_ly_ajax')[0]{% endif %}, {
                'content': '{{ site.baseUrl }}/ajax.html',
                'shownby': 'pointertap',
                'hiddenby': 'pointers'
            });
        });
    </script>
</article>
