<article id="list-boxes">
    <h2>
        List boxes
    </h2>
    <div class="component-example">
        <ul class="ch-box-list">
            <li>
                <a href="#">Motors</a>
            </li>
            <li>
                <a href="#">Real Estate</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
        </ul>

        <ul class="ch-box-list">
            <li>
                <a href="#">
                    Multiline text. Lorem ipsum dolor sit amet, consectetur adipiscing elit adipiscing.
                    Donec sit amet purus in sapien luctus sodales adipiscing. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit.
                </a>
            </li>
            <li>
                <a class="ch-ellipsis" href="#">
                    Ellipsis text. Lorem ipsum dolor sit amet, consectetur adipiscing elit adipiscing.
                    Donec sit amet purus in sapien luctus sodales adipiscing. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit.
                </a>
            </li>
        </ul>

        <ul class="ch-box-list">
            <li>
                <span class="ch-icon-user"></span>
                <a href="#">Account</a>
            </li>
            <li>
                <span class="ch-icon-cog"></span>
                <a href="#">Settings</a>
            </li>
        </ul>
    </div>
{% highlight html %}
<ul class="ch-box-list">
    <li>
        <a href="#">Motors</a>
    </li>
    <li>
        <a href="#">Real Estate</a>
    </li>
    <li>
        <a href="#">Services</a>
    </li>
</ul>

<ul class="ch-box-list">
    <li>
        <a href="#">
            Multiline text. Lorem ipsum dolor sit amet, consectetur adipiscing elit adipiscing.
            Donec sit amet purus in sapien luctus sodales adipiscing. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
        </a>
    </li>
    <li>
        <a class="ch-ellipsis" href="#">
            Ellipsis text. Lorem ipsum dolor sit amet, consectetur adipiscing elit adipiscing.
            Donec sit amet purus in sapien luctus sodales adipiscing. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
        </a>
    </li>
</ul>

<ul class="ch-box-list">
    <li>
        <span class="ch-icon-user"></span>
        <a href="#">Account</a>
    </li>
    <li>
        <span class="ch-icon-cog"></span>
        <a href="#">Settings</a>
    </li>
</ul>
{% endhighlight %}
    <p>
        Back to <a href="#list-boxes">List boxes</a> / Back to <a href="#top">Top</a>
    </p>
</article>
