<article id="lists">
    <h2>
        Lists
    </h2>
    <div class="component-example">
        <div class="mesh-row">
            <div class="mesh-col-6 mesh-col-l-3">
                <h3>Unstyled</h3>
                <ul>
                    <li>
                        <a href="http://www.mercadolibre.com">Mercado Libre</a>
                    </li>
                    <li>
                        <a href="http://www.mercadopago.com">Mercado Pago</a>
                    </li>
                    <li>
                        <a href="http://www.mercadoshops.com">Mercado Shops</a>
                    </li>
                </ul>
            </div>
            <div class="mesh-col-6 mesh-col-l-3">
                <h3>Unordered</h3>
                <ul class="ch-list">
                    <li>
                        <a href="http://www.mercadolibre.com">Mercado Libre</a>
                    </li>
                    <li>
                        <a href="http://www.mercadopago.com">Mercado Pago</a>
                    </li>
                    <li>
                        <a href="http://www.mercadoshops.com">Mercado Shops</a>
                    </li>
                </ul>
            </div>
            <div class="mesh-col-6 mesh-col-l-3">
                <h3>Ordered</h3>
                <ol class="ch-list">
                    <li>
                        <a href="http://www.mercadolibre.com">Mercado Libre</a>
                    </li>
                    <li>
                        <a href="http://www.mercadopago.com">Mercado Pago</a>
                    </li>
                    <li>
                        <a href="http://www.mercadoshops.com">Mercado Shops</a>
                    </li>
                </ol>
            </div>
            <div class="mesh-col-6 mesh-col-l-3">
                <h3>Description</h3>
                <dl class="ch-list">
                    <dt>Mercado Libre</dt>
                    <dd>Donde compras y vendes de todo!</dd>
                    <dt>Mercado Pago</dt>
                    <dd>La forma más simple de recibir pagos!</dd>
                    <dt>Mercado Shops</dt>
                    <dd>Tu tienda virtual gratis y en minutos!</dd>
                </dl>
            </div>
        </div>
    </div>
{% highlight html %}
<!-- Unstyled list -->
<ul>
    <li>
        <a href="http://www.mercadolibre.com">Mercado Libre</a>
    </li>
</ul>

<!-- Unordered list -->
<ul class="ch-list">
    <li>
        <a href="http://www.mercadolibre.com">Mercado Libre</a>
    </li>
</ul>

<!-- Ordered list -->
<ol class="ch-list">
    <li>
        <a href="http://www.mercadolibre.com">Mercado Libre</a>
    </li>
</ol>

<!-- Description list -->
<dl class="ch-list">
    <dt>Mercado Libre</dt>
    <dd>Donde compras y vendes de todo!</dd>
</dl>
{% endhighlight %}
</article>
