<article id="menu">
    <h2>
        Menu
    </h2>
    <div class="component-example">
        <ul id="dm_mn">
            <li>
                <span>Option</span>
                <ul{% if chico_current_platform == site.chico_platform_mobile %} class="ch-box-list"{% endif %}>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
            </li>
            <li>
                <span>Option</span>
                <ul{% if chico_current_platform == site.chico_platform_mobile %} class="ch-box-list"{% endif %}>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Link</a>
            </li>
            <li>
                <span>Option</span>
                <ul{% if chico_current_platform == site.chico_platform_mobile %} class="ch-box-list"{% endif %}>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
            </li>
            <li>
                <span>Option</span>
                <ul{% if chico_current_platform == site.chico_platform_mobile %} class="ch-box-list"{% endif %}>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
            </li>
        </ul>
    </div>
{% highlight html %}
<ul class="ch-menu" id="dm_mn">
    <li>
        <span>Option</span>
        <ul{% if chico_current_platform == site.chico_platform_mobile %} class="ch-box-list"{% endif %}>
            <li><a href="#">Link 1</a></li>
            <!-- [...] -->
        </ul>
    </li>
    <li>
        <a href="#">Link</a>
    </li>
</ul>
{% endhighlight %}
{% highlight javascript %}
var menu = new ch.Menu(ch('#dm_mn')[0]);
{% endhighlight %}
    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            var menu = new ch.Menu(ch('#dm_mn')[0]);
        });
    </script>
</article>
