<article id="menu">
    <h2>
        Menu
    </h2>
    <p>
        Check the
        <a href="{{ site.baseurl }}/{{ site.chico_path_api_doc }}{{ chico_current_version }}/{{ chico_current_platform }}/ch.menu/">API documentation</a>
        for this component.
    </p>
    <div class="component-example">
        <ul id="dm_mn">
            <li>
                <span>Option</span>
                <ul{% if chico_current_platform == site.chico_platform_mobile %} class="ch-box-list"{% endif %}>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
            </li>
            <li>
                <span>Option</span>
                <ul{% if chico_current_platform == site.chico_platform_mobile %} class="ch-box-list"{% endif %}>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Link</a>
            </li>
            <li>
                <span>Option</span>
                <ul{% if chico_current_platform == site.chico_platform_mobile %} class="ch-box-list"{% endif %}>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
            </li>
            <li>
                <span>Option</span>
                <ul{% if chico_current_platform == site.chico_platform_mobile %} class="ch-box-list"{% endif %}>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
            </li>
        </ul>
    </div>
{% highlight html %}
<ul class="ch-menu" id="dm_mn">
    <li>
        <span>Option</span>
        <ul{% if chico_current_platform == site.chico_platform_mobile %} class="ch-box-list"{% endif %}>
            <li><a href="#">Link 1</a></li>
            <!-- [...] -->
        </ul>
    </li>
    <li>
        <a href="#">Link</a>
    </li>
</ul>
{% endhighlight %}
{% highlight javascript %}
var menu = new ch.Menu({% if chico_current_version == site.chico_version_1x %}$('#dm_mn'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_mn')[0]{% endif %});
{% endhighlight %}
    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            var menu = new ch.Menu({% if chico_current_version == site.chico_version_1x %}$('#dm_mn'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_mn')[0]{% endif %});
        });
    </script>
</article>
