<article id="modal">
    <h2>
        Modal
    </h2>
    <p>
        Check the
        <a href="{{ site.baseurl }}/{{ site.chico_path_api_doc }}{{ chico_current_version }}/{{ chico_current_platform }}/ch.modal/">API documentation</a>
        for this component.
    </p>
    <div class="component-example">
        <h3>Modal with Ajax content</h3>
        <a id="dm_mdl_lnk" href="{{ site.baseUrl }}/ajax.html">Modal</a>

        <h3>Modal with DOM content</h3>
        <button class="ch-btn ch-btn-small" id="dm_mdl_dom">Modal</button>

        <h3>Modal lite</h3>
        <button id="dm_mdl_lt" class="ch-btn ch-btn-small">Modal</button>

        <h3>Modal inside a form without trigger</h3>
        <form id="dm_mdl_frm" action="{{ site.baseUrl }}/ajax.html">
            <input class="ch-btn ch-btn-small" type="submit" value="Modal" />
        </form>

        <div class="ch-hide" id="dm_mdl_dom_cnt">
            <h1>Heading</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="ch-actions">
                <button class="ch-btn">Primary action</button>
                <a href="#">Secondary action</a>
            </div>
        </div>
    </div>
{% highlight html %}
<h3>Modal with Ajax content</h3>
<a id="dm_mdl_lnk" href="{{ site.baseUrl }}/ajax.html">Modal</a>

<h3>Modal with DOM content</h3>
<button class="ch-btn ch-btn-small" id="dm_mdl_dom">Modal</button>

<h3>Modal lite</h3>
<button id="dm_mdl_lt" class="ch-btn ch-btn-small">Modal</button>

<h3>Modal inside a form without trigger</h3>
<form id="dm_mdl_frm" action="{{ site.baseUrl }}/ajax.html">
    <input class="ch-btn ch-btn-small" type="submit" value="Modal" />
</form>

<div class="ch-hide" id="dm_mdl_dom_cnt">
    <!-- [...] -->
</div>
{% endhighlight %}
{% highlight javascript %}
var modalLink = new ch.Modal(ch('#dm_mdl_lnk')[0], {
    'width': '500px'
});

var modalDom = new ch.Modal(ch('#dm_mdl_dom')[0], {
    'content': document.querySelector('#dm_mdl_dom_cnt')
});

var modalLite = new ch.Modal(ch('#dm_mdl_lt')[0], {
    'content': '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>',
    'addClass': 'ch-modal-lite'
});

var modalForm = new ch.Modal({
    'hiddenby': 'button'
});

tiny.on('#dm_mdl_frm', 'submit', function (e) {
    e.preventDefault();
    modalForm.show('<h2>Heading</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>');
});
{% endhighlight %}
    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            var modalLink = new ch.Modal(ch('#dm_mdl_lnk')[0], {
                'width': '500px'
            });

            var modalDom = new ch.Modal(ch('#dm_mdl_dom')[0], {
                'content': document.querySelector('#dm_mdl_dom_cnt')
            });

            var modalLite = new ch.Modal(ch('#dm_mdl_lt')[0], {
                'content': '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>',
                'addClass': 'ch-modal-lite'
            });

            var modalForm = new ch.Modal({
                'hiddenby': 'button'
            });

            tiny.on('#dm_mdl_frm', 'submit', function (e) {
                e.preventDefault();
                modalForm.show('<h2>Heading</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>');
            });
        });
    </script>
</article>
