<article id="pagination">
    <h2>
        Pagination
    </h2>
    <div class="component-example">
        <ul class="ch-pagination">
            <li{% if chico_current_version == site.chico_version_2x %} class="ch-pagination-sequence"{% endif %}><a{% if chico_current_version == site.chico_version_1x %} type="prev"{% endif %} href="/2"{% if chico_current_version == site.chico_version_2x %} rel="prev"{% endif %}>Previous</a></li>
            <li><a href="/1">1</a></li>
            <li><a href="/2">2</a></li>
            <li class="ch-pagination-current"><a href="/3">3</a></li>
            <li><a href="/4">4</a></li>
            <li><a href="/5">5</a></li>
            <li{% if chico_current_version == site.chico_version_2x %} class="ch-pagination-sequence"{% endif %}><a{% if chico_current_version == site.chico_version_1x %} type="next"{% endif %} href="/4"{% if chico_current_version == site.chico_version_2x %} rel="next"{% endif %}>Next</a></li>
        </ul>
    </div>
{% highlight html %}
<ul class="ch-pagination">
    <li{% if chico_current_version == site.chico_version_2x %} class="ch-pagination-sequence"{% endif %}><a{% if chico_current_version == site.chico_version_1x %} type="prev"{% endif %} href="/2"{% if chico_current_version == site.chico_version_2x %} rel="prev"{% endif %}>Previous</a></li>
    <li><a href="/1">1</a></li>
    <li><a href="/2">2</a></li>
    <li class="ch-pagination-current"><a href="/3">3</a></li>
    <li><a href="/4">4</a></li>
    <li><a href="/5">5</a></li>
    <li{% if chico_current_version == site.chico_version_2x %} class="ch-pagination-sequence"{% endif %}><a{% if chico_current_version == site.chico_version_1x %} type="next"{% endif %} href="/4"{% if chico_current_version == site.chico_version_2x %} rel="next"{% endif %}>Next</a></li>
</ul>
{% endhighlight %}
</article>
