<article id="pagination">
    <h2>
        Pagination
    </h2>
    <div class="component-example">
        <ul class="ch-pagination">
            <li><a type="prev" href="/2">Previous</a></li>
            <li><a href="/1">1</a></li>
            <li><a href="/2">2</a></li>
            <li class="ch-pagination-current"><a href="/3">3</a></li>
            <li><a href="/4">4</a></li>
            <li><a href="/5">5</a></li>
            <li><a type="next" href="/4">Next</a></li>
        </ul>
    </div>
{% highlight html %}
<ul class="ch-pagination">
    <li><a type="prev" href="/2">Previous</a></li>
    <li><a href="/1">1</a></li>
    <li><a href="/2">2</a></li>
    <li class="ch-pagination-current"><a href="/3">3</a></li>
    <li><a href="/4">4</a></li>
    <li><a href="/5">5</a></li>
    <li><a type="next" href="/4">Next</a></li>
</ul>
{% endhighlight %}
</article>
