<article id="paragraphs">
    <h2>Paragraphs</h2>

    <p>Paragraphs description.</p>

    <!-- Component example -->
    <div class="component-example">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec
            ipsum tellus, quis ultricies nunc. Vestibulum ornare porta nunc,
            vitae tincidunt massa ornare vel. Nam ut felis odio.</p>

        <p>Nam porta nunc vitae orci sollicitudin a ullamcorper purus dictum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            sed libero eget purus dictum fringilla non sed lectus. Etiam commodo
            quam in neque vehicula dapibus.</p>

        <p>Phasellus ornare lacus ut purus elementum eget sodales dui placerat.
            Nunc ultrices porttitor mi, eu varius quam tristique in. Etiam
            tempor porta sodales.</p>

        <p>Phasellus dui nisi, hendrerit a porta vel, tempus bibendum
            mauris.</p>

        <p>Cum sociis natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Vivamus bibendum consectetur dignissim.</p>
    </div>
{% highlight html %}
<p>...</p>
{% endhighlight %}
</article>
