<article id="tables">
    <h2>
        Tables
    </h2>

    <h3 id="tables-default">
        Default
    </h3>
    <div class="component-example">
        <table class="ch-datagrid" summary="Operations list">
            <caption>Table</caption>
            <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Operation</th>
                <th scope="col">Seller</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>02/04/2017</td>
                <td><a href="#">Sale</a></td>
                <td><a href="#">mail@example.com</a></td>
                <td>Shopping at Mercado Libre</td>
                <td><span class="value">$1200,30</span></td>
                <td>Pending</td>
                <td><span class="ch-icon-cog"></span></td>
            </tr>
            <tr>
                <td>02/04/2017</td>
                <td><a href="#">Purchase</a></td>
                <td><a href="#">mail@example.com</a></td>
                <td>Shopping at Mercado Libre</td>
                <td><span class="value">$1200,30</span></td>
                <td>Pending</td>
                <td><span class="ch-icon-cog"></span></td>
            </tr>
            <tr>
                <td>02/04/2017</td>
                <td><a href="#">Sale</a></td>
                <td><a href="#">mail@example.com</a></td>
                <td>Shopping at Mercado Libre</td>
                <td><span class="value">$1200,30</span></td>
                <td>Pending</td>
                <td><span class="ch-icon-cog"></span></td>
            </tr>
            <tr>
                <td>02/04/2017</td>
                <td><a href="#">Sale</a></td>
                <td><a href="#">mail@example.com</a></td>
                <td>Shopping at Mercado Libre</td>
                <td><span class="value">$1200,30</span></td>
                <td>Pending</td>
                <td><span class="ch-icon-cog"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
{% highlight html %}
<table class="ch-datagrid" summary="Operations list">
    <caption>Table</caption>
    <thead>
        <tr>
            <th scope="col">Date</th>
            <!-- [...] -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>02/04/2017</td>
            <!-- [...] -->
        </tr>
    </tbody>
</table>
{% endhighlight %}

    <h3 id="tables-controls">
        Controls
    </h3>
    <div class="component-example">
        <table class="ch-datagrid-controls" summary="Operations list">
            <caption>Table</caption>
            <thead>
            <tr>
                <th scope="col"><input type="checkbox" name="mycheckall" /></th>
                <th scope="col">Data</th>
                <th scope="col">Operation</th>
                <th scope="col">Seller</th>
                <th scope="col">Description</th>
                <th scope="col" class="ch-datagrid-selected">Price <span class="ch-datagrid-desc"></span></th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td scope="row"><input type="checkbox" name="mycheck" /></td>
                <td>02/04/2017</td>
                <td><a href="#">Sale</a></td>
                <td><a href="#">mail@example.com</a></td>
                <td>Shopping at Mercado Libre</td>
                <td><span class="value">$1200,30</span></td>
                <td>Pending</td>
                <td><span class="ch-icon-cog"></span></td>
            </tr>
            <tr class="ch-datagrid-selected">
                <td scope="row"><input type="checkbox" name="mycheck" checked="checked"></td>
                <td>02/04/2017</td>
                <td><a href="#">Purchase</a></td>
                <td><a href="#">mail@example.com</a></td>
                <td>Shopping at Mercado Libre</td>
                <td><span class="value">$1200,30</span></td>
                <td>Pending</td>
                <td><span class="ch-icon-cog"></span></td>
            </tr>
            <tr>
                <td scope="row"><input type="checkbox" name="mycheck" /></td>
                <td>02/04/2017</td>
                <td><a href="#">Sale</a></td>
                <td><a href="#">mail@example.com</a></td>
                <td>Shopping at Mercado Libre</td>
                <td><span class="value">$1200,30</span></td>
                <td>Pending</td>
                <td><span class="ch-icon-cog"></span></td>
            </tr>
            <tr>
                <td scope="row"><input type="checkbox" name="mycheck" /></td>
                <td>02/04/2017</td>
                <td><a href="#">Sale</a></td>
                <td><a href="#">mail@example.com</a></td>
                <td>Shopping at Mercado Libre</td>
                <td><span class="value">$1200,30</span></td>
                <td>Pending</td>
                <td><span class="ch-icon-cog"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
{% highlight html %}
<table class="ch-datagrid-controls" summary="Operations list">
    <caption>Table</caption>
    <thead>
    <tr>
        <th scope="col">Date</th>
        <!-- [...] -->
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>02/04/2017</td>
        <!-- [...] -->
    </tr>
    </tbody>
</table>
{% endhighlight %}
</article>
