<article id="tabs">
    <h2>
        Tabs
    </h2>
    <p>
        Check the
        <a href="{{ site.baseurl }}/{{ site.chico_path_api_doc }}{{ chico_current_version }}/{{ chico_current_platform }}/ch.tabs/">API documentation</a>
        for this component.
    </p>
    <div class="component-example">
        <div id="dm_tbs">
            <ul class="ch-tabs-triggers">
                <li>
                    <a class="ch-tab" href="#tab_1">Tab</a>
                </li>
                <li>
                    <a class="ch-tab" href="#tab_2">Tab</a>
                </li>
                <li>
                    <a class="ch-tab" href="#tab_3">Tab</a>
                </li>
                <li>
                    <a class="ch-tab" href="{{ site.baseUrl }}/ajax.html#tab_ajax">Tab with Ajax</a>
                </li>
            </ul>
            <div class="ch-box-lite">
                <div id="tab_1">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet purus in sapien
                        luctus sodales. Curabitur dui velit, cursus in sagittis aliquam, dictum at neque.
                        Ut gravida scelerisque lorem non pulvinar. Pellentesque et urna vitae nisl porta
                        imperdiet sed nec ipsum. Sed non sem velit. Cras id consectetur tellus.
                    </p>
                </div>
                <div id="tab_2">
                    <p>
                        Vestibulum posuere purus non enim pharetra vel vulputate eros hendrerit. Ut pulvinar
                        placerat risus quis interdum. Mauris eget tempus risus. Aenean accumsan dolor in lorem
                        elementum ac tincidunt urna rutrum. Sed sit amet nunc velit, vitae tincidunt ipsum.
                        Fusce mattis elementum justo, et lacinia odio pharetra a.
                    </p>
                </div>
                <div id="tab_3">
                    <p>
                        Sed sit amet nunc velit, vitae tincidunt ipsum. Fusce mattis elementum justo, et
                        lacinia odio pharetra a. Donec egestas imperdiet eros a interdum. Suspendisse sodales,
                        ligula vitae pulvinar aliquam, elit justo pretium urna, ut hendrerit arcu dolor vitae ipsum.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% highlight html %}
<div id="dm_tbs">
    <ul class="ch-tabs-triggers">
        <li>
            <a class="ch-tab" href="#tab_1">Tab</a>
        </li>
        <!-- [...] -->
        <li>
            <a class="ch-tab" href="{{ site.baseUrl }}/ajax.html#tab_ajax">Tab with Ajax</a>
        </li>
    </ul>
    <div class="ch-box-lite">
        <div id="tab_1">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <!-- [...] -->
        <!-- There is no container for content loaded using Ajax -->
    </div>
</div>
{% endhighlight %}
{% highlight javascript %}
var tabs = new ch.Tabs(ch('#dm_tbs')[0]);
{% endhighlight %}
    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            var tabs = new ch.Tabs(ch('#dm_tbs')[0]);
        });
    </script>
</article>
