<article id="tooltip">
    <h2>
        Tooltip
    </h2>
    <p>
        Check the
        <a href="{{ site.baseurl }}/{{ site.chico_path_api_doc }}{{ chico_current_version }}/{{ chico_current_platform }}/ch.tooltip/">API documentation</a>
        for this component.
    </p>
    <div class="component-example">
        <div class="mesh-row">
            <div class="mesh-col-m-6">
                <div class="ch-box-container">
                    <h3>Bottom</h3>
                    {% image ninja.png width='120' alt='Tooltip Bottom-Left' id='dm_tt_ltlb' %}
                    {% image ninja.png width='120' alt='Tooltip Bottom-Center' id='dm_tt_ctcb' %}
                    {% image ninja.png width='120' alt='Tooltip Bottom-Right' id='dm_tt_rtrb' %}
                </div>

                <div class="ch-box-container">
                    <h3>Top</h3>
                    {% image ninja.png width='120' alt='Tooltip Top-Left' id='dm_tt_lblt' %}
                    {% image ninja.png width='120' alt='Tooltip Top-Center' id='dm_tt_cbct' %}
                    {% image ninja.png width='120' alt='Tooltip Top-Right' id='dm_tt_rbrt' %}
                </div>
            </div>

            <div class="mesh-col-m-6">
                <div class="ch-box-container">
                    <h3>Right</h3>
                    {% image ninja.png width='120' alt='Tooltip Right-Top' id='dm_tt_ltrt' %}
                    {% image ninja.png width='120' alt='Tooltip Right-Center' id='dm_tt_lmrm' %}
                    {% image ninja.png width='120' alt='Tooltip Right-Bottom' id='dm_tt_lbrb' %}
                </div>

                <div class="ch-box-container">
                    <h3>Left</h3>
                    {% image ninja.png width='120' alt='Tooltip Left-Top' id='dm_tt_rtlt' %}
                    {% image ninja.png width='120' alt='Tooltip Left-Center' id='dm_tt_rmlm' %}
                    {% image ninja.png width='120' alt='Tooltip Left-Bottom' id='dm_tt_rblb' %}
                </div>
            </div>
        </div>
    </div>
{% highlight html %}
<img id="dm_tt_ltlb" src="picture.png" alt="Tooltip Bottom-Left" />
<img id="dm_tt_cbct" src="picture.png" alt="Tooltip Top-Center" />
<img id="dm_tt_lbrb" src="picture.png" alt="Tooltip Right-Bottom" />
<img id="dm_tt_rtlt" src="picture.png" alt="Tooltip Left-Top" />
{% endhighlight %}
{% highlight javascript %}
// Bottom-Left (default)
var tooltipBottomLeft = new ch.Tooltip({% if chico_current_version == site.chico_version_1x %}$('#dm_tt_ltlb'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_tt_ltlb')[0]{% endif %});

// Top-Center with negative offset
var tooltipTopCenter = new ch.Tooltip({% if chico_current_version == site.chico_version_1x %}$('#dm_tt_cbct'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_tt_cbct')[0]{% endif %}, {
    'side': 'top',
    'align': 'center',
    'offsetY': -10
});

// Right-Bottom with offset
var tooltipRightBottom = new ch.Tooltip({% if chico_current_version == site.chico_version_1x %}$('#dm_tt_lbrb'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_tt_lbrb')[0]{% endif %}, {
    'side': 'right',
    'align': 'bottom',
    'offsetX': 10
});

// Left-Top with negative offset
var tooltipLeftTop = new ch.Tooltip({% if chico_current_version == site.chico_version_1x %}$('#dm_tt_rtlt'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_tt_rtlt')[0]{% endif %}, {
    'side': 'left',
    'align': 'top',
    'offsetX': -10
});
{% endhighlight %}
    <p>
        Back to <a href="#tooltip">Tooltip</a> / Back to <a href="#top">Top</a>
    </p>
    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            // Bottom
            var tooltipBottomLeft = new ch.Tooltip({% if chico_current_version == site.chico_version_1x %}$('#dm_tt_ltlb'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_tt_ltlb')[0]{% endif %});

            var tooltipBottomCenter = new ch.Tooltip({% if chico_current_version == site.chico_version_1x %}$('#dm_tt_ctcb'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_tt_ctcb')[0]{% endif %}, {
                'side': 'bottom',
                'align': 'center'
            });

            var tooltipBottomRight = new ch.Tooltip({% if chico_current_version == site.chico_version_1x %}$('#dm_tt_rtrb'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_tt_rtrb')[0]{% endif %}, {
                'side': 'bottom',
                'align': 'right'
            });

            // Top
            var tooltipTopLeft = new ch.Tooltip({% if chico_current_version == site.chico_version_1x %}$('#dm_tt_lblt'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_tt_lblt')[0]{% endif %}, {
                'side': 'top',
                'align': 'left',
                'offsetY': -10
            });

            var tooltipTopCenter = new ch.Tooltip({% if chico_current_version == site.chico_version_1x %}$('#dm_tt_cbct'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_tt_cbct')[0]{% endif %}, {
                'side': 'top',
                'align': 'center',
                'offsetY': -10
            });

            var tooltipTopRight = new ch.Tooltip({% if chico_current_version == site.chico_version_1x %}$('#dm_tt_rbrt'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_tt_rbrt')[0]{% endif %}, {
                'side': 'top',
                'align': 'right',
                'offsetY': -10
            });

            // Right
            var tooltipRightTop = new ch.Tooltip({% if chico_current_version == site.chico_version_1x %}$('#dm_tt_ltrt'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_tt_ltrt')[0]{% endif %}, {
                'side': 'right',
                'align': 'top',
                'offsetX': 10
            });

            var tooltipRightCenter = new ch.Tooltip({% if chico_current_version == site.chico_version_1x %}$('#dm_tt_lmrm'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_tt_lmrm')[0]{% endif %}, {
                'side': 'right',
                'align': 'center',
                'offsetX': 10
            });

            var tooltipRightBottom = new ch.Tooltip({% if chico_current_version == site.chico_version_1x %}$('#dm_tt_lbrb'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_tt_lbrb')[0]{% endif %}, {
                'side': 'right',
                'align': 'bottom',
                'offsetX': 10
            });

            // Left
            var tooltipLeftTop = new ch.Tooltip({% if chico_current_version == site.chico_version_1x %}$('#dm_tt_rtlt'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_tt_rtlt')[0]{% endif %}, {
                'side': 'left',
                'align': 'top',
                'offsetX': -10
            });

            var tooltipLeftCenter = new ch.Tooltip({% if chico_current_version == site.chico_version_1x %}$('#dm_tt_rmlm'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_tt_rmlm')[0]{% endif %}, {
                'side': 'left',
                'align': 'center',
                'offsetX': -10
            });

            var tooltipLeftBottom = new ch.Tooltip({% if chico_current_version == site.chico_version_1x %}$('#dm_tt_rblb'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_tt_rblb')[0]{% endif %}, {
                'side': 'left',
                'align': 'bottom',
                'offsetX': -10
            });
        });
    </script>
</article>
