<article id="transition">
    <h2>
        Transition
    </h2>
    <p>
        Check the
        <a href="{{ site.baseurl }}/{{ site.chico_path_api_doc }}{{ chico_current_version }}/{{ chico_current_platform }}/ch.transition/">API documentation</a>
        for this component.
    </p>
    <div class="component-example">
        <form action="{{ site.baseUrl }}/ajax.html">
            <input class="ch-btn ch-btn-small" id="dm_tr" value="Transition" type="submit" />
        </form>
    </div>
{% highlight html %}
<input class="ch-btn ch-btn-small" id="dm_tr" value="Transition" type="submit" />
{% endhighlight %}
{% highlight javascript %}
var transition = new ch.Transition(ch('#dm_tr')[0]);
{% endhighlight %}
    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            var transition = new ch.Transition(ch('#dm_tr')[0]);

            tiny.on('#dm_tr', 'click', function(e){
                setTimeout(function (){ transition.hide() }, 5000);
            });
        });
    </script>
</article>
