<article id="wizard">
    <h2>
        Wizard
    </h2>
    <div class="component-example">
        <form class="ch-wizard" action="/">
            <ol class="ch-wizard-breadcrumb ch-steps-four">
                <li><a href="#1">Step 1</a></li>
                <li><a href="#2">Step 2</a></li>
                <li class="ch-wizard-current">Step 3</li>
                <li class="ch-wizard-step">Step 4</li>
            </ol>
            <div class="ch-box-container">
                <h2>Caption heading</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec sit amet purus in sapien luctus sodales. Curabitur dui
                    velit, cursus in sagittis aliquam, dictum at neque. Ut gravida
                    scelerisque lorem non pulvinar. Pellentesque et urna vitae
                    nisl porta imperdiet sed nec ipsum. Sed non sem velit. Cras id
                    consectetur tellus.
                </p>
            </div>
            <div class="ch-actions">
                <button class="ch-btn" type="submit">Primary action</button>
                <a href="#">Secondary action</a>
            </div>
        </form>
    </div>
{% highlight html %}
<form class="ch-wizard" action="/">
    <ol class="ch-wizard-breadcrumb ch-steps-four">
        <li><a href="#1">Step 1</a></li>
        <li><a href="#2">Step 2</a></li>
        <li class="ch-wizard-current">Step 3</li>
        <li class="ch-wizard-step">Step 4</li>
    </ol>
    <div class="ch-box-container">
        <h2>Caption heading</h2>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="ch-actions">
        <button class="ch-btn" type="submit">Primary action</button>
        <a href="#">Secondary action</a>
    </div>
</form>
{% endhighlight %}
</article>
