<article id="zoom">
    <h2>
        Zoom
    </h2>
    <p>
        Check the
        <a href="{{ site.baseurl }}/{{ site.chico_path_api_doc }}{{ chico_current_version }}/{{ chico_current_platform }}/ch.zoom/">API documentation</a>
        for this component.
    </p>
    <div class="component-example">
        <div class="mesh-row">
            <div class="mesh-col-m-3">
                <h3>Zoom default</h3>
                <a id="dm_zm_df" href="{% asset_path html5-logo-big.png %}">
                    {% image html5-logo-medium.png alt="HTML5" %}
                </a>
            </div>

            <div class="mesh-col-m-4">
                <h3>Zoom with preloaded image</h3>
                <a id="dm_zm_pr" href="{% asset_path html5-logo-big.png %}">
                    {% image html5-logo-medium.png alt="HTML5" %}
                </a>
            </div>
        </div>
    </div>
{% highlight html %}
<h3>Zoom default</h3>
<a id="dm_zm_df" href="/assets/html5-logo-big.png">
    <img src="/assets/html5-logo-medium.png" />
</a>

<h3>Zoom with preloaded image</h3>
<a id="dm_zm_pr" href="/assets/html5-logo-big.png">
    <img src="/assets/html5-logo-medium.png" />
</a>
{% endhighlight %}
{% highlight javascript %}
var zoomDefault = new ch.Zoom(ch('#dm_zm_df')[0]);

var zoomPreload = new ch.Zoom(ch('#dm_zm_pr')[0]);

// Preload image
zoomPreload.loadImage();
{% endhighlight %}
    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            var zoomDefault = new ch.Zoom(ch('#dm_zm_df')[0]);

            var zoomPreload = new ch.Zoom(ch('#dm_zm_pr')[0]);

            // Preload image
            zoomPreload.loadImage();
        });
    </script>
</article>
