<article id="zoom">
    <h2>
        Zoom
    </h2>
    <p>
        Check the
        <a href="{{ site.baseurl }}/{{ site.chico_path_api_doc }}{{ chico_current_version }}/{{ chico_current_platform }}/ch.zoom/">API documentation</a>
        for this component.
    </p>
    <div class="component-example">
        <div class="mesh-row">
            <div class="mesh-col-m-3">
                <h3>Zoom default</h3>
                <a id="dm_zm_df" href="{% asset_path html5-logo-big.png %}">
                    {% image html5-logo-medium.png alt="HTML5" %}
                </a>
            </div>

            <div class="mesh-col-m-4">
                <h3>Zoom with preloaded image</h3>
                <a id="dm_zm_pr" href="{% asset_path html5-logo-big.png %}">
                    {% image html5-logo-medium.png alt="HTML5" %}
                </a>
            </div>
        </div>
    </div>
{% highlight html %}
<h3>Zoom default</h3>
<a id="dm_zm_df" href="picture-large.png">
    <img src="picture-medium.png" />
</a>

<h3>Zoom with preloaded image</h3>
<a id="dm_zm_pr" href="picture-large.png">
    <img src="picture-medium.png" />
</a>
{% endhighlight %}
{% highlight javascript %}
var zoomDefault = new ch.Zoom({% if chico_current_version == site.chico_version_1x %}$('#dm_zm_df'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_zm_df')[0]{% endif %});

var zoomPreload = new ch.Zoom({% if chico_current_version == site.chico_version_1x %}$('#dm_zm_pr'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_zm_pr')[0]{% endif %});

// Preload image
zoomPreload.loadImage();
{% endhighlight %}
    <p>
        Back to <a href="#zoom">Zoom</a> / Back to <a href="#top">Top</a>
    </p>
    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            var zoomDefault = new ch.Zoom({% if chico_current_version == site.chico_version_1x %}$('#dm_zm_df'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_zm_df')[0]{% endif %});

            var zoomPreload = new ch.Zoom({% if chico_current_version == site.chico_version_1x %}$('#dm_zm_pr'){% endif %}{% if chico_current_version == site.chico_version_2x %}ch('#dm_zm_pr')[0]{% endif %});

            // Preload image
            zoomPreload.loadImage();
        });
    </script>
</article>
