<article id="zoom">
    <h2>Zoom</h2>

    <!-- Component example -->
    <div class="component-example">
        <div class="mesh-row">
            <div class="mesh-col-m-3">
                <h3>Default behavior</h3>
                <a id="zoom-default" class="zoom" href="{% asset_path html5-logo-big.png %}" target="_blank">
                    {% image html5-logo-medium.png alt="HTML5" %}
                </a>
            </div>

            <div class="mesh-col-m-3">
                <h3>Preloaded image</h3>
                <a id="zoom-preload" class="zoom" href="{% asset_path html5-logo-big.png %}" target="_blank">
                    {% image html5-logo-medium.png alt="HTML5" %}
                </a>
            </div>
        </div>
    </div>
{% highlight html %}
<a id="zoom-default" class="zoom" href="html5-logo-big.png" target="_blank">
    <img src="html5-logo-medium.png" alt="HTML5"/>
</a>

<a id="zoom-preload" class="zoom" href="html5-logo-big.png" target="_blank">
    <img src="html5-logo-medium.png" alt="HTML5"/>
</a>
{% endhighlight %}

{% highlight javascript %}
var zoom1 = new ch.Zoom(ch('#zoom-default')[0]);

var zoom2 = new ch.Zoom(ch('#zoom-preload')[0]);
// Preload image
zoom2.loadImage();
{% endhighlight %}

    <script>
        document.addEventListener('DOMContentLoaded', function(e) {
            var zoom1 = new ch.Zoom(ch('#zoom-default')[0]);

            var zoom2 = new ch.Zoom(ch('#zoom-preload')[0]);
            // Preload image
            zoom2.loadImage();
        });
    </script>
</article>
