// *************************************
//
//   Buttons
//
// *************************************

// -------------------------------------
//   Primary
// -------------------------------------

$btn-cursor:								pointer;

// ----- Normal state ----- //

$btn-primary-color:							$main-neutral-color;
$btn-primary-bg-color:						#3e52a1;
$btn-primary-bg-color-secondary:			#2d3277;
$btn-primary-active:  						#29358f;
$btn-primary-border:						#2d3277;
$btn-primary-shadow:						#8ea2df;

	// Box shadow mixin

	$btn-primary-box-shadow-top:			0;
	$btn-primary-box-shadow-left:			1px;
	$btn-primary-box-shadow-blur:			0;
	$btn-primary-box-shadow-color:			#7a89e8;

// ----- Hover state ----- //

$btn-primary-box-hover:   					#4051d0;
$btn-primary-box-hover-bg-color:			#4355d2;
$btn-primary-box-hover-bg-color-secondary: 	#2f33ae;

	// Box shadow mixin

	$btn-primary-hover-box-shadow-top:		0;
	$btn-primary-hover-box-shadow-left:		1px;
	$btn-primary-hover-box-shadow-blur:		0;
	$btn-primary-hover-box-shadow-color:	#7a89e8;

// ----- Active state ----- //

$btn-primary-active-bg-color:   			#292f66;
$btn-primary-active-bg-color-secondary: 	#202388;
$btn-primary-border-active:					#181e39;

	// Box shadow mixin

	$btn-primary-active-box-shadow-top:		0;
	$btn-primary-active-box-shadow-left:	1px;
	$btn-primary-active-box-shadow-blur:	6px;
	$btn-primary-active-box-shadow-color:	#141452;

// -------------------------------------
//   Skin
// -------------------------------------

// ----- Normal state ----- //

$btn-secondary-color:						#476274;
$btn-secondary-bg-color:					#cce3f7;
$btn-secondary-bg-color-secondary:  		#aaD0ef;
$btn-secondary-border:						#79a8c7;
$btn-secondary-active:  					#7c9cB2;
$btn-secondary-shadow:						none;

	// Box shadow mixin values

	$btn-secondary-box-shadow-top:			0;
	$btn-secondary-box-shadow-left:			1px;
	$btn-secondary-box-shadow-blur:			0;
	$btn-secondary-box-shadow-color:		#e5f2fc;

// ----- Hover state ----- //

$btn-secondary-hover-bg-color:   			#dcecfb;
$btn-secondary-hover-bg-color-secondary:	#c5dff5;

	// Box shadow mixin values

	$btn-secondary-hover-box-shadow-top:	0;
	$btn-secondary-hover-box-shadow-left:	1px;
	$btn-secondary-hover-box-shadow-blur:	0;
	$btn-secondary-hover-box-shadow-color:	#e5f2fc;

// ----- Active state ----- //

$btn-secondary-active-bg-color:				#a2c9e1;
$btn-secondary-active-bg-color-secondary:	#7ab6dc;
$btn-secondary-shadow-active:				#476274; // rgba(71, 98, 116, .6);
$btn-secondary-border-active:				#79a8c7;

	// Box shadow mixin values

	$btn-secondary-active-box-shadow-top:	0;
	$btn-secondary-active-box-shadow-left:	1px;
	$btn-secondary-active-box-shadow-blur:	6px;
	$btn-secondary-active-box-shadow-color:	#476274;

// ----- Disabled state ----- //

$btn-disabled-color:						$gray-500;
$btn-disabled-bg-color:						$main-neutral-color; //#fefefe;
$btn-disabled-bg-color-secondary: 			darken($btn-disabled-bg-color,15%);
$btn-disabled-border:						$gray-500;
$btn-disabled-text-shadow:					none;
$btn-disabled-text-color:					$gray-700;
$btn-disabled-opacity:						0.5;

	// Box shadow mixin values

	$btn-disabled-box-shadow-left: 			0;
	$btn-disabled-box-shadow-top: 			1px;
	$btn-disabled-box-shadow-blur:			1px;
	$btn-disabled-box-shadow-color:			$main-neutral-color; //#fefefe;

$btn-font-size:		    		$font__large; 
$btn-big-font-size:		    	$font__x__large;
$btn-small-font-size:		  	$font__smaller;