// *************************************
//
//   Buttons
//
// *************************************

// -------------------------------------
//   General
// -------------------------------------

$btn-text-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
$btn-border-radius: 4px;
$btn-box-shadow: 0,0,0,none;
$btn-text-decoration: none;
$btn-text-size: $font__large; 
$btn-large-text-size: $font__x__large;

// -------------------------------------
//   Primary
// -------------------------------------

$btn-cursor: pointer;

// ----- Normal state ----- //

$btn-primary-text-color: $main-neutral-color;
$btn-primary-bg-color: #3e52a1;
$btn-primary-bg-color-secondary: #2d3277;
$btn-primary-active: #29358f;
$btn-primary-border: 1px solid #2d3277;
$btn-primary-shadow: #8ea2df;
$btn-primary-box-shadow: 0 1px 0 #7a89e8 inset;

// ----- Hover state ----- //

$btn-primary-box-hover: #4051d0;
$btn-primary-box-hover-bg-color: #4355d2;
$btn-primary-box-hover-bg-color-secondary: #2f33ae;
$btn-primary-hover-box-shadow: 0 1px 0 #7a89e8 inset;

// ----- Active state ----- //

$btn-primary-active-bg-color: #292f66;
$btn-primary-active-bg-color-secondary: #202388;
$btn-primary-active-border: #181e39;
$btn-primary-active-box-shadow:	0 1px 6px #141452 inset;

// -------------------------------------
//   Skin
// -------------------------------------

// ----- Normal state ----- //

$btn-secondary-text-color: #476274;
$btn-secondary-bg-color: #cce3f7;
$btn-secondary-bg-color-secondary: #aaD0ef;
$btn-secondary-border: 1px solid #79a8c7;
$btn-secondary-active: #7c9cB2;
$btn-secondary-shadow: none;
$btn-secondary-box-shadow: 0 1px 0 #e5f2fc inset;
$btn-secondary-text-shadow:	0 1px 1px $main-text-shadow-color;

// ----- Hover state ----- //

$btn-secondary-hover-bg-color: #dcecfb;
$btn-secondary-hover-bg-color-secondary: #c5dff5;
$btn-secondary-hover-box-shadow: 0 1px 0 #e5f2fc inset;

// ----- Active state ----- //

$btn-secondary-active-bg-color: #a2c9e1;
$btn-secondary-active-bg-color-secondary: #7ab6dc;
$btn-secondary-shadow-active: #476274;
$btn-secondary-border-active: #79a8c7;
$btn-secondary-active-box-shadow: 0 1px 6px #476274 inset;

// ----- Disabled state ----- //

$btn-disabled-bg-color:	$gray-50;
$btn-disabled-bg-color-secondary: $gray-400;
$btn-disabled-border: 1px solid $gray-500;
$btn-disabled-text-shadow: none;
$btn-disabled-text-color: $gray-700;
$btn-disabled-opacity: 0.5;
$btn-disabled-box-shadow: 0 1px 1px $main-neutral-color;

// ----- Active state ----- //

$btn-outline-style: thin dotted;
$btn-outline: 5px auto -webkit-focus-ring-color;
$btn-outline-offset: -2px;