// *************************************
//
//   Buttons
//
// *************************************

// -------------------------------------
//   Primary
// -------------------------------------

// ----- Normal state ----- //

$btn-primary-color:				#fff;
$btn-primary-bg:				#3E52A1;
$btn-primary-top-bg:			#3E52A1;
$btn-primary-bottom-bg: 		#2D3277;
$btn-primary-active:  			#29358F;
$btn-primary-border:			#2D3277;
$btn-primary-shadow:			#8EA2DF;

// ----- Hover state ----- //

$btn-primary-hover:   			#4051D0;
$btn-primary-hover-top-bg:		#4355D2;
$btn-primary-hover-bottom-bg: 	#2F33AE;
$btn-primary-shadow-hover:		#7A89E8;

// ----- Active state ----- //

$btn-primary-active:   			#292F66;
$btn-primary-active-top-bg:		#292F66;
$btn-primary-active-bottom-bg: 	#202388;
$btn-primary-shadow-active:		#141452;
$btn-primary-border-active:		#181E39;

// -------------------------------------
//   Skin
// -------------------------------------

// ----- Normal state ----- //

$btn-secondary-color:			#476274;
$btn-secondary-bg:				#CCE3F7;
$btn-secondary-top-bg:			#CCE3F7;
$btn-secondary-bottom-bg: 		#AAD0EF;
$btn-secondary-border:			#79A8C7;
$btn-secondary-shadow:			#E5F2FC;
$btn-secondary-active:  		#7C9CB2;
$btn-secondary-border:			#79A8C7;
$btn-secondary-shadow:			none;

// ----- Hover state ----- //

$btn-secondary-bg-hover:   		#DCECFB;
$btn-secondary-top-bg-hover:	#DCECFB;
$btn-secondary-bottom-bg-hover:	#C5DFF5;
$btn-secondary-box-shadow-hover: #E5F2FC;

// ----- Active state ----- //

$btn-secondary-bg-active:   	#7AB6DC;
$btn-secondary-top-bg-active:	#A2C9E1;
$btn-secondary-bottom-bg-active:#7AB6DC;
$btn-secondary-shadow-active:	rgba(71, 98, 116, .6);
$btn-secondary-border-active:	#79A8C7;

// ----- Disabled state ----- //

$btn-disabled-color:			#CCC;
$btn-disabled-bg:				#fefefe;
$btn-disabled-top-bg:			lighten($btn-disabled-bg,6.8%);	
$btn-disabled-bottom-bg: 		darken($btn-disabled-bg,15%);
$btn-disabled-border:			$gray-lightest;
$btn-disabled-text-shadow:		none;
$btn-disabled-box-shadow:		#fefefe;

// -------------------------------------
//   Structure variables
// -------------------------------------

$btn-padding-vertical:			5px;
$btn-padding-horizontal:		10px;  
$btn-font-size:		    		$font__large;
$btn-line-height:				20px;

$btn-big-padding-vertical:		6px;
$btn-big-padding-horizontal:	12px;  
$btn-big-font-size:		    	$font__x__large;
$btn-big-line-height:			1.25em;

$btn-small-padding-vertical:  	5px;
$btn-small-padding-horizontal:	8px;  
$btn-small-font-size:		  	$font__smaller;
$btn-small-line-height:		  	12px;