/*Only for IE7*/

/*
 * Global
 * @autor: Leandro Linares
 * @autor: Jesica Bertisch
 * @mod: 05/07/2010
 *
 */
body{width:expression( (document.documentElement.clientWidth >1202)? "1200px": (document.documentElement.clientWidth <742)? "740px": "auto" );}

/*
 * Price
 * @autor: Jesica Bertisch
 * @mod: 
 *
 */
.price sup{font-size:12px;}
 
/*
 * Misc
 * @autor: 
 * @mod: 
 *
 */
hr{height:0;}

/*
 * Boxes
 * @autor:Guille Paz
 * @mod: 06/07/2010 
 *
 */
.actions a{display:inline-block;margin-bottom:5px;}

/*
 * Buttons
 * @autor:Guille Paz
 * @mod: 06/07/2010
 *
 */
/*Hay que agregarle un class disabled*/
.btn.disabled, .btn.disabled:hover{background-color:#FFFFFF;background-position:0 -320px;border:1px solid #CCCCCC;color:#CCCCCC;cursor:not-allowed;}

/*
 * Dropdowns
 * @autor: Lean Linares
 * @autor: Natan Santolo
 * @mod: 02/07/2010
 *
 */
.dropContent {width:0;left:0;}
.dropWraper{float:left;}

/*
 * Modal Window
 * @autor: Guillermo Paz
 * @autor: Natan Santolo
 * @mod: 13/08/2010
 *
 */
.dimmer{ background-color:#000000;filter: alpha(opacity=50);}

/*
 * Tabs
 * @autor: Guillermo Paz
 * @mod: 30/08/2010
 *
 */
.tabs ul.containerTabs li {display:inline; margin:0 2px;}