/*Only for IE8*/

/*
 * Price
 * @autor: Jesica Bertisch
 * @mod: 
 *
 */
.price sup{font-size:12px;}

/*
 * Buttons
 * @autor:Guille Paz
 * @mod: 06/07/2010
 *
 */
/*Hay que agregarle un class disabled*/
.btn.disabled, .btn.disabled:hover{background-color:#FFFFFF;background-position:0 -320px;border:1px solid #CCCCCC;color:#CCCCCC;cursor:not-allowed;}

/*
 * Modal Window
 * @autor: Guillermo Paz
 * @autor: Natan Santolo
 * @mod: 13/08/2010
 *
 */
.dimmer{ background-color:#000000;filter: alpha(opacity=50);}