.ch-calendar {
	position:relative;
	display:inline-block;
}

.ch-calendar-month {
	font-size: 12px;
	text-align: center;
	width: 240px;
}

.ch-calendar caption,
.ch-calendar thead,
.ch-calendar td {
	border: 1px solid #dfdfdf;
}

.ch-calendar caption {
	background-color: #F9F9F9;
	background: -webkit-linear-gradient(#F9F9F9, #EEEEEE);
	background: -moz-linear-gradient(#F9F9F9, #EEEEEE);
	background: -o-linear-gradient(#F9F9F9, #EEEEEE);
	background: linear-gradient(#F9F9F9, #EEEEEE);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset;
	font-size: 13px;
	line-height: 28px;
	text-shadow: 0 1px 0 #FFFFFF;
	border-bottom: none;
}

.lt-ie10 .ch-calendar caption {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#EEEEEE');
}

.ch-calendar thead {
	border-weight:0 1px;
}

.ch-calendar th {
	font-size: 11px;
	font-weight: normal;
	width: 14.28%;
}

.ch-calendar td {
	cursor: default;
	height: 26px;
	line-height: 26px;
	width: 14.28%;
}

.ch-calendar-today {
	background-color: #FEFBD6;
}

.ch-calendar-other {
	color: #C6C6C6;
	cursor: default!important;
	overflow: hidden;
	text-indent: -99px;
}

.ch-calendar-disabled,
.ch-calendar-disabled:hover {
	background-color: #FFF;
	color: #C6C6C6;
	cursor: not-allowed;
}


.ch-calendar-selected,
.ch-calendar-selected:hover,
.ch-calendar-selected.ch-today {
	background-color: #666!important;
	color: #FFF!important;
	font-weight: bold!important;
}

.ch-calendar-prev,
.ch-calendar-next {
	cursor: pointer;
	position: absolute;
	padding: 0px 20px;
	height: 2.5em;
	font-size: .9em;
}

.ch-calendar-prev {
	left: 0;
}

.ch-calendar-next {
	right: 0;
}

.ch-calendar-prev:after,
.ch-calendar-next:after {
	font-family: icons;
	position: absolute;
	top: 7px;
	color: #666666;
	text-shadow: 0 1px #FFFFFF;
}

.ch-calendar-prev:after {
	content: "\f053";
	left: 15px;
}

.ch-calendar-next:after {
	content: "\f054";
	right: 15px;
}

/* IE */
.ie9 .ch-calendar caption,
.ie8 .ch-calendar caption {
	margin:0;
}

.ie7 .ch-calendar {
	display:inline;
	zoom:1;
}

.ie7 .ch-calendar-month {
	border: 1px solid #dfdfdf;
}

.lt-ie8 .ch-calendar-prev span,
.lt-ie8 .ch-calendar-next span {
	background-image: url("../assets/lt-ie8-shapes.png");
	overflow: hidden;
	display: block;
	width: 4px;
	height: 7px;
	margin-top: 12px;
}

.lt-ie8 .ch-calendar-prev span{
	background-position: 0 -48px;
}

.lt-ie8 .ch-calendar-next span{
	background-position: -3px -48px;
}