.ch-calendar {
	position:relative;
	display:inline-block;
}

.ch-calendar-month {
	font-size: 12px;
	text-align: center;
	width: 240px;
}

.ch-calendar caption,
.ch-calendar thead,
.ch-calendar td {
	border: 1px solid #dfdfdf;
}

.ch-calendar caption {
	background: -o-linear-gradient(top, #F9F9F9 0%, #eeeeee 100%);
	background: -ms-linear-gradient(top, #F9F9F9 0%, #eeeeee 100%);
	background: -moz-linear-gradient(top, #F9F9F9 0%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F9F9F9), color-stop(100%, #eeeeee));
	background: -webkit-linear-gradient(top, #F9F9F9 0%, #eeeeee 100%);
	background: linear-gradient(top, #F9F9F9 0%, #eeeeee 100%);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset;
	font-size: 13px;
	line-height: 28px;
	background-color: #F9F9F9;
	text-shadow: 0 1px 0 #FFFFFF;
	border-bottom: none;
}

.lt-ie10 .ch-calendar caption {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#eeeeee');
}

.ch-calendar thead {
	border-weight:0 1px;
}

.ch-calendar th {
	font-size: 11px;
	font-weight: normal;
	width: 14.28%;
}

.ch-calendar td {
	cursor: default;
	height: 26px;
	line-height: 26px;
	width: 14.28%;
}

.ch-calendar-today {
	background-color: #FEFBD6;
}

.ch-calendar-other {
	color: #C6C6C6;
	cursor: default!important;
	overflow: hidden;
	text-indent: -99px;
}

.ch-calendar-disabled,
.ch-calendar-disabled:hover {
	background-color: #FFF;
	color: #C6C6C6;
	cursor: not-allowed;
}


.ch-calendar-selected,
.ch-calendar-selected:hover,
.ch-calendar-selected.ch-today {
	background-color: #666!important;
	color: #FFF!important;
	font-weight: bold!important;
}

.ch-calendar-prev,
.ch-calendar-next {
	cursor: pointer;
	font-size: 9px;
	position: absolute;
	padding: 0px 20px;
	height: 29px;
	line-height: 3.5em;
	text-indent: -999px;	
}

.lt-ie8 .ch-calendar-prev,
.lt-ie8 .ch-calendar-next {
	text-indent: 0;
	font-size: 18px;
	line-height: 1.5em;
}

.ch-calendar-prev {
	left: 0;
}

.ch-calendar-next {
	right: 0;
}

.ch-calendar-prev:after,
.ch-calendar-next:after {
	content: " ";
	position: absolute;
	top: 12px;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 4px;
}

.ch-calendar-prev:after {
	border-right-color: #333;
	left: 10px;
	top: 11px;
}

.ch-calendar-next:after {
	border-left-color: #333;
	right: 15px;
}

/* IE */

.ie9 .ch-calendar caption,
.ie8 .ch-calendar caption {
	margin:0;
}

.ie7 .ch-calendar {
	display:inline;
	zoom:1;
}

.ie7 .ch-calendar-month {
	border: 1px solid #dfdfdf;
}