/* Calendar */
.ch-calendar.ch-dropdown.secondary,
.ch-calendar.ch-dropdown.secondary .ch-dropdown-trigger{
	height: 20px;
    line-height: 20px;
    padding: 0 5px 0 0;
    width: 20px;
}

.ch-calendar.ch-dropdown.secondary .ch-dropdown-trigger{
	text-indent:-9999px;
}

.ch-calendar.ch-dropdown.secondary.ch-dropdown-on {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.ch-calendar-prev,
.ch-calendar-next,
.ch-calendar.ch-dropdown.secondary .ch-dropdown-trigger .ico {
	background-image: url('../src/assets/calendar.png');
	background-repeat: no-repeat;
}

.ch-calendar.ch-dropdown.secondary .ch-dropdown-trigger .ico {
	top:0;
	right:3px;
	margin:0;
	height: 20px;
    line-height: 20px;
    padding: 0;
    width: 20px;	
    background-position:0 0;
}

/* Container */
.ch-calendar-container.ch-dropdown-content.secondary {
	padding:0;
	width:190px;
}

/* Content */
.ch-calendar-content{
	position:relative;
}

/* Month Table */
.ch-calendar-month{
	border:none;
	padding:0;
}

.ch-calendar-month caption{
	text-align: center;
	font-size:12px;
	margin:0;
	background-color:#F5F5F5;
}

.ch-calendar-month thead tr,
.ch-calendar-month th{
	border-top:none;
	border-bottom:none;
	border:none;
	background:none;
	height:auto;
	width:auto;
	padding:0;
	text-align:center;
}

.ch-calendar-month .week{
	border:none;
}

.ch-calendar-month .day,
.ch-calendar-month .disable{
	height: auto;
    text-align: center;
    cursor:pointer;
    padding:0;
    line-height:16px	;
}

.ch-calendar-month .day:hover{
	background: #FEFBD6;
}

.ch-calendar-month .disable{
	color:#C6C6C6;
	cursor:default;
}

.ch-calendar-month td.selected{
	background: #FEFBD6;
}
.ch-calendar-month .today {
	background: #CCC;
}


/* Arrows */
.ch-calendar-prev,
.ch-calendar-next {
	width:50px;
	height:20px;
	position:absolute;
	top:5px;
	cursor:pointer;
}

.ch-calendar-prev {
	left: 5px;
    background-position:32px -27px;
}

.ch-calendar-next {
	right: 5px;
    background-position:-10px -27px;
}

.ie7 .ch-calendar {
	display: inline;
	vertical-align:super;
}
