/* Carousel */
.ch-carousel{
	overflow:hidden;
	position:relative;
}

.ch-carousel .ch-mask{
	overflow: hidden;
	position: relative;
	/*margin:0 35px;*/
	margin:0 auto;
}

.ch-carousel-content{
	position:absolute;
	transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
}

.ch-carousel-content li{
	margin:0 10px;
	float:left;
}

/* Buttons */

.ch-carousel .ch-prev {
	position: absolute;
	left: 10px;
}

.ch-carousel .ch-next {
	position: absolute;
	right: 10px;
}

.ch-carousel .ch-prev span,
.ch-carousel .ch-next span {
	background:none;
	display: block;
	width:11px;
	height:20px;
	margin:15px 8px; /* Area sensible */
	text-indent:999px;
	overflow:hidden;
}

.ch-carousel .ch-prev-on,
.ch-carousel .ch-next-on {
	cursor:pointer;
}

.ch-carousel .ch-prev-on span,
.ch-carousel .ch-next-on span {
	background-image: url('../src/assets/carousel.png');
	background-repeat: no-repeat;
}

.ch-carousel .ch-prev-on span{
	background-position: 0 0;
}

.ch-carousel .ch-prev-on:hover span{
	background-position: 0 -20px;
}

.ch-carousel .ch-next-on span{
	background-position: 0 -40px;
}

.ch-carousel .ch-next-on:hover span{
	background-position: 0 -60px;
}

/* Pager */
.ch-carousel.ch-pager-bottom{
	padding-bottom: 30px;
}

.ch-carousel .ch-pager {
	position:absolute;
	bottom:10px;
}

.ch-carousel .ch-pager li{
	text-indent:999px;
	overflow:hidden;
	float:left;
	margin-right:10px;
	width:10px;
	height:10px;
	cursor:pointer;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background-color:#d1d1d1;
}

.ch-carousel .ch-pager .ch-pager-on{
	background-color:#16232f;
}

/* IE 6 */
.ie6 .ch-carousel .ch-next{
	right: 30px;
}

.ie6 .ch-carousel .ch-prev{
	left: 5px;
}