.ch-carousel {
	overflow:hidden;
	position:relative;
	-o-transition:height 0.5s ease;
	-moz-transition:height 0.5s ease;
	-webkit-transition:height 0.5s ease;
	transition:height 0.5s ease;
}

.ch-carousel-mask {
	margin:0 50px;
	position:relative;
	overflow:hidden;
}

.ch-carousel-content {
	left:0;
	position:absolute;
	-o-transition:all 0.8s ease;
	-moz-transition:all 0.8s ease;
	-webkit-transition:all 0.8s ease;
	transition:all 0.8s ease;
}

.ch-carousel-nofx{
	-o-transition:none;
	-moz-transition:none;
	-webkit-transition:none;
	transition:none;
}

.ch-carousel-list {
	float:left;
	overflow:hidden;
}

.ch-carousel-item {
	float:left;
}

/* Buttons */
.ch-carousel .ch-prev-arrow,
.ch-carousel .ch-next-arrow {
	position:absolute;
	cursor:pointer;
}

.ch-carousel .ch-prev-arrow {
	left:10px;
}

.ch-carousel .ch-next-arrow {
	right:10px;
}

.ch-carousel .ch-prev-arrow span,
.ch-carousel .ch-next-arrow span {
	display:block;
	width:11px;
	height:20px;
	margin:15px 8px; /* Area sensible */
	text-indent:999px;
	overflow:hidden;
	background-image:url('../src/assets/carousel.png');
	background-repeat:no-repeat;
}

.ch-carousel .ch-next-arrow span {
	background-position:-10px 0;
}

.ch-carousel .ch-prev-arrow:hover span,
.ch-carousel .ch-next-arrow:hover span {
	opacity:0.5;
}

/* Pager */
.ch-carousel-pages {
	position:absolute;
	bottom:0;
}

.ch-carousel-pages li {
	text-indent:999px;
	overflow:hidden;
	float:left;
	margin-right:10px;
	width:10px;
	height:10px;
	cursor:pointer;
	background-color:#d1d1d1;
	-o-border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

.ch-carousel-pages .ch-carousel-pages-on {
	background-color:#16232f;
}

/* IE 6 */
.ie6 .ch-carousel .ch-next-arrow {
	right:20px;
}

.ie6 .ch-carousel .ch-prev-arrow {
	left:0;
}

/* No-js */
.no-js .ch-carousel {
	height:150px;
	overflow:auto;
}

.no-js .ch-carousel ul {
	width:-moz-max-content;
	width:-webkit-max-content;
}

.no-js .ch-carousel li {
	float:left;
}