.ch-carousel{
	overflow:hidden;
	position:relative;
}

.ch-carousel .mask{
	overflow: hidden;
	position: relative;
	margin:0 35px;
	margin:0 auto;
}

.ch-carousel-content{
	position:absolute;
}

.ch-carousel-content li{
	margin:0 10px;
	float:left;
}

.ch-carousel .prev, .ch-carousel .next {
	background-image: url('../src/assets/carousel.png');
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	text-indent: -9999px;
	height:57px;
	width:24px;
	position: absolute;
}
.ch-carousel .prev{
	background-position: -46px 0;
	left: 10px;
}

.ch-carousel .prev:hover{
	background-position: 0 0;
}

.ch-carousel .next{
	background-position: -69px 0;
	right: 10px;
}

.ch-carousel .next:hover{
	background-position: -23px 0;
}

/* IE 6 */
.ie6 .ch-carousel .next{
	right:30px;
}
