/* Codelighter */
pre {
	font-family: Monospace, "Monotype Corsiva";
 	background-color:#fdf6e3;
    border: 1px solid #CCCCCC;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
    overflow: auto;
    padding: 10px;
    color:#657b83;
}


/*xml*/
.ch-tag{color:#268bd2;font-weight:bold;}
.ch-attrName{color:#93a1a1;;font-weight:normal;}

/*js*/
.ch-keywords{color:#268bd2;}
.ch-atom{color:#dc322f;}
.ch-operator{color:#cb4b16;}

/*css*/
.ch-selector{color:#859900;}
.ch-property{color:#b58900}


.ch-attrValue,
.ch-attrValue .ch-keywords,
.ch-attrValue .ch-comment{
	color:#2aa198;
}
.ch-comment, 
.ch-comment .ch-keywords{
	color:#6c71c4;
}