/*
* Reset
* @based: Eric Meyer
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
abbr, article, aside, audio, bb, canvas, datagrid, 
datalist, details, dialog, eventsource, figure, footer,
header, hgroup, mark, menu, meter, nav, output,
progress, section, time, video {
	background: transparent;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	
}

ol, ul, menu {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote: before, 
blockquote: after,
q: before, q: after {
	content: '';
	content: none;
}

/* remember to define focus styles!*/
/*:focus {
	outline: 0;
}*/

/* remember to highlight inserts somehow!*/
ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
* Global
*/

body {
	background-color: #FFF;
	color: #333; 
	min-width: 760px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px; /* Prevent layout "sticking" to the edge of the browser */
}

body,
.ch-btn{
	font-family:Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-size:13px;
	line-height:20px;
}

.lt-ie7 body,
/* Dreprecate */
.ie6 body {
	width: expression( (document.documentElement.clientWidth >1202)? "1200px": (document.documentElement.clientWidth <742)? "740px": "auto" );
}

/* IMPORTANT: .ch-hide class allows components to be shown and hidden*/

.ch-hide,
/* Deprecated */
.o {
	display: none;
}

.ch-hidden {
	visibility: hidden;
}

/*
* Anchors
*/

a {
	color: #0637B3;
	text-decoration: none;
}

a:active {
	color: #0000DD;
}

a:visited {
	color: #800080;
}

a:hover,
a:focus {
	text-decoration: underline;
}

a img {
	border: none;
}

/*
* Typography
*/

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-top: 10px;
}

/* Arial Headers*/
h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

h5 {
	font-size: 11px;
}

/*
* Price
*/

.ch-price,
/* Deprecated */
.price {
	color: #900;
	font-size: 16px;
	font-weight: bold;
}

.ch-price sup,
/* Deprecated */
.price sup {
	font-size: 10px;
	vertical-align: text-top;
	line-height: 1em;
}

.ch-price span,
/* Deprecated */
.price span {
	color: #999;
	font-size: 13px;
	font-weight: normal
}

.lt-ie9 .ch-price sup,
/* Dreprecate */
.lt-ie9 .price sup,
.ie6 .price sup,
.ie7 .price sup,
.ie8 .price sup {
	font-size: 12px;
}

/*
* Misc
*/

hr {
	border: none;
	border-bottom: 1px dashed #CCC;
}

.lt-ie8 hr,
/* Dreprecate */
.ie6 hr,
.ie7 hr {
	height: 0;
}

/*
* List
*/

.ch-list {
	margin-bottom:10px;
}

.ch-list li {
	margin-left:10px;
	padding:3px 0;
	line-height: 18px;
}

ul.ch-list {
	list-style: disc inside;
}

ol.ch-list {
	list-style: decimal inside;
}

dl.ch-list {
  margin-bottom: 18px;
}
dl.ch-list dt, dl.ch-list dd {
  line-height: 18px;
}
dl.ch-list dt {
  font-weight: bold;
}
dl.ch-list dd {
  margin-left: 9px;
}



/*
* Deprecated Buttons
*/

/* Main styles */
.ch-btn, .btn,
.ch-btn:focus, .btn:focus {
	border: 1px solid #2C3176;
	border-radius: 3px;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #FFF;
	cursor: pointer;
	/*padding: 0 10px;*/
}

/* Focus style */
.ch-btn:focus, .btn:focus {
	-webkit-box-shadow: 0 0 5px #4055A5;
	box-shadow: 0 0 5px #4055A5;
}

/* Main color gradient */
.ch-btn.ch-main, .btn.main,
.ch-btn.ch-primary, .btn.primary,
.ch-btn.ch-secondary, .btn.secondary {
	background-color: #2C3176;
	background-image: -o-linear-gradient(top, #BACDFF, #4055A5 3%, #283077);
	background-image: -ms-linear-gradient(top, #BACDFF, #4055A5 3%, #283077);
	background-image: -moz-linear-gradient(top, #BACDFF,  #4055A5 3%,  #283077);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BACDFF), color-stop(3%, #4055A5), color-stop(100%, #283077));
	background-image: -webkit-linear-gradient(top, #BACDFF, #4055A5 3%, #283077);
	background-image: linear-gradient(top, #BACDFF, #4055A5 3%, #283077);
}

.lt-ie10 .ch-btn.ch-main, .lt-ie10 .btn.main,
.lt-ie10 .ch-btn.ch-primary, .lt-ie10 .btn.primary,
.lt-ie10 .ch-btn.ch-secondary, .lt-ie10 .btn.secondary {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4055A5', endColorstr='#283077');
}

/* Skin color gradient */
.ch-btn.ch-skin, .btn.skin,
.ch-btn.ch-skin:focus, .btn.skin:focus {
	background-color: #C0DAEC;
	background-image: -o-linear-gradient(top, #FFF, #D0E6F8 3%, #A6CDEE);
	background-image: -ms-linear-gradient(top, #FFF, #D0E6F8 3%, #A6CDEE);
	background-image: -moz-linear-gradient(top, #FFF,  #D0E6F8 3%,  #A6CDEE);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(3%, #D0E6F8), color-stop(100%, #A6CDEE));
	background-image: -webkit-linear-gradient(top, #FFF, #D0E6F8 3%, #A6CDEE);
	background-image: linear-gradient(top, #FFF, #D0E6F8 3%, #A6CDEE);
	border: 1px solid #79a8c7;
	color: #476274;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
}

.lt-ie10 .ch-btn.ch-skin, .lt-ie10.btn.skin,
.lt-ie10 .ch-btn.ch-skin:focus, .lt-ie10 .btn.skin:focus {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D0E6F8', endColorstr='#A6CDEE');
}

.ch-btn.ch-main:hover, .btn.main:hover,
.ch-btn.ch-primary:hover, .btn.primary:hover,
.ch-btn.ch-secondary:hover, .btn.secondary:hover {
	background-color: #2C3176;
	background-image: -o-linear-gradient(top, #BEC8FF, #4255D4 3%, #2F33AE);
	background-image: -ms-linear-gradient(top, #BEC8FF, #4255D4 3%, #2F33AE);
	background-image: -moz-linear-gradient(top, #BEC8FF,  #4255D4 3%, #2F33AE);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BEC8FF), color-stop(3%, #4255D4), color-stop(100%, #2F33AE));
	background-image: -webkit-linear-gradient(top, #BEC8FF, #4255D4 3%, #2F33AE);
	background-image: linear-gradient(top, #BEC8FF, #4255D4 3%, #2F33AE);
}

.lt-ie10 .ch-btn.ch-main:hover, .lt-ie10 .btn.main:hover,
.lt-ie10 .ch-btn.ch-primary:hover, .lt-ie10 .btn.primary:hover,
.lt-ie10 .ch-btn.ch-secondary:hover, .lt-ie10 .btn.secondary:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4255D4', endColorstr='#2F33AE');
}

.ch-btn.ch-skin:hover, .btn.skin:hover {
	background-color: #C8E5F7;
	background-image: -o-linear-gradient(top, #FFF, #DCECFB 3%, #C2DDF5);
	background-image: -ms-linear-gradient(top, #FFF, #DCECFB 3%, #C2DDF5);
	background-image: -moz-linear-gradient(top, #FFF,  #DCECFB 3%, #C2DDF5);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(3%, #DCECFB), color-stop(100%, #C2DDF5));
	background-image: -webkit-linear-gradient(top, #FFF, #DCECFB 3%, #C2DDF5);
	background-image: linear-gradient(top, #FFF, #DCECFB 3%, #C2DDF5);

}

.lt-ie10 .ch-btn.ch-skin:hover, .lt-ie10 .btn.skin:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCECFB', endColorstr='#C2DDF5');
}

.ch-btn.ch-main:active, .btn.main:active,
.ch-btn.ch-primary:active, .btn.primary:active,
.ch-btn.ch-secondary:active, .btn.secondary:active {
	background-color: #2C3176;
	background-image: -o-linear-gradient(top, #000, #1C2662 3%, #171B3F);
	background-image: -ms-linear-gradient(top, #000, #1C2662 3%, #171B3F);
	background-image: -moz-linear-gradient(top, #000,  #1C2662 3%, #171B3F);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(3%, #1C2662), color-stop(100%, #171B3F));
	background-image: -webkit-linear-gradient(top, #000, #1C2662 3%, #171B3F);
	background-image: linear-gradient(top, #000, #1C2662 3%, #171B3F);
}

.lt-ie10 .ch-btn.ch-main:active, .lt-ie10 .btn.main:active,
.lt-ie10 .ch-btn.ch-primary:active, .lt-ie10 .btn.primary:active,
.lt-ie10 .ch-btn.ch-secondary:active, .lt-ie10 .btn.secondary:active {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1C2662', endColorstr='#171B3F');
}

.ch-btn.ch-skin:active, .btn.skin:active {
	background-color: #C8E5F7;
	background-image: -o-linear-gradient(top, #8FB0C5, #A3C9E1 3%, #79B5DC);
	background-image: -ms-linear-gradient(top, #8FB0C5, #A3C9E1 3%, #79B5DC);
	background-image: -moz-linear-gradient(top, #8FB0C5,  #A3C9E1 3%, #79B5DC);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8FB0C5), color-stop(3%, #A3C9E1), color-stop(100%, #79B5DC));
	background-image: -webkit-linear-gradient(top, #8FB0C5, #A3C9E1 3%, #79B5DC);
	background-image: linear-gradient(top, #8FB0C5, #A3C9E1 3%, #79B5DC);
}

.lt-ie10 .ch-btn.ch-skin:active, .lt-ie10 .btn.skin:active {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A3C9E1', endColorstr='#79B5DC');
}

/* Disabled color gradient */
.ch-btn.disabled, .btn.disabled,
.ch-btn[disabled], .btn[disabled],
.ch-btn[disabled]:hover, .btn[disabled]:hover,
.ch-btn[disabled]:active, .btn[disabled]:active,
.ch-btn[disabled]:focus, .btn[disabled]:focus {
	background-color: #CCC;
	background-image: -o-linear-gradient(top, #FFF, #CCC);
	background-image: -ms-linear-gradient(top, #FFF, #CCC);
	background-image: -moz-linear-gradient(top, #FFF, #CCC);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #CCC));
	background-image: -webkit-linear-gradient(top, #FFF, #CCC);
	background-image: linear-gradient(top, #FFF, #CCC);
	border: 1px solid #999;
	color: #999;
	cursor: not-allowed;
	opacity: 0.5;
	text-shadow: none;
}

.lt-ie10 .ch-btn.disabled, .lt-ie10 .btn.disabled,
.lt-ie10 .ch-btn[disabled], .lt-ie10 .btn[disabled],
.lt-ie10 .ch-btn[disabled]:hover, .lt-ie10 .btn[disabled]:hover,
.lt-ie10 .ch-btn[disabled]:active, .lt-ie10 .btn[disabled]:active,
.lt-ie10 .ch-btn[disabled]:focus, .lt-ie10 .btn[disabled]:focus{
	filter: alpha(opacity=50);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CCCCCC');
}

/* Main */
.ch-btn.ch-main, .btn.main,
.ch-btn.ch-main:focus, .btn.main:focus {
	font-size: 19px;
	height: 40px;
}

/* Primary */
.ch-btn.ch-primary, .btn.primary,
.ch-btn.ch-primary:focus, .btn.primary:focus {
	font-size: 18px;
	height: 32px;
}

/* Secondary*/
.ch-btn.ch-secondary, .btn.secondary,
.ch-btn.ch-secondary:focus, .btn.secondary:focus {
	font-size: 12px;
	height: 25px;
}

/*
* New Buttons
*/

/* Global */
.ch-btn,
.ch-btn:focus,
.ch-btn-skin,
.ch-btn-skin:focus {
	border-radius: 4px;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	font-family:arial,helvetica,sans-serif;
	font-size: 1.384em;
	height: auto;
	line-height: 1.199em;

	padding: 0.305em 0.777em;
	text-decoration: none;
}

/* Focus */
.ch-btn:focus,
.ch-btn-skin:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="file"]::-webkit-file-upload-button:focus,
button:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

/* Colors */
.ch-btn,
.ch-btn:focus,
.ch-btn:visited {
	background-color: #2C3176;
	background-image: -o-linear-gradient(top, #BACDFF, #4055A5 3%, #283077);
	background-image: -ms-linear-gradient(top, #BACDFF, #4055A5 3%, #283077);
	background-image: -moz-linear-gradient(top, #BACDFF,  #4055A5 3%,  #283077);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BACDFF), color-stop(3%, #4055A5), color-stop(100%, #283077));
	background-image: -webkit-linear-gradient(top, #BACDFF, #4055A5 3%, #283077);
	background-image: linear-gradient(top, #BACDFF, #4055A5 3%, #283077);
	border: 1px solid #2C3176;
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

.lt-ie10 .ch-btn,
.lt-ie10 .ch-btn:focus,
.lt-ie10 .ch-btn:visited {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4055A5', endColorstr='#283077');
}

.ch-btn-skin,
.ch-btn-skin:focus,
.ch-btn-skin:visited {
	background-color: #C0DAEC;
	background-image: -o-linear-gradient(top, #FFF, #D0E6F8 3%, #A6CDEE);
	background-image: -ms-linear-gradient(top, #FFF, #D0E6F8 3%, #A6CDEE);
	background-image: -moz-linear-gradient(top, #FFF,  #D0E6F8 3%,  #A6CDEE);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(3%, #D0E6F8), color-stop(100%, #A6CDEE));
	background-image: -webkit-linear-gradient(top, #FFF, #D0E6F8 3%, #A6CDEE);
	background-image: linear-gradient(top, #FFF, #D0E6F8 3%, #A6CDEE);
	border: 1px solid #79a8c7;
	color: #476274;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.lt-ie10 .ch-btn-skin,
.lt-ie10 .ch-btn-skin:focus,
.lt-ie10 .ch-btn-skin:visited {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D0E6F8', endColorstr='#A6CDEE');
}


/* Hover */
.ch-btn:hover,
.ch-btn-skin:hover {
	text-decoration: none;
}

/* Colors on Hover */
.ch-btn:hover {
	background-color: #4255D4;
	background-image: -o-linear-gradient(top, #BEC8FF, #4255D4 3%, #2F33AE);
	background-image: -ms-linear-gradient(top, #BEC8FF, #4255D4 3%, #2F33AE);
	background-image: -moz-linear-gradient(top, #BEC8FF,  #4255D4 3%, #2F33AE);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BEC8FF), color-stop(3%, #4255D4), color-stop(100%, #2F33AE));
	background-image: -webkit-linear-gradient(top, #BEC8FF, #4255D4 3%, #2F33AE);
	background-image: linear-gradient(top, #BEC8FF, #4255D4 3%, #2F33AE);
}

.lt-ie10 .ch-btn:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4255D4', endColorstr='#2F33AE');
}

.ch-btn-skin:hover {
	background-color: #DCECFB;
	background-image: -o-linear-gradient(top, #FFF, #DCECFB 3%, #C2DDF5);
	background-image: -ms-linear-gradient(top, #FFF, #DCECFB 3%, #C2DDF5);
	background-image: -moz-linear-gradient(top, #FFF,  #DCECFB 3%, #C2DDF5);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(3%, #DCECFB), color-stop(100%, #C2DDF5));
	background-image: -webkit-linear-gradient(top, #FFF, #DCECFB 3%, #C2DDF5);
	background-image: linear-gradient(top, #FFF, #DCECFB 3%, #C2DDF5);
}

.lt-ie10 .ch-btn-skin:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCECFB', endColorstr='#C2DDF5');
}

/* Colors on Active */
.ch-btn:active {
	background-color: #2C3176;
	background-image: -o-linear-gradient(top, #000, #1C2662 3%, #171B3F);
	background-image: -ms-linear-gradient(top, #000, #1C2662 3%, #171B3F);
	background-image: -moz-linear-gradient(top, #000,  #1C2662 3%, #171B3F);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(3%, #1C2662), color-stop(100%, #171B3F));
	background-image: -webkit-linear-gradient(top, #000, #1C2662 3%, #171B3F);
	background-image: linear-gradient(top, #000, #1C2662 3%, #171B3F);
	color: #FFFFFF;
}

.lt-ie10 .ch-btn:active {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1C2662', endColorstr='#171B3F');
}

.ch-btn-skin:active {
	background-color: #C8E5F7;
	background-image: -o-linear-gradient(top, #8FB0C5, #A3C9E1 3%, #79B5DC);
	background-image: -ms-linear-gradient(top, #8FB0C5, #A3C9E1 3%, #79B5DC);
	background-image: -moz-linear-gradient(top, #8FB0C5,  #A3C9E1 3%, #79B5DC);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8FB0C5), color-stop(3%, #A3C9E1), color-stop(100%, #79B5DC));
	background-image: -webkit-linear-gradient(top, #8FB0C5, #A3C9E1 3%, #79B5DC);
	background-image: linear-gradient(top, #8FB0C5, #A3C9E1 3%, #79B5DC);
}

.lt-ie10 .ch-btn-skin:active {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A3C9E1', endColorstr='#79B5DC');
}


/* Size */

/* Big */
.ch-btn-big,
.ch-btn-big:focus {
	font-size: 1.461em;
	padding: 0.473em 0.842em;
}

.ch-btn,
.ch-btn:focus{

}

/* Small */
.ch-btn-small,
.ch-btn-small:focus {
	font-size: 0.923em;
	padding: 0.458em 0.833em;
}

/* Tiny */
.ch-btn-tiny,
.ch-btn-tiny:focus {
	font-size: 0.846em;
	padding: 0.5em 0.727em;
}

input.ch-btn::-moz-focus-inner,
input.ch-btn-big::-moz-focus-inner,
input.ch-btn-small::-moz-focus-inner,
input.ch-btn-tiny::-moz-focus-inner{ 
    border: 0;
    padding: 0;
}

.ie7 a.ch-btn,
.ie7 a.ch-btn-big,
.ie7 a.ch-btn-small,
.ie7 a.ch-btn-tiny{
	
}

.ie7 input.ch-btn{
	line-height: 0.85em;
}

.ie7 input.ch-btn,
.ie7 input.ch-btn-big,
.ie7 input.ch-btn-small,
.ie7 input.ch-btn-tiny{
	overflow: visible;
	width: 1;
}

/* Disabled */
.ch-btn.ch-btn-disabled,
.ch-btn-skin.ch-btn-disabled,
.ch-btn-disabled:hover,
.ch-btn-disabled:active,
.ch-btn-disabled:focus,
.ch-btn[disabled],
.ch-btn[disabled]:hover,
.ch-btn[disabled]:active,
.ch-btn[disabled]:focus,
.ch-btn-skin[disabled],
.ch-btn-skin[disabled]:hover,
.ch-btn-skin[disabled]:active,
.ch-btn-skin[disabled]:focus {
	background-color: #CCC;
	background-image: -o-linear-gradient(top, #FFF, #CCC);
	background-image: -ms-linear-gradient(top, #FFF, #CCC);
	background-image: -moz-linear-gradient(top, #FFF, #CCC);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #CCC));
	background-image: -webkit-linear-gradient(top, #FFF, #CCC);
	background-image: linear-gradient(top, #FFF, #CCC);
	border: 1px solid #999999 !important; /* important for links */
	color: #999999 !important; /* important for links */
	cursor: not-allowed;
	opacity: 0.5;
	text-shadow: none;
}

.lt-ie10 .ch-btn.ch-btn-disabled,
.lt-ie10 .ch-btn-skin.ch-btn-disabled,
.lt-ie10 .ch-btn-disabled:hover,
.lt-ie10 .ch-btn-disabled:active,
.lt-ie10 .ch-btn-disabled:focus,
.lt-ie10 .ch-btn[disabled],
.lt-ie10 .ch-btn[disabled]:hover,
.lt-ie10 .ch-btn[disabled]:active,
.lt-ie10 .ch-btn[disabled]:focus,
.lt-ie10 .ch-btn-skin[disabled],
.lt-ie10 .ch-btn-skin[disabled]:hover,
.lt-ie10 .ch-btn-skin[disabled]:active,
.lt-ie10 .ch-btn-skin[disabled]:focus {
	filter: alpha(opacity=50);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CCCCCC');
}

.ie8 .ch-btn:focus,
.ie8 .ch-btn-skin:focus,
.ie8 input[type="button"]:focus,
.ie8 input[type="submit"]:focus,
.ie8 input[type="reset"]:focus,
.ie8 input[type="file"]:focus,
.ie8 button:focus {
	outline: thin dotted;
	outline-offset: -2px;
}


/* Close*/
.ch-close {
	background-color: #EBEBEB;
	background-image: -webkit-linear-gradient(top, #FFFFFF, #EBEBEB);
	background-image: -o-linear-gradient(top, #FFFFFF, #EBEBEB);
	background-image: -ms-linear-gradient(top, #FFFFFF, #EBEBEB);
	background-image: -moz-linear-gradient(top, #FFFFFF, #EBEBEB);
	background-image: linear-gradient(top, #FFFFFF, #EBEBEB);
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	cursor: pointer;
	padding: 0;
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 10px;
	height: 15px;
	width: 15px;
	color: #898989;
	font-size: 18px;
	line-height: 15px;
	-webkit-text-shadow: 0 1px 0 #ffffff;
	-o-text-shadow: 0 1px 0 #ffffff;
	-moz-text-shadow: 0 1px 0 #ffffff;
	text-shadow: 0 1px 0 #ffffff;
	text-indent: 1px;
	font-family: Arial;
	text-align:center;
}

.lt-ie10 .ch-close {
	text-indent: 0;
}

.ie9 .ch-close {
	line-height: 16px;
}

.ch-close:hover,
.ch-close:focus,
.ch-close:active {
	border-color: #B00000;
	-webkit-text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	-o-text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	-moz-text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.ch-close:hover,
.ch-close:focus {
	color: #FFFFFF;
	background-color: #EF1D00;
	background-image: -webkit-linear-gradient(top, #F04100, #EF1D00);
	background-image: -o-linear-gradient(top, #F04100, #EF1D00);
	background-image: -ms-linear-gradient(top, #F04100, #EF1D00);
	background-image: -moz-linear-gradient(top, #F04100, #EF1D00);
	background-image: linear-gradient(top, #F04100, #EF1D00);
	text-decoration: none;
}

.ch-close:active {
	color: #eee;
	background-color:#BE1803;
	background-image: none;
}

/* IE */
.lt-ie10 .ch-close {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EBEBEB');
}

.lt-ie10 .ch-close:hover,
.lt-ie10 .ch-close:focus {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F04100', endColorstr='#EF1D00');
}


/*
* Boxes
*/

.ch-box-container h1, .ch-box-container h2, .ch-box-container h3, 
.ch-box-container h4, .ch-box-container h5, .ch-box-container h6,
.ch-box-lite h1, .ch-box-lite h2, .ch-box-lite h3, 
.ch-box-lite h4, .ch-box-lite h5, .ch-box-lite h6,
.ch-box h1, .ch-box h2, .ch-box h3, 
.ch-box h4, .ch-box h5, .ch-box h6 {
	margin-top: 0;
	margin-bottom: 10px;
}

.ch-box-container,
.ch-box-lite,
.ch-box {
	background-color: #FFFFFF;
	margin: 0 0 10px 0;
	padding: 10px;
}

.ch-box-lite,
.ch-box {
	border: 1px solid #CCC;
	border-radius: 5px;
}

.ch-box {
	background-image: -o-linear-gradient(top, #F0F0F0, #FFFFFF 25px);
	background-image: -ms-linear-gradient(top, #F0F0F0, #FFFFFF 25px);
	background-image: -moz-linear-gradient(top, #F0F0F0, #FFFFFF 25px);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F0F0), color-stop(25px, #FFFFFF));
	background-image: -webkit-linear-gradient(top, #F0F0F0, #FFFFFF 25px);
	background-image: linear-gradient(top, #F0F0F0, #FFFFFF 25px);
	-webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.75) inset;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.75) inset;
}

.lt-ie10 .ch-box {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#FFFFFF');
}

.ch-box-container > .ch-box:first-of-type,
.ch-box-container > .ch-box-lite:first-of-type,
/* Deprecate */
.ch-container > .ch-box:first-of-type,
.container > .box:first-of-type {
	border-radius: 5px 5px 0 0;
}

.ch-box-container .ch-box,
.ch-box-container .ch-box-lite,
/* Deprecate */
.ch-container .ch-box,
.container .box {
	border-radius: 0;
}

.lt-ie7 .ch-box-container
.lt-ie7 .ch-box-lite,
.lt-ie7 .ch-box {
	z-index: 1; /* Fix z-index property */
}

.ch-actions,
/* Deprecate */
.actions {
	margin-top: 10px;
	text-align: center;
}

.lt-ie8 .ch-actions a,
/* Deprecate */
.lt-ie8 .actions a,
.ie6 .actions a,
.ie7 .actions a {
	display: inline-block;
	margin-bottom: 5px;
}


/*
* Pagination
*/

.ch-pagination,
/* Deprecate */
.pagination {
	clear: both;
	margin: 10px 0;
}
			
.ch-pagination li,
/* Deprecate */
.pagination li {
	display: inline-block;
	margin: 0px 4px;
}


.ch-pagination li a,
.ch-pagination li.ch-pagination-current a,
/* Deprecate */
.pagination li a,
.pagination li.current a {
	border-radius: 3px;
	padding: 5px 8px;
	border: 1px solid #CCC;
	background-color: #FFF;
}

.ch-pagination li a:hover,
/* Deprecate */
.pagination li a:hover {
	color: #FFF;
	text-decoration: none;
	background-color: #0637b3;
	border: 1px solid #0637b3;
}

.ch-pagination li.ch-pagination-current a,
/* Deprecate */
.pagination li.current a {
	border: 1px solid #ededed;
	background-color: #ededed;
	color: #0637b3; 
	font-weight: bold;
}


.ch-pagination li:first-child a,
.ch-pagination li:last-child a,
/* Deprecate */
.pagination li:first-child a,
.pagination li:last-child a {
	border-color: #FFFFFF;
}

.ch-pagination li:first-child a:hover,
.ch-pagination li:last-child a:hover,
/* Deprecate */
.pagination li:first-child a:hover,
.pagination li:last-child a:hover {
	border-color: #0637b3;
}

.lt-ie8 .ch-pagination li,
/* Deprecate */
.lt-ie8 .pagination li {
	display: inline;
	zoom: 1;
	padding: 5px 2px;
}


/*
*  Icons and Message Boxes
*/
.ch-ico-attention,
.ch-ico-check,
.ch-ico-error,
.ch-ico-help,
.ch-ico-information,
.ch-ico-ok,
.ch-message-attention,
.ch-message-check,
.ch-message-error,
.ch-message-help,
.ch-message-information,
.ch-message-ok,
/* Deprecate */
.ch-ico,
.ch-message,
.ico,
.message {
	background: url(../assets/icons.png) no-repeat;
}

/* Icons */
.ch-ico-attention,
.ch-ico-check,
.ch-ico-error,
.ch-ico-help,
.ch-ico-information,
.ch-ico-ok,
/* Deprecate */
.ch-ico,
.ico {
	display: inline-block;
	width: 16px;
	height: 16px;
	text-indent: 99px;
	overflow: hidden;
	background-repeat: no-repeat;
}

.ch-ico-attention,
/* Deprecate */
.ch-ico.ch-attention,
.ico.attention {
	background-position: -77px -110px;
}

.ch-ico-check,
/* Deprecate */
.ch-ico.ch-check,
.ico.check {
	background-position: -43px -144px;
}

.ch-ico-error,
/* Deprecate */
.ch-ico.ch-error,
.ico.error {
	background-position: -179px -9px;
}

.ch-ico-help,
/* Deprecate */
.ch-ico.ch-help,
.ico.help {
	background-position: -111px -76px;
}

.ch-ico-information,
/* Deprecate */
.ch-ico.ch-information,
.ico.information {
	background-position: -145px -42px;
}	

.ch-ico-ok,
/* Deprecate */
.ch-ico.ch-ok,
.ico.ok {
	background-position: -9px -178px;
	height: 17px;
}


/* Message boxes */
.ch-message-attention,
.ch-message-check,
.ch-message-error,
.ch-message-help,
.ch-message-information,
.ch-message-ok,
/* Deprecated */
.ch-message {
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	margin: 0 0 5px;
	padding: 8px 10px 8px 34px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.ch-message-attention,
/* Deprecated */
.ch-message.ch-attention {	
	background-color: #FCF8CB;
	background-position: -68px -101px;
	border-color: #E4E2B8;
}


.ch-message-check,
/* Deprecated */
.ch-message.ch-check {
	background-color: #E8FFD7;
	background-position: -34px -135px;
	border-color: #C7DDBC;
	color: #487210;
}
	
.ch-message-error,
/* Deprecated */
.ch-message.ch-error {	
	background-color:#fbd9db;
	background-position: -170px 0px;
	border-color: #f7a9ae;
	color:#600;
}		

.ch-message-help,
/* Deprecated */
.ch-message.ch-help {	
	background-color: #F6F9F3;
	background-position: -102px -67px;
	border-color: #cccccc;
}
	
.ch-message-information,
/* Deprecated */
.ch-message.ch-information {	
	background-color: #E5EBFD;
	background-position: -136px -33px;
	border-color: #A0B1DE;
}
	
.ch-message-ok,
/* Deprecated */
.ch-message.ch-ok {
	background-color: #E8FFD7;
	background-position: 0 -169px;
	border-color: #C7DDBC;
}


/*
* Transitions
*/


.ch-loading,
/* Deprecated */
.loading {
	background-image: url('../assets/loading.gif');
	width: 44px;
	height: 44px;
	margin: 20px auto;
}

.ch-loading-small,
/* Deprecated */
.loading.small {
	background-image: url('../assets/loading_small.gif');
	width: 18px;
	height: 18px;
}


/*
* Tables
*/

.ch-datagrid,
/* Deprecated */
.datagrid {
	width: 100%;
	border: 1px solid #CECECE;
	text-align: left;
}

.ch-datagrid caption,
/* Deprecated */
.datagrid caption {
	text-align: left;
	font-weight: normal;
	margin: 10px 0;
	font-size: 18px;
}

.ch-datagrid thead tr,
/* Deprecated */
.datagrid thead tr {
	border-top: 1px solid #CECECE;
}

.ch-datagrid th,
/* Deprecated */
.datagrid th {
	background-color: #EEEEEE;
	background-image: -o-linear-gradient(top, #F9F9F9, #EEEEEE 100%);
	background-image: -ms-linear-gradient(top, #F9F9F9, #EEEEEE 100%);
	background-image: -moz-linear-gradient(top, #F9F9F9, #EEEEEE 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F9F9F9), color-stop(100%, #EEEEEE));
	background-image: -webkit-linear-gradient(top, #F9F9F9, #EEEEEE 100%);
	background-image: linear-gradient(top, #F9F9F9 0%, #EEEEEE 100%);
	border-bottom: 1px solid #CECECE;
	border-left: 1px solid #CECECE;
	font-size: 11px;
	line-height: 26px;
	padding: 0 10px;
	text-align: left;
	text-shadow: 0 1px 0 #FFFFFF;
	vertical-align: middle;

}

.lt-ie10 .ch-datagrid th {
	
}


.ch-datagrid th.ch-datagrid-selected,
/* Deprecated */
.datagrid th.selected {
	background: #dedede;
	display: block;
	position: relative;
	text-shadow: none;
}


.ch-datagrid th.ch-datagrid-selected .ch-datagrid-asc,
.ch-datagrid th.ch-datagrid-selected .ch-datagrid-desc {
	display: block;
	position: absolute;
	right: 10px;
	top: 0px;
	text-indent: -9999px;
}

.ch-datagrid th.ch-datagrid-selected .ch-datagrid-asc:after,
.ch-datagrid th.ch-datagrid-selected .ch-datagrid-desc:after {
	content: " ";
	position: absolute;
	right: 8px;
	top: 1em;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 4px;
	margin-left: -4px;
}


.ch-datagrid th.ch-datagrid-selected .ch-datagrid-asc:after {
	border-top-color: #333;
}

.ch-datagrid th.ch-datagrid-selected .ch-datagrid-desc:after {
	border-bottom-color: #333;
	top: 7px;
}


.ch-datagrid th:first-child {
	border-left: none;
}

.ch-datagrid tr,
/* Deprecated */
.datagrid tr {
	border-top: 1px solid #EEE;
}

.ch-datagrid tr.ch-datagrid-selected,
/* Deprecated */
.datagrid tr.selected {
	background-color: #FFC;
}

.ch-datagrid td,
/* Deprecated */
.datagrid td {
	height: 40px;
	padding: 0 10px;
	vertical-align: middle;
}

.lt-ie10 .ch-datagrid thead tr,
/* Deprecated */
.lt-ie9 .datagrid thead tr {
	border: 1px solid #CECECE;
}

.lt-ie10 .ch-datagrid th.ch-datagrid-selected,
/* Deprecated */
.lt-ie10 .datagrid th.selected {
	filter: none;
	border: 1px solid #CECECE;
}


.lt-ie10 .ch-datagrid thead tr {
	border: 1px solid #CECECE;
}


.lt-ie10 .ch-datagrid td,
/* Deprecate */
.lt-ie9 .datagrid td,
.ie6 .datagrid td,
.ie7 .datagrid td,
.ie8 .datagrid td {
	border-top: 1px solid #EEE;
}

.lt-ie8 .ch-datagrid th.ch-datagrid-selected .ch-datagrid-asc,
.lt-ie8 .ch-datagrid th.ch-datagrid-selected .ch-datagrid-desc {
	display: block;
	width: 7px;
	height: 4px;
	overflow: hidden;
	position: absolute;
	right: 10px;
	text-indent: 99px;
	top: 12px;
}

.lt-ie8 .ch-datagrid th.ch-datagrid-selected .ch-datagrid-asc {
	background: transparent url("../assets/cones.png") -4px -51px no-repeat;
}

.lt-ie8 .ch-datagrid th.ch-datagrid-selected .ch-datagrid-desc {
	background: transparent url("../assets/cones.png") -4px -48px no-repeat;
}



/*
* Clear Fix
* @based: http://perishablepress.com/press/2009/12/06/new-clearfix-hack/
*/


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html .clearfix { 
	zoom: 1; /* IE6 */
}
 
*:first-child+html .clearfix { 
	zoom: 1; /* IE7 */
} 

/*  do not select text  */
.ch-user-no-select {
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
