/*
 * MELI Reset Sylesheet
 * @autor: Eric Meyer
 * @mod: 07/07/2010
 *
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
abbr, article, aside, audio, bb, canvas, datagrid, 
datalist, details, dialog, eventsource, figure, footer,
header, hgroup, mark, menu, meter, nav, output,
progress, section, time, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, 
blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * Global
 * @autor: Leandro Linares
 * @autor: Jesica Bertisch
 * @mod: 05/07/2010
 *
 */

body { 
	background-color: #fff;
	color: #333; 
	font:13px/20px Arial, Helvetica, "Nimbus Sans L", sans-serif;
	min-width:760px;
	max-width:1200px;
	margin:0 auto;
	padding:0 10px; /* Impide que el layout se pegue con el borde del browser */
}

.ie6 body, .ie7 body {
	width:expression( (document.documentElement.clientWidth >1202)? "1200px": (document.documentElement.clientWidth <742)? "740px": "auto" );
}

.o {
	display:none;
}

/*
 * Links
 * @autor: Leandro Linares
 * @mod: 02/07/2010
 *
 */

a { 
	color:#0637B3;
	text-decoration: none;
}
a:active {
	color: #00D;
}
a:visited{
	color:#800080;
}

a:hover {
	text-decoration: underline;
}

a img{
	border:none;
}

/*
 * Sprites
 * @autor: All
 * @mod: 30/06/2010
 *
 */

.btn, .box, .ch-cone, .ico,
.ch-dropdown-trigger,
.ch-dropdown-trigger:hover,
.ch-dropdown-on,
.ch-dropdown-on:hover,
.ch-tabNavigator .ch-tab-on { 
	background-image: url('../src/assets/base.png');
}

/*
 * Typos
 * @autor: Emiliano Quintana
 * @mod: 24/09/2010
 *
 */


/*p { is this really necesary ?  
	margin: 5px 0 10px;
}*/

p.table {
	font-size:12px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	margin-top: 10px;
}

.box h1, .box h2, .box h3, 
.box h4, .box h5, .box h6 {
	margin-top:0;
	margin-bottom:10px;
}

.typo {
	font-family:"Trebuchet MS", Verdana, "DejaVu Sans", sans-serif
}

/*Con Arial*/
h1 { font-size:20px }
h2 { font-size:18px }
h3 { font-size:16px }
h5 { font-size:11px }
	
/*Con Trebuchet*/
h1.typo { font-size:20px }
h2.typo { font-size:18px }
h5.typo { font-size:13px }

.auction, .mercadoPago {
	font-weight:bold;
	font-style:normal;
}

.auction{
	color:#090;
}

.mercadoPago{
	color:#36c;
}

/*
 * Price
 * @autor: Jesica Bertisch
 * @mod: 
 *
 */
.price {
	color: #900;
	font-size: 16px;
	font-weight: bold;
}

.price sup {
	font-size: 10px;
	vertical-align: text-top;
	line-height:1em;
}

.price span {
	color:#999;
	font-size:13px;
	font-weight:normal
}

.ie6 .price sup,
.ie7 .price sup,
.ie8 .price sup {
	font-size:12px;
}

/*
 * Misc
 * @autor: 
 * @mod: 
 *
 */
hr { 
	border: none;
	border-bottom: 1px dashed #ccc;
}

.ie6 hr,
.ie7 hr {
	height:0;
}

/**
 * Buttons
 */

.btn {
	background-repeat: repeat-x;
	background-color:#2C3176;
	border: 1px solid #2C3176; 
	cursor:pointer;
	overflow: visible;
	padding: 3px 9px;
	color:#FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.btn:focus {
	box-shadow:0px 0px 5px #4055A5;
	-moz-box-shadow:0px 0px 5px #4055A5;
	-webkit-box-shadow:0px 0px 5px #4055A5;
}

.btn:active {
	box-shadow:0px 0px 0px;
	-moz-box-shadow:0px 0px 0px;
	-webkit-box-shadow:0px 0px 0px;
}

.btn:disabled,
.btn:disabled:hover,
.btn:disabled:active,
.btn.disabled { /* Refuerza los botones disabled */
	border: #999 1px solid;
	opacity: 0.3;
	color: #f7f7f7;
	text-shadow:none;
	cursor:not-allowed;
}

.ie6 .btn.disabled,
.ie7 .btn.disabled,
.ie7 .btn.disabled:hover {
	background-color:#FFFFFF;
	background-position:0 -328px;
	border:1px solid #CCCCCC;
	color:#CCCCCC;
}

/* Primary */

.btn.primary { 
	background-position:0 -232px;
	font-size: 18px; 
}

.btn.primary:hover { 
	background-position:0 -264px;
}

.btn.primary:active {
	background-position:0 -296px;
	-moz-box-shadow:0px 0px 0px ;
	-webkit-box-shadow:0px 0px 0px ;
	box-shadow:0px 0px 0px ;
}

.btn.primary:disabled,
.btn.primary.disabled {
	background-position:0 -328px;
}

/* Secondary */

.btn.secondary { 
	background-position:0 -360px;
}

.btn.secondary:hover {
	background-position:0 -385px;
}

.btn.secondary:active {
	background-position:0 -410px;
}

.btn.secondary:disabled,
.btn.secondary.disabled {
	background-position:0 -510px;
}

/* secondary with Cian skin */

.btn.secondary.skin {
	background-position:0 -435px;
	background-color:#C0DAEC;
	border:1px solid #79a8c7;
	color: #476274;
}

.btn.secondary.skin:focus {
	box-shadow:0px 0px 5px #ADD7F3;
	-moz-box-shadow:0px 0px 5px #ADD7F3;
	-webkit-box-shadow:0px 0px 5px #ADD7F3;
}

.btn.secondary.skin:hover { 
	background-position:0 -460px;
}

.btn.secondary.skin:active {
	background-position:0 -485px;
	
}

/* Close */

.btn.ch-close {
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:0 -184px;
	border:none;
	cursor:pointer;
	height:16px;
	padding:0px;
	position:absolute;
	right:10px;
	top:10px;
	text-indent:-9999px;
	width:16px;
}

.btn.ch-close:hover, .btn.ch-close:focus{
	background-position:0 -200px;
	border:none;
}

.btn.ch-close:active{
	background-position:0 -216px;
	outline:none;
}

.ie6 .btn.ch-close {
	line-height:16px;
}

/**
 * Boxes
 * @autor: Natan Santolo
 * @mod: 28/09/2010
 *
 */

.container {
	border: none;
	background: none;
	margin: 10px 0;
	padding: 10px;	
}

.box { 
	border: 1px solid #afafaf;
	margin: 0 0 10px 0;
	padding: 10px;
	background-position: 0 -535px;
	background-repeat: repeat-x;
	background-color: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.ie6 .box{ 
	z-index:1; /* Fix z-index property */
}

.container > .box:first-of-type {
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}

.container .box {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.actions { 
	margin-top: 10px;
	text-align: center
}

/*Titulo sobre box*/
.box h2.typo {
	margin-bottom:10px;
}

.ie6 .actions a,
.ie7 .actions a, {
	display:inline-block;margin-bottom:5px;
}
     

/**
 * Icons
 */

.ico {
	display:block;
	width:16px;
	height:16px;
	text-indent:999px;
	overflow:hidden;
	background-repeat:no-repeat;
}

.ico.help {
	background-position:0 -80px;
}

.ico.attention {
	background-position:0 -96px;
}

.ico.information {
	background-position:0 -64px;
}

.ico.error {
	background-position:0 -48px;
}

.ico.ok {
	background-position:0 -112px;
}

.ico.check {
	background-position:0 -128px;
}

/*
 * Transitions
 * @autor: Natan Santolo
 * @mod: 01/07/2010
 *
 */
.loading {
	background-color: #fff;
	background-image: url('../src/assets/loading.gif');
	background-position: 0 0 no-repeat;
	width: 50px;
	height: 50px;
	margin: 20px auto;
}

/*
 * Clear Fix
 * @based: http://xyberneticos.com/index.php/2008/02/17/clearfix-css-hack/
 * @mod: 01/07/2010
 *
 */

/* slightly enhanced, universal clearfix hack */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-block;
}

/* start commented backslash hack \*/

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/* close commented backslash hack */
