/* Date Picker */
.ch-datePicker {
	background-image:none;
	position:absolute;
	z-index: 300;
	background-color: #fff;
	border: 1px solid #cecece;
	-webkit-box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);
	box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);
	min-width: 240px;
}

.ch-datePicker-trigger {
	margin-left: 3px;
	height: 24px;
	width: 20px;
	display: inline-block;
}

/*.ch-datePicker-trigger:before {
	
	overflow: hidden;
	vertical-align: middle;
	color: #666666;
	text-align: center;
	font-size: 1.5em;
	line-height: 1em;
	font-family: icons;
	content: "\f073";
}*/

.ch-datePicker-content .ch-calendar {
	display: block;
}

.ch-datePicker-content .ch-calendar caption {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.ch-datePicker-content .ch-calendar caption,
.ch-datePicker-content .ch-calendar thead {
	border: none;
}

.ch-datePicker-content .ch-calendar caption {
	border-bottom: 1px solid #DFDFDF;
	margin: 0;
}

.ch-datePicker-content .ch-calendar-prev span,
.ch-datePicker-content .ch-calendar-next span {
	margin-top: 10px;
}

.ch-datePicker-content .ch-calendar-day:hover {
	background-color: #F5F5F5;
	color: #333;
	font-weight: normal;
	cursor:pointer;
}

.ch-datePicker-content .ch-calendar-day.ch-calendar-disabled:hover {
	background-color: white;
	color: #C6C6C6;
	cursor: not-allowed;
}

/* Cone */
/* Bottom */
/* ltlb, ctcb, rtrb */
.ch-datePicker.ch-points-ltlb .ch-datePicker-content:after,
.ch-datePicker.ch-points-ctcb .ch-datePicker-content:after,
.ch-datePicker.ch-points-rtrb .ch-datePicker-content:after {
	border-bottom-color: #F9F9F9;
}
.ch-datePicker.ch-points-ltlb .ch-datePicker-content:before,
.ch-datePicker.ch-points-ctcb .ch-datePicker-content:before,
.ch-datePicker.ch-points-rtrb .ch-datePicker-content:before {
	border-bottom-color: #CCCCCC;
}

/* Top */
/* lblt, cbct, rbrt */
.ch-datePicker.ch-points-lblt .ch-datePicker-content:after,
.ch-datePicker.ch-points-cbct .ch-datePicker-content:after,
.ch-datePicker.ch-points-rbrt .ch-datePicker-content:after {
	border-top-color: #F9F9F9;
}
.ch-datePicker.ch-points-lblt .ch-datePicker-content:before,
.ch-datePicker.ch-points-cbct .ch-datePicker-content:before,
.ch-datePicker.ch-points-rbrt .ch-datePicker-content:before {
	border-top-color: #CCCCCC;
}

/* Right */
/* ltrt, lmrm, lbrb */
.ch-datePicker.ch-points-ltrt .ch-datePicker-content:after,
.ch-datePicker.ch-points-lmrm .ch-datePicker-content:after,
.ch-datePicker.ch-points-lbrb .ch-datePicker-content:after {
	border-right-color: #F9F9F9;
}
.ch-datePicker.ch-points-ltrt .ch-datePicker-content:before,
.ch-datePicker.ch-points-lmrm .ch-datePicker-content:before,
.ch-datePicker.ch-points-lbrb .ch-datePicker-content:before {
	border-right-color: #CCCCCC;
}

/* Left */
/* rtlt, rmlm, rblb */
.ch-datePicker.ch-points-rtlt .ch-datePicker-content:after,
.ch-datePicker.ch-points-rmlm .ch-datePicker-content:after,
.ch-datePicker.ch-points-rblb .ch-datePicker-content:after {
	border-left-color: #F9F9F9;
}

.ch-datePicker.ch-points-rtlt .ch-datePicker-content:before,
.ch-datePicker.ch-points-rmlm .ch-datePicker-content:before,
.ch-datePicker.ch-points-rblb .ch-datePicker-content:before {
	border-left-color: #CCCCCC;
}


.ie9 .ch-datePicker-trigger {
	line-height: 1.2em;
}

.lt-ie8 .ch-datePicker {
	width: 240px;
}

.lt-ie9 .ch-datePicker-cone:before {
	width: auto;
	height: auto;
}

.lt-ie8 .ch-datePicker-cone {
	background-image: url("../assets/cones.png");
	display: block;
	position: absolute;
	width: 16px;
	height: 8px;
}

.lt-ie8 .ch-points-ltlb .ch-datePicker-cone,
.lt-ie8 .ch-points-ctcb .ch-datePicker-cone,
.lt-ie8 .ch-points-rtrb .ch-datePicker-cone {
	top: -8px;
	background-position: 0 -16px;
}

.lt-ie8 .ch-points-lblt .ch-datePicker-cone,
.lt-ie8 .ch-points-cbct .ch-datePicker-cone,
.lt-ie8 .ch-points-rbrt .ch-datePicker-cone {
	bottom: -8px;
	background-position: 0 -24px;
}

.lt-ie8 .ch-points-ltlb .ch-datePicker-cone,
.lt-ie8 .ch-points-lblt .ch-datePicker-cone {
	left: 8px;
}

.lt-ie8 .ch-points-ctcb .ch-datePicker-cone,
.lt-ie8 .ch-points-cbct .ch-datePicker-cone {
	left: 50%;
	margin-left: -8px;
}

.lt-ie8 .ch-points-rtrb .ch-datePicker-cone,
.lt-ie8 .ch-points-rbrt .ch-datePicker-cone {
	right: 8px;
}

.lt-ie8 .ch-points-ltrt .ch-datePicker-cone,
.lt-ie8 .ch-points-lmrm .ch-datePicker-cone,
.lt-ie8 .ch-points-lbrb .ch-datePicker-cone,
.lt-ie8 .ch-points-rtlt .ch-datePicker-cone,
.lt-ie8 .ch-points-rmlm .ch-datePicker-cone,
.lt-ie8 .ch-points-rblb .ch-datePicker-cone {
	width: 8px;
	height: 16px;
}

.lt-ie8 .ch-points-ltrt .ch-datePicker-cone,
.lt-ie8 .ch-points-lmrm .ch-datePicker-cone,
.lt-ie8 .ch-points-lbrb .ch-datePicker-cone {
	left: -8px;
	background-position: 0 -16px;
}

.lt-ie8 .ch-points-rtlt .ch-datePicker-cone,
.lt-ie8 .ch-points-rmlm .ch-datePicker-cone,
.lt-ie8 .ch-points-rblb .ch-datePicker-cone {
	right: -8px;
	background-position: -8px -16px;
}

.lt-ie8 .ch-points-ltrt .ch-datePicker-cone,
.lt-ie8 .ch-points-rtlt .ch-datePicker-cone {
	top: 4px;
}

.lt-ie8 .ch-points-lmrm .ch-datePicker-cone,
.lt-ie8 .ch-points-rmlm .ch-datePicker-cone {
	top: 50%;
	margin-top: -8px;
}

.lt-ie8 .ch-points-lbrb .ch-datePicker-cone,
.lt-ie8 .ch-points-rblb .ch-datePicker-cone  {
	bottom: 4px;
}