/* Date Picker */
.ch-datePicker {
	background-image:none;
	position:absolute;
	z-index: 300;
	background-color: #fff;
	border: 1px solid #cecece;
	box-shadow: 2px 2px 1px #888!important;
	-webkit-box-shadow: 2px 2px 1px #888!important;
	min-width: 240px;
}

.ch-datePicker-trigger {
	background: transparent url('../assets/calendar.png') 0 0 no-repeat;
	display: inline-block;
	height: 20px;
	margin: 0 0 5px 5px;
	overflow: hidden;
	text-indent: 999px;
	vertical-align: middle;
	width: 20px;
}

.ch-datePicker-content .ch-calendar {
	display: block;
}

.ch-datePicker-content .ch-calendar caption,
.ch-datePicker-content .ch-calendar thead {
	border: none;
}

.ch-datePicker-content .ch-calendar caption {
	border-bottom: 1px solid #DFDFDF;
	margin: 0;
}

.ch-datePicker-content .ch-calendar-prev span,
.ch-datePicker-content .ch-calendar-next span {
	margin-top: 10px;
}

.ch-datePicker-content .ch-calendar-day:hover {
	background-color: #F5F5F5;
	color: #333;
	font-weight: normal;
	cursor:pointer;
}

.ch-datePicker-content .ch-calendar-day.ch-calendar-disabled:hover,
/* Deprecated */
.ch-datePicker-content .ch-calendar-day.ch-disabled:hover {
	background-color: white;
	color: #C6C6C6;
	cursor: not-allowed;
}

/* Cone */
.ch-datePicker-cone {
	display:block;
	position:absolute;
	width:16px;
	height:8px;
	left: 112px;
	top: -8px;
}

.ch-datePicker-cone:before {
	content: "";
	width: 12px;
	height: 12px;
	position: absolute;
	background-color: #FFFFFF;
	border: 1px solid #CECECE;
	-webkit-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
	top: 3px;
	left: 1px;
}

.ch-datePicker.ch-left .ch-datePicker-cone {
	left: 12px;
}

.ch-datePicker.ch-right .ch-datePicker-cone {
	height: 16px;
	width: 8px;
	left: -8px;
}

.ch-datePicker.ch-top .ch-datePicker-cone {
	background-position: 0 -8px;
	bottom: -8px;
	top: auto;
}

.ch-datePicker.ch-bottom .ch-datePicker-cone {
	height: 8px;
	width: 16px;
	top: -8px;
}

.ch-datePicker.ch-right.ch-bottom .ch-datePicker-cone {
	right: 12px;
	left: auto;
	height: 8px;
	width: 16px;
}

.ch-datePicker.ch-right.ch-top .ch-datePicker-cone {
	height: 8px;
	width: 16px;
	right: 12px;
	left: auto;
}



/* IE7 */
.lt-ie8 .ch-datePicker-trigger,
.ie7 .ch-datePicker-trigger {
	display: inline;
	margin-bottom: 4px;
	vertical-align: text-bottom;
	zoom: 1;
}

.lt-ie8 .ch-datePicker,
.ie7 .ch-datePicker {
	width: 240px;
}

.lt-ie9 .ch-datePicker-cone {
	background-image: url('../assets/layer.png');
}


.lt-ie9 .ch-datePicker-cone:before {
	width: auto;
	height: auto;
}