.carousel li{
	width:120px;
	height:120px;
}

h1, h2, .article.demo, .header{
	margin-bottom:10px;
}

.article.demo{
	clear:left;
	overflow:hidden;
}

.section, .aside{
	float:left;
}

.section{
	width:60%;
	margin-right:1%;
}

.aside{
	width:39%;
}

.header{
	position:relative;
	border-bottom:1px solid #ccc;
	padding:5px 0;
}

.header h1{
	font-size:24px;
}

.header p{
	position:absolute;
	right:0;
	top:15px;
}

div ul.depend{list-style:square; margin-left:20px;}
div ul.depend li{margin:10px 0; display:block;}
code{font-size:13px;}
