/**
 *	Default Styles
 */

/* Container */
.ch-dropdown {
	position: relative;
	display: inline-block;
}

/* Trigger */
.ch-dropdown-trigger-primary,
.ch-dropdown-trigger-secondary {
	cursor:pointer;
	display:inline-block;
	padding:0 23px 0 10px;
	position:relative;
}

/* Trigger Down icon */
.ch-dropdown-trigger-primary .ch-down,
.ch-dropdown-trigger-secondary .ch-down {
	background-color: transparent;
	background-image: url('../src/assets/dropdown.png');
	display:block;
	width:7px;
	height:5px;
	text-indent:999px;
	overflow:hidden;
	position:absolute;
	right:9px;
}

/* Content */
.ch-dropdown-content-primary,
.ch-dropdown-content-secondary {
	background-color:#fff;
	min-width:120px;
	position:absolute;
	white-space:nowrap;
	display:none;
	max-height:212px;
	overflow:auto;
}

/**
 *	Primary skin
 */

/* Trigger */
.ch-dropdown-trigger-primary {
	background-position:0 -435px;
	background-color:#C0DAEC;
	border:1px solid #79a8c7;
	color: #476274;
	height:23px;
	font-size:12px;
	line-height:24px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:5px;
}

/* Trigger Hover */
.ch-dropdown-trigger-primary:hover {
	background-position: 0 -460px;
}

/* Trigger Actived */
.ch-dropdown-trigger-primary.ch-dropdown-on {
	background-position: 0 -485px;
	border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
}

/* Trigger Down Icon */
.ch-dropdown-trigger-primary .ch-down {
	top:10px;
}

/* Content */
.ch-dropdown-content-primary {
	border:1px solid #79a8c7;
}

/* List of links */
.ch-dropdown-content-primary a {
	color:#000;
	text-decoration:none;
	display:block;
	height:25px;
	line-height:25px;
	padding:0 5px;
	margin:5px;
}

/* Interaction of list */
.ch-dropdown-content-primary li a:hover,
.ch-dropdown-content-primary li a:focus {
	background-color:#fefbd6;
	text-decoration:none;
}


/**
 *	Secondary skin
 */

/* Container */
.ch-dropdown.ch-secondary {
	height:13px;
	line-height:13px;
}

/* Trigger */
.ch-dropdown-trigger-secondary {
	background-color:#fff;
	background-image:none!important; /* Because sprite is in core.css, because Packer duplicate it */
	color:#0637B3;
	height:15px;
	text-decoration: none;
	border:1px solid #fff;
	border-width:0 1px;
}

/* Trigger Actived */
.ch-dropdown-trigger-secondary:active {
	color: #00D;
}

/* Container ON */
.ch-dropdown.ch-secondary.ch-dropdown-on {
	box-shadow: 2px 2px 1px #888;
	-moz-box-shadow: 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 1px #888;
}

/* Trigger ON */
.ch-dropdown-trigger-secondary.ch-dropdown-on {
	border-color:#ccc;
}

/* Trigger Hover */
.ch-dropdown-trigger-secondary:hover {
	text-decoration: underline;
}

/* Trigger Down Icon */
.ch-dropdown-trigger-secondary .ch-down {
	top:4px;
}

/* Content */
.ch-dropdown-content-secondary {
	border:1px solid #ccc;
	padding: 5px 30px 5px 10px;
	box-shadow: 2px 2px 1px #888;
	-moz-box-shadow: 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 1px #888;
}

/* List of links */
.ch-dropdown-content-secondary a {
	line-height:20px;
}


/* IE 6 */
.ie6 .ch-dropdown-content-primary {
	width:120px;
}


/* IE 7/8 */
.ie7 .ch-dropdown-trigger-primary,
.ie8 .ch-dropdown-trigger-primary {
	background-position:0 -436px;
}

.ie7 .ch-dropdown-trigger-primary.ch-dropdown-on {
	background-position: 0 -485px;
}

.ie8 .ch-dropdown-trigger-primary.ch-dropdown-on {
	background-position: 0 -486px;
}
