/* Wrapper */
.ch-dropdown,
.ch-dropdown-skin {
	display:inline-block;
}

/* Trigger */
.ch-dropdown-trigger {
	cursor: pointer;
	padding: 0 23px 0 10px;
	position: relative;
	display:inline-block;
}

/* Trigger Down icon */
.ch-dropdown-trigger:after {
	content: " ";
	position: absolute;
	right: 8px;
	top: 10px;
	width: 0;
	height: 0;
	border: solid transparent;
	border-top-color: #333;
	border-width: 4px;
	margin-left: -4px;
}

/* Content */
.ch-dropdown-content {
	background-color: #fff;
	/*max-height: 215px;*/
	min-width: 120px;
	overflow: auto;
	white-space: nowrap;
	-webkit-box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);
	box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);
}

.ch-dropdown-content-hide {
	display: none;
}

/**
*	Primary skin
*/

/* Trigger */
.ch-dropdown-trigger {
	font-size: 12px;
	height: 23px;
	line-height: 24px;
}

/* Trigger Actived */
.ch-dropdown-trigger.ch-dropdown-trigger-on,
.ch-dropdown-trigger.ch-dropdown-trigger-on:hover {
	background-color: #C8E5F7;
	background-image: -o-linear-gradient(top, #8FB0C5, #A3C9E1 3%, #79B5DC);
	background-image: -ms-linear-gradient(top, #8FB0C5, #A3C9E1 3%, #79B5DC);
	background-image: -moz-linear-gradient(top, #8FB0C5,  #A3C9E1 3%, #79B5DC);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8FB0C5), color-stop(3%, #A3C9E1), color-stop(100%, #79B5DC));
	background-image: -webkit-linear-gradient(top, #8FB0C5, #A3C9E1 3%, #79B5DC);
	background-image: linear-gradient(top, #8FB0C5, #A3C9E1 3%, #79B5DC);
	-moz-box-shadow: inset 0px 1px rgba(143, 176, 196, 0.9);
	-webkit-box-shadow: inset 0px 1px rgba(143, 176, 196, 0.9);
	box-shadow: inset 0px 1px rgba(143, 176, 196, 0.9);
}

.lt-ie10 .ch-dropdown-trigger.ch-dropdown-trigger-on,
.lt-ie10 .ch-dropdown-trigger.ch-dropdown-trigger-on:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A3C9E1', endColorstr='#79B5DC');
}

.ch-dropdown-trigger-on.ch-points-ltlb,
.ch-dropdown-trigger-on.ch-points-rtrb {
	-o-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

.ch-dropdown-trigger-on.ch-points-lblt,
.ch-dropdown-trigger-on.ch-points-rbrt {
	-o-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

/* Content */
.ch-dropdown-content {
	border: 1px solid #79a8c7;
}

/* List of links */
.ch-dropdown-content li a {
	color: #000;
	display: block;
	height: 25px;
	line-height: 25px;
	margin: 5px;
	padding: 0 20px 0 5px;
	text-decoration: none;
}

/* Interaction of list */
.ch-dropdown-content li a:focus {
	background-color: #fefbd6;
}


/**
*	Skin
*/

/* Trigger */
.ch-dropdown-skin .ch-dropdown-trigger {
	background: #fff !important;
	border: 1px solid #fff;
	border-width: 0 1px;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #0637B3;
	font-size: 13px;
	height: 16px;
	line-height: 16px;
	text-decoration: none;
}

.ch-dropdown-skin .ch-dropdown-trigger:after {
	top: 6px;
}


.lt-ie10 .ch-dropdown-skin .ch-dropdown-trigger,
.lt-ie10 .ch-dropdown-skin .ch-dropdown-trigger-on,
.lt-ie10 .ch-dropdown-skin .ch-dropdown-trigger-on:hover {
	filter: none;
}

/* Trigger Actived */
.ch-dropdown-skin .ch-dropdown-trigger:active {
	color: #00D;
}

/* Trigger ON */
.ch-dropdown-skin .ch-dropdown-trigger.ch-dropdown-trigger-on {
	border-color: #ccc;
	border-width: 0 1px;
	-webkit-box-shadow: 2px 0 0 rgba(100, 100, 100, .1);
	box-shadow: 2px 0 0 rgba(100, 100, 100, .1);
	-o-border-radius: 0;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.ch-dropdown-skin .ch-dropdown-trigger.ch-btn-skin:active {
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Trigger Hover */
.ch-dropdown-skin .ch-dropdown-trigger:hover {
	text-decoration: underline;
}

/* Content */
.ch-dropdown-skin .ch-dropdown-content {
	border: 1px solid #ccc;
	-webkit-box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);
	box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);
	padding: 5px 30px 5px 10px;
}

/* List of links */
.ch-dropdown-skin .ch-dropdown-content li {
	list-style: none;	
}

.ch-dropdown-skin .ch-dropdown-content a {
	background: none;
	color: #0637B3;
	display: inline;
	line-height: 20px;
	margin: 0;
	padding: 0;
}

/* Interaction of list */
.ch-dropdown-skin .ch-dropdown-content a:focus {
	background: none;
	text-decoration: underline;
}


.lt-ie8 .ch-dropdown {
	display: inline;
	zoom: 1;
}

.lt-ie7 .ch-dropdown-trigger .ch-dropdown-ico {
	top: 12px;
}

/* IE 7 */
.lt-ie8 .ch-dropdown-trigger {
	display: inline;
	zoom: 1;
	padding: 0 25px 0 10px;
	line-height: 20px;
	margin: 0 5px;
}

.ie7 .ch-dropdown-skin .ch-dropdown-trigger {
	line-height: 1em;
	padding-top: 0;
	padding-bottom: 0;
}


.lt-ie8 .ch-dropdown-trigger .ch-dropdown-ico {
	background: transparent url('../assets/lt-ie8-shapes.png') 0 -51px no-repeat;
	display: block;
	height: 4px;
	position: absolute;
	right: 9px;
	top: 10px;
	width: 7px;
	text-indent: 7px;
	overflow: hidden;
}

.lt-ie8 .ch-dropdown-skin .ch-dropdown-ico {
	top: 6px;
}