.dropdown{position: relative;}

.dropdown .uiTrigger, .dropdown .uiTrigger:hover, .dropdown .uiTrigger.on, .dropdown .uiTrigger.on:hover{ /* sprite para backgrounds */
	background-image:url('http://10.100.34.210/content/assets/spr.png');
	background-repeat: repeat-x;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.dropdown .uiTrigger {
	display:inline-block;
	cursor:pointer;
	height:19px;
	line-height:19px;
	padding:0px 26px 0px 7px;
	z-index:700;
	background-color:#cfe3f0;
	background-position:0 -271px;
	border:1px solid #79A8C7;
	position:relative;
}

.dropdown .uiTrigger:hover{
	background-position: 0 -296px;
}


.dropdown .uiTrigger.on, .dropdown .uiTrigger.on:hover{
	background-position: 0 -321px;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}

.dropdown .uiTrigger.on .uiContent {
	z-index:900;
}

.dropdown .uiContent {
	background-color:#fff;
	border:1px solid #74B5C5;
	line-height:18px;
	min-width:120px;
	padding:10px;
	position:absolute;
	top:20px;
	white-space:nowrap;
	z-index:800;
	display:none;
}

.dropdown .uiTrigger .ico.down, .dropdown .uiTrigger.on .ico.down {
	position:absolute;
	right:5px;
	top:3px;
	vertical-align:bottom;
}
.dropdown .uiTrigger .ico.down {
	background:transparent url('http://10.100.34.210/content/assets/spr.png') 0px -460px no-repeat;
}

.dropdown ul.uiContent {
	padding:0;
}

.dropdown ul.uiContent li {
	display:block;
	margin: 5px;
}
.dropdown ul.uiContent li a {
	color:#000;
	text-decoration:none;
	display:block;
	height:25px;
	line-height:25px;
	padding:0 5px;
}
.dropdown ul.uiContent li a:hover,.dropdown ul.uiContent li a:focus {
	background-color:#fefbd6;
}