.ch-dropdown {
	position: relative;
}

.ch-dropdown-trigger,
.ch-dropdown-trigger:hover,
.ch-dropdown-trigger.on,
.ch-dropdown-trigger.on:hover { /* sprite para backgrounds */
	background-image: url('../src/assets/base.png');
	background-repeat: repeat-x;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

h4{ font-size: 14px;
font-weight: bold;
margin-bottom: 10px;}

.ch-dropdown .ch-dropdown-trigger {
	background-color:#cfe3f0;
	background-position:0 -435px;
	border:1px solid #79A8C7;
	cursor:pointer;
	display:inline-block;
	font-size:13px;
	font-weight:normal;
	height:19px;
	line-height:19px;
	margin:0;
	padding:0px 21px 0px 7px;
	position:relative;
}

.ch-dropdown-trigger:hover {
	background-position: 0 -460px;
}

.ch-dropdown-trigger.on,
.ch-dropdown-trigger.on:hover {
	background-position: 0 -485px;
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
}

/*.ch-dropdown-trigger.on .ch-dropdown-content {
	z-index:900;
}*/

.ch-dropdown-content {
	background-color:#fff;
	border:1px solid #74B5C5;
	line-height:18px;
	min-width:120px;
	padding:10px;
	position:absolute;
	top:20px;
	white-space:nowrap;
	z-index:100;
	display:none;
}

.ch-dropdown-trigger .down,
.ch-dropdown-trigger.on .down {
	background-color: transparent;
	background-image: url('../src/assets/dropdown.png')
	background-position: 0 0 no-repeat;
	display:block;
	width:7px;
	height:5px;
	position:absolute;
	right:7px;
	top:7px;
	line-height:5px;
	text-indent:-9999px;
}

ul.ch-dropdown-content {
	padding:0;
}

ul.ch-dropdown-content li {
	display:block;
	margin: 5px;
}

ul.ch-dropdown-content li a {
	color:#000;
	text-decoration:none;
	display:block;
	height:25px;
	line-height:25px;
	padding:0 5px;
}

ul.ch-dropdown-content li a:hover,
ul.ch-dropdown-content li a:focus {
	background-color:#fefbd6;
}

/* IE 6 */
.ie6 .ch-dropdown {
	z-index:100;
}

.ie6 .ch-dropdown-trigger {
	display:inline;
}

.ie6 .ch-dropdown,
.ie6 .ch-dropdown-content {
	width:0;
}

/* IE 7 */
.ie7 .ch-dropdown{
	z-index:100;
}

.ie7 .ch-dropdown-content{
	width:0;
	left:0;
}
