.ui-editInPlace{
	display:inline;
	position:relative;
	z-index:1;
}
.ui-editInPlace-trigger{
	cursor:pointer;
	border:1px dotted #333;
}

.ui-editInPlace-content{
	background-color:#fff;
	position:absolute;
	top:-5px;
	left:-4px;
}

.ui-editInPlace-trigger.on{
	border-color:'#fff';
}