.ch-expando .ch-expando-trigger{
	padding-left:16px;
	height:13px;
	color:#0637B3;
	cursor:pointer;
	background-image: url('../src/assets/expando.png');
	background-position: 0 2px;
	background-repeat:no-repeat;
}

.ch-expando .ch-expando-trigger:active {
	color: #00D;
}

.ch-expando .ch-expando-trigger:visited{
	color:#800080;
}

.ch-expando .ch-expando-trigger:hover {
	text-decoration: underline;
	background-position: 0 -15px;
}

.ch-expando .ch-expando-trigger.ch-expando-on{
	background-position: 0 -31px;
}

.ch-expando .ch-expando-content{
	display:none;
	margin:5px 0 0 16px;
}

/* IE 6 */
.ie6 .ch-expando .ch-expando-trigger{
	font-size:13px;
	text-decoration: underline;
}

/* IE 7 */
.ie7 .ch-expando .ch-expando-trigger{
	font-size:13px;
}
