/*.ch-cone [class^="ch-"][class$="-content"] {
	background: red !important;
}*/

.ch-cone [class^="ch-"][class$="-content"]:after,
.ch-cone [class^="ch-"][class$="-content"]:before {
	/* border transparent bug on FF: http://stackoverflow.com/a/6225439 */
	border: outset transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	display: block;
}

.ch-cone [class^="ch-"][class$="-content"]:after {
	border-width: 8px;
}

.ch-cone [class^="ch-"][class$="-content"]:before {
	border-width: 9px;
}

.ch-cone.ch-points-ctcb [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-cbct [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-ctcb [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-cbct [class^="ch-"][class$="-content"]:before {
	left: 50%;
}

.ch-cone.ch-points-lmrm [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-rmlm [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-lmrm [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-rmlm [class^="ch-"][class$="-content"]:before {
	top: 50%;
}

.ch-cone.ch-points-ctcb [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-ctcb [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-ltlb [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-ltlb [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-rtrb [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-rtrb [class^="ch-"][class$="-content"]:before {
	bottom: 100%;
	border-bottom-style: solid;
}

.ch-cone.ch-points-cbct [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-cbct [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-lblt [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-lblt [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-rbrt [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-rbrt [class^="ch-"][class$="-content"]:before {
	top: 100%;
	border-top-style: solid;
}

.ch-cone.ch-points-lmrm [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-lmrm [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-ltrt [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-ltrt [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-lbrb [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-lbrb [class^="ch-"][class$="-content"]:before {
	right: 100%;
	border-right-style: solid;
}

.ch-cone.ch-points-rmlm [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-rmlm [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-rtlt [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-rtlt [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-rblb [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-rblb [class^="ch-"][class$="-content"]:before {
	left: 100%;
	border-left-style: solid;
}

.ch-cone.ch-points-ltlb [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-lblt [class^="ch-"][class$="-content"]:after {
	left: 8px;
}

.ch-cone.ch-points-ltlb [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-lblt [class^="ch-"][class$="-content"]:before {
	left: 7px;
}

.ch-cone.ch-points-rtrb [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-rbrt [class^="ch-"][class$="-content"]:after {
	right: 8px;
}

.ch-cone.ch-points-rtrb [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-rbrt [class^="ch-"][class$="-content"]:before {
	right: 7px;
}

.ch-cone.ch-points-ltrt [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-rtlt [class^="ch-"][class$="-content"]:after {
	top: 4px;
}

.ch-cone.ch-points-ltrt [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-rtlt [class^="ch-"][class$="-content"]:before {
	top: 3px;
}

.ch-cone.ch-points-lbrb [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-rblb [class^="ch-"][class$="-content"]:after {
	bottom: 4px;
}

.ch-cone.ch-points-lbrb [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-rblb [class^="ch-"][class$="-content"]:before {
	bottom: 3px;
}

.ch-cone.ch-points-ctcb [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-cbct [class^="ch-"][class$="-content"]:after {
	margin-left: -8px;
}

.ch-cone.ch-points-lmrm [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-rmlm [class^="ch-"][class$="-content"]:after {
	margin-top: -8px;
}

.ch-cone.ch-points-ctcb [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-cbct [class^="ch-"][class$="-content"]:before {
	margin-left: -9px;
}

.ch-cone.ch-points-lmrm [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-rmlm [class^="ch-"][class$="-content"]:before {
	margin-top: -9px;
}