.ch-cone:after,
.ch-cone:before {
	/* border transparent bug on FF: http://stackoverflow.com/a/6225439 */
	border: outset transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	display: block;
}

.ch-cone:after {
	border-width: 8px;
}

.ch-cone:before {
	border-width: 9px;
}

.ch-cone.ch-points-ctcb:after,
.ch-cone.ch-points-cbct:after,
.ch-cone.ch-points-ctcb:before,
.ch-cone.ch-points-cbct:before {
	left: 50%;
}

.ch-cone.ch-points-lmrm:after,
.ch-cone.ch-points-rmlm:after,
.ch-cone.ch-points-lmrm:before,
.ch-cone.ch-points-rmlm:before {
	top: 50%;
}

.ch-cone.ch-points-ctcb:after,
.ch-cone.ch-points-ctcb:before,
.ch-cone.ch-points-ltlb:after,
.ch-cone.ch-points-ltlb:before,
.ch-cone.ch-points-rtrb:after,
.ch-cone.ch-points-rtrb:before {
	bottom: 100%;
	border-bottom-style: solid;
}

.ch-cone.ch-points-cbct:after,
.ch-cone.ch-points-cbct:before,
.ch-cone.ch-points-lblt:after,
.ch-cone.ch-points-lblt:before,
.ch-cone.ch-points-rbrt:after,
.ch-cone.ch-points-rbrt:before {
	top: 100%;
	border-top-style: solid;
}

.ch-cone.ch-points-lmrm:after,
.ch-cone.ch-points-lmrm:before,
.ch-cone.ch-points-ltrt:after,
.ch-cone.ch-points-ltrt:before,
.ch-cone.ch-points-lbrb:after,
.ch-cone.ch-points-lbrb:before {
	right: 100%;
	border-right-style: solid;
}

.ch-cone.ch-points-rmlm:after,
.ch-cone.ch-points-rmlm:before,
.ch-cone.ch-points-rtlt:after,
.ch-cone.ch-points-rtlt:before,
.ch-cone.ch-points-rblb:after,
.ch-cone.ch-points-rblb:before {
	left: 100%;
	border-left-style: solid;
}

.ch-cone.ch-points-ltlb:after,
.ch-cone.ch-points-lblt:after {
	left: 8px;
}

.ch-cone.ch-points-ltlb:before,
.ch-cone.ch-points-lblt:before {
	left: 7px;
}

.ch-cone.ch-points-rtrb:after,
.ch-cone.ch-points-rbrt:after {
	right: 8px;
}

.ch-cone.ch-points-rtrb:before,
.ch-cone.ch-points-rbrt:before {
	right: 7px;
}

.ch-cone.ch-points-ltrt:after,
.ch-cone.ch-points-rtlt:after {
	top: 4px;
}

.ch-cone.ch-points-ltrt:before,
.ch-cone.ch-points-rtlt:before {
	top: 3px;
}

.ch-cone.ch-points-lbrb:after,
.ch-cone.ch-points-rblb:after {
	bottom: 4px;
}

.ch-cone.ch-points-lbrb:before,
.ch-cone.ch-points-rblb:before {
	bottom: 3px;
}

.ch-cone.ch-points-ctcb:after,
.ch-cone.ch-points-cbct:after {
	margin-left: -8px;
}

.ch-cone.ch-points-lmrm:after,
.ch-cone.ch-points-rmlm:after {
	margin-top: -8px;
}

.ch-cone.ch-points-ctcb:before,
.ch-cone.ch-points-cbct:before {
	margin-left: -9px;
}

.ch-cone.ch-points-lmrm:before,
.ch-cone.ch-points-rmlm:before {
	margin-top: -9px;
}