/*
 * Grids
 * @autor: Natalia Devalle
 * @mod: 11/01/11
 *
 */
 
/* about class names: 1-2 = 1/2 = 50% */
 
.ch-g1, 
.ch-g7-8,
.ch-g5-6,
.ch-g4-5,
.ch-g3-4, .ch-g6-8,
.ch-g2-3, .ch-g4-6,
.ch-g5-8,
.ch-g3-5,
.ch-g1-2, .ch-g2-4, .ch-g3-6, .ch-g4-8,
.ch-g2-5,
.ch-g1-3e,
.ch-g3-8,
.ch-g1-3, .ch-g2-6,
.ch-g1-4, .ch-g2-8,
.ch-g1-5,
.ch-g1-6e,
.ch-g1-6,
.ch-g1-8 {
	float:left; 
	vertical-align: top;
}

.ch-g1 { width:100%;} 
.ch-g7-8 {width: 87.5%;}
.ch-g5-6 {width: 83.3%;}
.ch-g4-5 {width: 80%;}
.ch-g3-4, .ch-g6-8 { width:75%; }
.ch-g2-3, .ch-g4-6 { width:66.67%;}
.ch-g5-8 {width: 62.5%;}
.ch-g3-5 {width: 60%;}
.ch-g1-2, .ch-g2-4, .ch-g3-6, ch-g4-8 { width:50%;} 
.ch-g2-5 {width: 40%;}
.ch-g1-3e { width:33.34%; } /* Rounding - TODO: define better class name*/
.ch-g3-8 {width: 37.5%;}
.ch-g1-3, .ch-g2-6 { width:33.33%; }
.ch-g1-4, ch-g2-8 { width:25%;}
.ch-g1-5 { width:20%;}
.ch-g1-6e { width:16.7%;}  /* Rounding - TODO: define better class name*/
.ch-g1-6 { width:16.66%;}
.ch-g1-8 { width:12.5%;}



/* gutters */

.rightcolumn {margin-left: 10px;}
.leftcolumn {margin-right: 10px;}
.centercolumn {margin-left: 10px; margin-right: 10px;}

