.ch-layer {
	min-width:280px;
	background-image:none;
	position:absolute;
	z-index: 300;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 3px 3px 3px #999;
	-webkit-box-shadow: 3px 3px 3px #999;
	-moz-box-shadow: 3px 3px 3px #999;
}

.ch-layer .close {
	top:5px;
	right:5px;
}

/* Cone */

.ch-layer .ch-cone {
	background-color: transparent;
	background-image: url('../src/assets/layer.png');
	background-position: 0 0 no-repeat;
	display:block;
	position:absolute;
}

.ch-layer.ch-down .ch-cone,
.ch-layer.ch-top .ch-cone {
	width:16px;
	height:8px;
	left:12px;
}

.ch-layer.ch-down .ch-cone {
	top:-8px;
}

.ch-layer.ch-top .ch-cone {
	background-position:0 -8px;
	bottom:-8px;
}

.ch-layer.ch-left .ch-cone,
.ch-layer.ch-right .ch-cone {
	width:8px;
	height:16px;
	top:8px;
}

.ch-layer.ch-left .ch-cone {
	background-position:-8px 0;
	right:-8px;
}

.ch-layer.ch-right .ch-cone {
	left:-8px;
}

.ch-layer.ch-down-right .ch-cone,
.ch-layer.ch-top-right .ch-cone {
	width:16px;
	height:8px;
	right:12px;
}

.ch-layer.ch-down-right .ch-cone {
	top:-8px;
}

.ch-layer.ch-top-right .ch-cone {
	background-position:0 -8px;
	bottom:-8px;
}

/* IE 6,7 */
.ie6 .ch-layer,
.ie7 .ch-layer {
	width:280px;
}