/* Menu */
.ch-menu {
	max-width:300px;
}

.ch-menu,
.ch-accordion {
	border-top:1px solid #ccc;
}

/* L1 and L2 items */
.ch-bellows-trigger,
.ch-menu .ch-expando-trigger,
.ch-accordion .ch-expando-trigger,
.ch-menu .ch-expando-content a {
	font-size:13px;
	height:26px;
	line-height:26px;
	cursor:pointer;
	text-decoration:none!important;
	color:#333!important;
	display:block;
	padding:0 5px;
}

/* L1 and L2 items hover */
.ch-bellows-trigger:hover,
.ch-menu .ch-expando-trigger:hover,
.ch-menu .ch-expando-content a:hover,
.ch-accordion .ch-expando-trigger:hover,
.ch-accordion .ch-expando-content a:hover {
	background-color:#FCF8D0;
}


/* L1 items */
.ch-bellows-trigger,
.ch-menu .ch-expando-trigger,
.ch-menu .ch-expando-content,
.ch-accordion .ch-expando-trigger,
.ch-accordion .ch-expando-content{
	border-bottom:1px solid #ccc;
	position:relative;
}

/* L1 items icon */
.ch-menu .ch-expando-trigger:after,
.ch-accordion .ch-expando-trigger:after {
	top: 2px;
	right: 5px;
	left: auto;
}

/* L2 items list */
.ch-menu .ch-expando-content,
.ch-accordion .ch-expando-content {
	margin:0;
}

/* L2 items */
.ch-menu .ch-expando-content a {
	padding-left: 20px;
}

/* Selected child */
.ch-menu-on {
	font-weight:bold;
}

/* IE */
.ie7 .ch-menu .ch-expando {
	line-height:0;
}

.lt-ie8 .ch-menu .ch-expando-trigger .ch-expando-ico,
.lt-ie8 .ch-accordion .ch-expando-trigger .ch-expando-ico {
	right:5px;
	top:7px;
	left:auto;
}

.lt-ie8 .ch-menu .ch-expando-trigger-on .ch-expando-ico,
.lt-ie8 .ch-accordion .ch-expando-trigger-on .ch-expando-ico {
	top:6px;
}

/* L2 items list */
.ch-menu .ch-expando-content,
.ch-accordion .ch-expando-content{
	margin:0;
}

/* L2 items */
.ch-menu .ch-expando-content a {
	padding-left:20px;
}
