/* Menu */
.ch-menu {
	max-width: 300px;
}

.ch-menu,
.ch-accordion {
	-webkit-box-shadow: 0px 2px 2px rgba(100, 100, 100, .1);
	box-shadow: 0px 2px 2px rgba(100, 100, 100, .1);
}

.ch-menu .ch-expando,
.ch-accordion .ch-expando {
	margin: 5px 0;
}

/* L1 and L2 items */
.ch-bellows-trigger,
.ch-menu .ch-expando-trigger,
.ch-accordion .ch-expando-trigger,
.ch-menu .ch-expando-content a {
	cursor: pointer;
	text-decoration: none!important;
	color: #333!important;
	display: block;
	padding: 5px 10px;
}

/* L1 and L2 items hover */
.ch-bellows-trigger:hover,
.ch-menu .ch-expando-trigger:hover,
.ch-menu .ch-expando-content a:hover,
.ch-accordion .ch-expando-trigger:hover,
.ch-accordion .ch-expando-content a:hover {
	background-color: #FDF9D5;
	border-radius: 5px;
}


/* L1 items */
.ch-bellows-trigger,
.ch-menu .ch-expando-trigger,
.ch-menu .ch-expando-content,
.ch-accordion .ch-expando-trigger,
.ch-accordion .ch-expando-content {
	position: relative;
}

/* L1 items icon */
.ch-menu .ch-expando-trigger:after,
.ch-accordion .ch-expando-trigger:after {
	top: 50%;
	margin-top: -8px;
	right: 10px;
	left: auto;
}

/* L2 items list */
.ch-menu .ch-expando-content,
.ch-accordion .ch-expando-content {
	margin: 0;
}

/* L2 items */
.ch-menu .ch-expando-content a {
	padding-left: 20px;
}

/* Selected child */
.ch-accordion .ch-expando-trigger-on,
.ch-menu .ch-expando-trigger-on {
	background-color: #F7F7F7;
	border-radius: 5px;
}

/* IE */
.lt-ie8 .ch-menu .ch-expando-trigger .ch-expando-ico,
.lt-ie8 .ch-accordion .ch-expando-trigger .ch-expando-ico {
	right: 5px;
	top: 8px;
	left: auto;
}

.lt-ie8 .ch-menu .ch-expando-trigger-on .ch-expando-ico,
.lt-ie8 .ch-accordion .ch-expando-trigger-on .ch-expando-ico {
	top: 10px;
}

/* L2 items list */
.ch-menu .ch-expando-content,
.ch-accordion .ch-expando-content{
	margin: 0;
}

/* L2 items */
.ch-menu .ch-expando-content a {
	padding-left: 20px;
}
