.ch-dimmer {
	background-color:rgba(0,0,0,.5);
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
}

.ch-transition p {
    text-align: center;
}

.ch-modal, .ch-transition {
	background-color: #fff;
	position:absolute;
	overflow:auto;
	width:500px;
	box-shadow: 3px 3px 3px #595959;
	-webkit-box-shadow: 3px 3px 3px #595959;
	-moz-box-shadow: 3px 3px 3px #595959;
}

.ch-modal h2 {
    font:20px "Trebuchet MS", Verdana, "DejaVu Sans", sans-serif;
	border-bottom:1px solid #ccc;
	padding-bottom:5px;
	margin-bottom:10px;
}

/* IE6 */
.ie6 .ch-dimmer {
	filter:alpha(opacity=50) !important;
	background-color:#000000;
	width:105.2%;
	position:absolute;
	top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop : document.body.scrollTop);
}


* html.ie6  div.ch-modal, div.ch-transition {
	z-index:150;
}

/* IE 7,8 */
.ie7 .ch-dimmer, 
.ie8 .ch-dimmer {
	background-color:#000;
	filter: alpha(opacity=50) !important;
}