/*
 * Modal Window
 * @autor: Guillermo Paz
 * @autor: Natan Santolo
 * @mod: 14/10/2010
 *
 */


.dimmer {
	background-color:rgba(0,0,0,.5);
	display:none;
	height:100%;
	left:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:100;
}

.uiModal {
	background-color: #fff;
	display:none;
	position:fixed;
	width:500px;
	z-index:200;
	box-shadow: 3px 3px 3px #595959;
   -webkit-box-shadow: 3px 3px 3px #595959;
   -moz-box-shadow: 3px 3px 3px #595959;
}

.uiModal .content {
	overflow:auto;
}

.uiModal h2 {
    font:20px "Trebuchet MS", Verdana, "DejaVu Sans", sans-serif;
	border-bottom:1px solid #cccccc;
	padding-bottom:5px;
	margin-bottom:10px;
}

.uiModal .content {
	overflow:auto;
}

/* IE6 */
.ie6 .dimmer{
	filter:alpha(opacity=50) !important;
	background-color:#000000;
	width:105.2%;
}

html .ie6  div.dimmer{
	position:absolute;
	top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop : document.body.scrollTop);
}

.ie6 .uiModal{
	position:absolute;
}

* html .ie6  div.uiModal{
	position: absolute;
	top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop +((documentElement.clientHeight-this.clientHeight)/2 ) : document.body.scrollTop +((document.body.clientHeight-this.clientHeight)/2));
}

/* IE 7 */
.ie7 .dimmer, .ie8 .dimmer{
	background-color:#000;
	filter: alpha(opacity=50) !important;
}
