.ch-dimmer {
	background-color:rgba(0,0,0,.5);
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
}

.ch-transition p {
    text-align: center;
}


.ch-modal, .ch-transition {
	background-color: #fff;
	background-image: none;
	overflow:auto;
	width:500px;
	-webkit-box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);
	box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);
}


.ch-modal h2 {
    font:20px "Trebuchet MS", Verdana, "DejaVu Sans", sans-serif;
	border-bottom:1px solid #ccc;
	padding-bottom:5px;
	margin-bottom:10px;
}

/* IE6 */
.lt-ie7 .ch-dimmer,
/* Deprecate */
.ie6 .ch-dimmer {
	filter:alpha(opacity=50) !important;
	background-color:#000000;
	width:150%;
}


* html.ie6  div.ch-modal, div.ch-transition {
	z-index:150;
}

/* IE 7,8 */
.ie7 .ch-dimmer, 
.ie8 .ch-dimmer {
	background-color:#000;
	filter: alpha(opacity=50) !important;
}