.uiTabNavigator {
	margin:10px 0;
}

.uiTabNavigator ul {
	position:relative;
	top:1px;
	z-index:10;
	margin-left:10px;
}

.uiTabNavigator.vertical ul {
	position:relative;
	float:left;
	z-index:1;
	margin-top:10px;
}

.uiTabNavigator > ul li {
	cursor:pointer;
	margin-right:0;
	display:inline-block;
}

.uiTabNavigator .uiTrigger {
	border:1px solid #AFAFAF;
	display:inline-block;
	padding:3px 12px;
	text-decoration:none !important;
	color:#333333 !important;
	background-color:#fff;
}

.uiTabNavigator .uiTrigger {
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
}	

.uiTabNavigator.vertical .uiTrigger {
	-moz-border-radius:5px 0 0 5px;
	width:75px;
	margin-bottom:5px;
}

.uiTabNavigator .uiTrigger.on {
	font-weight:bold;
	cursor:default;
	background-position:0 -663px;
	background-image:url('http://10.100.34.210/content/assets/spr.png');
	background-repeat:repeat-x;		
		
}

.uiTabNavigator .uiTrigger.on {
	border-bottom:1px solid #FFFFFF;				
}

.uiTabNavigator.vertical .uiTrigger.on {
	border-right:1px solid #FFFFFF;				
}

.uiTabNavigator .box{
 	background-image:none;
 	border-radius:0;
 	-moz-border-radius:0;
	-webkit-border-radius:0;
}

.uiTabNavigator.vertical .uiContent{
 	padding-left:100px;
}

/* IE 6 */
.ie6 .uiTabNavigator ul li{
	display:inline;
	margin:0 2px;
}

/* IE 7 */
.ie7 .uiTabNavigator ul{
	position:relative;
	top:1px;
}

.ie7 .uiTabNavigator ul li{
	display:inline;
	margin:0 2px;
}

.ie7 .box .uiTabNavigator ul{
	top:1px;
}
