/* TabNavigator container */
.ch-tabNavigator {
	margin:10px 0;
}

											.ch-tabNavigator.ch-tab-vertical {
												position:relative;
											}

/* Triggers container */
.ch-tabNavigator .ch-tabNavigator-triggers {
	position:relative;
	top:1px;
	z-index:10;
	margin-left:10px;
	overflow:hidden;
}

											.ch-tabNavigator.ch-tab-vertical .ch-tabNavigator-triggers {
												margin-left:0;
												position:absolute;
												top:0;
												left:0;
												width:123px;
												z-index:10;
											}

.ch-tabNavigator-triggers li{
	cursor:pointer;
	/*margin-right:5px;
	float:left;*/
	display:inline;
	margin-right:0;
}

										.ch-tab-vertical .ch-tabNavigator-triggers li{
											cursor:pointer;
											display:block;
											margin:0 0 5px 0;
										}

/* Triggers */
.ch-tab-trigger {
	border:1px solid #ccc;
	display:inline-block;
	padding:3px 12px;
	margin-right:2px;
	text-decoration:none !important;
	color:#333333 !important;
	background-color:#fff;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}

										.ch-tab-vertical .ch-tab-trigger {
											-moz-border-radius:5px 0 0 5px;
											-webkit-border-radius:5px 0 0 5px;
											border-radius:5px 0 0 5px;
											display:block;
											padding:7px 12px 6px 12px;
											
										}
										
										.ch-tab-vertical li:first-child .ch-tab-trigger {
										}

/* Hover and active */
.ch-tab-trigger:hover,
.ch-tab-trigger:active {
	background-color: #dedede;
}

/* Vertical trigger */

/* Trigger ON */
.ch-tabNavigator .ch-tab-trigger-on,
.ch-tabNavigator .ch-tab-trigger-on:hover {
	background-image: -webkit-linear-gradient(#F0F0F0, #FFFFFF 25px);
	background-image: -moz-linear-gradient(#F0F0F0, #FFFFFF 25px);
	background-image: -o-linear-gradient(#F0F0F0, #FFFFFF 25px);
	background-image: linear-gradient(#F0F0F0, #FFFFFF 25px);
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.75);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.75);
	border-bottom: 1px solid #FFFFFF;
	cursor:default;
	font-weight: bold;
	text-shadow: 2px 0 2px rgba(255, 255, 255, .5);
}

.lt-ie10 .ch-tabNavigator .ch-tab-trigger-on,
.lt-ie10 .ch-tabNavigator .ch-tab-trigger-on:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#FFFFFF');
}

								.lt-ie10 .ch-tabNavigator.ch-tab-vertical .ch-tab-trigger-on,
								.lt-ie10 .ch-tabNavigator.ch-tab-vertical .ch-tab-trigger-on:hover {
									filter: none;
								}

								.ch-tabNavigator.ch-tab-vertical .ch-tab-trigger-on {
									border:1px solid #cccccc;
									border-right:1px solid #ffffff;
									background:none;
								}
								
								.ch-tabNavigator.ch-tab-vertical .ch-tab-trigger-on:hover,
								.ch-tabNavigator.ch-tab-vertical .ch-tab-trigger-on:active{
									background-color:#ffffff;
								}

/* content */
.ch-tabNavigator .ch-box {
 	background-image:none;
 	border-radius:0;
 	-moz-border-radius:0;
	-webkit-border-radius:0;
}

								.ch-tabNavigator.ch-tab-vertical .ch-tabNavigator-content {
									margin-left:120px;
									min-height:120px;
								}




.lt-ie10 .ch-tabNavigator .ch-box {
	filter: none;
}





.no-js .ch-tabNavigator-triggers {
	top:0;
	border:1px solid #CCCCCC;
	border-bottom:none;
	margin:0;
	padding-left:10px;
	background:#f9f9f9;
	
}

.no-js .ch-tabNavigator-triggers li {
	display:list-item;
	list-style-type:square;
	margin-left:16px;
	margin-right:16px;
	cursor:default;
}

.no-js .ch-tab-trigger {
	border:none;
	border-radius:0;
	padding:0 12px 0 2px;
	display:inline;
	color:#0637B3 !important;
	background:transparent;
}

.no-js .ch-tab-trigger:hover {
	background:transparent;
	text-decoration:underline !important;
}


.no-js .ch-tab-trigger-on {
	background:t ransparent;
	font-weight:normal;
}

.no-js .ch-tabNavigator .ch-box > div {
	border-top:1px solid #CCCCCC;
	margin-top:10px;
	padding-top:10px;
}

.no-js .ch-tabNavigator .ch-box > div:first-child {
	border-top:none;
	margin-top:0;
	padding-top:0;
}