.uiTooltip {
	font-size:11px;
	background-color:#faf5c8;
	border:1px solid #a0a082;
	position:absolute;
	padding:0 5px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	box-shadow:-2px 2px 3px #ccc;
	-moz-box-shadow:-2px 2px 3px #ccc;
	-webkit-box-shadow:-2px 2px 3px #ccc;
	z-index:300;
}

.uiTooltip .cone {
	background-image: url('http://10.100.34.210:8080/content/assets/cone.png');
}
