.uiTooltip {
	position:relative;
	display:inline-block;	
}

.uiTooltip .uiContent {
	font-size:11px;
	background-color:#faf5c8;
	border:1px solid #a0a082;
	position:absolute;
	padding:0 5px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	box-shadow:-2px 2px 3px #ccc;
	-moz-box-shadow:-2px 2px 3px #ccc;
	-webkit-box-shadow:-2px 2px 3px #ccc;
}

/* Cone */

.uiTooltip .uiContent .cone {
	/*background: transparent url('../src/assets/tooltip.png') 0 0 no-repeat;*/
	background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAI5JREFUeNpi/P//PwMusHBhM1gyPr6WEacikAHY8IIFTf+/fz8GxiA2LnUENRMyhAmbs8PDXTBcChKDeQkZMBGjGZ8hTMRqxmUIEymasRnCCAocUjQjg5Ur92AGIqmACZRIQCaRYztILxMspZFiCEwzSiwQawiyZox0QMgQdM048wIpSZnizMRIaXYGCDAAnboRyA5sXiYAAAAASUVORK5CYII=') 0 0 no-repeat;
	display:block;
	position:absolute;
}

.uiTooltip .uiContent .cone.down,
.uiTooltip .uiContent .cone.top {
	width:16px;
	height:8px;
	left:12px;
}

.uiTooltip .uiContent .cone.down {
	top:-8px;
}

.uiTooltip .uiContent .cone.top {
	background-position:0 -8px;
	bottom:-8px;
}

.uiTooltip .uiContent .cone.left,
.uiTooltip .uiContent .cone.right {
	width:8px;
	height:16px;
	top:2px;
}

.uiTooltip .uiContent .cone.left {
	background-position:-8px 0;
	right:-8px;
}

.uiTooltip .uiContent .cone.right {
	left:-8px;
}

/* IE 6, 7 */
.ie6 .uiTooltip,
.ie7 .uiTooltip {
	display:inline !important;
	border:none;
	z-index:1;
}

.ie6 .uiTooltip .uiTrigger,
.ie7 .uiTooltip .uiTrigger {
	display:inline-block;
	border:none;
}
