.ui-helper,
.ui-validator {
	background-color:#fbd9db;
	border:1px solid #f7a9ae;
	color:#600;
	font-size:12px;
	padding:5px;
}

.ui-helper {
	display:inline-block;
	width:160px;
	position:absolute;
	z-index:300;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.ui-validator {
	margin-bottom:10px;
}

.ui-helper span {
	padding:0;
}

.ui-helper .ico.error,
.ui-validator .ico.error {
	float:left;
	margin:2px 5px 0 0;
}

/* Cone */

.ui-helper .cone {
	/*background: transparent url('../src/assets/helper.png') 0 0 no-repeat;*/
	background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIxJREFUeNpi/P//PwMu8GPVerAkR1ggIy41TPg0sxjoMoAwzCCiDYBphgF8hjAR0kzIECZiNOMzhIlYzbgMYSJFMzZDGL+vXEeSZmTw58Jl3NFILGACJRKQSeTYDtLLBEtppBgC04wSC8QagqwZIx0QMgRdM9aUiMsQbJpx5gV0Q3BpBqcDSrMzQIABAIOjaGXvpybEAAAAAElFTkSuQmCC') 0 0 no-repeat;
	display:block;
	position:absolute;
}

.ui-helper.down .cone,
.ui-helper.top .cone{
	width:16px;
	height:8px;
	left:8px;
}

.ui-helper.down .cone {
	top:-8px;
}

.ui-helper.top .cone {
	background-position:0 -8px;
	bottom:-8px;
}

.ui-helper.left .cone,
.ui-helper.right .cone {
	width:8px;
	height:16px;
	top:4px;
}

.ui-helper.left .cone {
	background-position:-8px 0;
	right:-8px;
}

.ui-helper.right .cone {
	left:-8px;
}

/* IE 6, 7 */
.ie6 .ui-helper,
.ie7 .ui-helper {
	z-index:1;
}