.ch-helper,
.ch-validator {
	background-color:#fbd9db;
	border:1px solid #f7a9ae;
	color:#600;
	font-size:12px;
	padding:5px;
}

.ch-helper {
	display:inline-block;
	width:160px;
	position:absolute;
	z-index:300;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.ch-validator {
	margin-bottom:10px;
}

.ch-helper span {
	padding:0;
}

.ch-helper .ico.error,
.ch-validator .ico.error {
	float:left;
	margin:2px 5px 0 0;
}

/* Cone */

.ch-helper .ch-cone {
	background-color: transparent;
	background-image: url('../src/assets/helper.png');
	background-position: 0 0 no-repeat;
	display:block;
	position:absolute;
}

.ch-helper.ch-down .ch-cone,
.ch-helper.ch-top .ch-cone{
	width:16px;
	height:8px;
	left:8px;
}

.ch-helper.ch-down .ch-cone {
	top:-8px;
}

.ch-helper.ch-top .ch-cone {
	background-position:0 -8px;
	bottom:-8px;
}

.ch-helper.ch-left .ch-cone,
.ch-helper.ch-right .cone {
	width:8px;
	height:16px;
	top:4px;
}

.ch-helper.ch-left .ch-cone {
	background-position:-8px 0;
	right:-8px;
}

.ch-helper.ch-right .ch-cone {
	left:-8px;
}

/* IE 6, 7 */
.ie6 .ch-helper,
.ie7 .ch-helper {
	z-index:1;
}
