.uiHelper, .uiValidator{
	background-color:#fbd9db;
	border:1px solid #f7a9ae;
	color:#600;
	font-size:12px;
	padding:5px;
}

.uiHelper{
	display:inline-block;
	max-width:220px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	position:absolute;
}

.uiValidator{
	margin-bottom:10px;
}

.uiHelper .cone.right{
	background-image:url('http://10.100.34.210:8080/content/assets/cone_validation_left.png');
	display:block;
	height:22px;
	left:-11px;
	position:absolute;
	top:0;
	width:11px;
}

.uiHelper .ico.error, .uiValidator .ico.error{
	float:left;
	margin:2px 5px 0 0;
}
