.ui-helper {
	display:inline-block;
	position:relative;
}

.ui-helper-content,
.ui-validator {
	background-color:#fbd9db;
	border:1px solid #f7a9ae;
	color:#600;
	font-size:12px;
	padding:5px;
}

.ui-helper-content {
	display:inline-block;
	width:160px;
	position:absolute;
	z-index:300;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.ui-validator {
	margin-bottom:10px;
}

.ui-helper-content span {
	padding:0;
}

.ui-helper-content .ico.error,
.ui-validator .ico.error {
	float:left;
	margin:2px 5px 0 0;
}

.ui-helper legend,
.ui-helper h4,
.ui-helper .options.ui-helper-trigger {
	display:inline;
}

/* Cone */

.ui-helper-content .cone {
	/*background: transparent url('../src/assets/helper.png') 0 0 no-repeat;*/
	background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIxJREFUeNpi/P//PwMu8GPVerAkR1ggIy41TPg0sxjoMoAwzCCiDYBphgF8hjAR0kzIECZiNOMzhIlYzbgMYSJFMzZDGL+vXEeSZmTw58Jl3NFILGACJRKQSeTYDtLLBEtppBgC04wSC8QagqwZIx0QMgRdM9aUiMsQbJpx5gV0Q3BpBqcDSrMzQIABAIOjaGXvpybEAAAAAElFTkSuQmCC') 0 0 no-repeat;
	display:block;
	position:absolute;
}

.ui-helper-content .cone.down,
.ui-helper-content .cone.top {
	width:16px;
	height:8px;
	left:8px;
}

.ui-helper-content .cone.down {
	top:-8px;
}

.ui-helper-content .cone.top {
	background-position:0 -8px;
	bottom:-8px;
}

.ui-helper-content .cone.left,
.ui-helper-content .cone.right {
	width:8px;
	height:16px;
	top:4px;
}

.ui-helper-content .cone.left {
	background-position:-8px 0;
	right:-8px;
}

.ui-helper-content .cone.right {
	left:-8px;
}

/* IE 6, 7 */
.ie6 .ui-helper,
.ie7 .ui-helper {
	display:inline !important;
	border:none;
	z-index:1;
}

.ie6 .ui-helper-trigger {
	display:inline !important;
	border:none;
}

/* IE 7 */
.ie7 .ui-helper-trigger {	
	position:relative;
	border:none;
}
