.ch-viewer{
	border:1px solid #CCCCCC;	
	overflow:hidden;
	position:relative;
	width:340px;
	height:380px;
}
.ch-lens{
 	background:red;
    height:41px;
    position:absolute;
    width:41px;
    cursor:pointer;
    display:none;
	background-image: url('../src/assets/viewer.png');
	background-repeat: no-repeat;
	background-position:-2px -1px;
	
}

.ch-viewer-modal{
	width:600px;
}
.ch-viewer-modal-content{
	margin:20px 0;
	height:500px;
}

.ch-viewer-modal .ch-carousel-content li{
	width:500px;
	height:500px;
}

.ch-viewer-modal .ch-carousel-content li a{
	width:500px;
	height:500px;
	cursor:default;
	display:block;
	text-align:center;
}

/*.ch-viewer-modal .ch-carousel-content li a img{
	position:absolute;
}*/


.ch-viewer-content{
	position:absolute;
}

.ch-viewer-content li{
	float:left;
	margin:0 10px;
}

.ch-viewer-content li a{
	display:block;
}

.ch-viewer-triggers{
	margin-top:330px;
}

.ch-viewer .ch-viewer-triggers li,
.ch-viewer-triggers a{
	width:40px;
	height:40px;
}

.ch-viewer-triggers a{
	display:block;
	border:1px solid #fff;
}

.ch-viewer-triggers a.on{
	border:1px solid #ccc;
}


/*
.ch-viewer .uiContent.uiCarousel .mask{
	margin:0;
}

.ch-viewer .uiContent.uiCarousel .carousel li{
	height:320px;
	width:320px;
}

.ch-viewer .uiTriggers.uiCarousel{
	border-top:1px solid #ccc;
	padding-top:10px;
	position:relative;
}

.ch-viewer .uiTriggers.uiCarousel .mask{
	margin:0 35px;
}


.ch-viewer .uiTriggers.uiCarousel .carousel li{
	height:42px;
	margin:0 5px;
	width:42px;
}

.ch-viewer .uiTriggers.uiCarousel .carousel li a{
	border:1px solid #FFFFFF;
	display:block;
	height:40px;
	width:40px;
}

.ch-viewer .uiTriggers.uiCarousel .carousel li a.on, .uiViewer .uiTriggers.uiCarousel .carousel li a:hover{
	border:1px solid #CCC;
}*/


