/* Anchor */
.ch-zoom-trigger {
	position:relative;
	overflow:hidden;
	display:block;
}

/* Seeker shape */
.ch-zoom-trigger .ch-seeker {
	border:1px solid #ccc;
	background:#eee;
	opacity:0.3;
	filter:alpha(opacity=30);
	position:absolute;
	cursor:crosshair;
}

/* Zoomed area */
.ch-zoom {
	border:1px solid #ccc;
	background-color:#fff;
}

/* Zoomed container */
.ch-zoom-content {
	overflow:hidden;
	position:relative;
	width:100%;
	height:100%;
}

/* Zoomed image */
.ch-zoom-content img {
	position:absolute;
}