.ch-autocomplete {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: $autocomplete-position;
}

.ch-autocomplete-item,
.ch-autocomplete-highlighted {
    margin: 0;
    padding: 3px 5px;
    cursor: pointer;
}

.ch-autocomplete-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ch-autocomplete-highlighted {
    background-color: $autocomplete-highlighted;
    border-radius: 5px;
}

.ch-autocomplete-loading {
    background: url('../assets/loading-small.gif') no-repeat right 10px center;
}
