/**
 * Boxes
 */
[class*='ch-box'] {
    -webkit-border-radius: 5px; /* Android 2.1 */
    border-radius: 5px;
    margin: $box-margin;
    padding: $box-padding;
}

.ch-box-lite,
.ch-box {
    border: 1px solid #dedede;
}

.ch-box-lite {
    background-color: $white;
}

/**
 * Message boxes
 */
.ch-box-icon {
    position: relative;
    padding-left: 32px;

    [class*='ch-icon-'] {
        position: absolute;
        top: 7px;
        left: 5px;
    }

}

/**
 * Warn
 */
.ch-icon-warning-sign {
    color: $box-font-color-warning;
}

.ch-box-warn {
    background-color: $box-bg-color-warning;
    color: #aa8749;
}


/**
 * Error
 */
.ch-box-error,
.ch-icon-remove-sign {
    color: $box-font-color-error;
}

.ch-box-error {
    background-color: $box-bg-color-error;

    a:visited {
        color: #0033bb;
    }

}

/**
 * Help
 */
.ch-box-help,
.ch-icon-help-sign {
    color: $box-font-color-help;
}

.ch-box-help {
    background-color: $box-bg-color-help;
}

/**
 * Info
 */
.ch-box-info,
.ch-icon-info-sign {
    color: $box-font-color-info;
}

.ch-box-info {
    background-color: $box-bg-color-info;

    a {
        text-decoration: $font-underline;
    }

}

/**
 * Ok
 */
.ch-box-ok,
.ch-icon-ok-sign  {
    color: $box-font-color-ok;
}

.ch-box-ok {
    background-color: $box-bg-color-ok;
}