.ch-calendar {
    position:relative;
    display:inline-block;

    caption {
        background-color: #f0f0f0;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $white), color-stop(100%, #f0f0f0));
        background: -webkit-linear-gradient($white, #F0f0f0);
        background: -moz-linear-gradient($white, #f0f0f0);
        background: -o-linear-gradient($white, #f0f0f0);
        background: linear-gradient($white, #f0f0f0);
        font-size: 13px;
        line-height: 28px;
        text-shadow: 0 1px 0 $white;
        border-bottom: none;       
    }

    thead {
        border-weight: 0 1px;        
    }

    td {
        cursor: default;
        height: 26px;
        line-height: 26px;
        width: 14.28%;        
    }

    th {
        font-size: 11px;
        font-weight: normal;
        width: 14.28%;        
    }

    caption,
    thead,
    td {
        border: 1px solid #dedede;        
    }
}

.ch-calendar-month {
    font-size: 12px;
    text-align: center;
    width: 240px;
}

.lt-ie10 .ch-calendar caption {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$white', endColorstr='#f0f0f0');
}

.ch-calendar-today {
    background-color: #fefbd6;
}

.ch-calendar-other {
    color: #c6c6c6;
    cursor: default !important;
    overflow: hidden;
    text-indent: -99px;
}

.ch-calendar-disabled,
.ch-calendar-disabled:hover {
    background-color: $white;
    color: #c6c6c6;
    cursor: not-allowed;
}


.ch-calendar-selected,
.ch-calendar-selected:hover,
.ch-calendar-selected.ch-today {
    background-color: #a9a9a9 !important;
    color: $white !important;
    font-weight: bold !important;
}

.ch-calendar-prev,
.ch-calendar-next {
    cursor: pointer;
    position: absolute;
    padding: 0px 20px;
    height: 28px;
    line-height: 18px;
    font-size: .9em;
}

.ch-calendar-prev {
    left: 0;
}

.ch-calendar-next {
    right: 0;
}

.ch-calendar-prev:after,
.ch-calendar-next:after {
    font-family: icons;
    position: absolute;
    top: 7px;
    color: #666;
    text-shadow: 0 1px $white;
}

.ch-calendar-prev:after {
    content: "\f053";
    left: 15px;
}

.ch-calendar-next:after {
    content: "\f054";
    right: 15px;
}

/* IE */
.ie9 .ch-calendar caption,
.ie8 .ch-calendar caption {
    margin:0;
}