.ch-carousel {
    overflow: auto;
    position: relative;
    /* Enable hardware acceleration */
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.ch-carousel-mask {
    overflow: hidden;
    position: relative;
    margin: 0 50px;
}

/* Both are the same elements, but it can apply styles before the component initialization */
.ch-carousel > ul,
.ch-carousel-list {
    overflow: hidden;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0;
    padding: 0;
    list-style: none;
}

.ch-carousel ul.ch-carousel-nofx {
    -webkit-transition: none;
    transition: none;
}

/* Both are the same elements, but it can apply styles before the component initialization */
.ch-carousel > ul > li,
.ch-carousel-item {
    display: inline-block;
    float: left; /* Fixes the inline-block inner space between li elements */
}

.ch-carousel-prev,
.ch-carousel-next {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    width: 47px;
    height: 80px;
    font-size: 2em;
    line-height: 3.3em;
    color: #666;
    top: 50%;
    margin-top: -40px;
}

.ch-carousel-prev {
    left: 0;
}

.ch-carousel-next {
    right: 0;
}

.ch-carousel-prev:after,
.ch-carousel-next:after {
    font-family: icons;
    position: absolute;
}

.ch-carousel-prev:after {
    content: "\f053";
    left: 17px;
}

.ch-carousel-next:after {
    content: "\f054";
    right: 17px;
}

.ch-carousel-prev:hover,
.ch-carousel-next:hover {
    opacity: 0.7;
}

.ch-carousel-disabled {
    display: none;
}

/* Pagination */
.ch-carousel-pages {
    font-size: 0;
    line-height: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;

    span {
        background-color: #f0f0f0;
        border-radius: 100%;
        -webkit-box-shadow: inset 1px 1px #888;
        box-shadow: inset 1px 1px #888;
        cursor: pointer;
        display: inline-block;
        height: 10px;
        margin: 10px 5px;
        overflow: hidden;
        text-indent: -99px;
        width: 10px;
    }
}

.ch-carousel-pages .ch-carousel-selected {
    background-color: #16232f;
}