/**
 * Tables
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

.ch-datagrid-controls,
.ch-datagrid {
    width: 100%;
    border: 1px solid #dedede;
    text-align: left;
}

.ch-datagrid-controls caption,
.ch-datagrid caption {
    text-align: left;
    font-weight: normal;
    margin: 10px 0;
    font-size: 18px;
}

.ch-datagrid-controls thead tr,
.ch-datagrid thead tr {
    border-top: 1px solid #dedede;
}

.ch-datagrid-controls th,
.ch-datagrid th {
    background-color: #f0f0f0;
    border-bottom: 1px solid #dedede;
    border-left: 1px solid #dedede;
    font-size: 11px;
    line-height: 26px;
    padding: 0 10px;
    text-align: left;
    text-shadow: 0 1px 0 #fff;
    vertical-align: middle;
    color: #666;
}

.ch-datagrid-controls th {
    background-color: #fafafa;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #ececec));
    background-image: -webkit-linear-gradient(#fafafa, #ececec);
    background-image: -moz-linear-gradient(#fafafa, #ececec);
    background-image: -o-linear-gradient(#fafafa, #ececec);
    background-image: linear-gradient(#fafafa, #ececec);
    cursor: pointer;

    &:hover {
        background: #fafafa;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #f2f2f2));
        background-image: -webkit-linear-gradient(#fafafa, #f2f2f2);
        background-image: -moz-linear-gradient(#fafafa, #f2f2f2);
        background-image: -o-linear-gradient(#fafafa, #f2f2f2);
        background-image: linear-gradient(#fafafa, #f2f2f2);       
    }
}

.ch-datagrid-controls th:active,
.ch-datagrid-controls th.ch-datagrid-selected {
    background: #e5e5e5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #d8d8d8));
    background-image: -webkit-linear-gradient(#e5e5e5, #d8d8d8);
    background-image: -moz-linear-gradient(#e5e5e5, #d8d8d8);
    background-image: -o-linear-gradient(#e5e5e5, #d8d8d8);
    background-image: linear-gradient(#e5e5e5, #d8d8d8);
    border-top: 1px solid #dcdcdc;
}

.ch-datagrid-controls th.ch-datagrid-selected {
    position: relative;
}

.ch-datagrid-selected .ch-datagrid-asc,
.ch-datagrid-selected .ch-datagrid-desc {
    float: right;

    &:after {
        font-family: icons;
        font-style: normal;
        content: "\f0dc";       
    }
}

.ch-datagrid-controls th:first-child,
.ch-datagrid th:first-child {
    border-left: none;
}

.ch-datagrid-controls tr,
.ch-datagrid tr {
    border-top: 1px solid #dedede;
}


.ch-datagrid-selected {
    background-color: #fdf9d5;
}

.ch-datagrid-controls td,
.ch-datagrid td {
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
}

/* IE */
.lt-ie10 .ch-datagrid-controls th {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ececec');
}

.lt-ie10 .ch-datagrid-controls th:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f2f2f2');
}

.lt-ie10 .ch-datagrid-controls th:active,
.lt-ie10 .ch-datagrid-controls th.ch-datagrid-selected {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#d8d8d8');
}

.lt-ie9 .ch-datagrid-controls thead tr,
.lt-ie9 .ch-datagrid thead tr {
    border: 1px solid #dedede;
}

.lt-ie10 .ch-datagrid-selected {
    border: 1px solid #dedede;
}

.lt-ie10 .ch-datagrid-controls td,
.lt-ie10 .ch-datagrid td {
    border-top: 1px solid #dedede;
}