/**
 * Modal
 */
.ch-modal {
    overflow: auto;
    padding: 20px;
    box-shadow: 0 3px 14px #444;
    position: $modal-position;
}

.ch-modal-lite {
    text-align: center;
    padding: 40px;

    h2 {
        margin-bottom: 0;    
    }
}

/**
 * Underlay
 */
.ch-underlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.ie8 .ch-underlay {
    background-color: #000;
    -ms-filter: "alpha(opacity=50)";
}