@import 'modal/modal-variables-ml';

/**
 * Modal
 */
.ch-modal {
    overflow: auto;
    padding: $modal-padding;
     /* Mixin output */
    @include box-shadow($modal-box-shadow-top, $modal-box-shadow-left, $modal-box-shadow-blur, $modal-box-shadow-color);    
}

.ch-modal-lite {
    text-align: center;
    padding: $modal-lite-padding; 

    h2 {
        margin-bottom: $modal-lite-title-margin;
    }
}

/**
 * Underlay
 */
.ch-underlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $underlay-bg-color;
}

.ie8 .ch-underlay {
    background-color: #000;
    -ms-filter: "alpha(opacity=50)";
}