/**
 * Pagination
 */
.ch-pagination {
    padding: 0;
    list-style: none;
    margin: 10px 0;
    text-align: center;

    li {
        display: inline-block;
        margin:  0 4px;

        a {
            border-radius: 3px;
            padding: 5px 8px;
            border: 1px solid #DEDEDE;
            background-color: #FFF;           
        }     
    }
}

.ch-pagination .ch-pagination-current a {
    border: 1px solid #E9E9E9;
    background-color: #E9E9E9;
    color: #0033BB;
}