@import 'popover/popover-variables-ml';

/**
 * Popover
 */
.ch-popover {
    /* Mixin output */
    @include box-shadow($popover-box-shadow-top, $popover-box-shadow-left, $popover-box-shadow-blur, $popover-box-shadow-color);
}

.ch-shownby-pointertap {
    cursor: pointer;
}

.ch-shownby-pointerenter {
    cursor: default;
}

/**
 * Close button: must generate a space
 */
.ch-popover .ch-close + div {
    margin: $popover-close-btn-margin;
}

/**
 * Cone
 */
.ch-cone .ch-popover-content:before,
.ch-cone .ch-popover-content:after {
    border: outset transparent; /* border transparent bug on FF: http://stackoverflow.com/a/6225439 */
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    display: block;
}

/*
* Triangle with border.
*/

.ch-cone .ch-popover-content:before {
    border-width: $popover-cone-size;
}

.ch-cone .ch-popover-content:after {
    border-width: $popover-cone-size-content;
}

/**
 * Bottom side
 * ltlb, ctcb, rtrb
 */

.ch-cone[data-side=bottom] {
    .ch-popover-content:before,
    .ch-popover-content:after {
        bottom: 100%;
        border-bottom-style: solid;
    }

    .ch-popover-content:before {
        border-bottom-color: $popover-border;
    }

    .ch-popover-content:after {
        border-bottom-color: $popover-content;
    }    
}

/**
 * Top side
 * lblt, cbct, rbrt
 */

.ch-cone[data-side=top] {
    .ch-popover-content:before,
    .ch-popover-content:after {
        top: 100%;
        border-top-style: solid;
    }

    .ch-popover-content:before {
        border-top-color: $popover-border;
    }

    .ch-popover-content:after {
        border-top-color: $popover-content;
    }
}

/**
 * Right side
 * ltrt, lmrm, lbrb
 */

.ch-cone[data-side=right] {
    .ch-popover-content:before,
    .ch-popover-content:after {
        right: 100%;
        border-right-style: solid;
    }

    .ch-popover-content:before {
        border-right-color: $popover-border;
    }

    .ch-popover-content:after {
        border-right-color: $popover-content;
    }
}

/**
 * Left side
 * rtlt, rmlm, rblb
 */
.ch-cone[data-side=left] {
    .ch-popover-content:before,
    .ch-popover-content:after {
        left: 100%;
        border-left-style: solid;
    }

    .ch-popover-content:before {
        border-left-color: $popover-border;
    }

    .ch-popover-content:after {
        border-left-color: $popover-content;
    }
}

/**
 * Top alignment
 */
.ch-cone[data-side=right][data-align=top] .ch-popover-content:after,
.ch-cone[data-side=left][data-align=top] .ch-popover-content:after {
    top: $popover-cone-toTop-border-align;
}

.ch-cone[data-side=right][data-align=top] .ch-popover-content:before,
.ch-cone[data-side=left][data-align=top] .ch-popover-content:before {
    top: $popover-cone-toTop-content-align;
}

/**
 * Right alignment
 */
.ch-cone[data-side=bottom][data-align=right] .ch-popover-content:after,
.ch-cone[data-side=top][data-align=right] .ch-popover-content:after {
    right: $popover-cone-toRight-border-align;
}

.ch-cone[data-side=bottom][data-align=right] .ch-popover-content:before,
.ch-cone[data-side=top][data-align=right] .ch-popover-content:before {
    right: $popover-cone-toRight-content-align;
}

/**
 * Bottom alignment
 */
.ch-cone[data-side=right][data-align=bottom] .ch-popover-content:after,
.ch-cone[data-side=left][data-align=bottom] .ch-popover-content:after {
    bottom: $popover-cone-toBottom-border-align;
}

.ch-cone[data-side=right][data-align=bottom] .ch-popover-content:before,
.ch-cone[data-side=left][data-align=bottom] .ch-popover-content:before {
    bottom: $popover-cone-toBottom-content-align;
}

/**
 * Left alignment
 */
.ch-cone[data-side=bottom][data-align=left] .ch-popover-content:after,
.ch-cone[data-side=top][data-align=left] .ch-popover-content:after {
    left: $popover-cone-toLeft-border-align;
}

.ch-cone[data-side=bottom][data-align=left] .ch-popover-content:before,
.ch-cone[data-side=top][data-align=left] .ch-popover-content:before {
    left: $popover-cone-toLeft-content-align;
}

/**
 * Center alignment
 */
.ch-cone[data-side=bottom][data-align=center] .ch-popover-content:after,
.ch-cone[data-side=top][data-align=center] .ch-popover-content:after {
    margin-left: $popover-cone-center-content-margin-left;
    left: 50%;
}

.ch-cone[data-side=bottom][data-align=center] .ch-popover-content:before,
.ch-cone[data-side=top][data-align=center] .ch-popover-content:before {
    margin-left: $popover-cone-center-border-margin-left;
    left: 50%;
}

.ch-cone[data-side=right][data-align=center] .ch-popover-content:after,
.ch-cone[data-side=left][data-align=center] .ch-popover-content:after {
    margin-top: $popover-cone-center-atSides-content-margin-top;
    top: 50%;
}

.ch-cone[data-side=right][data-align=center] .ch-popover-content:before,
.ch-cone[data-side=left][data-align=center] .ch-popover-content:before {
    margin-top: $popover-cone-center-atSides-border-margin-top;
    top: 50%;
}

