@import 'transition/transition-variables-ml';
/**
 * Transition
 */
.ch-transition {
    overflow: auto;
    padding:$transition-padding;
    @include box-shadow($transition-box-shadow-top, $transition-box-shadow-left, $transition-box-shadow-blur, $transition-box-shadow-color);
    text-align: center;
}