@import 'transition/transition-variables-ml';
/**
 * Transition
 */
.ch-transition {
    overflow: auto;
    padding:$transition-padding;
    box-shadow: $transition-box-shadow; // skin
    text-align: center;
}