// > Typography
// ----------------------------------------------------------------

$headings-margin: 10px 0 !default;
$headings-text-weight: normal !default;

$headings-boxes-margin-top: 0 !default;

$heading-h1: 22px !default;
$heading-h2: 20px !default;
$heading-h3: 18px !default;
$heading-h4: 16px !default;
$heading-h5: 15px !default;
$heading-h6: 14px !default;

$links-visited-text-decoration: underline !default;
$links-visited-color: #809 !default;

$price-color: #900 !default;
