/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-weigth__normal;
    margin: $margin-headers;
}

h1 {
    font-size: $font__xx__large;
}

h2 {
    font-size: $font__x__large;
}

h3 {
    font-size: $font__large;
}

h4 {
    font-size: $font__medium;
}

h5 {
    font-size: $font__small;
}

h6 {
    font-size: $font__x__small;
}

/**
 * Box Headings
 */
[class*="ch-box"] h1,
[class*="ch-box"] h2,
[class*="ch-box"] h3,
[class*="ch-box"] h4,
[class*="ch-box"] h5,
[class*="ch-box"] h6 {
    margin-top: $margin-box-headings;
}

/**
 * Links
 */
a,
a:active,
a:link {
    color: $blue-main;
    text-decoration: $font-no-underline;
}

a:visited {
    color: $links-visited;
}

a:hover,
a:focus {
    text-decoration: $font-underline;
}

/**
 * Price
 */
.ch-price {
    color: $price;
    font-size: $font__medium;
    font-weight: $font-weigth__bold;

    sup {
        font-size: $font__mini;
        vertical-align: text-top;
        line-height: 1em;
    }

    span {
        color: $gray-light;
        font-size: $font__normal;
        font-weight: $font-weigth__normal;
    }

}

/* IE */
.lt-ie9 .ch-price sup {
    font-size: $font__smaller;
}