.ch-autocomplete {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: none;
}

.ch-autocomplete-item,
.ch-autocomplete-highlighted {
    margin: 0;
    padding: 3px 5px;
    cursor: pointer;
}

.ch-autocomplete-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ch-autocomplete-highlighted {
    background-color: #FDF9D5;
    border-radius: 5px;
}

.ch-autocomplete-loading {
    background: url('../assets/loading-small.gif') no-repeat right center;
    background-size: 16px;
}