/**
 * Boxes
 */
[class*='ch-box'] {
    -webkit-border-radius: 5px; /* Android 2.1 */
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 10px 0;
}

.ch-box-lite,
.ch-box {
    border: 1px solid #ededed;
}

.ch-box-lite {
    background-color: #FFF;
}

/**
 * Message boxes
 */
.ch-box-icon {
    position: relative;
    padding-left: 32px;
}

.ch-box-icon [class*='ch-icon-'] {
    position: absolute;
    top: 7px;
    left: 5px;
}

/**
 * Warn
 */
.ch-icon-warning-sign {
    color: #F5CC00;
}

.ch-box-warn {
    background-color: #FFF3C8;
    color: #AA8749;
}


/**
 * Error
 */
.ch-box-error,
.ch-icon-remove-sign {
    color: #B94A48;
}

.ch-box-error {
    background-color: #F5E6E6;
}

/**
 * Help
 */
.ch-box-help,
.ch-icon-help-sign {
    color: #888888;
}

.ch-box-help {
    background-color: #F0F0F0;
}

/**
 * Info
 */
.ch-box-info,
.ch-icon-info-sign {
    color: #3A87AD;
}

.ch-box-info {
    background-color: #D9EDF7;
}

/**
 * Ok
 */
.ch-box-ok,
.ch-icon-ok-sign  {
    color: #468847;
}

.ch-box-ok {
    background-color: #E9F4E4;
}