/**
 * Bubble
 */
.ch-bubble {
    font-size: .929em;
    padding: 5px 5px 5px 25px;
}

/* Error icon */
.ch-bubble .ch-icon-remove-sign {
    top: 2px;
    left: 0px;
}

.ch-bubble a:visited {
    color: #0637B3;
}

/**
 * Bottom side
 */
.ch-bubble.ch-cone[data-side=bottom] .ch-popover-content:before {
    border-bottom-color: #EED3D7;
}

.ch-bubble.ch-cone[data-side=bottom] .ch-popover-content:after {
    border-bottom-color: #F5E6E6;
}

/**
 * Top side
 */
.ch-bubble.ch-cone[data-side=top] .ch-popover-content:before {
    border-top-color: #EED3D7;
}

.ch-bubble.ch-cone[data-side=top] .ch-popover-content:after {
    border-top-color: #F5E6E6;
}

/**
 * Right side
 */
.ch-bubble.ch-cone[data-side=right] .ch-popover-content:before {
    border-right-color: #EED3D7;
}

.ch-bubble.ch-cone[data-side=right] .ch-popover-content:after {
    border-right-color: #F5E6E6;
}

/**
 * Left side
 */
.ch-bubble.ch-cone[data-side=left] .ch-popover-content:before {
    border-left-color: #EED3D7;
}

.ch-bubble.ch-cone[data-side=left] .ch-popover-content:after {
    border-left-color: #F5E6E6;
}