/**
 * Buttons
 */
/* Global */
[class*="ch-btn"],
[class*="ch-btn"]:focus {
    border: 1px solid;
    cursor: pointer;
    display: inline-block;
    height: auto;
    text-decoration: none;
    font-size: 18px;
}

/* Focus */
[class*="ch-btn"]:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="file"]::-webkit-file-upload-button:focus,
button:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

/* Hover */
.ch-btn:hover,
.ch-btn-skin:hover {
    text-decoration: none;
}


/* Size */
input.ch-btn::-moz-focus-inner,
input.ch-btn-large::-moz-focus-inner,
input.ch-btn-small::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Large */
.ch-btn-large,
.ch-btn-large:focus {
    font-size: 20px;
    text-align: center;
}

input.ch-btn::-moz-focus-inner,
input.ch-btn-large::-moz-focus-inner,
input.ch-btn-small::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Disabled */
[class*="ch-btn"].ch-btn-disabled,
.ch-btn-disabled:hover,
.ch-btn-disabled:active,
.ch-btn-disabled:focus,
[class*="ch-btn"][disabled],
[class*="ch-btn"][disabled]:hover,
[class*="ch-btn"][disabled]:active,
[class*="ch-btn"][disabled]:focus {
    border: 1px solid !important; /* important for links */
    cursor: not-allowed;
}