/**
 * Buttons
 */
/* Global */
[class*="ch-btn"],
[class*="ch-btn"]:focus {
	-webkit-border-radius: 4px; /* Android 2.1 */
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.286em; /* 18px */
	height: auto;
	line-height: 1.143em; /* 16px */
	padding: 0.305em 0.714em; /* 4px 10px */
	text-decoration: none;
}

/* Focus */
[class*="ch-btn"]:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="file"]::-webkit-file-upload-button:focus,
button:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

/* Colors */
.ch-btn,
.ch-btn:focus,
.ch-btn:visited {
	background-color: #3E52A1;
	background-image: -webkit-linear-gradient(#3E52A1, #2D3277);
	background-image: -moz-linear-gradient(#3E52A1, #2D3277);
	background-image: -o-linear-gradient(#3E52A1, #2D3277);
	background-image: linear-gradient(#3E52A1, #2D3277);
	-webkit-box-shadow: inset 0 1px #8EA2DF;
	box-shadow: inset 0 1px #8EA2DF;
	border: 1px solid #2D3277;
	color: #FFFFFF;
}

.ch-btn-skin,
.ch-btn-skin:focus,
.ch-btn-skin:visited {
	background-color: #CCE3F7;
	background-image: -webkit-linear-gradient(#CCE3F7, #AAD0EF);
	background-image: -moz-linear-gradient(#CCE3F7, #AAD0EF);
	background-image: -o-linear-gradient(#CCE3F7, #AAD0EF);
	background-image: linear-gradient(#CCE3F7, #AAD0EF);
	border: 1px solid #79A8C7;
	-webkit-box-shadow: inset 0 1px #E5F2FC;
	box-shadow: inset 0 1px #E5F2FC;
	color: #476274;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.ch-btn-action,
.ch-btn-action:focus,
.ch-btn-action:visited {
	background-color: #EFEFEF;
	background-image: -webkit-linear-gradient(#EFEFEF, #D0D0D0);
	background-image: -moz-linear-gradient(#EFEFEF, #D0D0D0);
	background-image: -o-linear-gradient(#EFEFEF, #D0D0D0);
	background-image: linear-gradient(#EFEFEF, #D0D0D0);
	border: 1px solid #BBBBBB;
	-webkit-box-shadow: inset 0 1px #FFFFFF;
	box-shadow: inset 0 1px #FFFFFF;
	color: #666666;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}


/* Hover */
.ch-btn:hover,
.ch-btn-skin:hover {
	text-decoration: none;
}

/* Colors on Hover */
.ch-btn:hover {
	background-color: #4355D2;
	background-image: -webkit-linear-gradient(#4355D2, #2F33AE);
	background-image: -moz-linear-gradient(#4355D2, #2F33AE);
	background-image: -o-linear-gradient(#4355D2, #2F33AE);
	background-image: linear-gradient(#4355D2, #2F33AE);
	-webkit-box-shadow: inset 0 1px #7A89E8;
	box-shadow: inset 0 1px #7A89E8;
}

.ch-btn-skin:hover {
	background-color: #DCECFB;
	background-image: -webkit-linear-gradient(#DCECFB, #C5DFF5);
	background-image: -moz-linear-gradient(#DCECFB, #C5DFF5);
	background-image: -o-linear-gradient(#DCECFB, #C5DFF5);
	background-image: linear-gradient(#DCECFB, #C5DFF5);
	-webkit-box-shadow: inset 0 1px #ECF5FD;
	box-shadow: inset 0 1px #ECF5FD;
}

/* Colors on Hover */
.ch-btn-action:hover {
	background-color: #FEFEFE;
	background-image: -webkit-linear-gradient(#FEFEFE, #E6E6E6);
	background-image: -moz-linear-gradient(#FEFEFE, #E6E6E6);
	background-image: -o-linear-gradient(#FEFEFE, #E6E6E6);
	background-image: linear-gradient(#FEFEFE, #E6E6E6);
}

/* Colors on Active */
.ch-btn:active {
	background-color: #292F66;
	background-image: -webkit-linear-gradient(#292F66, #202388);
	background-image: -moz-linear-gradient(#292F66, #202388);
	background-image: -o-linear-gradient(#292F66, #202388);
	background-image: linear-gradient(#292F66, #202388);
	-webkit-box-shadow: inset 0 1px 6px #141452;
	box-shadow: inset 0 1px 6px #141452;
	border-color: #181E39;
}

.ch-btn-skin:active {
	background-color: #7AB6DC;
	background-image: -webkit-linear-gradient(#A2C9E1, #7AB6DC);
	background-image: -moz-linear-gradient(#A2C9E1, #7AB6DC);
	background-image: -o-linear-gradient(#A2C9E1, #7AB6DC);
	background-image: linear-gradient(#A2C9E1, #7AB6DC);
	-webkit-box-shadow: inset 0 1px 6px rgba(71, 98, 116, .6);
	box-shadow: inset 0 1px 6px rgba(71, 98, 116, .6);
	border-color: #79A8C7;
}

.ch-btn-action:active {
	background-color: #ADADAD;
	background-image: -webkit-linear-gradient(#ADADAD, #B1B1B1);
	background-image: -moz-linear-gradient(#ADADAD, #B1B1B1);
	background-image: -o-linear-gradient(#ADADAD, #B1B1B1);
	background-image: linear-gradient(#ADADAD, #B1B1B1);
	-webkit-box-shadow: inset 0 1px 6px #949494;
	box-shadow: inset 0 1px 6px #949494;
	border-color: #969696;
}

/* Size */
input.ch-btn::-moz-focus-inner,
input.ch-btn-big::-moz-focus-inner,
input.ch-btn-small::-moz-focus-inner,
input.ch-btn-tiny::-moz-focus-inner{
    border: 0;
    padding: 0;
}

/* Big */
.ch-btn-big,
.ch-btn-big:focus {
	font-size: 1.461em; /* 20px */
	padding: 0.429em 0.786em; /* 6px 11px */
	text-align: center;
}

a.ch-btn-big,
a.ch-btn-big:focus {
	display: inline-block;
}

/* Small */
.ch-btn-small,
.ch-btn-small:focus {
	font-size: 0.857em; /* 12px */
	padding: 0.429em 0.786em; /* 6px 12px */
}

/* Tiny */
.ch-btn-tiny,
.ch-btn-tiny:focus {
	font-size: 0.786em; /* 11px */
	padding: 0.5em 0.714em; /* 7px 10px */
}

input.ch-btn::-moz-focus-inner,
input.ch-btn-big::-moz-focus-inner,
input.ch-btn-small::-moz-focus-inner,
input.ch-btn-tiny::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Disabled */
[class*="ch-btn"].ch-btn-disabled,
.ch-btn-disabled:hover,
.ch-btn-disabled:active,
.ch-btn-disabled:focus,
[class*="ch-btn"][disabled],
[class*="ch-btn"][disabled]:hover,
[class*="ch-btn"][disabled]:active,
[class*="ch-btn"][disabled]:focus {
	background-color: #FEFEFE;
	background-image: -webkit-linear-gradient(#FEFEFE, #E6E6E6);
	background-image: -moz-linear-gradient(#FEFEFE, #E6E6E6);
	background-image: -o-linear-gradient(#FEFEFE, #E6E6E6);
	background-image: linear-gradient(#FEFEFE, #E6E6E6);
	border: 1px solid #CCCCCC !important; /* important for links */
	-webkit-box-shadow: inset 0px 1px #FEFEFE;
	box-shadow: inset 0px 1px rgba(240, 240, 240, 1);
	color: #999999 !important; /* important for links */
	cursor: not-allowed;
	opacity: 0.5;
	text-shadow: none;
}

/* Close*/
.ch-close,
.ch-close:visited,
.ch-close:focus {
	background-color: transparent;
	background-image: -webkit-linear-gradient(transparent 15%, rgba(100, 100, 100, 0.1));
	background-image: -moz-linear-gradient(transparent 15%, rgba(100, 100, 100, 0.1));
	background-image: -o-linear-gradient(transparent 15%, rgba(100, 100, 100, 0.1));
	background-image: linear-gradient(transparent 15%, rgba(100, 100, 100, 0.1));

	border: 1px solid #EDEDED;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;

	padding: 0;
	width: 15px;
	height: 16px;
	font-size: 1.429em;
	line-height: 16px;
	text-indent: 1px;

	color: #CCCCCC;
	font-family: Arial;
	text-align:center;

	position: absolute;
	right: 10px;
	top: 10px;
}

.ch-close:before {
	content: "\00D7";
}

.ch-close:hover,
.ch-close:focus,
.ch-close:active {
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	border: none;
}

.ch-close:hover,
.ch-close:focus {
	color: #FFFFFF;
	background-color: #FA5900;
	background-image: -webkit-linear-gradient(#FA5900, #CA0C02);
	background-image: -moz-linear-gradient(#FA5900, #CA0C02);
	background-image: -o-linear-gradient(#FA5900, #CA0C02);
	background-image: linear-gradient(#FA5900, #CA0C02);
	text-decoration: none;
}

.ch-close:active {
	color: #FFFFFF;
	background-color:#BF0602;
	background-image: -webkit-linear-gradient(#BF0602, #8F2F00);
	background-image: -moz-linear-gradient(#BF0602, #8F2F00);
	background-image: -o-linear-gradient(#BF0602, #8F2F00);
	background-image: linear-gradient(#BF0602, #8F2F00);

}

/* Mobile */
@media all and (max-width: 480px) {
	.ch-btn-big,
	.ch-btn-big:focus {
		width: 100%;
	}

	a.ch-btn-big,
	a.ch-btn-big:focus {
		display: block;
		width: auto;
	}

}

/* IE */
.lt-ie10 .ch-btn,
.lt-ie10 .ch-btn:focus,
.lt-ie10 .ch-btn:visited {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3E52A1', endColorstr='#2D3277');
}

.lt-ie10 .ch-btn-skin,
.lt-ie10 .ch-btn-skin:focus,
.lt-ie10 .ch-btn-skin:visited {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCE3F7', endColorstr='#AAD0EF');
}

.lt-ie10 .ch-btn:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4355D2', endColorstr='#2F33AE');
}

.lt-ie10 .ch-btn-skin:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCECFB', endColorstr='#C5DFF5');
}

.lt-ie10 .ch-btn:active {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0F1534', endColorstr='#171C41');
}

.lt-ie10 .ch-btn-skin:active {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A2C9E1', endColorstr='#7DB7DC');
}


.ie7 input.ch-btn {
	line-height: 0.786em; /* 11px */
}

.ie7 input.ch-btn,
.ie7 input.ch-btn-big,
.ie7 input.ch-btn-small,
.ie7 input.ch-btn-tiny{
	overflow: visible;
	width: 1;
}

.lt-ie10 .ch-btn.ch-btn-disabled,
.lt-ie10 .ch-btn-skin.ch-btn-disabled,
.lt-ie10 .ch-btn-disabled:hover,
.lt-ie10 .ch-btn-disabled:active,
.lt-ie10 .ch-btn-disabled:focus,
.lt-ie10 [class*="ch-btn"][disabled],
.lt-ie10 [class*="ch-btn"][disabled]:hover,
.lt-ie10 [class*="ch-btn"][disabled]:active,
.lt-ie10 [class*="ch-btn"][disabled]:focus {
	filter: alpha(opacity=50);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#E6E6E6');
}

.ie8 [class*="ch-btn"]:focus,
.ie8 input[type="button"]:focus,
.ie8 input[type="submit"]:focus,
.ie8 input[type="reset"]:focus,
.ie8 input[type="file"]:focus,
.ie8 button:focus {
	outline: thin dotted;
	outline-offset: -2px;
}

.lt-ie8 .ch-actions a {
	display: inline-block;
	margin-bottom: 5px;
}

.lt-ie8 .ch-close {
	zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#x00D7;');
	display: inline;
	line-height: 1.429em; /* 20px */
}

.lt-ie9 .ch-close {
	text-indent: 0;
	line-height: 0.929em; /* 13px */
}

.ie9 .ch-close {
	line-height: 1.214em; /* 17px */
}

.lt-ie10 .ch-close {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#EEEEEE');
}

.lt-ie10 .ch-close:hover,
.lt-ie10 .ch-close:focus {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FA5900', endColorstr='#CA0C02');
}

.lt-ie10 .ch-close:active {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BF0602', endColorstr='#8F2F00');
}