/**
 * Boxes
 */
[class*='ch-box'] {
	padding: 0.714em; /* 10px */
	margin: 0 0 0.714em 0; /* 10px */
}

.ch-box-lite,
.ch-box {
	-webkit-border-radius: 0.357em; /* Android 2.1 */
	border-radius: 0.357em; /* 5px */
	border: 1px solid #ededed;
}

.ch-box {
	background-color: #f4f4f4;
}

/**
 * Message boxes
 */
.ch-box-attention,
.ch-box-error,
.ch-box-help,
.ch-box-information,
.ch-box-ok {
	-webkit-border-radius: 0.357em; /* Android 2.1 */
	border-radius: 0.357em; /* 5px */
	text-shadow: 0.071em 0.071em 0 rgba(255, 255, 255, 0.75); /* 1px */
	position: relative;
	padding-left: 2.5em; /* 35px */
}

.ch-box-attention:before,
.ch-box-help:before,
.ch-box-information:before,
.ch-box-error:before,
.ch-box-ok:before {
	position: absolute;
	top: 0.65em; /* 13px of 1.429em (icons size) */
	left: 0.5em; /* 10px of 1.429em (icons size) */
	text-shadow: none;
}

.ch-box-attention,
.ch-box-attention:before {
	background-color: #FCF8E3;
	color: #AA8749;
}

.ch-box-attention:before {
	content: '\f071';
	color: #F5CC00;
}

.ch-box-error,
.ch-box-error:before {
	background-color: #F2DEDE;
	color: #B94A48;
}

.ch-box-error:before {
	content: '\f057';
}

.ch-box-help,
.ch-box-help:before {
	background-color: #fff;
	color: #999999;
}

.ch-box-help:before {
	content: '\f059';
}

.ch-box-information,
.ch-box-information:before {
	background-color: #D9EDF7;
	color: #3A87AD;
}

.ch-box-information:before {
	content: '\f05a';
}

.ch-box-ok,
.ch-box-ok:before {
	background-color: #DFF0D8;
	color: #468847;
}

.ch-box-ok:before {
	content: '\f058';
}

/* Tablet */
@media all and (min-width: 34.286em) {
	.ch-box {
		background-color: #fff;
		/* 1.786em = 25px */
		background-image: -webkit-linear-gradient(#eee, #fff 1.786em);
		background-image: -moz-linear-gradient(#eee, #fff 1.786em);
		background-image: -o-linear-gradient(#eee, #fff 1.786em);
		background-image: linear-gradient(#eee, #fff 1.786em);
	}

	.ch-box-help,
	.ch-box-help:before {
		background-color: #f7f7f7;
	}
}

/* Desktop */
@media all and (min-width: 52.857em) {

}


/**
 * Message boxes IE7
 */
.lt-ie8 .ch-box-attention,
.lt-ie8 .ch-box-error,
.lt-ie8 .ch-box-help,
.lt-ie8 .ch-box-information,
.lt-ie8 .ch-box-ok {
	position: static;
	background-image: url('../assets/icons.png');
	background-repeat: no-repeat;
}

.lt-ie8 .ch-box-attention {
	background-position: 1.5em 6em; /* -21px -84px; */
}

.lt-ie8 .ch-box-error {
	background-position: 8.357em 0.929em; /* -117px 13px; */
}

.lt-ie8 .ch-box-help {
	background-position: 6.071em 1.357em; /* -85px -19px; */
}

.lt-ie8 .ch-box-information {
	background-position: 3.786em 3.643em; /* -53px -51px; */
}

.lt-ie8 .ch-box-ok {
	background-position: 0.786em 8.214em; /* 11px -115px; */
}