/**
 * Base
 */
body,
.ch-btn {
	font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-size: 14px; /* 1em */
	line-height: 1.5em; /* 21px */
}

body {
	background-color: #FFF;
	color: #333;
	margin: 0 auto;
	padding: 0 10px; /* Prevent layout "sticking" to the edge of the browser */
	max-width: 1200px;
}

/* IMPORTANT: .ch-hide class allows components to be shown and hidden */
.ch-hide {
	display: none;
}

.ch-hidden {
	visibility: hidden;
}

/**
 * Misc
 */
hr {
	border: none;
	border-bottom: 1px dashed #CCC;
}

a img {
	border: none;
}

/* Mobile */
@media all and (max-width: 480px) {
	.ch-layout {
		margin: 0 5px;
	}

	img {
		max-width: 100%;
	}
}

/* do not select text */
.ch-user-no-select {
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* IE */
.lt-ie8 hr {
	height: 0;
}