/**
 * Tables
 */
.ch-datagrid-controls,
.ch-datagrid {
	width: 100%;
	border: 1px solid #EDEDED;
	text-align: left;
}

.ch-datagrid-controls caption,
.ch-datagrid caption {
	text-align: left;
	font-weight: normal;
	margin: 10px 0; /* 10px */
	font-size: 18px; /* 18px */
}

.ch-datagrid-controls thead tr,
.ch-datagrid thead tr {
	border-top: 1px solid #EDEDED;
}

.ch-datagrid-controls th,
.ch-datagrid th {
	background-color: #F7F7F7;
	border-bottom: 1px solid #EDEDED;
	border-left: 1px solid #EDEDED;
	font-size: 0.786em; /* 11px */
	line-height: 2.364em; /* 26px */
	padding: 0 0.909em; /* 0 10px */
	text-align: left;
	text-shadow: 0 1px 0 #FFFFFF;
	vertical-align: middle;
	color: #666666;
}

.ch-datagrid-controls th {
	background-color: #FAFAFA;
	background-image: -webkit-linear-gradient(#FAFAFA, #ECECEC);
	background-image: -moz-linear-gradient(#FAFAFA, #ECECEC);
	background-image: -o-linear-gradient(#FAFAFA, #ECECEC);
	background-image: linear-gradient(#FAFAFA, #ECECEC);
	cursor: pointer;
}

.ch-datagrid-controls th:hover {
	background: #FEFEFE;
	background-image: -webkit-linear-gradient(#FEFEFE, #F2F2F2);
	background-image: -moz-linear-gradient(#FEFEFE, #F2F2F2);
	background-image: -o-linear-gradient(#FEFEFE, #F2F2F2);
	background-image: linear-gradient(#FEFEFE, #F2F2F2);
}

.ch-datagrid-controls th:active,
.ch-datagrid-controls th.ch-datagrid-selected {
	background: #E5E5E5;
	background-image: -webkit-linear-gradient(#E5E5E5, #D8D8D8);
	background-image: -moz-linear-gradient(#E5E5E5, #D8D8D8);
	background-image: -o-linear-gradient(#E5E5E5, #D8D8D8);
	background-image: linear-gradient(#E5E5E5, #D8D8D8);
	border-top: 1px solid #DCDCDC;
}

.ch-datagrid-controls th.ch-datagrid-selected {
	position: relative;
}

.ch-datagrid-selected .ch-datagrid-asc,
.ch-datagrid-selected .ch-datagrid-desc {
	float: right;
}

.ch-datagrid-selected .ch-datagrid-asc:after,
.ch-datagrid-selected .ch-datagrid-desc:after {
	font-family: icons;
	font-style: normal;
	content: "\f0dc";
}

.ch-datagrid-controls th:first-child,
.ch-datagrid th:first-child {
	border-left: none;
}

.ch-datagrid-controls tr,
.ch-datagrid tr {
	border-top: 1px solid #EDEDED;
}


.ch-datagrid-selected {
	background-color: #FDF9D5;
}

.ch-datagrid-controls td,
.ch-datagrid td {
	height: 2.857em; /* 40px */
	padding: 0 0.714em; /* 0 10px */
	vertical-align: middle;
}

/* Tablet */
@media all and (min-width: 34.286em) and (max-width: 52.857em) {

}

/* Mobile */
@media only screen and (max-width: 34.286em) { /* 480px */

	.ch-datagrid-controls,
	.ch-datagrid {
		display: block;
		position: relative;
		width: 100%;
		margin: 0.714em 0; /* 10px 0 */
		border: none;
	}

	.ch-datagrid-controls thead,
	.ch-datagrid thead {
		display: block;
		float: left;
		border: solid #EDEDED;
		border-width: 0 1px;
	}

	.ch-datagrid-controls thead tr,
	.ch-datagrid thead tr {
		display: block;
	}

	.ch-datagrid-controls thead th,
	.ch-datagrid thead th {
		display: block;
		border: solid #EDEDED;
		border-width: 0 0 1px 0;
		height: 3.63em; /* 50px */
		padding: 0 0.714em; /* 0 10px*/
		line-height: 4em; /* 56px */
	}

	.ch-datagrid-controls tbody,
	.ch-datagrid tbody {
		display: -webkit-box;
		display: -moz-box;
		display: -o-box;
		display: box;
		width: auto;
		overflow-x: auto;
		border: solid #EDEDED;
		border-width: 1px 1px 1px 0;
	}

	.ch-datagrid-controls tbody tr,
	.ch-datagrid tbody tr {
		display: block;
		vertical-align: top;
		border: solid #EDEDED;
		border-width: 0 1px 0 0;
	}

	.ch-datagrid-controls tbody tr td,
	.ch-datagrid tbody tr td {
		display: block;
		border: solid #EDEDED;
		border-width: 0 0 1px 0;
		line-height: 3em; /* 42px */
	}

	.ch-datagrid-controls tbody tr td:last-child,
	.ch-datagrid tbody tr td:last-child {
		border-width: 0;
	}
}

/* IE */
.lt-ie10 .ch-datagrid-controls th {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#ECECEC');
}

.lt-ie10 .ch-datagrid-controls th:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#F2F2F2');
}

.lt-ie10 .ch-datagrid-controls th:active,
.lt-ie10 .ch-datagrid-controls th.ch-datagrid-selected {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5E5E5', endColorstr='#D8D8D8');
}

.lt-ie9 .ch-datagrid-controls thead tr,
.lt-ie9 .ch-datagrid thead tr {
	border: 1px solid #EDEDED;
}

.lt-ie10 .ch-datagrid-selected {
	border: 1px solid #EDEDED;
}

.lt-ie10 .ch-datagrid-controls td,
.lt-ie10 .ch-datagrid td {
	border-top: 1px solid #EDEDED;
}

.lt-ie8 .ch-datagrid th.ch-datagrid-selected .ch-datagrid-asc,
.lt-ie8 .ch-datagrid th.ch-datagrid-selected .ch-datagrid-desc {
	display: block;
	width: 0.5em; /* 7px */
	height: 0.286em; /* 4px */
	overflow: hidden;
	position: absolute;
	right: 0.714em; /* 10px */
	text-indent: 7.071em; /* 99px */
	top: 0.857em; /* 12px */
}

.lt-ie8 .ch-datagrid th.ch-datagrid-selected .ch-datagrid-asc {
	background: transparent url("../assets/shapes.png") 0 -51px no-repeat;
}

.lt-ie8 .ch-datagrid th.ch-datagrid-selected .ch-datagrid-desc {
	background: transparent url("../assets/shapes.png") 0 -48px no-repeat;
}