/* ==========================================================================
	 Forms
	 ========================================================================== */

/*
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */

button,
input,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 2 */
	margin: 0; /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
	line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */



body{min-width:0;}

input[type="search"]{
  -webkit-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Generic input & textarea */
input,
textarea,
select[multiple],
.ch-form-select-multiple {
	border: 1px solid #CDCDCD;
	font-size: .929em;
	border-radius: 3px;
	-webkit-box-shadow: 1px 2px 2px rgba(204, 204, 204, 0.3) inset;
	box-shadow: 1px 2px 2px rgba(204, 204, 204, 0.3) inset;
	padding: 6px;
	margin: 5px 0;
}

input[type="file"],
input[type="checkbox"],
input[type="radio"] {
	border: none;
	padding: 0;
}

input:focus,
textarea:focus,
select[multiple]:focus,
.ch-form-select-multiple:focus {
	border: 2px solid #9A9A9A;
	padding: 5px;
	outline: 0;
}

input[type="file"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
input[type="range"]:focus,
select:focus {
	outline: 1px dotted #9A9A9A;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
	border: none;
	padding: 0;
}

input[readonly],
input[readonly]:focus {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #999999;
	padding: 5px 0;
}

/* Icons */
.ch-form-ico {
	margin-left: 5px;
}

.ch-form-ico-inner {
	display: inline-block;
	left: -25px;
	top: 1px;
	opacity: 0.3;
	position: relative;
}

.ch-form-big .ch-form-ico-inner {
	top: 2px;
}

.ch-form-ico-input:focus + .ch-form-ico-inner {
	opacity: 0.7;
}

.ch-form-ico-input {
	padding-right: 24px;
}

.ch-form-ico-input:focus {
	padding-right: 23px;
}

.ch-form-big .ch-form-row .ch-form-ico-input {
	padding-right: 30px;
}

.ch-form-big .ch-form-row .ch-form-ico-input:focus {
	padding-right: 29px;
}

/* Module */
.ch-form fieldset {
	margin-bottom: 10px;
}

	/* Title module */
	.ch-form legend {
		color: #dc7b1c;
		font-weight: bold;
		padding-bottom: 15px;
	}

	.ch-form-subtitle {
		font-size: .929em; /* 13px */
		font-weight: bold;
	}

/* Required specification or another */
.ch-form-hint {
	color: #999999;
	font-size: .857em;
	line-height: 1em;
}

/* Basic wrapper for horizontal view */
.ch-form-row {
	padding: 5px 0;
	margin-bottom: 0;
}

/* Label */
.ch-form-row label {
	display:inline-block;
	font-size: .929em; /* 13px */
	position:relative;
	padding: 7px 11px 5px 0;
	text-align: right;
	width: 130px;
}

/* Label inline not used yet */
	.ch-form-row input + label,
	.ch-form-row select + label,
	.ch-label-inline {
		text-align: left;
		width: auto;
		padding-right: 0;
		font-weight: normal;
		margin-left: 0;
	}

/* Label required **/
	.ch-form-required label {
		font-weight: bold;
	}

	.ch-form-required.ch-list-options label {
		font-weight: normal;
	}

/* Icon indication of required */
	.ch-form-required em {
		display: block;
		position: absolute;
		right: 3px;
		top: 3px;
	}
/* Icon indication of required in options */
	.ch-form-required.ch-list-options em {
		display: inline;
		position: relative;
		vertical-align: super;
		top: auto;
		right: auto;
	}

/* Checkbox inline
.ch-form-row input + input[type=checkbox],*/
.ch-form-checkbox-inline {
	margin-left: 11px;
	margin-right: 0;
	border: none;
}

/* Range
input[type=range],*/
.ch-form-range {
	padding: 4px;
	vertical-align: middle;
}

/* Select */
.ch-form-row select {
	margin: 5px 0;
}

/* Select Multiple */
.ch-form-row select[multiple],
.ch-form-select-multiple {
	vertical-align: top;
	margin-top: 10px;
}

/* Textarea */
.ch-form-row textarea {
	vertical-align: top;
}

/* Help bottom line that helps the user */
.ch-form-row .ch-form-hint {
	margin-left: 145px;
	display: block;
}

/* Error colorize the border */
form .ch-form-error {
	border: 1px solid #FF9999;
}

form .ch-form-error:focus,
form .ch-form-error:focus {
	border-width: 2px;
	-webkit-box-shadow: 2px #FF9999;
	box-shadow: 2px #FF9999;
}


/* Options */
.ch-list-options {
	margin: 0 0 15px 20px;
	padding: 0;
}

/* Subtitle in options */
.ch-list-options .ch-form-subtitle {
	margin-bottom: 15px;
	margin-left: -20px;
}

/* Subtitle in options & required */
.ch-list-options.ch-form-required .ch-form-subtitle{
	font-weight:bold;
}

/* Label in options */
.ch-list-options label {
	margin: 0;
	padding: 0;
}


/* Radio & Checkbox in options
.ch-list-options input[type="checkbox"],
.ch-list-options input[type="radio"],*/
.ch-list-options input {
	margin: 8px 4px 0 0;
}

.ch-list-options input[type="checkbox"]:focus,
.ch-list-options input[type="radio"]:focus {
	border: none;
	padding: 0;
}


/* Disabled status */
.ch-form-disabled label {
	color: #999999;
}

.ch-form-disabled input,
.ch-form-disabled input[disabled],
.ch-form-disabled textarea,
.ch-form-disabled textarea[disabled] {
	background-color: #F2F2F2;
	cursor: not-allowed;
}

/* Actions */
.ch-form-actions {
	margin-left: 145px;
	text-align: left;
}


/* Big inputs */
.ch-form-big .ch-form-row input,
.ch-form-big .ch-form-row textarea,
.ch-form-big .ch-form-row select[multiple],
.ch-form-big .ch-form-row .ch-form-select-multiple {
	border-radius: 3px;
	padding: 12px 10px;
	margin: 5px 0;
}

.ch-form-big .ch-form-row input:focus,
.ch-form-big .ch-form-row textarea:focus,
.ch-form-big .ch-form-row select[multiple]:focus,
.ch-form-big .ch-form-row .ch-form-select-multiple:focus {
	padding: 11px 9px;
}



/* Tablet */
@media all and (min-width: 34.286em) and (max-width: 52.857em) {

}

/* Mobile */
@media all and (max-width: 34.286em) {

	.ch-form-row {
		position: relative;
	}

	.ch-form-row input,
	.ch-form-row textarea,
	.ch-form-row select,
	.ch-form-select-multiple {
		margin-top: 0;
	}

	/* Generic input & textarea */
	input:not([type="submit"]):not([type="reset"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]),
	textarea,
	select,
	select[multiple] {
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: block;
		font-size: 1.143em;
		line-height: 1.4em;
		padding: 6px;
		width: 100%;
	}

	input:not([type="submit"]):not([type="reset"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]):not([readonly]):focus,
	textarea:focus,
	select[multiple]:focus,
	.ch-form-select-multiple:focus {
		border-width: 2px;
		padding: 5px;
		outline: 0;
	}

	.ch-form-row-inline input:not([type="submit"]):not([type="reset"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]),
	.ch-form-row-inline select{
		display: inline-block;
		width: auto;
	}

	input[readonly]:not([type="submit"]):not([type="reset"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]),
	input[readonly]:not([type="submit"]):not([type="reset"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]):focus {
		border: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		color: #999;
		padding: 6px 0;
	}

	/* Inner Icons */
	.ch-form-ico-inner {
		display: block;
		left: auto;
		right: 2px;
		top: 48px;
		opacity: .3;
		position: absolute;
	}

	/* BigForm Inner Icons */
	.ch-form-big .ch-form-ico-inner {
		top: 54px;
	}

	/* Class to add to the input that has a inner icon */
	input.ch-form-ico-input:not([type="submit"]):not([type="reset"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]),
	input.ch-form-ico-input:not([type="submit"]):not([type="reset"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]):focus {
		padding-right: 24px;
	}

	/* Icon & button alignment */
	.ch-form-row input + .ch-btn,
	.ch-form-row input + .ch-form-ico {
		position: absolute;
		top: 76px;
		right: 0;
		margin-right: 0;
		z-index: 2;
	}

	/* Title module */
	.ch-form legend {
		font-size: 1.143em;
		padding-bottom: 8px;
	}

	.ch-form-subtitle {
		font-size: 13px;
	}

	/* Label */
	.ch-form-row label {
		width: auto;
		font-size: 1em;
	}

	/* Icon indication of required in options */
		.ch-form-required.ch-list-options em {
			display: inline;
			position: relative;
			vertical-align: super;
			top: auto;
			right: auto;
		}

	/* Checkbox inline
	.ch-form-row input + input[type=checkbox],*/
	.ch-form-checkbox-inline{
		margin-left: 0;
	}

	/* Select */
	.ch-form-row select {
		height: 36px;
		border-color: #ccc;
	}

	/* Select Multiple */
	.ch-form-row select[multiple],
	.ch-form-select-multiple {
		margin-top: 10px;
		height: auto;
	}

	.ch-form-row .ch-form-hint {
		margin-left: 5px;
	}

	/* Options */

	.ch-list-options {
		background-color: #f4f4f4;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		margin: 0 0 20px;
		border: 1px solid #EEEEEE;
	}

	.ch-list-options .ch-form-row {
		border-bottom: 1px dotted #CCC;
		min-height: 40px;
		line-height: 24px;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		color: #5F5F5F;
		padding:0;
	}

	.ch-list-options .ch-form-row:last-child {
		border-bottom: none;
	}

	.ch-form .ch-list-options {
		position: relative;
		line-height: 24px;
	}

	/* Label in options */
	.ch-list-options input + label {
		font-size: 16px;
		position: relative;
		line-height: 24px;
		width: 100%;
		text-indent: 32px;
		padding: 14px 0  11px 0;
	}

	.ch-list-options input {
		position: absolute;
		left: 8px;
		top: 20px;
		margin: 0;
	}

	.ch-list-options .ch-form-subtitle + * {
		margin-top: 29px;
	}

	/* Subtitle in options */
	.ch-list-options .ch-form-subtitle {
		border-radius: 5px 5px 0 0;
		margin-left: 0;
		margin-bottom: 0;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		background-color: #E9E9E9;
		text-indent: 5px;
		color: #5F5F5F;
		margin-bottom: 15px;
		border-bottom: solid 1px #eeeeee;
	}

	.ch-list-options li:active {
		background: #e9e9e9;
	}

	.ch-form-actions {
		margin-left: 0;
	}


}

