/**
 * Reset
 * @based: Eric Meyer
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
abbr, article, aside, audio, bb, canvas, datagrid,
datalist, details, dialog, eventsource, figure, footer,
header, hgroup, mark, menu, meter, nav, output,
progress, section, time, video {
	background: transparent;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;

}

ol, ul, menu {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles!*/
/*:focus {
	outline: 0;
}*/

/* remember to highlight inserts somehow!*/
ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * Base
 */

/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
	font-family: sans-serif; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-ms-text-size-adjust: 100%; /* 2 */
}

body {
	font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
	padding: 0 10px; /* Prevent layout "sticking" to the edge of the browser */
	background-color: #FFF;
	color: #333;
	margin: 0 auto;
}

/**
 * Misc
 */
hr {
	border: none;
	border-bottom: 1px dashed #CCC;
}

a img {
	border: none;
}

p + p {
	margin-top: 1em;
}