/**
 * Dropdown
 */
/* Trigger */
.ch-dropdown-trigger {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding-right: 2em;
}

/* Trigger Down icon */
.ch-dropdown-trigger:after {
    font-family: icons;
    content: "\f0d7";
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 8px;
}

/* Container */
.ch-dropdown {
    min-width: 120px;
    overflow: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
}

/* Container */
/* List of links */
.ch-dropdown menu a {
    display: block;
    height: 25px;
    line-height: 25px;
    margin: 5px 0;
    padding: 2px 35px 2px 10px;
}

/**
 * Skin
 */
/* Trigger */
.ch-dropdown-trigger-skin {
    border: 1px solid transparent;
    border-width: 0 1px;
    border-radius: 0;
    padding: 0 28px 0 13px;
}

/* Container */
.ch-dropdown-skin {
    padding: 5px 10px;
}

/* Menu */
.ch-dropdown-skin menu li {
    list-style: none;
    margin: 5px 0;
}

/* Interaction of list */
.ch-dropdown-skin menu a:focus {
    background: none;
    text-decoration: underline;
}

