/**
 * Dropdown
 */
/* Trigger */
.ch-dropdown-trigger {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding-right: 2em;
}

/* Trigger Down icon */
.ch-dropdown-trigger:after {
    font-family: icons;
    content: "\f0d7";
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 8px;
    font-style: normal;
    line-height: 1.2em;
}

/* Container */
.ch-dropdown {
    min-width: 120px;
    overflow: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    -webkit-box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);
    box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);
    border-radius: 0 5px 5px 5px;
}

/**
 * Primary skin
 */

/* Trigger Actived */
.ch-dropdown-trigger-on,
.ch-dropdown-trigger-on:hover {
    background-color: #7AB6DC;
    background-image: -webkit-linear-gradient(#A2C9E1, #7AB6DC);
    background-image: -moz-linear-gradient(#A2C9E1, #7AB6DC);
    background-image: -o-linear-gradient(#A2C9E1, #7AB6DC);
    background-image: linear-gradient(#A2C9E1, #7AB6DC);
    -webkit-box-shadow: inset 0 1px 6px rgba(71, 98, 116, .6);
    box-shadow: inset 0 1px 6px rgba(71, 98, 116, .6);
    border-color: #79A8C7;
    border-radius: 3px 3px 0 0;
}

/* Container */
/* List of links */
.ch-dropdown menu a {
    color: #000;
    display: block;
    height: 25px;
    line-height: 25px;
    margin: 5px 0;
    padding: 2px 35px 2px 10px;
    text-decoration: none;
}

/* Interaction of list */
.ch-dropdown menu a:focus {
    background-color: #fefbd6;
    outline: none;
}

/**
 * Skin
 */
/* Trigger */
.ch-dropdown-trigger-skin {
    background: transparent;
    border: 1px solid transparent;
    border-width: 0 1px;
    border-radius: 0;
    color: #0637B3;
    text-decoration: none;
    padding: 0 28px 0 13px;
}

.ch-dropdown-trigger-skin:after {
    color: #999999;
}

.ch-dropdown-trigger-skin.ch-dropdown-trigger-on,
.ch-dropdown-trigger-skin.ch-dropdown-trigger-on:hover {
    background-color: #FFFFFF;
    background-image: none;
}

/* Trigger Actived */
.ch-dropdown-trigger-skin:active {
    color: #00D;
}

/* Trigger ON */
.ch-dropdown-trigger-skin.ch-dropdown-trigger-on {
    border-color: #DEDEDE;
    -webkit-box-shadow: 2px 0 0 rgba(100, 100, 100, .1);
    box-shadow: 2px 0 0 rgba(100, 100, 100, .1);
    border-radius: 0;
}

.ch-dropdown-trigger-skin.ch-btn-skin:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Trigger Hover */
.ch-dropdown-trigger-skin:hover {
    text-decoration: underline;
}

/* Container */
.ch-dropdown-skin {
    padding: 5px 10px;
}

/* Menu */
.ch-dropdown-skin menu li {
    list-style: none;
    margin: 5px 0;
}

.ch-dropdown-skin menu a {
    background: none;
    color: #0637B3;
    display: inline;
    line-height: 20px;
    padding: 0;
}

/* Interaction of list */
.ch-dropdown-skin menu a:focus {
    background: none;
    text-decoration: underline;
}

/* IE */
.lt-ie10 .ch-dropdown-trigger.ch-dropdown-trigger-on,
.lt-ie10 .ch-dropdown-trigger.ch-dropdown-trigger-on:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A2C9E1', endColorstr='#7AB6DC');
}

.lt-ie10 .ch-dropdown-trigger-skin,
.lt-ie10 .ch-dropdown-trigger-skin.ch-dropdown-trigger-on,
.lt-ie10 .ch-dropdown-trigger-skin.ch-dropdown-trigger-on:hover {
    filter: none;
}