/* ==========================================================================
     Forms
     ========================================================================== */

/*
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */

input[type="search"]{
  -webkit-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Generic input & textarea */
input[type="text"],
input[type="url"],
input[type="email"],
input[type="search"],
input[type="date"],
input[type="datatime"],
input[type="datatime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea,
select[multiple],
.ch-form-select-multiple {
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    padding: 6px;
}

input[type="text"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="date"]:focus,
input[type="datatime"]:focus,
input[type="datatime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
textarea:focus,
select[multiple]:focus,
.ch-form-select-multiple:focus {
    border: 2px solid #9A9A9A;
    padding: 5px;
    outline: 0;
}

input[type="file"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
input[type="range"]:focus,
select:focus {
    outline: 1px dotted #9A9A9A;
}

input[readonly],
input[readonly]:focus {
    border: none;
    color: #999999;
    padding: 5px 0;
}

/* Icons */
.ch-form-icon {
    margin-top: 0;
    margin-left: 0;
}

.ch-form-icon-inner {
    opacity: 0.3;
}

.ch-form-icon-input:focus + .ch-form-icon-inner {
    opacity: 0.7;
}

input.ch-form-icon-input {
    padding-right: 24px;
}

input.ch-form-icon-input:focus {
    padding-right: 23px;
}

.ch-form-big .ch-form-row .ch-form-icon-input {
    padding-right: 30px;
}

.ch-form-big .ch-form-row .ch-form-icon-input:focus {
    padding-right: 29px;
}

/* Module */
.ch-form fieldset {
    margin-bottom: 10px;
}

    /* Title module */
    .ch-form legend {
        color: #dc7b1c;
        font-weight: bold;
    }

    .ch-form-subtitle {
        font-size: 13px;
        font-weight: bold;
    }

/* Required specification or another */
.ch-form-hint {
    color: #999999;
    font-size: 12px;
    line-height: 12px;
}

/* Basic wrapper for horizontal view */
.ch-form-row {
    margin-bottom: 0;
    padding: 5px 0;
    position: relative;
}

/* Label */
.ch-form-row label {
    display:inline-block;
    position:relative;
    padding: 7px 11px 5px 0;
}

/* Label inline not used yet */
    .ch-form-row input + label,
    .ch-form-row select + label,
    .ch-label-inline {
        text-align: left;
        width: auto;
        padding-right: 0;
        font-weight: normal;
        margin-left: 0;
    }

/* Label required **/
    .ch-form-required label {
        font-weight: bold;
    }

    .ch-form-required.ch-list-options label {
        font-weight: normal;
        z-index: 1;
    }

/* Icon indication of required */
    .ch-form-required em {
        display: block;
        position: absolute;
        right: 3px;
        top: 3px;
    }
/* Icon indication of required in options */
    .ch-form-required.ch-list-options em {
        display: inline;
        position: relative;
        vertical-align: super;
        top: auto;
        right: auto;
    }

/* Checkbox inline
.ch-form-row input + input[type=checkbox],*/
.ch-form-checkbox-inline {
    margin-right: 0;
    border: none;
}

/* Range
input[type=range],*/
.ch-form-range {
    padding: 4px;
    vertical-align: middle;
}

/* Select Multiple */
.ch-form-row select[multiple],
.ch-form-select-multiple {
    vertical-align: top;
    margin-top: 10px;
}

/* Textarea */
.ch-form-row textarea {
    vertical-align: top;
}

/* Help bottom line that helps the user */
.ch-form-row .ch-form-hint {
    display: block;
}

/* Options */
.ch-list-options {
    margin: 0 0 15px 20px;
}

/* Subtitle in options */
.ch-list-options .ch-form-subtitle {
    margin-bottom: 15px;
    margin-left: -20px;
}

/* Subtitle in options & required */
.ch-list-options.ch-form-required .ch-form-subtitle{
    font-weight:bold;
}

/* Label in options */
.ch-list-options label {
    margin: 0;
}

.ch-list-options input[type="radio"],
.ch-list-options input[type="checkbox"] {
    position: absolute;
    top: 50%;
    margin: -8px 0 0 0;
}

/* Disabled status */
.ch-form-disabled label {
    color: #999999;
}

.ch-form-disabled input,
.ch-form-disabled input[disabled],
.ch-form-disabled textarea,
.ch-form-disabled textarea[disabled] {
    background-color: #F2F2F2;
    cursor: not-allowed;
}

/* Actions */
.ch-form-actions {
    text-align: left;
}

/* Big inputs */
.ch-form-big input[type="text"],
.ch-form-big input[type="url"],
.ch-form-big input[type="email"],
.ch-form-big input[type="search"],
.ch-form-big input[type="date"],
.ch-form-big input[type="datatime"],
.ch-form-big input[type="datatime-local"],
.ch-form-big input[type="month"],
.ch-form-big input[type="week"],
.ch-form-big input[type="time"],
.ch-form-big input[type="tel"],
.ch-form-big input[type="number"],
.ch-form-big input[type="password"],
.ch-form-big textarea,
.ch-form-big select[multiple],
.ch-form-big .ch-form-select-multiple {
    border-radius: 3px;
    padding: 12px 10px;
    margin: 5px 0;
}

.ch-form-big input[type="text"]:focus,
.ch-form-big input[type="url"]:focus,
.ch-form-big input[type="email"]:focus,
.ch-form-big input[type="search"]:focus,
.ch-form-big input[type="date"]:focus,
.ch-form-big input[type="datatime"]:focus,
.ch-form-big input[type="datatime-local"]:focus,
.ch-form-big input[type="month"]:focus,
.ch-form-big input[type="week"]:focus,
.ch-form-big input[type="time"]:focus,
.ch-form-big input[type="tel"]:focus,
.ch-form-big input[type="number"]:focus,
.ch-form-big input[type="password"]:focus,
.ch-form-big textarea:focus,
.ch-form-big select[multiple]:focus,
.ch-form-big .ch-form-select-multiple:focus {
    padding: 11px 9px;
}

/**
 * Input colorizing
 */

.ch-form input.ch-validation-error,
.ch-form textarea.ch-validation-error,
.ch-form input.ch-bubble-trigger-on,
.ch-form textarea.ch-bubble-trigger-on,
.ch-countdown-exceeded {
    border-color: #f99;
}

.ch-validation-error:focus {
    border-width: 2px;
}