/**
 * Popover
 */
.ch-popover {
    box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);
}

.ch-shownby-pointertap {
    cursor: pointer;
}

.ch-shownby-pointerenter {
    cursor: default;
}

/**
 * Close button: must generate a space
 */
.ch-popover .ch-close + div {
    margin-right: 24px;
}

/**
 * Cone
 */
.ch-cone .ch-popover-content:before,
.ch-cone .ch-popover-content:after {
    border: outset transparent; /* border transparent bug on FF: http://stackoverflow.com/a/6225439 */
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    display: block;
}

.ch-cone .ch-popover-content:before {
    border-width: 10px;
}

.ch-cone .ch-popover-content:after {
    border-width: 9px;
}

/**
 * Bottom side
 * ltlb, ctcb, rtrb
 */
.ch-cone[data-side=bottom] .ch-popover-content:before,
.ch-cone[data-side=bottom] .ch-popover-content:after {
    bottom: 100%;
    border-bottom-style: solid;
}

.ch-cone[data-side=bottom] .ch-popover-content:before {
    border-bottom-color: #DDD;
}

.ch-cone[data-side=bottom] .ch-popover-content:after {
    border-bottom-color: #fff;
}

/**
 * Top side
 * lblt, cbct, rbrt
 */
.ch-cone[data-side=top] .ch-popover-content:before,
.ch-cone[data-side=top] .ch-popover-content:after {
    top: 100%;
    border-top-style: solid;
}

.ch-cone[data-side=top] .ch-popover-content:before {
    border-top-color: #DDD;
}

.ch-cone[data-side=top] .ch-popover-content:after {
    border-top-color: #fff;
}

/**
 * Right side
 * ltrt, lmrm, lbrb
 */
.ch-cone[data-side=right] .ch-popover-content:before,
.ch-cone[data-side=right] .ch-popover-content:after {
    right: 100%;
    border-right-style: solid;
}

.ch-cone[data-side=right] .ch-popover-content:before {
    border-right-color: #DDD;
}

.ch-cone[data-side=right] .ch-popover-content:after {
    border-right-color: #fff;
}

/**
 * Left side
 * rtlt, rmlm, rblb
 */
.ch-cone[data-side=left] .ch-popover-content:before,
.ch-cone[data-side=left] .ch-popover-content:after {
    left: 100%;
    border-left-style: solid;
}

.ch-cone[data-side=left] .ch-popover-content:before {
    border-left-color: #DDD;
}

.ch-cone[data-side=left] .ch-popover-content:after {
    border-left-color: #fff;
}

/**
 * Left alignment
 */
.ch-cone[data-side=bottom][data-align=left] .ch-popover-content:after,
.ch-cone[data-side=top][data-align=left] .ch-popover-content:after {
    left: 8px;
}

.ch-cone[data-side=bottom][data-align=left] .ch-popover-content:before,
.ch-cone[data-side=top][data-align=left] .ch-popover-content:before {
    left: 7px;
}

/**
 * Center alignment
 */
.ch-cone[data-side=bottom][data-align=center] .ch-popover-content:after,
.ch-cone[data-side=top][data-align=center] .ch-popover-content:after {
    margin-left: -9px;
    left: 50%;
}

.ch-cone[data-side=bottom][data-align=center] .ch-popover-content:before,
.ch-cone[data-side=top][data-align=center] .ch-popover-content:before {
    margin-left: -10px;
    left: 50%;
}

.ch-cone[data-side=right][data-align=center] .ch-popover-content:after,
.ch-cone[data-side=left][data-align=center] .ch-popover-content:after {
    margin-top: -9px;
    top: 50%;
}

.ch-cone[data-side=right][data-align=center] .ch-popover-content:before,
.ch-cone[data-side=left][data-align=center] .ch-popover-content:before {
    margin-top: -10px;
    top: 50%;
}

/**
 * Right alignment
 */
.ch-cone[data-side=bottom][data-align=right] .ch-popover-content:after,
.ch-cone[data-side=top][data-align=right] .ch-popover-content:after {
    right: 8px;
}

.ch-cone[data-side=bottom][data-align=right] .ch-popover-content:before,
.ch-cone[data-side=top][data-align=right] .ch-popover-content:before {
    right: 7px;
}

/**
 * Top alignment
 */
.ch-cone[data-side=right][data-align=top] .ch-popover-content:after,
.ch-cone[data-side=left][data-align=top] .ch-popover-content:after {
    top: 5px;
}

.ch-cone[data-side=right][data-align=top] .ch-popover-content:before,
.ch-cone[data-side=left][data-align=top] .ch-popover-content:before {
    top: 4px;
}

/**
 * Bottom alignment
 */
.ch-cone[data-side=right][data-align=bottom] .ch-popover-content:after,
.ch-cone[data-side=left][data-align=bottom] .ch-popover-content:after {
    bottom: 5px;
}

.ch-cone[data-side=right][data-align=bottom] .ch-popover-content:before,
.ch-cone[data-side=left][data-align=bottom] .ch-popover-content:before {
    bottom: 4px;
}