// > Forms Mobile
// ----------------------------------------------------------------

// >>> Generic Inputs
// --------------------------------------------

$generic-input-text-size: 16px;
$generic-input-line-height:	22px;
$generic-input-margin: 0 0 5px 0;
$generic-input-padding:	6px 0;

// >>> Options inputs
// --------------------------------------------

$input-options-padding:	0;

// >>> Title Module
// --------------------------------------------

$legend-text-size: 16px;
$legend-padding: 8px;

// >>> Label
// --------------------------------------------

$label-text-size: 14px;
$label-padding: 2px;

// >>> Select
// --------------------------------------------

$select-height:	36px;
$select-border-color: $gray-500;
$select-margin:	0 0 5px 0;

// >>> Hint text
// --------------------------------------------

$form-text-hint-margin:	2px;

// >>> Validation text
// --------------------------------------------

$form-validation-message-text-color: #B94A48;

// >>> Forms within list boxes
// --------------------------------------------

$form-box-list-padding: 0;
$form-box-list-label-text-size:	16px;
$form-box-list-label-padding: 14px 0 14px 38px;
