---
layout: api-doc
id: api-doc
---

<div class="ml-wrapper">
    <main role="main">
        <section>
            <div class="ml-bounds row">
                <div class="mesh-12 mesh-m-9">
                    <h1><?js= title ?></h1>
                    <?js= content ?>
                </div>

                <nav class="mesh-12 mesh-m-3 chico-nav">
                    <?js= this.nav ?>
                </nav>
            </div>
        </section>
    </main>
</div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/chico/src/js/prism.js"></script>
<script>
    $(function () {
        $("#copyright").text((new Date().getFullYear()) + " ");
    });
</script>