/**
 * Buttons
 */
/* Global */
[class*="ch-btn"],
[class*="ch-btn"]:focus {
	font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
    -webkit-border-radius: 4px; /* Android 2.1 */
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* Colors */
.ch-btn,
.ch-btn:focus,
.ch-btn:visited {
    background-color: #36A1F1;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4055A5), color-stop(100%, #283077));
    background-image: -webkit-linear-gradient(#36A1F1, #0F79C9);
    background-image: -moz-linear-gradient(#36A1F1, #0F79C9);
    background-image: -o-linear-gradient(#36A1F1, #0F79C9);
    background-image: linear-gradient(#36A1F1, #0F79C9);
    -webkit-box-shadow: inset 0 1px #8EA2DF;
    box-shadow: inset 0 1px #97DCFF;
    border-color: #0F79C9;
    color: #FFFFFF;
}

.ch-btn-skin,
.ch-btn-skin:focus,
.ch-btn-skin:visited {
    background-color: #DAF1FC;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DAF1FC), color-stop(100%, #C2E2F3));
    background-image: -webkit-linear-gradient(#DAF1FC, #C2E2F3);
    background-image: -moz-linear-gradient(#DAF1FC, #C2E2F3);
    background-image: -o-linear-gradient(#DAF1FC, #C2E2F3);
    background-image: linear-gradient(#DAF1FC, #C2E2F3);
    border-color: #79B0D9;
    -webkit-box-shadow: inset 0 1px #EFF7FD;
    box-shadow: inset 0 1px #EFF7FD;
    color: #295D8F;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.ch-btn-action,
.ch-btn-action:focus,
.ch-btn-action:visited {
    background-color: #EFEFEF;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EFEFEF), color-stop(100%, #D0D0D0));
    background-image: -webkit-linear-gradient(#EFEFEF, #D0D0D0);
    background-image: -moz-linear-gradient(#EFEFEF, #D0D0D0);
    background-image: -o-linear-gradient(#EFEFEF, #D0D0D0);
    background-image: linear-gradient(#EFEFEF, #D0D0D0);
    border-color: #BBBBBB;
    -webkit-box-shadow: inset 0 1px #FFFFFF;
    box-shadow: inset 0 1px #FFFFFF;
    color: #666666;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

/* Colors on Hover */
.ch-btn:hover {
    background-color: #4CBFF8;
    background-image: -webkit-linear-gradient(#4CBFF8, #1699DF);
    background-image: -moz-linear-gradient(#4CBFF8, #1699DF);
    background-image: -o-linear-gradient(#4CBFF8, #1699DF);
    background-image: linear-gradient(#4CBFF8, #1699DF);
    -webkit-box-shadow: inset 0 1px #B6EBFF;
    box-shadow: inset 0 1px #B6EBFF;
}

.ch-btn-skin:hover {
    background-color: #EAF7FE;
    background-image: -webkit-linear-gradient(#EAF7FE, #D9EDF8);
    background-image: -moz-linear-gradient(#EAF7FE, #D9EDF8);
    background-image: -o-linear-gradient(#EAF7FE, #D9EDF8);
    background-image: linear-gradient(#EAF7FE, #D9EDF8);
    -webkit-box-shadow: inset 0 1px #F7FAFE;
    box-shadow: inset 0 1px #F7FAFE;
}

/* Colors on Hover */
.ch-btn-action:hover {
    background-color: #FEFEFE;
    background-image: -webkit-linear-gradient(#FEFEFE, #E6E6E6);
    background-image: -moz-linear-gradient(#FEFEFE, #E6E6E6);
    background-image: -o-linear-gradient(#FEFEFE, #E6E6E6);
    background-image: linear-gradient(#FEFEFE, #E6E6E6);
}

/* Colors on Active */
.ch-btn:active {
    background-color: #095CAA;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #095CAA), color-stop(100%, #1473CD));
    background-image: -webkit-linear-gradient(#095CAA, #1473CD);
    background-image: -moz-linear-gradient(#095CAA, #1473CD);
    background-image: -o-linear-gradient(#095CAA, #1473CD);
    background-image: linear-gradient(#095CAA, #1473CD);
    -webkit-box-shadow: inset 0 1px 6px #141452;
    box-shadow: inset 0 1px 6px #141452; 
    border-color: #0D6FB9;
}

.ch-btn-skin:active {
    background-color: #A9DBF7;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A9DBF7), color-stop(100%, #A3D0EE));
    background-image: -webkit-linear-gradient(#A9DBF7, #A3D0EE);
    background-image: -moz-linear-gradient(#A9DBF7, #A3D0EE);
    background-image: -o-linear-gradient(#A9DBF7, #A3D0EE);
    background-image: linear-gradient(#A9DBF7, #A3D0EE);
    -webkit-box-shadow: inset 0 1px 6px rgba(71, 98, 116, .6);
    box-shadow: inset 0 1px 6px rgba(71, 98, 116, .6);
    border-color: #79B0D9;
}

.ch-btn-action:active {
    background-color: #ADADAD;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ADADAD), color-stop(100%, #B1B1B1));
    background-image: -webkit-linear-gradient(#ADADAD, #B1B1B1);
    background-image: -moz-linear-gradient(#ADADAD, #B1B1B1);
    background-image: -o-linear-gradient(#ADADAD, #B1B1B1);
    background-image: linear-gradient(#ADADAD, #B1B1B1);
    -webkit-box-shadow: inset 0 1px 6px #949494;
    box-shadow: inset 0 1px 6px #949494;
    border-color: #969696;
}

/* Disabled */
[class*="ch-btn"].ch-btn-disabled,
.ch-btn-disabled:hover,
.ch-btn-disabled:active,
.ch-btn-disabled:focus,
[class*="ch-btn"][disabled],
[class*="ch-btn"][disabled]:hover,
[class*="ch-btn"][disabled]:active,
[class*="ch-btn"][disabled]:focus {
    background-color: #FEFEFE;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FEFEFE), color-stop(100%, #E6E6E6));
    background-image: -webkit-linear-gradient(#FEFEFE, #E6E6E6);
    background-image: -moz-linear-gradient(#FEFEFE, #E6E6E6);
    background-image: -o-linear-gradient(#FEFEFE, #E6E6E6);
    background-image: linear-gradient(#FEFEFE, #E6E6E6);
    border-color: #CCCCCC !important; /* important for links */
    -webkit-box-shadow: inset 0px 1px #FEFEFE;
    box-shadow: inset 0px 1px rgba(240, 240, 240, 1);
    color: #999999 !important; /* important for links */
    opacity: 0.5;
    text-shadow: none;
}
