//COMMON MERCADOLIBRE MOBILE SKIN VARIABLES
//-------------------------------------------------

// > Buttons

// >> action

// >>> action:normal

$btn-action-color:				#666;
$btn-action-bg:					#EDEDED;
$btn-action-top-bg:				#EDEDED;
$btn-action-bottom-bg: 			#D0D0D0;
$btn-action-active:  			#116DC4; // ?
$btn-action-border:				#bbb;
$btn-action-shadow:				#fff;

// >>> action:hover

$btn-action-hover:   			#fefefe;
$btn-action-hover-top-bg:		#fefefe;
$btn-action-hover-bottom-bg: 	#e6e6e6;
$btn-action-shadow-hover:		rgba(255, 255, 255, 0.75);

// >>> action:active

$btn-action-active-bg:   		#adadad;
$btn-action-active-top-bg:		#adadad;
$btn-action-active-bottom-bg: 	#B1B1B1;
$btn-action-shadow-active:		#949494;
$btn-action-border-active:		#969696;

// > Modal

$modal-bg-color:				$white;
$modal-content-bg-color:		$white;