// *************************************
//
//   Transition
//
// *************************************

$transition-padding:				40px;

	// Box shadow

	$transition-box-shadow-top:		0;
	$transition-box-shadow-left:	3px;
	$transition-box-shadow-blur:	14px;
	$transition-box-shadow-color:	$gray-900;