<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9 ie8"><![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10 ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}

    <link href="https://ui.mlstatic.com/chico/{{ site.chico_version_2x }}/ui/chico.min.css"
        rel="stylesheet" />
</head>
<body data-country="MLA">
    {% include header.html %}

    <div class="ml-wrapper">
        {{ content }}
    </div>

    {% include footer.html %}

    {% include analytics.html %}
</body>
</html>
