<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9 ie8"><![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10 ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}

    <link href="https://ui.mlstatic.com/chico/{{ chico_current_version }}/{{ chico_current_platform }}/chico.min.css"
        rel="stylesheet" />
</head>
<body class="chico-platform-{{ chico_current_platform }}" data-country="MLA">
    {% include header.html %}

    <div class="ml-wrapper">
        {{ content }}
    </div>

    {% include footer.html %}

    {% include analytics.html %}

    {% case page.version %}
        {% when '1x_mobile' %}
            <!-- 1x_mobile -->
        {% when '1x_ui' %}
            <!-- 1x_ui -->
        {% when '2x_mobile' %}
            <script src="https://ui.mlstatic.com/chico/tiny/0.2.4/tiny.min.js"></script>
        {% else %}
            <script src="https://ui.mlstatic.com/chico/tiny/0.2.4/tiny.min.js"></script>
    {% endcase %}

    <script src="https://ui.mlstatic.com/chico/{{ chico_current_version }}/{{ chico_current_platform }}/chico.min.js"></script>
</body>
</html>
