//COMMON MERCADOLIBRE MOBILE SKIN VARIABLES
//-------------------------------------------------

/**
 * Global Colors
 */

$white:							#fff;
$gray: 							#333;

/**
 * Buttons
 */

$btn-font-size:				13px;

$btn-padding:				7px 14px;
$btn-small-padding:			5px 10px;

$btn-line-height:			1.4em;
$btn-small-line-height:		1.4em;
$btn-big-line-height:		1.5em;