//COMMON MERCADOPAGO STRUCTURE VARIABLES
//-------------------------------------------------

/**
 * Global
 */

/**
 * Fonts
 */

$font__xx__large:					22px;
$font__x__large:					20px;
$font__large:						18px;
$font__medium:						16px;
$font__small:						15px;
$font__x__small:					14px;
$font__smaller:						12px;
$font__smallest:					11px;

$font__normal:						13px;
$font__mini:						10px;
		
$font-weigth__normal:				normal;
$font-weigth__bold:					bold;

$font-underline:					underline;
$font-no-underline:					none;	


/**
 * Icons
 */
 
$icon-medium:					19px;
$icon-large:					26px;
$icon-larger:					34px;
$icon-largest:					66px;

$icon-medium-box:				16px;
$icon-large-box:				24px;
$icon-larger-box:				32px;
$icon-largest-box:				64px;

$margin-box-headings:			0;

$margin-headers:				10px 0;

/**
 * Buttons
 */

 // btn box model

$btn-padding-vertical:			5px;
$btn-padding-horizontal:		10px;  
$btn-font-size:		    		18px;
$btn-line-height:				20px;

$btn-big-padding-vertical:		6px;
$btn-big-padding-horizontal:	12px;  
$btn-big-font-size:		    	20px;
$btn-big-line-height:			1.25em;

$btn-small-padding-vertical:  	5px;
$btn-small-padding-horizontal:	8px;  
$btn-small-font-size:		  	12px;
$btn-small-line-height:		  	12px;

// shared

$border-radius:					4px;

 // box model

$tooltip-padding:				8px 10px;
$tooltip-border-radius:			5px;

$box-margin:					0 0 10px 0;
$box-padding:					10px;

/**
 * Popover
 */

$autocomplete-position:			absolute;