//COMMON STRUCTURE VARIABLES
//-------------------------------------------------

/**
 * Buttons
 */

 // btn box model

$btn-padding-vertical:			5px;
$btn-padding-horizontal:		10px;  
$btn-font-size:		    		18px;
$btn-line-height:				20px;

$btn-big-padding-vertical:		6px;
$btn-big-padding-horizontal:	12px;  
$btn-big-font-size:		    	20px;
$btn-big-line-height:			1.25em;

$btn-small-padding-vertical:  	5px;
$btn-small-padding-horizontal:	8px;  
$btn-small-font-size:		  	12px;
$btn-small-line-height:		  	12px;

// shared

$border-radius:					4px;

/**
 * Tooltip
 */

 // box model

$tooltip-padding:					8px 10px;
$tooltip-border-radius:				5px;