// *************************************
//
//   Reset
//
// *************************************

$theme-body-text-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
$theme-body-padding: 0 10px;
$theme-body-bg-color: #fff;
$theme-text-color: #333;

$theme-horizontal-line: 1px dashed #ccc;

$theme-paragraph-spacing: 1em 0 0 0;