<!doctype html>
<!--[if IE 8]> <html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if lt IE 9]><script src="http://static.mlstatic.com/org-img/ch/vendor/html5shiv/html5shiv-3.7.0.js"></script>
<![endif]-->
<!--[if gt IE 9] <!--> <html class="no-js"> <!--<![endif]-->


  {% include head.html %}

  <body data-country="MLA">

      {% include header.html %}

      <div class="ml-wrapper">
        {{ content }}
      </div>

    {% include footer.html %}

    {% include analytics.html %}
    <script type="text/javascript">
      /* Twitter */
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>

  </body>
</html>
