// *************************************
//
//   Expandable UI
//
// *************************************

$expandable-trigger-text-color:				$blue-main;
$expandable-trigger-cursor:					pointer;

$expandable-trigger-active-text-color:		#00D;

$expandable-trigger-visited-text-color:		#800080;
$expandable-trigger-visited-text-decoration: underline;

$expandable-trigger-padding:				0 0 0 16px;
$expandable-trigger-text-size:				1em;