// *************************************
//
//   COMMON SHARED SKIN VARIABLES
//
// *************************************

// -------------------------------------
//   Global colors
// -------------------------------------

// -------------------------------------
//   Primary palette
// -------------------------------------

$main-primary-color:   			#03b;

$links-color:					$main-primary-color;
$error-bg-color:				#f5e6e6;

// -------------------------------------
//   Secondary palette
// -------------------------------------

$main-secondary-color:			#fdf9d5;

// -------------------------------------
//   Neutral colors
// -------------------------------------

$main-neutral-color:			#fff;
$main-neutral-accent-color:		#000;

$gray-100:						#f4f4f4;
$gray-200:						#e9e9e9;
$gray-400:						#dedede;

$gray-500:						#ccc;

$gray-600:						#adadad;
$gray-700:						#999;
$gray-800:						#666;
$gray-900:						#333;

$main-text-color:				$gray-900;
$main-border-color:				$gray-400;



// $main-disabled-color

// *************************************
//
//   COMMON SHARED STRUCTURE VARIABLES
//
// *************************************

// -------------------------------------
//   Fonts
// -------------------------------------

$font__xx__large:					22px;
$font__x__large:					20px;
$font__large:						18px;
$font__medium:						16px;
$font__small:						15px;
$font__x__small:					14px;
$font__smaller:						12px;
$font__smallest:					11px;

$font__normal:						13px;
$font__mini:						10px;

// -------------------------------------
//   Icons
// -------------------------------------
 
$icon-medium:					19px;
$icon-large:					26px;
$icon-larger:					34px;
$icon-largest:					66px;

$icon-medium-box:				16px;
$icon-large-box:				24px;
$icon-larger-box:				32px;
$icon-largest-box:				64px;