/*estructura*/
/*LAYOUT*/

/**** HEADER ******/
.navMenu {
    overflow: hidden;
    margin-bottom:20px;
}

p.isoLogo {
    float: left;
    position: relative;
    top: 20px;
    width: 190px;
}

.barAllMenu {
    display: block;
    overflow: hidden;
}

p.isoLogo a {
    background: url("http://static.mlstatic.com/org-img/search2008/images/sp_log_bot.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 45px;
    width: 170px;
}
p.isoLogo a span {
    display: none;
}
a.homeAcces {
    float: left;
}
ul.accesBar {
    float: right;
    margin: 0 0 5px;
    padding: 0;
}
.menuBar {
    background: url("http://static.mlstatic.com/org-img/search2008/images/bg_buscador.gif") repeat-x scroll 0 0 transparent;
    clear: both;
    margin: 0;
    padding: 5px 5px 5px 8px;
    width: auto;
}

ul.accesBar li.lastAcces {
    border-right: medium none;
    margin-right: 0;
    padding-right: 0;
}

ul.accesBar li {
    border-right: 1px solid #999999;
    float: right;
    line-height: 13px;
    margin: 5px 10px 0 0;
    padding: 0 10px 0 0;
}

input.buscador {
    margin-right: 5px;
    width: 50%;
}


/**** SHORT DESCRIPTION ******/
.box h1{margin-bottom:20px;}
.price sup{line-height:1em;}
.nav.path{height:15px;margin-top:10px;}
.back{float:left;}
.pathCategs{float:right;font-size:11px;}
.shortDescription{border-width:1px 0 0 0;min-height:375px;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;-webkit-border-radius: 0 0 0 0;}
.figure{border:1px solid #CCCCCC;height:375px;overflow:hidden;padding:5px 0;position:relative;width:320px;float:left;text-align:center;}
.figure img {padding-top:40px;padding-left:10px;}
.shortDescription .section {overflow: hidden;padding: 5px 0 0 10px;}
dl.itemData {display:block;margin:10px 0 0 0;}
dl.itemData dd.planInstall{overflow:hidden;}
dl.itemData dt {float:left;line-height:15px;display:none;}
dl.itemData dd {margin-bottom:0px;}
dl.itemData dd.prices {margin-bottom:20px;}
dl.itemData dd p{display:inline;float:left;line-height:14px;margin-top:3px;}
.productStatus, .finalDate{color:#999999;}
.planInstall .article{background-color:#F2F6F6;padding:0px 5px 5px;float:left;}
.planInstall ul li {float: left; margin-top: 3px;}
dl.itemData dd ul{display:inline; float:left;margin: 0px; }
.payMethod {background:transparent url(http://static.mlstatic.com/org-img/GMP/logos_mla.gif) 0 0 no-repeat; float:left;  margin:3px 0px 0px 5px;text-indent: -31000px;}
.visa {background-position: 0 0px; height:16px;width:26px; }
.master {background-position: -27px 0; height:16px;width:26px;  }
.amex {background-position: -53px 0;height:16px; width:25px; }
.argencard {background-position: -79px 0; height:16px; width:17px; }
.naranja {background-position: -99px 0; height:16px; width:26px;  }
.pagofacil {background-position: -126px 0; height:16px; width:16px;  }
.rapipago {background-position: -143px 0; height:16px; width:42px; }
.buy {text-align: center;margin:30px 30px 0 10px;}
.buyDisabled{background-color:#D3EFF4;display:inline-block;margin-top:10px;padding:3px 50px;text-align:center;}
.bpp{font-size:11px;margin-top:5px;display:block;}


/*** SECONDARY ACTIONS ***/
.section .details{clear:both;}
.secondaryAction{border-top:1px solid #CCCCCC;padding-top:5px;text-align:right;}
.secondaryAction li{display:inline;}

/*** REPUTAION  ***/
.article.reputation {border-top:1px dashed #CCCCCC;margin:20px 0 0 0px;padding-top:10px;position:relative;}
.article.reputation h3{font-size:14px; font-weight:bold; margin-bottom:10px;}
.article.reputation dl.meter{display:inline-block;position: relative;top: -11px;}
.article.reputation dl.meter dt{font-size:13px; float:left; width:95px; line-height:35px;}
.article.reputation dl.meter dd{display:inline-block; position:relative; margin:0;}
.article.reputation a{display:inline-block;left:245px;position:absolute;top:48px;}
.article.reputation dl.meter dd.newSeller{margin-top:5px;font-weight:bold;}
.article.reputation dl.meter p.meter{line-height: 14px; margin-top: -4px; margin-left:0; display:block; float:none;}
p.meter, p.meter .valueRep{background-image:url(../assets/termometro.png); background-repeat:no-repeat;}
p.meter{background-position:center -15px;height:24px;position:relative;text-indent:-9999px;width:142px;}
p.meter .valueRep{display:block; width:25px; height:23px; position:absolute; top:0;}
dl.itemData dd .repDescrip{font-size:13px;line-height:20px;text-align:center; margin-top:0;}
span.medal{background: url("http://static.mlstatic.com/org-img/GMP/spr.gif") no-repeat scroll 0 0 transparent;display:inline-block;height:18px;width:18px;}
span.medal.mlP {background-position:2px -9px;}

p.rep0{background-position:center 9px;}
p.rep0 span{display:none!important;}
p.rep1 span{left:10px; background-position:-10px -39px;}
p.rep2 span{left:34px; background-position:-34px -39px;}
p.rep3 span{left:58px; background-position:-58px -39px;}
p.rep4 span{left:82px; background-position:-82px -39px;}
p.rep5 span{left:106px; background-position:-106px -39px;}

/*** REPUTAION / LAYER ***/
dl.itemData dd .repDescrip {
    margin-top: 10px;
    padding-bottom: 30px;
    text-align: center;
}
.reputationInfo .rep5 {
    background: url("../assets//termometro_5_1.jpg") no-repeat scroll -143px bottom transparent;
}
.reputationInfo .repDescrip {
    width: 100%;
}
.reputationInfo table{margin-top:5px}
.reputationInfo caption.repDescrip{padding-bottom:30px;margin-top:10px;}
.reputationInfo .repDescrip span {
    padding-right: 10px;
    vertical-align: middle;
}
.reputationInfo .rep5{background:url("../assets//termometro_5_1.jpg") no-repeat scroll -143px bottom transparent;}
.reputationInfo table .title {
    padding-left: 23px;
    text-align: left;
}
.reputationInfo table td .meter.rep5 {
    background: none repeat scroll 0 0 transparent;
    margin-left: 28px;
}
.reputationInfo table td .meter {
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0 1px;
    display: inline-block;
    padding: 5px 0;
    text-align: center;
    width: 39px;
}
.reputationInfo table td .meter.last {
    border-width: 0 1px 1px;
}
.reputationInfo .repDescrip span.medalLayer {padding:0;}


/**** CONTEXTO CI/SN ******/
.contextCISN {width:; height:;}
.contextCISN ol {margin:20px 0;}
.contextCISN ol li {padding:5px 0;}
.contextCISN ol li label {	display:block; clear:both; width:20%; text-align:right; float:left; margin-right:5px; position:relative; line-height:20px;}
.contextCISN ol li input{vertical-align:middle;}
.contextCISN ol li input.qty { width:30px;}
.contextCISN ol li input.inpPrice { width:60px;}
.contextCISN ol li .auxText {color:#666; font-size:11px;}
.contextCISN ol li p.auxText {margin-left:110px;}
.contextCISN ol li p.validationTip {color:#f00; font-size:11px; margin:2px 0 0 10.4%; padding:2px 0 2px 20px; background:url(http://www.mercadolibre.com.ar/org-img/vip3/iconError16.png)no-repeat;}

/**** CAROUSEL FIX ******/
.carousel {overflow:hidden;}
.carousel li{width:120px;height:120px;float:left;}
.ui-carousel.carousel li{float:none; margin:0 10px}
#chico-carousel{padding:10px;}

/**** SHARE ******/
.share h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.share ul li{float:left; margin-right:15px;}

.ui-dropdown.share ul li{float:none; margin-right:0px;}

.share ul li a {
    background: url("http://img.mlstatic.com/org-img/vip3/Motors/SpriteRedSocial.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 20px;
    padding: 0 0 0 25px;
}
.share ul li a span {
    cursor: pointer;
    display: inline-block;
    margin: 3px 0 0;
}
.share ul li a.face {
    background-position: left -20px;
}

.share ul li a.tweet {
    background-position: left -157px;
}
.share ul li a.sonico {
    background-position: left -120px;
}

.share ul li a.mail {
    background-position: left -138px;
}




/*VIP Colombia*/
.contenboxrepu {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C2C2C2;
    clear: both;
    overflow: hidden;
    padding: 6px;
    text-align: left;
    top: 20px;
}
.listalinks {
    margin: 8px 0 10px;
}
.FBWrap {
    overflow: hidden;
    padding-bottom: 20px;
}
.tit_rep {
    color: #333333;
    font-size: 16px;
    display:block;
    margin-bottom:10px;
}
.medalla_lider, .medalla_lider_gal {
    background: url("http://static.mlstatic.com/org-img/vip3/sprite.gif") no-repeat scroll center -44px transparent;
    height: 13px;
    margin-left: 3px;
    margin-top: 0;
    width: 15px;
    cursor: pointer;
    display: inline;
    float: left;
    height: 20px;
    margin: 3px 0 0 10px;
    
}
.buybox .buy { margin: 0; text-align: left;}
.buybox, .learn{overflow:hidden;}
.box h2 { 
    line-height: 18px;
    font-size:18px;
}
.disclaimer{font-size: 11px;text-align: center;}
