/**
 * Buttons
 */
@import 'buttons-variables';
@import '../../shared/styles/buttons';

/* Action button */

.ch-btn-action,
.ch-btn-action:focus,
.ch-btn-action:visited {
    @include complex-background($btn-action-bg-color, $btn-action-bottom-bg-color);
    border: 1px solid $btn-action-border;
    box-shadow: $btn-action-box-shadow;
    color: $btn-action-color;
    text-shadow: $btn-action-text-shadow;
}


/* Colors on Hover */
.ch-btn-action:hover {
    @include complex-background($btn-action-hover-bg-color, $btn-action-hover-bottom-bg-color);
}

.ch-btn-action:active {
    @include complex-background($btn-action-active-bg-color, $btn-action-active-bottom-bg-color);
    border-color: $btn-action-border-active;
    box-shadow: $btn-action-active-box-shadow;
}

/* Default h: ~38px */
.ch-btn,
.ch-btn:focus {
    line-height: $btn-line-height;
    outline: 0;
    padding: $btn-padding;
}

/* Large h: ~44px */
.ch-btn-large,
.ch-btn-large:focus {
    width: 100%;
    line-height: $btn-large-line-height;
}

a.ch-btn-large,
a.ch-btn-large:focus {
    box-sizing: border-box;
}

/* Small h: ~26px */
.ch-btn-small,
.ch-btn-small:focus {
    font-size: $btn-small-text-size;
    line-height: $btn-small-line-height;
    padding: $btn-small-padding;
}
