// > Calendar
// ----------------------------------------------------------------

// ----- General ----- //

$calendar-width: 280px !default ;

// ----- Title ----- //

$calendar-day-height: 39px !default ;
$calendar-day-line-height: 39px !default ;
