// > Close Button Mobile
// ----------------------------------------------------------------

$close-button-width: 21px;
$close-button-height: 21px;
$close-button-font-size: 22px;
$close-button-line-height: $close-button-height;
