/*
* Messages Boxes
*/
.ch-box-attention,
.ch-box-error,
.ch-box-help,
.ch-box-information,
.ch-box-ok {
    background-image: url("#{$assets-path}/icons.png");
    background-repeat: no-repeat;
}

.ch-box-attention {
    background-position: -21px -84px;
}

.ch-box-error {
    background-position: -117px 10px;
}

.ch-box-help {
    background-position: -85px -22px;
}

.ch-box-information {
    background-position: -53px -54px;
}

.ch-box-ok {
    background-position: 11px -118px;
}

.ch-box-attention:before,
.ch-box-error:before,
.ch-box-help:before,
.ch-box-information:before,
.ch-box-ok:before,

/*
* Icons
*/
[class^="ch-icon-"]:before,
[class*=" ch-icon-"]:before{
    display: none;
}

/*
* List Menu
*/
.ch-list-menu li a:after {
    content: " ";
    border: 6px solid transparent;
    border-left-color: #666666;
    right: 5px;
}

/*
* Expando
*/
.ch-expando-trigger:after {
    content: " ";
    border: 6px solid transparent;
    border-top-color: #666666;
    top: 20px;
}

/*
* Tags
*/
.ch-tag:after {
    content: "×";
    position: relative;
    top: -0.15em;
    font-size: 1.2em;
}

/*
* Forms
*/
input[type=text],
textarea,
select,
select[multiple] {
    display: block;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 5px 0;
    width: 97%;
}

/*
* Buttons
*/
.ch-btn,
.ch-btn-large,
.ch-btn-large:focus {
    padding-left:0;
    padding-right:0;
}

.ch-btn-large,
.ch-btn-large:focus {
    width: 99%;
}

/*
* Pagination
*/
.ch-pagination li {
    display: inline;
    zoom: 1;
    padding: 5px 2px;
}
