// > Expandable Mobile
// ----------------------------------------------------------------

$expandable-cursor: pointer !default;
$expandable-text-color: $gray-800 !default;
$expandable-text-size: $font__medium !default;
$expandable-text-weight: 400 !default;
$expandable-text-shadow: 0 1px 0 $main-text-shadow-color !default;
$expandable-bg-color: $gray-100 !default;
$expandable-border: 1px solid $gray-400 !default;
$expandable-border-radius: 5px !default;

$expandable-icon-text-size: 19px !default;
$expandable-icon-text-color: $gray-700 !default;
$expandable-icon-active-text-color: $gray-900 !default;

$expandable-list-text-size: $font__x__small !default;
$expandable-list-link-text-color: $gray-900 !default;

$expandable-content-bg-color: $main-neutral-color !default;

$expandable-padding: 14px 40px 14px 20px !default;

$expandable-content-margin: 0 !default;
$expandable-content-padding: 14px 20px !default;
$expandable-content-border: 1px solid #e8e8e8 !default;

$expandable-list-padding: 0 !default;
