/* MODAL */
@import 'modal-variables';
@import '../../shared/styles/modal';

.ch-modal {
    background-color: $modal-bg-color;
    width: 100%;
}

.ch-modal-content {
    background-color: $modal-content-bg-color;
}
