// > Pagination Mobile
// ----------------------------------------------------------------

$pagination-text-size: $font__medium !default;

$pagination-next-and-prev-bg-color: transparent !default;
$pagination-next-and-prev-border: transparent !default;
