// > Tags Mobile
// ----------------------------------------------------------------

$tag-bg-color: $gray-100 !default;
$tag-border: 1px solid $main-border-color !default;
$tag-border-radius: 5px !default;
$tag-text-color: $gray-800 !default;
$tag-text-size: 14px !default;

$tag-margin: 4px 0 0 !default;
$tag-padding: 3px 30px 3px 10px !default;
$tag-text-shadow: 0 1px 1px $main-neutral-color !default;

$tag-active-bg-color: $gray-200 !default;

$tag-icon-margin: -9px 0 0 0 !default;
$tag-icon-color: $gray-700 !default;
