// *************************************
//
//   Lists Mobile
//
// *************************************

$list-margin: 								 0 0 10px 0;

$list-item-margin:							 0 0 0 10px;
$list-item-padding:							 3px 0;
$list-item-line-height:						 $font__large;

$list-unordered-bullet:						 disc inside;
$list-ordered-bullet:						 decimal inside;

$list-definition-margin:					 0 0 18px 0;
$list-definition-item-line-height:			 18px;
$list-definition-term-text-weight:			 bold;
$list-definition-description-element-margin: 5px 0 10px 10px;