// *************************************
//
//   Buttons
//
// *************************************

// -------------------------------------
//   Skin variables
// -------------------------------------

$btn-ie-filter-start-color:				#3E52A1;
$btn-ie-filter-end-color:				#2D3277;

$btn-hover-ie-filter-start-color:		#4355D2;
$btn-hover-ie-filter-end-color:			#2F33AE;

$btn-active-ie-filter-start-color:		#0F1534;
$btn-active-ie-filter-end-color:		#171C41;

$btn-skin-ie-filter-start-color:		#CCE3F7;
$btn-skin-ie-filter-end-color:			#AAD0EF;

$btn-skin-hover-ie-filter-start-color:	#DCECFB;
$btn-skin-hover-ie-filter-end-color:	#C5DFF5;

$btn-skin-active-ie-filter-start-color:	#A2C9E1;
$btn-skin-active-ie-filter-end-color:	#7DB7DC;

// -------------------------------------
//   Structure variables
// -------------------------------------

$btn-line-height:				20px;
$btn-padding:					5px 10px;

$btn-big-line-height:			1.25em;
$btn-big-padding:				6px 12px;

$btn-small-text-size:			$font__smaller;
$btn-small-line-height:		  	12px;
$btn-small-padding:  			5px 8px;