// > Buttons UI
// ----------------------------------------------------------------

$btn-ie-filter-start-bg-color: #3e52a1;
$btn-ie-filter-end-bg-color: #2d3277;

$btn-hover-ie-filter-start-bg-color: #4355d2;
$btn-hover-ie-filter-end-bg-color: #2f33ae;

$btn-active-ie-filter-start-bg-color: #0f1534;
$btn-active-ie-filter-end-bg-color:	#171c41;

$btn-skin-ie-filter-start-bg-color:	#cce3f7;
$btn-skin-ie-filter-end-bg-color: #aad0ef;

$btn-skin-hover-ie-filter-start-bg-color: #dcecfb;
$btn-skin-hover-ie-filter-end-bg-color:	#c5dff5;

$btn-skin-active-ie-filter-start-bg-color: #a2c9e1;
$btn-skin-active-ie-filter-end-bg-color: #7db7dc;

$btn-skin-disabled-ie-filter-start-bg-color:$main-neutral-color;
$btn-skin-disabled-ie-filter-end-bg-color: #e6e6e6;
$btn-skin-disabled-ie-opacity: 50;

$btn-line-height: 20px;
$btn-padding: 5px 10px;
$btn-margin: 0 7px 0 0;

$btn-large-line-height:	1.25em;
$btn-large-padding:	6px 12px;

$btn-small-text-size: $font__smaller;
$btn-small-line-height: 12px;
$btn-small-padding: 5px 8px;
