// *************************************
//
//   Buttons UI
//
// *************************************

$btn-ie-filter-start-bg-color:				#3E52A1;
$btn-ie-filter-end-bg-color:				#2D3277;

$btn-hover-ie-filter-start-bg-color:		#4355D2;
$btn-hover-ie-filter-end-bg-color:			#2F33AE;

$btn-active-ie-filter-start-bg-color:		#0F1534;
$btn-active-ie-filter-end-bg-color:			#171C41;

$btn-skin-ie-filter-start-bg-color:			#CCE3F7;
$btn-skin-ie-filter-end-bg-color:			#AAD0EF;

$btn-skin-hover-ie-filter-start-bg-color:	#DCECFB;
$btn-skin-hover-ie-filter-end-bg-color:		#C5DFF5;

$btn-skin-active-ie-filter-start-bg-color:	#A2C9E1;
$btn-skin-active-ie-filter-end-bg-color:	#7DB7DC;

$btn-skin-disabled-ie-filter-start-bg-color:#FEFEFE;
$btn-skin-disabled-ie-filter-end-bg-color:	#E6E6E6;
$btn-skin-disabled-ie-opacity: 				50;

$btn-line-height:				20px;
$btn-padding:					5px 10px;

$btn-large-line-height:			1.25em;
$btn-large-padding:				6px 12px;

$btn-small-text-size:			$font__smaller;
$btn-small-line-height:		  	12px;
$btn-small-padding:  			5px 8px;