// *************************************
//
//   Layer
//
// *************************************

$layer-box-shadow-top:			2px;
$layer-box-shadow-left:			2px;
$layer-box-shadow-blur:			2px;
$layer-box-shadow-color:		rgba(100, 100, 100, .1);