// > Typography
// ----------------------------------------------------------------

$headings-margin: 10px 0;
$headings-text-weigth: normal;

$headings-boxes-margin-top:	0;

$heading-h1: 22px;
$heading-h2: 20px;
$heading-h3: 18px;
$heading-h4: 16px;
$heading-h5: 15px;
$heading-h6: 14px;

$links-visited-text-decoration: underline;
$links-visited-color: #809;

$price-color: #900;
