// *************************************
//
//   COMMON ML UI VARIABLES
//
// *************************************

// >> Datepicker

$datepicker-day-hover:					$components-hover-bg-color;

// >> Menu

$menu-bg-color-hover:					$components-hover-bg-color;

// >> Pagination

$pagination-current-bg-hover:			#e9e9e9;
$pagination-current-border-hover:		1px solid #e9e9e9;
$pagination-current-font-color-hover:   $blue-main;

$pagination-link-pages:					#fff;
$pagination-link-pages-hover:			$blue-main;

$pagination-to-select-bg-hover:			#2b37b2;
$pagination-to-select-border-hover:		#2b37b2;
$pagination-to-select-font-color-hover:	#fff;